force-app/main/default/flows/Application_Flow_As_Builts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Application_Values</name>
        <label>Application Values</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Application.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetConstructionRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.MUSW__Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>As-Builts</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0126s000002FOVBAA4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Are_You_Extending_Public_Water_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetConstructionRecord.Are_You_Extending_Public_Water_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Are_You_Extending_Public_Sewer_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetConstructionRecord.Are_You_Extending_Public_Sewer_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.MUSW__Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetConstructionRecord.MUSW__Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.MUSW__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetConstructionRecord.MUSW__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Applicant_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetConstructionRecord.Applicant_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Acreage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetConstructionRecord.Acreage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Total_Acreage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetConstructionRecord.Total_Acreage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.MUSW__Parcel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetConstructionRecord.MUSW__Parcel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.MUSW__Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetConstructionRecord.MUSW__Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Field_Values_To_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_Locations_to_Application</name>
        <label>Assign Application Locations to Application</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>SingleApplicationLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_Associate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleApplicationLocation.MUSW__Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_Values_To_Application</name>
        <label>Assign Field Values To Application</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>GetConstructionRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Collection</name>
        <label>Update Collection</label>
        <locationX>138</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>UpdatedApplicationLocations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleApplicationLocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_and_Associate</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Is_CD_Application_Approved</name>
        <label>Is CD Application Approved</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>NotYetApprovedScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Approved</defaultConnectorLabel>
        <rules>
            <name>Yes_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetConstructionRecord.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetConstructionRecord.Are_There_Public_Utility_Extensions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>As_Builts_Application_Intake</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Use_Group_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Group__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>(Application Flow) As-Builts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Application Flow) As-Builts</label>
    <loops>
        <name>Loop_and_Associate</name>
        <label>Loop and Associate</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <collectionReference>ConstructionDrawingApplciationLocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Application_Locations_to_Application</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Application_Locations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_As_Built_Name</targetReference>
        </connector>
        <inputReference>Application</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Application_Locations</name>
        <label>Create Application Locations</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Application_Success</targetReference>
        </connector>
        <inputReference>UpdatedApplicationLocations</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_As_Built_Name</name>
        <label>Get As-Built Name</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Construction_Drawing_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <outputAssignments>
            <assignToReference>GetConstructionRecord.Id</assignToReference>
            <field>Application__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>As_Built_Name</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Construction_Drawing_Application_Locations</name>
        <label>Get Construction Drawing Application Locations</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_CD_Application_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetConstructionRecord.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Application_Location__c</object>
        <outputReference>ConstructionDrawingApplciationLocations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Parcel__c</queriedFields>
        <queriedFields>MUSW__Address__c</queriedFields>
        <queriedFields>MUSW__Application__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Construction_Drawing_Record</name>
        <label>Get Construction Drawing Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Construction_Drawing_Application_Locations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <outputReference>GetConstructionRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Are_You_Extending_Public_Water_Line__c</queriedFields>
        <queriedFields>Are_You_Extending_Public_Sewer_Line__c</queriedFields>
        <queriedFields>MUSW__Account__c</queriedFields>
        <queriedFields>Applicant_Role__c</queriedFields>
        <queriedFields>MUSW__Applicant__c</queriedFields>
        <queriedFields>Stormwater_Permit_if_Applicable__c</queriedFields>
        <queriedFields>Acreage__c</queriedFields>
        <queriedFields>MUSW__Phase__c</queriedFields>
        <queriedFields>MUSW__Status__c</queriedFields>
        <queriedFields>Total_Acreage__c</queriedFields>
        <queriedFields>Are_There_Public_Utility_Extensions__c</queriedFields>
        <queriedFields>MUSW__Parcel__c</queriedFields>
        <queriedFields>MUSW__Address__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Construction_Drawing_Record</name>
        <label>Update Construction Drawing Record</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Loop_and_Associate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetConstructionRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>As_Built_Name</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <screens>
        <name>As_Builts_Application_Intake</name>
        <label>As-Builts Application Intake</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Application_Values</targetReference>
        </connector>
        <fields>
            <name>PressNextText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Press Start Application to begin As-Built Application submittal.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Start Application</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NotYetApprovedScreen</name>
        <label>NotYetApprovedScreen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotYetApprovedScreenText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;helvetica neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(61, 69, 76);&quot;&gt;Utility As-Builts can be submitted once Construction Drawings have been fully approved and pre-construction meeting has taken place.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinishButton</name>
            <extensionName>clariti:flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiselect</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Finish&quot;,&quot;value&quot;:&quot;Finish&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:null,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Phase__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>As-Builts</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Construction_Drawing_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Application_Success</name>
        <label>Application Success</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <flowName>Application_Success_V1</flowName>
        <inputAssignments>
            <name>Application_Id</name>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>As_Built_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConstructionDrawingApplciationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>GetConstructionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleApplicationLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>SubmissionForIntake</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>SubmissionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdatedApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
</Flow>
