force-app/main/default/flows/Application_Special_Use_Permit_Intake.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Special_Use_Fields</name>
        <label>Assign Special Use Fields</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Application.MUSW__Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Special Use Permit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Is_the_Applicant_the_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_Applicant_the_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Has_a_Pre_Application_Meeting_taken_plac__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_a_Pre_App_meeting_been_completed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Pre_Application_Number_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pre_App_Meeting_Lookup.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Parcel_TAG_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>County_Tag</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.NC_PIN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NC_Pin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Existing_Use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Proposed_Use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Part_of_a_Conditional_Zoning_District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_your_project_in_a_conditionally_zoned_development</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Conditional_Zoning_District_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>which_Conditionally_zoned_development</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Explanation_of_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Explanation_of_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.New_SUP_or_Modification_to_a_SUP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_for_a_new_special_use_permit_or_a_modification_to_an_approved_SUP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.SUP_approved_before_or_after_go_live__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_existing_SUP_approved_before_or_after_go_live_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Existing_approved_SUP_before_go_live__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_approved_SUP_before_go_live</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Existing_approved_SUP_after_go_live_Look__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_approved_SUP.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Is_project_within_a_Planned_Development__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_project_within_a_Planned_Development</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Planned_Development__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Planned_Development</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Is_Project_within_an_Overlay_District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_project_within_an_Overlay_District</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Overlay_District_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Overlay_District</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Concept_Plan_that_accurately__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X1_Is_subject_to_a_Concept_Plan_that_accurately_depicts_the_proposed_use_s_confi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Complies_with_all_required_standards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2_Complies_with_all_required_standards_conditions_and_specifications_of_this_Or</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Will_not_endanger_the_public_health__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X3_Will_not_materially_endanger_the_public_health_or_safety</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Will_not_substantially_injure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X4_Will_not_substantially_injure_the_value_of_the_abutting_land_or_the_special_u</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Will_not_result_in_additional_traffic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X5_Will_not_include_or_result_in_such_additional_traffic_volume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Will_be_in_harmony__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X6_Will_be_in_harmony_with_the_intensity_scale_and_character_of_existing_or_plan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Zoning_District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zoning_District</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Application_under_ordinance_and_policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Specify_Ordinance_or_Policy_application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_specify_the_ordinance_s_and_or_policy_ies_including_version_s_under_which</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Ordinance_Policy_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ordinance_Policy_Effective_Date</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>No_Selected</name>
        <label>No Selected</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>No_Selected_for_Question</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Special_Use_Permit</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Pre_App_Meeting_has_Happened</name>
        <label>Pre-App Meeting has Happened</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_a_Pre_App_meeting_been_completed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Special_Use_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>JRS - adjusted &quot;Project Details&quot; to &quot;Project Information&quot;</description>
    <dynamicChoiceSets>
        <name>BeforeAfter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SUP_approved_before_or_after_go_live__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Building_Permit</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 AND 2) OR (1 AND 3)</filterLogic>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential Building Permit</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial Building Permit</stringValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExistingSUP</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Special Use Permit</stringValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NewOrModification</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>New_SUP_or_Modification_to_a_SUP__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pre_App_Lookup</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Application Conference</stringValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_this_within_an_HOA__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>TagNumber</name>
        <dataType>String</dataType>
        <expression>{!Application.MUSW__Parcel__r.TAG__c}</expression>
    </formulas>
    <interviewLabel>(Application) Special Use Permit Intake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Application) Special Use Permit Intake</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Special_Use_Permit</name>
        <label>Special Use Permit</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pre_App_Meeting_has_Happened</targetReference>
        </connector>
        <fields>
            <name>Special_Use_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;New {!Record_Type_Name} Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowStages</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Project Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Special_Use_Permit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Special_Use_Permit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>No_Pre_App</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;You must have a Pre-Application Meeting PRIOR to submitting this application&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_a_Pre_App_meeting_been_completed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>No_Selected_for_Question</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Has_a_Pre_App_meeting_been_completed</name>
                    <choiceReferences>YesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has a Pre-App meeting been completed?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Pre_App_Meeting_Lookup</name>
                    <choiceReferences>Pre_App_Lookup</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Pre-App Meeting Lookup</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_a_Pre_App_meeting_been_completed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</name>
                    <choiceReferences>Yes_choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you submitting the application under the ordinances and policies in effect at the time the application is accepted for review by the Town of Clayton?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Please_specify_the_ordinance_s_and_or_policy_ies_including_version_s_under_which</name>
                    <dataType>String</dataType>
                    <fieldText>Please specify the ordinance(s) and/or policy(ies), including version(s), under which the application is being submitted?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Ordinance_Policy_Effective_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Ordinance/Policy Effective Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Site_Information</name>
            <fieldText>Site Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Site_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_the_Applicant_the_Owner</name>
                    <choiceReferences>YesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the Applicant the Owner?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Name_of_Project</name>
                    <dataType>String</dataType>
                    <fieldText>Name of Project</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Acreage</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Acreage of Property:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px;&quot;&gt;{!Application.MUSW__Parcel__r.Calculated_Acreage__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Zoning_District</name>
                    <dataType>String</dataType>
                    <fieldText>Zoning District</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>County_Tag</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>TagNumber</elementReference>
                    </defaultValue>
                    <fieldText>County Tag #</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>NC_Pin</name>
                    <dataType>String</dataType>
                    <fieldText>NC Pin #</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Existing_Use</name>
                    <dataType>String</dataType>
                    <fieldText>Existing Use</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Proposed_Use</name>
                    <dataType>String</dataType>
                    <fieldText>Proposed Use</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_project_within_a_Planned_Development</name>
                    <choiceReferences>YesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is project within a Planned Development?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Which_Planned_Development</name>
                    <dataType>String</dataType>
                    <fieldText>Which Planned Development</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_project_within_a_Planned_Development</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_project_within_an_Overlay_District</name>
                    <choiceReferences>YesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is project within an Overlay District?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Which_Overlay_District</name>
                    <dataType>String</dataType>
                    <fieldText>Which Overlay District</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_project_within_an_Overlay_District</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_your_project_in_a_conditionally_zoned_development</name>
                    <choiceReferences>YesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is your project in a Conditionally Zoned Development?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>which_Conditionally_zoned_development</name>
                    <dataType>String</dataType>
                    <fieldText>Which Conditionally Zoned Development</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_your_project_in_a_conditionally_zoned_development</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Explanation_of_Project</name>
                    <dataType>String</dataType>
                    <fieldText>Explanation of Project</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_this_for_a_new_special_use_permit_or_a_modification_to_an_approved_SUP</name>
                    <choiceReferences>NewOrModification</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is this for a New Special Use Permit or a Modification to an approved SUP?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;&lt;strong&gt;Major Modifications will only be for records after go-live&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Is_the_existing_SUP_approved_before_or_after_go_live_date</name>
                    <choiceReferences>BeforeAfter</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the existing SUP approved before or after go-live date?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_this_for_a_new_special_use_permit_or_a_modification_to_an_approved_SUP</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Modification to an approved SUP</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Existing_approved_SUP_before_go_live</name>
                    <dataType>String</dataType>
                    <fieldText>Existing approved SUP before go-live</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_existing_SUP_approved_before_or_after_go_live_date</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Before</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Existing_approved_SUP</name>
                    <choiceReferences>ExistingSUP</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Existing approved SUP</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_existing_SUP_approved_before_or_after_go_live_date</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>After</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Pre_App_meeting_been_completed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Required_Findings_Of_Fact</name>
            <fieldText>Required Findings Of Fact</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Required_Findings_Of_Fact_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Facts</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Section 2.3.22.G.2 of the Unified Land Development Code requires applications for a Special Use to address the following findings. The burden of proof is on the applicant and failure to adequately address the findings may result in denial of the application. Please attach additional pages if necessary.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>X1_Is_subject_to_a_Concept_Plan_that_accurately_depicts_the_proposed_use_s_confi</name>
                    <fieldText>1. Is subject to a Concept Plan that accurately depicts the proposed use’s configuration and addresses public infrastructure if changes to or extension of public infrastructure are required as part of the application;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>X2_Complies_with_all_required_standards_conditions_and_specifications_of_this_Or</name>
                    <fieldText>2. Complies with all required standards, conditions, and specifications of this Ordinance, including all zoning district dimensional requirements and use-specific standards;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>X3_Will_not_materially_endanger_the_public_health_or_safety</name>
                    <fieldText>3. Will not materially endanger the public health or safety;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>X4_Will_not_substantially_injure_the_value_of_the_abutting_land_or_the_special_u</name>
                    <fieldText>4. Will not substantially injure the value of the abutting land, or the special use is a public necessity;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>X5_Will_not_include_or_result_in_such_additional_traffic_volume</name>
                    <fieldText>5. Will not include or result in such additional traffic volume so as to strain the flow of traffic on the streets and roads of the Town;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>X6_Will_be_in_harmony_with_the_intensity_scale_and_character_of_existing_or_plan</name>
                    <fieldText>6. Will be in harmony with the intensity, scale, and character of existing or planned development in the area in which it is to be located.</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Pre_App_meeting_been_completed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Special_Use_Permit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>No_Selected_for_Question</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>PermitId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Special Use Permit</stringValue>
        </value>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
