force-app/main/default/flows/Application_Flow_Street_Renaming_Closure_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Field_Values_To_Application</name>
        <label>Assign Field Values To Application</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Application</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Proposed_Street_Names</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_Street_Names_Table.tableData</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Pre_Application_Date</name>
        <label>Assign Pre-Application Date</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Application.Meeting_Date_Held_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pre_Application_Looked_Up.Meeting_Date_Held_On__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Street_Renaming_Closure_Application_Submittal_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Application_Meeting_Date</name>
        <label>Assign Pre-Application Meeting Date</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Application.Meeting_Date_Held_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Pre_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Street_Renaming_Closure_Application_Submittal_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Application_Num</name>
        <label>Assign Pre-Application Num</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Application.Pre_Application_Number_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pre_Application_Conference_Number.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pre_Application_Looked_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Street_Renaming_Closure_Application_Submittal_Values</name>
        <label>Assign Street Renaming/Closure Application Submittal Values</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Application.Name_Change_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_changing_the_name_of_this_street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Description_of_portions_of_street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_of_portions_of_street_to_be_changed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Field_Values_To_Application</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Commercial</name>
        <choiceText>Commercial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing_Structure</name>
        <choiceText>Existing Structure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Structure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Industrial</name>
        <choiceText>Industrial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Industrial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Institutional</name>
        <choiceText>Institutional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Institutional</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multi_Family</name>
        <choiceText>Multi Family</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multi Family</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Structure</name>
        <choiceText>New Structure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Structure</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Determined</name>
        <choiceText>Not Determined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Determined</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Found</name>
        <choiceText>--RECORD NOT FOUND--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Record Not Found</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Residential</name>
        <choiceText>Residential</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Residential</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Family</name>
        <choiceText>Single Family</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Family</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_family_Attached</name>
        <choiceText>Single Family Attached</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single family Attached</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_family_Detached</name>
        <choiceText>Single Family Detached</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single family Detached</stringValue>
        </value>
    </choices>
    <choices>
        <name>X10_00_AM</name>
        <choiceText>10:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X10_00_PM</name>
        <choiceText>10:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X11_00_AM</name>
        <choiceText>11:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X11_00_PM</name>
        <choiceText>11:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12_00_AM</name>
        <choiceText>12:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12_00_PM</name>
        <choiceText>12:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_00_AM</name>
        <choiceText>1:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_00_PM</name>
        <choiceText>1:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_00_AM</name>
        <choiceText>2:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_00_PM</name>
        <choiceText>2:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_00_AM</name>
        <choiceText>3:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_00_PM</name>
        <choiceText>3:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_00_AM</name>
        <choiceText>4:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_00_PM</name>
        <choiceText>4:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_00_AM</name>
        <choiceText>5:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_00_PM</name>
        <choiceText>5:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6_00_AM</name>
        <choiceText>6:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6_00_PM</name>
        <choiceText>6:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X7_00_AM</name>
        <choiceText>7:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X7_00_PM</name>
        <choiceText>7:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X8_00_AM</name>
        <choiceText>8:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X8_00_PM</name>
        <choiceText>8:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X9_00_AM</name>
        <choiceText>9:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X9_00_PM</name>
        <choiceText>9:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>Application_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MUSW__Application2__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Building_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Building Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contractor_Information</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contractor Information</stringValue>
        </value>
    </constants>
    <constants>
        <description>Driveway Permit Constant</description>
        <name>Driveway_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Driveway Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Quick_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Quick Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Stage_Confirmation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirmation</stringValue>
        </value>
    </constants>
    <constants>
        <name>Stage_Project_Details</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Information</stringValue>
        </value>
    </constants>
    <constants>
        <name>Trade_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Trade Permit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Pre_Application_Found</name>
        <label>Pre-Application Found?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Pre_Application_Num</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Pre_App_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pre_Application_Conference_Number.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Not_Found</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pre_Application_Meeting_Date</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>CG - Adding Pre-Application Conference functionality - 25348</description>
    <dynamicChoiceSets>
        <name>Construction_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Construction_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contractor_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Contractor_Type__c</picklistField>
        <picklistObject>MUSW__Permit_Contractor__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pre_App_Num</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Application Conference</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Use_Group_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Group__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Record_Type_Name_Header</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Record_Type_Name} , &quot;Application&quot;), 
TRIM(SUBSTITUTE({!Record_Type_Name}, &apos;Application&apos;, &quot;&quot;)),
{!Record_Type_Name})</expression>
    </formulas>
    <interviewLabel>(Application Flow) Street Renaming/Closure Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Application Flow) Street Renaming/Closure Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Pre_Application_Looked_Up</name>
        <label>Get Pre-Application Looked Up</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Pre_Application_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pre_Application_Conference_Number.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Application2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Street_Renaming_Closure_Submittal_Project_Details</name>
        <label>Street Renaming/Closure Submittal Project Details</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pre_Application_Found</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Quick_Permit_Project_Header_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 28px;&quot;&gt;New {!Record_Type_Name_Header} Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Flow_Stage_Quick_Permit_Details</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Stage_Project_Details</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Quick_Permit_Project_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Project Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_a_pre_application_conference_occurred</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has a pre-application conference occurred?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pre_Application_Conference_Number</name>
            <choiceReferences>Not_Found</choiceReferences>
            <choiceReferences>Pre_App_Num</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Pre-Application Conference Number</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_pre_application_conference_occurred</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_of_Pre_Application</name>
            <dataType>Date</dataType>
            <fieldText>Date of Pre-Application</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pre_Application_Conference_Number.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Not_Found</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Street_Renaming_Closure_Submittal_Project_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Street_Renaming_Closure_Submittal_Project_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_of_portions_of_street_to_be_changed</name>
                    <fieldText>Description of portions of street (to be changed)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Reason_for_changing_the_name_of_this_street</name>
                    <fieldText>Reason for changing the name of this street</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>View_Approved_Suffixes</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>View Approved List of Suffixes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Hidden</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>View</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ApprovedSuffixesList</name>
                    <fieldText>&lt;p&gt;{!Approved_Suffixes}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>View_Approved_Suffixes.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Blank_Field</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Proposed_Street_Names_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Proposed_Street_Name__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>clariti:customDatatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Proposed_Street_Name__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Proposed_Street_Names</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Proposed Street Name(s)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>standard:form</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowAddRow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowAddRow</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Road_Name__c,Suffix__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showActionMenu</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showActionMenu</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowNoneToBeChosen</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressBottomBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Street_Names_Table_Help_Text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Click the &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Add Rows&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; button to enter street name(s).&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>clariti__Building_Permitting_Applications</sourceTemplate>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Street_Renaming_Closure_Submittal_Project_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Approved_Suffixes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;table style=&quot;border:1px solid lightgray; border-spacing:0; color:clack; table-layout:fixed; width:1000px; border-radius:10px; border-collapse:separate; overflow:hidden;&quot;&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;th colspan=&quot;9&quot; style=&quot;border-bottom:1px solid lightgray; background-color:lightgrey; text-align: center;&quot;&gt;Suffixes and Abbreviations (A-E)&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;AVE&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;BLVD&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;BND&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;CIR&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;CT&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;CTR&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;CV&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;DR&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;EXPY&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt; 
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Avenue&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Boulevard&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Bend&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Circle&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Court&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Center&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Cove&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Drive&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Expressway&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;table style=&quot;border:1px solid lightgray; border-spacing:0; color:clack; table-layout:fixed; width:1000px; border-radius:10px; border-collapse:separate; overflow:hidden;&quot;&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;th colspan=&quot;9&quot; style=&quot;border-bottom:1px solid lightgray; background-color:lightgrey; text-align: center;&quot;&gt;Suffixes and Abbreviations (E-P)&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;EXT&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;FWY&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;GTWY&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;HWY&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;LN&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;LOOP&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;PARK&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;PATH&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;PKWY&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt; 
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Extension&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Freeway&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Gateway&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Highway&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Lane&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Loop&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Park&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Path&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Parkway&lt;/td&gt;

&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;table style=&quot;border:1px solid lightgray; border-spacing:0; color:clack; table-layout:fixed; width:1000px; border-radius:10px; border-collapse:separate; overflow:hidden;&quot;&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;th colspan=&quot;9&quot; style=&quot;border-bottom:1px solid lightgray; background-color:lightgrey; text-align: center;&quot;&gt;Suffixes and Abbreviations (P-Z)&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;PL&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;PT&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;RDG&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;SQ&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;ST&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;TRCE&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;TRL&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;WALK&lt;/th&gt;
&lt;th style=&quot;border-right:1px solid lightgray;&quot;&gt;WAY&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt; 
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Place&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Point&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Ridge&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Square&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Street&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Trace&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Trail&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Walk&lt;/td&gt;
&lt;td style=&quot;border-right:1px solid lightgray; border-top:1px solid lightgray; width:100px; overflow:hidden;&quot;&gt;Way&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ApprovedSuffixesandAbbreviations</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; border=&quot;1&quot;&gt;&lt;thead&gt;&lt;tr&gt;&lt;th style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;STREET SUFFIX&lt;/th&gt;&lt;th style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;ABBREVIATION&lt;/th&gt;&lt;/tr&gt;&lt;/thead&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;AVE&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Avenue&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;BLVD&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Boulevard&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;BND&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Bend&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;CIR&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Circle&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;CT&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Court&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;CTR&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Center&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;CV&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Cove&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;DR&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Drive&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;EXPY&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Expressway&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;EXT&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Extension&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;FWY&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Freeway&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;GTWY&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Gateway&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;HWY&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Highway&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;LN&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Lane&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;LOOP&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Loop&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;PARK&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Park&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;PATH&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Path&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;PKWY&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Parkway&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;PL&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Place&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;PT&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Point&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;RDG&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Ridge&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;SQ&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Square&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;ST&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Street&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;TRCE&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Trace&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;TRL&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Trail&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;WALK&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Walk&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;WAY&lt;/td&gt;&lt;td style=&quot;padding: var(--lwc-spacingXSmall,0.5rem);&quot;&gt;Way&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>ApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>AssociatedParcels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Parcel__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Error_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Contact_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Fee_Template_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Fee_List__c</objectType>
    </variables>
    <variables>
        <name>Proposed_Street_Names</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Proposed_Street_Name__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleApplicationLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Work_Item_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Work_Item__c</objectType>
    </variables>
</Flow>
