force-app/main/default/flows/Application_Update_status_permit_upon_submissions_completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Application_Status_to_Completed</name>
        <label>Assign Application Status to Completed</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>application.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_to_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_Status_to_In_Progress</name>
        <label>Assign Application Status to In Progress</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>application.MUSW__Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>application.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_to_Pending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_type_assignment</name>
        <label>Record_type_assignment</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Record_Type_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MUSW__Application2__r.MUSW__Type2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sufficiency_Check</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Driveway_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Driveway Permit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Pending_Submissions_or_Outstanding_Balance_Decision</name>
        <label>Pending Submissions or Outstanding Balance Decision</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Application_Status_All_Fees_and_Submission_Satisfied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>application.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>application.MUSW__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pending_Submissions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>application.MUSW__Total_Balance__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_type_assignment</targetReference>
            </connector>
            <label>In Application Status, All Fees and Submission Satisfied</label>
        </rules>
    </decisions>
    <decisions>
        <description>Create a sufficiency check, but DO NOT advance to Review yet.</description>
        <name>Sufficiency_Check</name>
        <label>Sufficiency_Check</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assign_Application_Status_to_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sufficiency_Check_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Type_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Driveway_Permit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Application_Status_to_In_Progress</targetReference>
            </connector>
            <label>Sufficiency Check Required</label>
        </rules>
    </decisions>
    <description>Deactivated - flow conditions do not seem to trigger - flow not applicable. 
There is another similar flow for applications. Wondering if this was created for permits related to CDs (but then why would both application and permit need them)? - will go back and test</description>
    <environments>Default</environments>
    <interviewLabel>(Application) - Update status permit upon submissions completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Application) - Update status permit upon submissions completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pending_Submissions</name>
        <label>Get Pending Submissions</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pending_Submissions_or_Outstanding_Balance_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>permit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Submission_DateTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <object>MUSW__Submission__c</object>
        <outputReference>Pending_Submissions</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Permit_Related_to_Submission_s</name>
        <label>Get Permit Related to Submission(s)</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pending_Submissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__r.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <outputReference>permit</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Flad_Test_Permit_Status_Update</name>
        <label>Copy 1 of Flad Test Permit Status Update</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Expiration_Date__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Flad_Test_Permit_Status_Update</name>
        <label>Flad Test Permit Status Update</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Issue_Date__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_to_Completed</name>
        <label>Update Application to Completed</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Copy_1_of_Flad_Test_Permit_Status_Update</targetReference>
        </connector>
        <inputReference>application</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_to_Pending</name>
        <label>Update Application to Pending</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Flad_Test_Permit_Status_Update</targetReference>
        </connector>
        <inputReference>application</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Permit_Related_to_Submission_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MUSW__Submission__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>Pending_Submissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
