force-app/main/default/flows/BC_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Current_Cart_Id_to_Text_Collection</name>
        <label>Add Current Cart Id to Text Collection</label>
        <locationX>264</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Cart_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Cart_Items.clariti__Cart__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cart_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Current_Fee_Id_to_Collection</name>
        <label>Add Current Fee Id to Collection</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Selected_Fees_Text_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Fees.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Fees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Payment_Allocations</name>
        <label>Count Payment Allocations</label>
        <locationX>176</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>Number_of_Payment_Allocations</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Payment_Allocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payments</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Fees</name>
        <choiceText>Fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reviews</name>
        <choiceText>Reviews</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reviews</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_there_cart_items</name>
        <label>Are there cart items?</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Delete_Cart_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Cart_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cart_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Payment_Allocations</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_carts</name>
        <label>Are there carts?</label>
        <locationX>176</locationX>
        <locationY>2894</locationY>
        <defaultConnector>
            <targetReference>Delete_Carts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Carts</defaultConnectorLabel>
        <rules>
            <name>There_are_carts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Carts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Fees</targetReference>
            </connector>
            <label>There are carts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_payments</name>
        <label>Are there payments?</label>
        <locationX>176</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Delete_Payments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Carts</targetReference>
            </connector>
            <label>Yes Payments</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BC Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BC Test</label>
    <loops>
        <name>Loop_Through_Cart_Items</name>
        <label>Loop Through Cart Items</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_Cart_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Current_Cart_Id_to_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_cart_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Fees</name>
        <label>Loop Through Fees</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Confirmed_Fees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Current_Fee_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Payment_Allocation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Cart_Items</name>
        <label>Delete Cart Items</label>
        <locationX>264</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Count_Payment_Allocations</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_4_of_Roll_Back</targetReference>
        </faultConnector>
        <inputReference>Get_Cart_Items</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Carts</name>
        <label>Delete Carts</label>
        <locationX>264</locationX>
        <locationY>3002</locationY>
        <connector>
            <targetReference>Delete_Fees</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_Back</targetReference>
        </faultConnector>
        <inputReference>Get_Carts</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Fees</name>
        <label>Delete Fees</label>
        <locationX>176</locationX>
        <locationY>3434</locationY>
        <faultConnector>
            <targetReference>Copy_1_of_Roll_Back</targetReference>
        </faultConnector>
        <inputReference>Confirmed_Fees</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Payments</name>
        <label>Delete Payments</label>
        <locationX>264</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Get_Carts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Roll_Back</targetReference>
        </faultConnector>
        <inputReference>Get_Payments</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Cart_Items</name>
        <label>Get Cart Items</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Cart_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clariti__Fee__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Selected_Fees_Text_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>clariti__CartItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Carts</name>
        <label>Get Carts</label>
        <locationX>176</locationX>
        <locationY>2786</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_carts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Cart_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>clariti__Cart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fees</name>
        <label>Get Fees</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Fees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Fee__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Allocation</name>
        <label>Get Payment Allocation</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Allocation_Amount_to_zero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clariti__Fee__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Selected_Fees_Text_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>clariti__PaymentAllocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payments</name>
        <label>Get Payments</label>
        <locationX>176</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clariti__Cart__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Cart_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>clariti__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Copy_1_of_Roll_Back</name>
        <label>Copy 1 of Roll_Back</label>
        <locationX>792</locationX>
        <locationY>3542</locationY>
    </recordRollbacks>
    <recordRollbacks>
        <name>Copy_2_of_Roll_Back</name>
        <label>Copy 2 of Roll_Back</label>
        <locationX>528</locationX>
        <locationY>2462</locationY>
    </recordRollbacks>
    <recordRollbacks>
        <name>Copy_3_of_Roll_Back</name>
        <label>Copy 3 of Roll_Back</label>
        <locationX>1056</locationX>
        <locationY>2138</locationY>
    </recordRollbacks>
    <recordRollbacks>
        <name>Copy_4_of_Roll_Back</name>
        <label>Copy 4 of Roll_Back</label>
        <locationX>528</locationX>
        <locationY>1598</locationY>
    </recordRollbacks>
    <recordRollbacks>
        <name>Copy_5_of_Roll_Back</name>
        <label>Copy 5 of Roll_Back</label>
        <locationX>1320</locationX>
        <locationY>974</locationY>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_Back</name>
        <label>Roll_Back</label>
        <locationX>528</locationX>
        <locationY>3110</locationY>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Allocation_Amount_to_zero</name>
        <label>Update Allocation Amount to zero</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Get_Cart_Items</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_5_of_Roll_Back</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clariti__Fee__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Selected_Fees_Text_Collection</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>clariti__AllocationAmount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>clariti__PaymentAllocation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payments</name>
        <label>Update Payments</label>
        <locationX>176</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Get_Payments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_3_of_Roll_Back</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clariti__Cart__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Cart_Ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>clariti__AllocatedAmount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>clariti__Payment__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Fees</name>
        <label>Confirm Fees</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Fees</targetReference>
        </connector>
        <fields>
            <name>Confirm_Fees_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Fee__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:customDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>MUSW__Fee__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Fees_To_Verify</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,MUSW__Description__c,MUSW__Amount_Paid__c,MUSW__Related_To__c,CreatedDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Confirmed_Fees</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Fees</name>
        <label>Select Fees</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_Fees</targetReference>
        </connector>
        <fields>
            <name>Select_Fees_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Fee__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:customDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>MUSW__Fee__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Fees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,MUSW__Description__c,MUSW__Amount_Paid__c,MUSW__Related_To__c,CreatedDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Select Fees to Delete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom41</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxNumberOfRows</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Fees_To_Verify</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Fees</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Cart_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Confirmed_Fees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Fee__c</objectType>
    </variables>
    <variables>
        <name>Fees_To_Verify</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Fee__c</objectType>
    </variables>
    <variables>
        <name>Number_of_Payment_Allocations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Selected_Fees_Text_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
