force-app/main/default/flows/Building_Permitting_Applications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Field_Values_To_Permit</name>
        <label>Assign Field Values To Permit</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Description_of_Work_Quick_Permit}{!Description_of_Work_Trade_Permit}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Use_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Use_Class_Dependent_Picklist.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Use_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Use_Group_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Use_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Use_Class_Dependent_Picklist.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Valuation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Valuation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Construction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Construction_Type_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permit_to_Attestation_Consent</name>
        <label>Assign Permit to Attestation Consent</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>Attestation_Consent.MUSW__Permit2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Attestation_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permit_To_Current_Work_Item</name>
        <label>Assign Permit To Current Work Item</label>
        <locationX>534</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>Work_Item_Collection_Loop.MUSW__Permit2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Item_Collection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Work_Item_Collection_Assignment</name>
        <label>Work Item Collection Assignment</label>
        <locationX>534</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Work_Item_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Work_Item_Collection_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Item_Collection_Loop</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Building_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Building Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contractor_Information</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contractor Information</stringValue>
        </value>
    </constants>
    <constants>
        <description>Driveway Permit Constant</description>
        <name>Driveway_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Driveway Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Permit_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MUSW__Permit2__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Quick_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Quick Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Stage_Confirmation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirmation</stringValue>
        </value>
    </constants>
    <constants>
        <name>Stage_Project_Details</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Details</stringValue>
        </value>
    </constants>
    <constants>
        <name>Trade_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Trade Permit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Evaluate_Record_Type</name>
        <label>Evaluate Record Type</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Building_Permit_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Type_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Building_Permit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Building_Permit_Project_Details</targetReference>
            </connector>
            <label>Building Permit</label>
        </rules>
        <rules>
            <name>Trade_Permit_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Type_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Trade_Permit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trade_Permit_Project_Details</targetReference>
            </connector>
            <label>Trade Permit</label>
        </rules>
        <rules>
            <name>Quick_Permit_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Type_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Quick_Permit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quick_Permit_Project_Details</targetReference>
            </connector>
            <label>Quick Permit</label>
        </rules>
        <rules>
            <name>Driveway_Permit_Constant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Type_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Driveway_Permit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Quick_Permit_Project_Details</targetReference>
            </connector>
            <label>Driveway Permit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Work_Items_Permit_Contractor_Creation</name>
        <label>Evaluate Work Items &amp; Permit Contractor Creation</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Application_Success_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Work_Items_Collection_Datatable.tableData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Permit_Contractor</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Work_Items_Permit_Contractor_Screens</name>
        <label>Evaluate Work Items &amp; Permit Contractor Screens</label>
        <locationX>578</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Get_Template_Fees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Record_Type_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Building_Permit</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_Type_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Trade_Permit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contractor_Details_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Construction_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Construction_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contractor_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Contractor_Type__c</picklistField>
        <picklistObject>MUSW__Permit_Contractor__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Use_Group_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Group__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Building Permitting Applications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Building Permitting Applications</label>
    <loops>
        <name>Work_Item_Collection_Loop</name>
        <label>Work Item Collection Loop</label>
        <locationX>446</locationX>
        <locationY>1814</locationY>
        <collectionReference>Work_Items_Collection_Datatable.tableData</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Permit_To_Current_Work_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Work_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attestation_Consent</name>
        <label>Create Attestation Consent</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Evaluate_Work_Items_Permit_Contractor_Creation</targetReference>
        </connector>
        <inputReference>Attestation_Consent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Permit</name>
        <label>Create Permit</label>
        <locationX>578</locationX>
        <locationY>1274</locationY>
        <assignRecordIdToReference>Permit.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Permit_to_Attestation_Consent</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Address__c</field>
            <value>
                <elementReference>Permit.MUSW__Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Applicant__c</field>
            <value>
                <elementReference>Permit.MUSW__Applicant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Construction_Type__c</field>
            <value>
                <elementReference>Permit.MUSW__Construction_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Description__c</field>
            <value>
                <elementReference>Permit.MUSW__Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Parcel__c</field>
            <value>
                <elementReference>Permit.MUSW__Parcel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Type__c</field>
            <value>
                <elementReference>Permit.MUSW__Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Use_Class__c</field>
            <value>
                <elementReference>Permit.MUSW__Use_Class__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Use_Group__c</field>
            <value>
                <elementReference>Permit.MUSW__Use_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Use_Type__c</field>
            <value>
                <elementReference>Permit.MUSW__Use_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Valuation__c</field>
            <value>
                <elementReference>Permit.MUSW__Valuation__c</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Permit_Contractor</name>
        <label>Create Permit Contractor</label>
        <locationX>446</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Work_Item_Collection_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Account__c</field>
            <value>
                <elementReference>Permit_Contractor_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Contractor_Type__c</field>
            <value>
                <elementReference>Contractor_Type_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Permit2__c</field>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Permit_Contractor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Items</name>
        <label>Create Work Items</label>
        <locationX>446</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Application_Success_Flow</targetReference>
        </connector>
        <inputReference>Work_Item_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Template_Fees</name>
        <label>Get Template Fees</label>
        <locationX>578</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Field_Values_To_Permit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Permit.MUSW__Type__c</elementReference>
            </value>
        </filters>
        <object>MUSW__Master_Fee_List__c</object>
        <outputReference>Fee_Template_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Standard_Price__c</queriedFields>
        <queriedFields>MUSW__Type__c</queriedFields>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Building_Permit_Project_Details</name>
        <label>Building Permit Project Details</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluate_Work_Items_Permit_Contractor_Screens</targetReference>
        </connector>
        <fields>
            <name>Building_Permit_Project_Details_Header_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 28px; color: rgb(0, 0, 0);&quot;&gt;New {!Record_Type_Name} Application&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Flow_Stage_Building_Permit_Details</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Stage_Project_Details</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Building_Permit_Project_Details_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Project Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Use_Class_Dependent_Picklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>MUSW__Permit2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>MUSW__Use_Class__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>MUSW__Use_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Use Class</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Use Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Use_Group_Picklist</name>
            <choiceReferences>Use_Group_Picklist_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Use Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Construction_Type_Picklist</name>
            <choiceReferences>Construction_Type_Picklist_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Construction Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Project_Valuation</name>
            <dataType>Number</dataType>
            <fieldText>Project Valuation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attestation_Flow</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Header_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;New {!Record_Type_Name} Application&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Flow_Stages_Confirmation</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Stage_Confirmation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirmation_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Confirmation&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;If any of the information below is incorrect, use the “Previous” button below to navigate to the appropriate section and update the incorrect information.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Permit Details&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Permit Type: {!Record_Type_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Type: {!Permit.MUSW__Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Applicant Details&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Applicant: {!Permit.MUSW__Applicant__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Location Details&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Address: {!Permit.MUSW__Address__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Parcel: {!Permit.MUSW__Parcel__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Display_Building_Permit</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Project Details&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Use Class: {!Permit.MUSW__Use_Class__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Use Type: {!Permit.MUSW__Use_Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Use Group: {!Permit.MUSW__Use_Group__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Construction Type: {!Permit.MUSW__Construction_Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Project Valuation: {!Project_Valuation}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Type_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Building_Permit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirmation_Display_Trade_Permit</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Project Details&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Description of Work: {!Permit.MUSW__Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Type_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Trade_Permit</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Record_Type_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Quick_Permit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirmation_Display_Quick_Permit</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Contractor Details&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Contractor Name: {!Permit_Contractor_Lookup.recordName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Contractor Type: {!Contractor_Type_Picklist}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Type_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Building_Permit</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Record_Type_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Trade_Permit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirmation_Display_Work_Items</name>
                    <fieldText>&lt;p&gt;&lt;u style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Work Item Details&lt;/u&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Work_Items_Collection_Datatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>MUSW__Work_Item__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>clariti:customDatatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cb_displayAll</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_preselectAllRows</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>MUSW__Work_Item__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Work_Item_Collection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>MUSW__Category__c,MUSW__Description__c,MUSW__Quantity__c,MUSW__Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>preselectAllRows</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Type_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Building_Permit</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Record_Type_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Trade_Permit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirmation_Display_Estimated_Fees</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Estimated Fees&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fee_Template_Collection_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Master_Fee_List__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:customDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>MUSW__Master_Fee_List__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Fee_Template_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>MUSW__Type__c,MUSW__Standard_Price__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>MUSW__Type__c:479, MUSW__Standard_Price__c:479</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contractor_Details_Screen</name>
        <label>Contractor Details Screen</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Work_Items_Flow</targetReference>
        </connector>
        <fields>
            <name>Contractor_Details_Header_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 28px;&quot;&gt;New {!Record_Type_Name} Application&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Flow_Stage_Contractor_Information</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Contractor_Information</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contractor_Details_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Contractor Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Choose a contractor for this project by searching below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Permit_Contractor_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>MUSW__Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contractor Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>MUSW__Permit_Contractor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contractor_Type_Picklist</name>
            <choiceReferences>Contractor_Type_Picklist_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contractor Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Quick_Permit_Project_Details</name>
        <label>Copy 1 of Quick Permit Project Details</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluate_Work_Items_Permit_Contractor_Screens</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Quick_Permit_Project_Header_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;New {!Record_Type_Name} Application&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Flow_Stage_Quick_Permit_Details</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Stage_Project_Details</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Quick_Permit_Project_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Project Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Description_of_Work_Quick_Permit</name>
            <fieldText>Description of Work</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quick_Permit_Project_Details</name>
        <label>Quick Permit Project Details</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluate_Work_Items_Permit_Contractor_Screens</targetReference>
        </connector>
        <fields>
            <name>Quick_Permit_Project_Header_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;New {!Record_Type_Name} Application&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Flow_Stage_Quick_Permit_Details</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Stage_Project_Details</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Quick_Permit_Project_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Project Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description_of_Work_Quick_Permit</name>
            <fieldText>Description of Work</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Trade_Permit_Project_Details</name>
        <label>Trade Permit Project Details</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Evaluate_Work_Items_Permit_Contractor_Screens</targetReference>
        </connector>
        <fields>
            <name>Trade_Permit_Project_Details_Header_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;New {!Record_Type_Name} Application&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Flow_Stage_Trade_Permit_Details</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Stage_Project_Details</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Trade_Permit_Project_Details_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Project Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description_of_Work_Trade_Permit</name>
            <fieldText>Description of Work</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>clariti__Building_Permitting_Applications</sourceTemplate>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Record_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Application_Success_Flow</name>
        <label>Application Success Flow</label>
        <locationX>578</locationX>
        <locationY>2414</locationY>
        <flowName>clariti__Application_Success</flowName>
        <inputAssignments>
            <name>Permit_Id</name>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Attestation_Flow</name>
        <label>Attestation Flow</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Create_Permit</targetReference>
        </connector>
        <flowName>clariti__Attestation_for_Applications</flowName>
        <inputAssignments>
            <name>Object_API_Name</name>
            <value>
                <elementReference>Permit_API</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Attestation_Consent</assignToReference>
            <name>Attestation_Consent</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Work_Items_Flow</name>
        <label>Work Items Flow</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Get_Template_Fees</targetReference>
        </connector>
        <flowName>clariti__Add_Work_Items</flowName>
        <inputAssignments>
            <name>Flow_Stages</name>
            <value>
                <elementReference>Stages</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Developer_Name</name>
            <value>
                <elementReference>Record_Type_Developer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Type_Name</name>
            <value>
                <elementReference>Permit.MUSW__Type__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Work_Item_Collection</assignToReference>
            <name>Selected_Work_Item_Collection</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Error_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Fee_Template_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Fee_List__c</objectType>
    </variables>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Work_Item_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Work_Item__c</objectType>
    </variables>
</Flow>
