force-app/main/default/flows/Clone_Template_Field_Mappings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Template_Field_Mapping_Values</name>
        <label>Assign Template Field Mapping Values</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>One_Template_Field_Mapping.MUSW__Template_Field_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Template_Field_Mappings_Loop.MUSW__Template_Field_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>One_Template_Field_Mapping.MUSW__Target_Field_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Template_Field_Mappings_Loop.MUSW__Target_Field_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>One_Template_Field_Mapping.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Template_Field_Mappings_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>One_Template_Field_Mapping.MUSW__Template_Object_Mapping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Created_Template_Object_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Template_Field_Mappings_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>One_Template_Field_Mapping</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Template_Field_Mappings_Loop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Template_Name_Character_Limit_Formula</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!Template_Object_Mapping_Name}) &gt; 80</expression>
    </formulas>
    <interviewLabel>Clone Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Template Field Mappings</label>
    <loops>
        <name>Selected_Template_Field_Mappings_Loop</name>
        <label>Selected Template Field Mappings Loop</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Selected_Template_Field_Mappings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Template_Field_Mapping_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Template_Field_Mappings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Template_Field_Mappings</name>
        <label>Create Template Field Mappings</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>Template_Field_Mappings_To_Create</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Template_Object</name>
        <label>Create Template Object</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>Created_Template_Object_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Selected_Template_Field_Mappings_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Target_Object_Name__c</field>
            <value>
                <elementReference>recordId.MUSW__Target_Object_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Template_Object_Name__c</field>
            <value>
                <elementReference>recordId.MUSW__Template_Object_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Template_Object_Mapping_Name_Text_Field</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Template_Object_Mapping__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Template_Field_Mappings</name>
        <label>Get Related Template Field Mappings</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Template_Object_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Template_Field_Mapping__c</object>
        <outputReference>Existing_Template_Field_Mappings_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Target_Field_Name__c</queriedFields>
        <queriedFields>MUSW__Template_Field_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Template_Object_Mapping__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>440</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(153, 0, 0); font-size: 20px;&quot;&gt;Error - Field Mapping Not Created&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Template_Object</targetReference>
        </connector>
        <fields>
            <name>Template_Object_Mapping_Name_Text_Field</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Template_Object_Mapping_Name</elementReference>
            </defaultValue>
            <fieldText>Template Object Mapping Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(211, 0, 0);&quot;&gt;Field limited to 80 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!Template_Name_Character_Limit_Formula}, true, false)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Template_Field_Mapping</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Template_Field_Mapping__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:customDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>MUSW__Template_Field_Mapping__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Existing_Template_Field_Mappings_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Template Field Mappings</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowAddRow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowAddRow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showActionMenu</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showActionMenu</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,MUSW__Template_Field_Name__c,MUSW__Target_Field_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>1:true,2:true,3:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Template_Field_Mappings</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 153, 0);&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Template_Field_Mappings</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Created_Template_Object_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Existing_Template_Field_Mappings_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Template_Field_Mapping__c</objectType>
    </variables>
    <variables>
        <name>One_Template_Field_Mapping</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Template_Field_Mapping__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Template_Object_Mapping__c</objectType>
    </variables>
    <variables>
        <name>Selected_Template_Field_Mappings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Template_Field_Mapping__c</objectType>
    </variables>
    <variables>
        <name>Template_Field_Mappings_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Template_Field_Mapping__c</objectType>
    </variables>
    <variables>
        <name>Template_Object_Mapping_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.Name</elementReference>
        </value>
    </variables>
</Flow>
