force-app/main/default/flows/Conditions_Remove_Submissions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_to_Permit</name>
        <label>Assign to Permit</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Single_Submission.MUSW__Permit2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Submission.Condition__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Submissions_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Submission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_and_Assign_to_Permit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Singular_Variable</name>
        <label>Assign to Singular Variable</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Single_Submission</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_Assign_to_Permit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Permit</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Conditions Remove Submissions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conditions Remove Submissions</label>
    <loops>
        <name>Loop_and_Assign_to_Permit</name>
        <label>Loop and Assign to Permit</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Related_Submissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Singular_Variable</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Submissions</name>
        <label>Get Related Submissions</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_and_Assign_to_Permit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Condition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Submissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Full_Description__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reset Submissions</stringValue>
            </value>
        </filters>
        <object>MUSW__Condition__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Single_Submission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>Submissions_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
</Flow>
