force-app/main/default/flows/LicenseBoard_Demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Return_Validation</name>
        <label>Return Validation</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>CallNCLicensingBoard.Post_To_Board</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Loop_Through_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ERROR</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RequestBodyINPUT</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CallNCLicensingBoard.Post_To_Board</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_From_Loop</name>
        <label>Assign From Loop</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>LicenseNumberFromResults</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Results.License.LicenseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LicenseExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Results.License.ExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsValidLicense</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Results.License.isValid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_To_POST</name>
        <label>Assign Values To POST</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>INPUT_To_Post.LicenseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>License_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>INPUT_To_Post.licenseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contractor_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestBodyINPUT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>INPUT_To_Post</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Validation</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>LicenseBoard_Demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LicenseBoard_Demo</label>
    <loops>
        <name>Loop_Through_Results</name>
        <label>Loop Through Results</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Return_Validation.2XX</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_From_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ERROR</name>
        <label>ERROR</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Hit_an_error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We hit an error!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Return_Validation}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>License_Info</name>
        <label>License Info</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_To_POST</targetReference>
        </connector>
        <fields>
            <name>License_Info_Header</name>
            <fieldText>License Info</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>License_Info_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>License_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>12343</stringValue>
                    </defaultValue>
                    <fieldText>License Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>License_Info_Header_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contractor_Type</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Electrical Contractor</stringValue>
                    </defaultValue>
                    <fieldText>Contractor Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Results</name>
            <fieldText>&lt;p&gt;This is the license Number returned: &lt;strong&gt;{!LicenseNumberFromResults}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Is this license still valid? &quot;&lt;strong&gt; {!IsValidLicense}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Here is the expiration date: &lt;strong&gt;{!LicenseExpirationDate}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Here are the rest of my results: &lt;strong&gt;{!Return_Validation.2XX}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>License_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>INPUT_To_Post</name>
        <apexClass>ExternalService__CallNCLicensingBoard_Postx5fTox5fBoard_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsValidLicense</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LicenseExpirationDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LicenseNumberFromResults</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output_Of_Results</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestBodyINPUT</name>
        <apexClass>ExternalService__CallNCLicensingBoard_Postx5fTox5fBoard_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
