force-app/main/default/flows/Milestone_Emails_Mobile_Home_Permit.flow-meta.xml
<?xml version="1.0" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
  
    
  <apiVersion>64.0</apiVersion>
  
    
  <assignments>
    
        
    <name>Assign_Email_Template_1</name>
    
        
    <label>Assign Email Template</label>
    
        
    <locationX>0</locationX>
    
        
    <locationY>0</locationY>
    
        
    <assignmentItems>
      
            
      <assignToReference>Email_Template</assignToReference>
      
            
      <operator>Assign</operator>
      
            
      <value>
        
                
        <stringValue>Mobile_Home_Permit_1_Project_Submitted</stringValue>
        
            
      </value>
      
        
    </assignmentItems>
    
        
    <connector>
      <targetReference>Send_Email</targetReference>
    </connector>
  </assignments>
  
    
  <assignments>
    
        
    <name>Assign_Email_Template_2</name>
    
        
    <label>Assign Email Template</label>
    
        
    <locationX>0</locationX>
    
        
    <locationY>0</locationY>
    
        
    <assignmentItems>
      
            
      <assignToReference>Email_Template</assignToReference>
      
            
      <operator>Assign</operator>
      
            
      <value>
        
                
        <stringValue>Mobile_Home_Permit_3_Sufficiency_Pass_before_accepted_for_review</stringValue>
        
            
      </value>
      
        
    </assignmentItems>
    
        
    <connector>
      <targetReference>Send_Email</targetReference>
    </connector>
  </assignments>
  
    
  <assignments>
    
        
    <name>Assign_Email_Template_3</name>
    
        
    <label>Assign Email Template</label>
    
        
    <locationX>0</locationX>
    
        
    <locationY>0</locationY>
    
        
    <assignmentItems>
      
            
      <assignToReference>Email_Template</assignToReference>
      
            
      <operator>Assign</operator>
      
            
      <value>
        
                
        <stringValue>Mobile_Home_Permit_2_Sufficiency_Failure_before_accepted_for_review</stringValue>
        
            
      </value>
      
        
    </assignmentItems>
    
        
    <connector>
      <targetReference>Send_Email</targetReference>
    </connector>
  </assignments>
  
    
  <assignments>
    
        
    <name>Assign_Email_Template_5</name>
    
        
    <label>Assign Email Template</label>
    
        
    <locationX>0</locationX>
    
        
    <locationY>0</locationY>
    
        
    <assignmentItems>
      
            
      <assignToReference>Email_Template</assignToReference>
      
            
      <operator>Assign</operator>
      
            
      <value>
        
                
        <stringValue>Mobile_Home_Permit_6_Reviewed_Failed_without_TRC</stringValue>
        
            
      </value>
      
        
    </assignmentItems>
    
        
    <connector>
      <targetReference>Send_Email</targetReference>
    </connector>
  </assignments>
  
    
  <assignments>
    
        
    <name>Assign_Email_Template_6</name>
    
        
    <label>Assign Email Template</label>
    
        
    <locationX>0</locationX>
    
        
    <locationY>0</locationY>
    
        
    <assignmentItems>
      
            
      <assignToReference>Email_Template</assignToReference>
      
            
      <operator>Assign</operator>
      
            
      <value>
        
                
        <stringValue>Mobile_Home_Permit_5_Sufficiency_Pass_in_review_phase</stringValue>
        
            
      </value>
      
        
    </assignmentItems>
    
        
    <connector>
      <targetReference>Send_Email</targetReference>
    </connector>
  </assignments>
  
    
  <assignments>
    
        
    <name>Assign_Email_Template_7</name>
    
        
    <label>Assign Email Template</label>
    
        
    <locationX>0</locationX>
    
        
    <locationY>0</locationY>
    
        
    <assignmentItems>
      
            
      <assignToReference>Email_Template</assignToReference>
      
            
      <operator>Assign</operator>
      
            
      <value>
        
                
        <stringValue>Mobile_Home_Permit_4_Sufficiency_Failure_in_review_phase</stringValue>
        
            
      </value>
      
        
    </assignmentItems>
    
        
    <connector>
      <targetReference>Send_Email</targetReference>
    </connector>
  </assignments>
  
    
  <decisions>
    
        
    <name>Milestone_Results</name>
    
        
    <label>Milestone Results</label>
    
        
    <locationX>0</locationX>
    
        
    <locationY>0</locationY>
    
        
    <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
    
        
    <rules>
      
            
      <name>Submittal_Completed</name>
      
            
      <conditionLogic>and</conditionLogic>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.Name</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Sufficiency Check</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.MUSW__Status__c</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Pending</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.MUSW__Cycle__c</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <numberValue>1.0</numberValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.MUSW__Application2__r.MUSW__Phase__c</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Review</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <label>Submittal Completed</label>
      
        
      <connector>
        <targetReference>Assign_Email_Template_1</targetReference>
      </connector>
    </rules>
    
        
    <rules>
      
            
      <name>Sufficiency_Check_Approved</name>
      
            
      <conditionLogic>and</conditionLogic>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.Name</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Sufficiency Check</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.MUSW__Completed_Action__c</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Approved</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.MUSW__Application2__r.MUSW__Phase__c</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Sufficiency Check</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <label>Sufficiency Check Approved</label>
      
        
      <connector>
        <targetReference>Assign_Email_Template_2</targetReference>
      </connector>
    </rules>
    
        
    <rules>
      
            
      <name>Sufficiency_Check_Disapproved</name>
      
            
      <conditionLogic>and</conditionLogic>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.Name</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Sufficiency Check</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.MUSW__Completed_Action__c</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Corrections Required</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.MUSW__Application2__r.MUSW__Phase__c</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Sufficiency Check</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <label>Sufficiency Check Disapproved</label>
      
        
      <connector>
        <targetReference>Assign_Email_Template_3</targetReference>
      </connector>
    </rules>
    
        
    <rules>
      
            
      <name>Sufficiency_Check_2_Approved</name>
      
            
      <conditionLogic>and</conditionLogic>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.Name</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Sufficiency Check</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.MUSW__Completed_Action__c</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Approved</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.MUSW__Application2__r.MUSW__Phase__c</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Review</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <label>Sufficiency Check 2 Approved</label>
      
        
      <connector>
        <targetReference>Assign_Email_Template_6</targetReference>
      </connector>
    </rules>
    
        
    <rules>
      
            
      <name>Sufficiency_Check_Disapproved_2</name>
      
            
      <conditionLogic>and</conditionLogic>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.Name</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Sufficiency Check</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.MUSW__Completed_Action__c</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Corrections Required</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.MUSW__Application2__r.MUSW__Phase__c</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Review</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <label>Sufficiency Check Disapproved 2</label>
      
        
      <connector>
        <targetReference>Assign_Email_Template_7</targetReference>
      </connector>
    </rules>
    
        
    <rules>
      
            
      <name>Review_Approved</name>
      
            
      <conditionLogic>and</conditionLogic>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.Name</leftValueReference>
        
                
        <operator>Contains</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Review</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.MUSW__Completed_Action__c</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Approved</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <label>Review Approved</label>
      
        
    </rules>
    
        
    <rules>
      
            
      <name>Review_Disapproved</name>
      
            
      <conditionLogic>and</conditionLogic>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.Name</leftValueReference>
        
                
        <operator>Contains</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Review</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <conditions>
        
                
        <leftValueReference>Milestone.MUSW__Completed_Action__c</leftValueReference>
        
                
        <operator>EqualTo</operator>
        
                
        <rightValue>
          
                    
          <stringValue>Corrections Required</stringValue>
          
                
        </rightValue>
        
            
      </conditions>
      
            
      <label>Review Disapproved</label>
      
        
      <connector>
        <targetReference>Assign_Email_Template_5</targetReference>
      </connector>
    </rules>
    
    
  </decisions>
  
    
  <environments>Default</environments>
  
    
  <interviewLabel>Milestone Emails - Mobile Home Permit {!$Flow.CurrentDateTime}</interviewLabel>
  
    
  <label>Milestone Emails - Mobile Home Permit</label>
  
    
  <processMetadataValues>
    
        
    <name>BuilderType</name>
    
        
    <value>
      
            
      <stringValue>LightningFlowBuilder</stringValue>
      
        
    </value>
    
    
  </processMetadataValues>
  
    
  <processMetadataValues>
    
        
    <name>CanvasMode</name>
    
        
    <value>
      
            
      <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
      
        
    </value>
    
    
  </processMetadataValues>
  
    
  <processMetadataValues>
    
        
    <name>OriginBuilderType</name>
    
        
    <value>
      
            
      <stringValue>LightningFlowBuilder</stringValue>
      
        
    </value>
    
    
  </processMetadataValues>
  
    
  <processType>AutoLaunchedFlow</processType>
  
    
  <start>
    
        
    <locationX>0</locationX>
    
        
    <locationY>0</locationY>
    
        
    <connector>
      
            
      <targetReference>Milestone_Results</targetReference>
      
        
    </connector>
    
    
  </start>
  
    
  <status>Active</status>
  
    
  <subflows>
    
        
    <name>Send_Email</name>
    
        
    <label>Send Email</label>
    
        
    <locationX>0</locationX>
    
        
    <locationY>0</locationY>
    
        
    <flowName>Email_Autolaunched_Flow</flowName>
    
        
    <inputAssignments>
      
            
      <name>Email_Template</name>
      
            
      <value>
        
                
        <elementReference>Email_Template</elementReference>
        
            
      </value>
      
        
    </inputAssignments>
    
        
    <inputAssignments>
      
            
      <name>Permit</name>
      
            
      <value>
        
                
        <elementReference>Permit</elementReference>
        
            
      </value>
      
        
    </inputAssignments>
    
        
    <inputAssignments>
      
            
      <name>Related_Record_Id</name>
      
            
      <value>
        
                
        <elementReference>Related_Record_Id</elementReference>
        
            
      </value>
      
        
    </inputAssignments>
    
    
  </subflows>
  
    
  <variables>
    
        
    <name>Email_Template</name>
    
        
    <dataType>String</dataType>
    
        
    <isCollection>false</isCollection>
    
        
    <isInput>false</isInput>
    
        
    <isOutput>true</isOutput>
    
    
  </variables>
  
    
  <variables>
    
        
    <name>Milestone</name>
    
        
    <dataType>SObject</dataType>
    
        
    <isCollection>false</isCollection>
    
        
    <isInput>true</isInput>
    
        
    <isOutput>false</isOutput>
    
        
    <objectType>MUSW__Milestone__c</objectType>
    
    
  </variables>
  
    
  <variables>
    
        
    <description>Permit</description>
    
        
    <name>Permit</name>
    
        
    <dataType>SObject</dataType>
    
        
    <isCollection>false</isCollection>
    
        
    <isInput>true</isInput>
    
        
    <isOutput>true</isOutput>
    
        
    <objectType>MUSW__Permit2__c</objectType>
    
    
  </variables>
  
    
  <variables>
    
        
    <name>Related_Record_Id</name>
    
        
    <dataType>String</dataType>
    
        
    <isCollection>false</isCollection>
    
        
    <isInput>true</isInput>
    
        
    <isOutput>true</isOutput>
    
    
  </variables>
  

</Flow>
