force-app/main/default/flows/Permit_Add_work_items_backoffice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_work_item_to_a_collection</name>
        <label>Assign work item to a collection</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>work_item_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>work_item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_work_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Work_Item_Assignment_to_Filtered_results</name>
        <label>Update Work Item Assignment to Filtered results</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Work_Item_Template_Collection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_out_Work_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Work_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>for each work item template we are creating a work item variable to tie to the permit</description>
        <name>Work_Item_assignment</name>
        <label>Work Item assignment</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>work_item.MUSW__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_selected_work_items.MUSW__Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>work_item.MUSW__Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_selected_work_items.MUSW__Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>work_item.MUSW__Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_selected_work_items.MUSW__Unit_of_Measure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>work_item.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_selected_work_items.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>work_item.MUSW__Permit2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>permitid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_work_item_to_a_collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_out_Work_Items</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter out Work Items</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>currentItem_Filter_out_Work_Items</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Work_Item_Template_Collection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_out_Work_Items.MUSW__Permit_Types__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>Permit.MUSW__Type__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Update_Work_Item_Assignment_to_Filtered_results</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>{ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Permit) - Add work items backoffice</label>
    <loops>
        <name>Loop_through_selected_work_items</name>
        <label>Loop through selected work items</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <collectionReference>selected_work_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Work_Item_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Edit_Work_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_work_Items</name>
        <label>Create work Items</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <inputReference>work_item_collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_all_Work_Items_from_Template</name>
        <label>Get all Work Items from Template</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_out_Work_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Object_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MUSW__Permit2__c</stringValue>
            </value>
        </filters>
        <object>MUSW__Master_Work_Item_List__c</object>
        <outputReference>Work_Item_Template_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Category__c</queriedFields>
        <queriedFields>MUSW__Description__c</queriedFields>
        <queriedFields>MUSW__Unit_of_Measure__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Help_Text__c</queriedFields>
        <queriedFields>MUSW__Permit_Type__c</queriedFields>
        <queriedFields>MUSW__Record_Type__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Permit_Record</name>
        <label>Get Permit Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Work_Items_from_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>permitid</elementReference>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <outputReference>Permit</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Work_Type2__c</queriedFields>
        <queriedFields>MUSW__Type__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Edit_Work_Items</name>
        <label>Edit Work Items</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_work_Items</targetReference>
        </connector>
        <fields>
            <name>Editworkitemsheader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;Enter Work Item Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Enter the details below for each work Item. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_Work_Item_Template_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Work_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:customDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>MUSW__Work_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>work_item_collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>MUSW__Category__c,MUSW__Description__c,MUSW__Unit__c,MUSW__Quantity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>MUSW__Unit__c:true,MUSW__Quantity__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <stringValue>012000000000000AAA</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>work_item_collection</assignToReference>
                <name>tableData</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Work_Items</name>
        <label>Select Work Items</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_through_selected_work_items</targetReference>
        </connector>
        <fields>
            <name>addworkitemsheader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;Select Work Items&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Select your work items from the list below&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Item_Template_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Master_Work_Item_List__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:customDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>MUSW__Master_Work_Item_List__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Work_Item_Template_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <stringValue>012000000000000AAA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>MUSW__Category__c,MUSW__Description__c,MUSW__Unit_of_Measure__c,MUSW__Help_Text__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selected_work_items</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Permit_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_out_Work_Items</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Work_Item_List__c</objectType>
    </variables>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>permitid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_work_items</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Work_Item_List__c</objectType>
    </variables>
    <variables>
        <name>work_item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Work_Item__c</objectType>
    </variables>
    <variables>
        <name>work_item_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Work_Item__c</objectType>
    </variables>
    <variables>
        <name>Work_Item_Template_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Work_Item_List__c</objectType>
    </variables>
</Flow>
