force-app/main/default/flows/Permit_Intake_Update_Create_Locations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Application_Location_To_Collection</name>
        <label>Add Application Location To Collection</label>
        <locationX>270</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>ApplicationLocationCollectionToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleApplicationLocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_and_Associate_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Contact_Collection</name>
        <label>Add To Contact Collection</label>
        <locationX>270</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>ApplicationContactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Application_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_and_Associate_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Contact_Collection2</name>
        <label>Add To Contact Collection</label>
        <locationX>534</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>ApplicationContactsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Application_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_and_Associate_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Proposed_Street_Collection</name>
        <label>Add to Proposed Street Collection</label>
        <locationX>138</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>Proposed_Street_Names_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Proposed_Street_Name_Single_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Proposed_Street_Names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_Contact_To_Permit</name>
        <label>Assign Application Contact To Permit</label>
        <locationX>402</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>Single_Application_Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_Associate_Contacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Application_Contact.MUSW__Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_Location_to_Permit</name>
        <label>Assign Application Location to Permit</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>SingleApplicationLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_Associate_Locations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleApplicationLocation.MUSW__Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Application_Location_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_to_Attestation_Consent</name>
        <label>Assign Application to Attestation Consent</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Attestation_Result.MUSW__Permit2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Attestation_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Proposed_Street_Name_to_Application</name>
        <label>Assign Proposed Street Name to Application</label>
        <locationX>138</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>Proposed_Street_Name_Single_Variable.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Proposed_Street_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sign_to_Permit</name>
        <label>Assign Sign to Permit</label>
        <locationX>138</locationX>
        <locationY>3938</locationY>
        <assignmentItems>
            <assignToReference>Sign_Single_Variable.Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Sign_to_Create_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Structure_to_Permit</name>
        <label>Assign Structure to Permit</label>
        <locationX>138</locationX>
        <locationY>3122</locationY>
        <assignmentItems>
            <assignToReference>Structure_Single_Variable.Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Structures_To_Create_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_new_Single_Sign_Variable</name>
        <label>Assign to new Single Sign Variable</label>
        <locationX>138</locationX>
        <locationY>3830</locationY>
        <assignmentItems>
            <assignToReference>Sign_Single_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Signs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Sign_to_Permit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_new_single_variable</name>
        <label>Assign to new single variable</label>
        <locationX>138</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>Proposed_Street_Name_Single_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Proposed_Street_Names</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Proposed_Street_Name_to_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_New_Single_Variable_Structure</name>
        <label>Assign to New Single Variable</label>
        <locationX>138</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>Structure_Single_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Structures</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Structure_to_Permit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Sign_to_Create_Collection</name>
        <label>Assign to Sign to Create Collection</label>
        <locationX>138</locationX>
        <locationY>4046</locationY>
        <assignmentItems>
            <assignToReference>Sign_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sign_Single_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Signs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Structures_To_Create_Collection</name>
        <label>Assign To Structures To Create Collection</label>
        <locationX>138</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>Structures_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Structure_Single_Variable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Structures</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Created</name>
        <label>Contact Created</label>
        <locationX>402</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Add_To_Contact_Collection2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Single_Application_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Contact_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Sign_Records</name>
        <label>Create Sign Records</label>
        <locationX>182</locationX>
        <locationY>3614</locationY>
        <defaultConnector>
            <targetReference>Application_Success_V1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Sign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sign_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Signs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Structure_Records</name>
        <label>Create Structure Records</label>
        <locationX>182</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>Create_Sign_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Structures</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Structure_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Structures</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Street_Name_Type_Application</name>
        <label>Street Name Type Application</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Create_Structure_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Street_Name_Or_Rename</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Proposed_Street_Names_Selected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Proposed_Street_Names</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Attestation_Required</name>
        <label>Was Attestation Required</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Loop_and_Associate_Locations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Attestation_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attestation_Result</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Application_to_Attestation_Consent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>JRS - adding Signs object</description>
    <environments>Default</environments>
    <interviewLabel>Permit Intake (Update/Create Locations) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Permit Intake (Update/Create Locations)</label>
    <loops>
        <name>Loop_and_Associate_Contacts</name>
        <label>Loop and Associate Contacts</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <collectionReference>Contact_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Application_Contact_To_Permit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_and_Associate_Locations</name>
        <label>Loop and Associate Locations</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <collectionReference>ApplicationLocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Application_Location_to_Permit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Application_Location_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Proposed_Street_Names</name>
        <label>Loop Through Proposed Street Names</label>
        <locationX>50</locationX>
        <locationY>2090</locationY>
        <collectionReference>Proposed_Street_Names_Selected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_new_single_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Signs</name>
        <label>Loop through Signs</label>
        <locationX>50</locationX>
        <locationY>3722</locationY>
        <collectionReference>Sign_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_new_Single_Sign_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Signs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Structures</name>
        <label>Loop Through Structures</label>
        <locationX>50</locationX>
        <locationY>2906</locationY>
        <collectionReference>Structure_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_New_Single_Variable_Structure</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Structures</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attestation_Consent</name>
        <label>Create Attestation Consent</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Loop_and_Associate_Locations</targetReference>
        </connector>
        <inputReference>Attestation_Result</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contacts</name>
        <label>Create Contacts</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>Street_Name_Type_Application</targetReference>
        </connector>
        <inputReference>ApplicationContactsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create Records 1</label>
        <locationX>50</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Create_Structure_Records</targetReference>
        </connector>
        <inputReference>Proposed_Street_Names_To_Update</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Signs</name>
        <label>Create Signs</label>
        <locationX>50</locationX>
        <locationY>4238</locationY>
        <connector>
            <targetReference>Application_Success_V1</targetReference>
        </connector>
        <inputReference>Sign_To_Create</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Structures</name>
        <label>Create Structures</label>
        <locationX>50</locationX>
        <locationY>3422</locationY>
        <connector>
            <targetReference>Create_Sign_Records</targetReference>
        </connector>
        <inputReference>Structures_To_Create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Template_Fees</name>
        <label>Get Template Fees</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Attestation_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Permit.MUSW__Type2__c</elementReference>
            </value>
        </filters>
        <object>MUSW__Master_Fee_List__c</object>
        <outputReference>Fee_Template_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Standard_Price__c</queriedFields>
        <queriedFields>MUSW__Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Location_Collection</name>
        <label>Update Application Location Collection</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Loop_and_Associate_Contacts</targetReference>
        </connector>
        <inputReference>ApplicationLocationCollectionToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Create_Contacts</targetReference>
        </connector>
        <inputReference>ApplicationContactsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Template_Fees</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Application_Success_V1</name>
        <label>Application Success V1</label>
        <locationX>182</locationX>
        <locationY>4430</locationY>
        <flowName>Application_Success_V1</flowName>
        <inputAssignments>
            <name>Permit_Id</name>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>ApplicationContactsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>ApplicationContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>ApplicationLocationCollectionToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>ApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Result</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>Contact_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Fee_Template_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Fee_List__c</objectType>
    </variables>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Proposed_Street_Name_Single_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Proposed_Street_Name__c</objectType>
    </variables>
    <variables>
        <name>Proposed_Street_Names_Selected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Proposed_Street_Name__c</objectType>
    </variables>
    <variables>
        <name>Proposed_Street_Names_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Proposed_Street_Name__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sign_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sign__c</objectType>
    </variables>
    <variables>
        <name>Sign_Single_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sign__c</objectType>
    </variables>
    <variables>
        <name>Sign_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sign__c</objectType>
    </variables>
    <variables>
        <name>Single_Application_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>SingleApplicationLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Structure_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Structure__c</objectType>
    </variables>
    <variables>
        <name>Structure_Single_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Structure__c</objectType>
    </variables>
    <variables>
        <name>Structures_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Structure__c</objectType>
    </variables>
</Flow>
