force-app/main/default/flows/Permit_Flow_Trade_Permit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Design_Professional_Role</name>
        <label>Assign Design Professional Role</label>
        <locationX>1826</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Design_Professional_Role.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Design Professional</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_contact_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Job_Costs</name>
        <label>Assign Job Costs</label>
        <locationX>1491</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>FireJobCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Cost_for_Fire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ElectricalJobCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Cost_for_Electrical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MechanicalJobCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Cost_for_Mechanical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PlumbingJobCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Cost_for_Plumbing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plumbing_was_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning Record Type Id to Variable so it can be used in the Quick Choice &quot;Filter by Record Type Id&quot; field.</description>
        <name>Assign_Record_Type_Id</name>
        <label>Assign Record Type Id</label>
        <locationX>1826</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Record_Type_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trade_Permit_Project_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_contact_collection</name>
        <label>Assign to contact collection</label>
        <locationX>1826</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Design_Professional_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Design_Professional_Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Field_Values_to_Permit</name>
        <label>Copy 1 of Assign Field Values to Permit</label>
        <locationX>1227</locationX>
        <locationY>3590</locationY>
        <assignmentItems>
            <assignToReference>Permit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Trade_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Trade_s_residential_cb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_Electrical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Cost_for_Electrical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_Mechanical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Cost_for_Mechanical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_Plumbing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Cost_for_Plumbing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Is_the_Applicant_the_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_the_property_owner_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Occupying_for_at_least_1_year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_you_occupy_the_property_for_at_least_1_year_after_obtaining_the_Certificate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Do_you_have_an_Owner_s_Consent_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_a_completed_Owner_s_Consent_Form</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Do_you_have_a_licensed_contractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_a_licensed_contractor_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Does_scope_of_work_include_the_following__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_your_scope_of_work_include_Fire_Suppression_Relocation_extension_modificati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Location_of_Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Locations_of_Work_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Floodplain_Onsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Floodplain_Onsite_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Stream_wetland_onsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stream_wetland_on_site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Power_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Power_Provider_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Will_you_need_power_disconnect_reconnect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_you_need_Power_Disconnect_and_Reconnect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Water_source_provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Water_Source_Provider_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Size_of_water_meter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Size_of_Water_Meter_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Use_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Use_Class_Field.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Valuation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalCalculatedJobCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Natural_Gas_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Natural_Gas_System</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Existing_Gas_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_or_Existing_Utility_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Existing_Water_Sewer_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_or_Existing_Water_Source</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Trade_Permit_Values</name>
        <label>Copy 1 of Assign Trade Permit Values</label>
        <locationX>1227</locationX>
        <locationY>3482</locationY>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Use_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Use_Class_Field.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Trade_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Trade_s_residential_cb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_Electrical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Cost_for_Electrical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_General__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Currency_for_General</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_Mechanical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Cost_for_Mechanical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_Plumbing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Cost_for_Plumbing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Is_the_Applicant_the_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_the_property_owner_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Occupying_for_at_least_1_year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_you_occupy_the_property_for_at_least_1_year_after_obtaining_the_Certificate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Do_you_have_an_Owner_s_Consent_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_a_completed_Owner_s_Consent_Form</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Do_you_have_a_licensed_contractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_a_licensed_contractor_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Does_scope_of_work_include_the_following__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_your_scope_of_work_include_Fire_Suppression_Relocation_extension_modificati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Location_of_Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Locations_of_Work_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Floodplain_Onsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Floodplain_Onsite_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Stream_wetland_onsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stream_wetland_on_site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Power_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Power_Provider_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Will_you_need_power_disconnect_reconnect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_you_need_Power_Disconnect_and_Reconnect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Water_source_provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Water_Source_Provider_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Size_of_water_meter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Size_of_Water_Meter_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Natural_Gas_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Natural_Gas_System</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Residential_Or_Commercial_Dependent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Residential</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Valuation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalCalculatedJobCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Existing_Gas_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_or_Existing_Utility_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Existing_Water_Sewer_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_or_Existing_Water_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Work_Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trade</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Underground_Electrical_Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_any_underground_electrical_work_be_performed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Description_of_Proposed_Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_of_Proposed_Work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Location_s_of_Work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Primary_Electric_Contractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetElecPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Primary_General_Contractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetGeneralPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Primary_Mechanical_Contractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetMechPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Primary_Plumbing_Contractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetPlumbingPrimary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Field_Values_to_Permit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Elec_Not_Primary</name>
        <label>Copy 1 of Elec Not Primary</label>
        <locationX>1370</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>PrimaryElec</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Plumbing_Sub</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_General_not_Primary</name>
        <label>Copy 1 of General not Primary</label>
        <locationX>490</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>PrimaryGeneral</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plumbing_Sub</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Mech_Not_Primary</name>
        <label>Copy 1 of Mech Not Primary</label>
        <locationX>490</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>PrimaryMech</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_General_Sub</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Plumbing_not_Primary</name>
        <label>Copy 1 of Plumbing not Primary</label>
        <locationX>930</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>PrimaryPlumb</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Residential_or_Commercial1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Field_Values_to_Permit</name>
        <label>Copy 2 of Assign Field Values to Permit</label>
        <locationX>1491</locationX>
        <locationY>3590</locationY>
        <assignmentItems>
            <assignToReference>Permit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Trade_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Trades_commercial_cb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_Electrical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Cost_for_Electrical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_Mechanical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Cost_for_Mechanical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_Plumbing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Cost_for_Plumbing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Is_the_Applicant_the_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_the_property_owner_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Occupying_for_at_least_1_year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_you_occupy_the_property_for_at_least_1_year_after_obtaining_the_Certificate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Do_you_have_an_Owner_s_Consent_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_a_completed_Owner_s_Consent_Form</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Do_you_have_a_licensed_contractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_a_licensed_contractor_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Does_scope_of_work_include_the_following__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_your_scope_of_work_include_Fire_Suppression_Relocation_extension_modificati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Location_of_Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Locations_of_Work_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Floodplain_Onsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Floodplain_Onsite_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Stream_wetland_onsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stream_wetland_on_site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Power_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Power_Provider_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Will_you_need_power_disconnect_reconnect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_you_need_Power_Disconnect_and_Reconnect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Water_source_provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Water_Source_Provider_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Size_of_water_meter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Size_of_Water_Meter_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Use_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Use_Class_Field.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Valuation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalCalculatedJobCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Natural_Gas_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Natural_Gas_System</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Existing_Gas_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_or_Existing_Utility_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Existing_Water_Sewer_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_or_Existing_Water_Source</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Trade_Permit_Values</name>
        <label>Copy 2 of Assign Trade Permit Values</label>
        <locationX>1491</locationX>
        <locationY>3482</locationY>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Use_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Use_Class_Field.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Trade_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Trades_commercial_cb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_Electrical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Cost_for_Electrical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_General__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Currency_for_General</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_Mechanical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Cost_for_Mechanical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_Plumbing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Total_Cost_for_Plumbing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Is_the_Applicant_the_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_the_property_owner_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Occupying_for_at_least_1_year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_you_occupy_the_property_for_at_least_1_year_after_obtaining_the_Certificate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Do_you_have_an_Owner_s_Consent_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_a_completed_Owner_s_Consent_Form</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Do_you_have_a_licensed_contractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_have_a_licensed_contractor_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Does_scope_of_work_include_the_following__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_your_scope_of_work_include_Fire_Suppression_Relocation_extension_modificati</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Location_of_Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Locations_of_Work_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Floodplain_Onsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Floodplain_Onsite_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Stream_wetland_onsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stream_wetland_on_site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Power_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Power_Provider_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Will_you_need_power_disconnect_reconnect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_you_need_Power_Disconnect_and_Reconnect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Water_source_provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Water_Source_Provider_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Size_of_water_meter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Size_of_Water_Meter_rb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Valuation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalCalculatedJobCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Natural_Gas_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Natural_Gas_System</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Residential_Or_Commercial_Dependent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Commercial</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Existing_Gas_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_or_Existing_Utility_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Existing_Water_Sewer_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_or_Existing_Water_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Work_Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trade</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Underground_Electrical_Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_any_underground_electrical_work_be_performed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Description_of_Proposed_Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_of_Proposed_Work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Location_s_of_Work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Primary_Electric_Contractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetElecPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Primary_General_Contractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetGeneralPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Primary_Mechanical_Contractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetMechPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Primary_Plumbing_Contractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetPlumbingPrimary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_Field_Values_to_Permit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Elec_Not_Primary</name>
        <label>Copy 2 of Elec Not Primary</label>
        <locationX>930</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>PrimaryElec</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_General_Sub</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_General_not_Primary</name>
        <label>Copy 2 of General not Primary</label>
        <locationX>930</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>PrimaryGeneral</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Plumbing_Sub</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Mech_Not_Primary</name>
        <label>Copy 2 of Mech Not Primary</label>
        <locationX>1370</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>PrimaryMech</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Electrical_Sub</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Plumbing_not_Primary</name>
        <label>Copy 2 of Plumbing not Primary</label>
        <locationX>1370</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>PrimaryPlumb</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Residential_or_Commercial1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Elec_Not_Primary</name>
        <label>Elec Not Primary</label>
        <locationX>50</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>PrimaryElec</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>General_Sub</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Electrical_True</name>
        <label>Electrical True</label>
        <locationX>1359</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>ElectricalSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>General_was_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>General_not_Primary</name>
        <label>General not Primary</label>
        <locationX>50</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>PrimaryGeneral</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Residential_or_Commercial1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>General_True</name>
        <label>General True</label>
        <locationX>1359</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>GeneralSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Same_Contractor_for_two_trades_expected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mech_Not_Primary</name>
        <label>Mech Not Primary</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>PrimaryMech</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Electrical_Sub</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mechanical_True</name>
        <label>Mechanical True</label>
        <locationX>1359</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>MechanicalSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Electrical_was_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plumbing_not_Primary</name>
        <label>Plumbing not Primary</label>
        <locationX>490</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>PrimaryPlumb</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Residential_or_Commercial1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Plumbing_True</name>
        <label>Plumbing True</label>
        <locationX>1359</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>PlumbingSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mechanical_was_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>trade_not_selected</name>
        <label>trade not selected</label>
        <locationX>2162</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TradesNotSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Trade_Permit_Project_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>trades_were_selected_variable</name>
        <label>trades were selected variable</label>
        <locationX>1491</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TradesNotSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Job_Costs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Base_Flood_Elevation</name>
        <choiceText>Base Flood Elevation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Base Flood Elevation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Base_Flood_Elevation_Feet_Mean_Sea_Level</name>
        <choiceText>Base Flood Elevation (Feet, Mean Sea Level)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Base Flood Elevation (Feet, Mean Sea Level)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Check</name>
        <choiceText>Check</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Check</stringValue>
        </value>
    </choices>
    <choices>
        <name>Commercial</name>
        <choiceText>Commercial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Commercial_Site</name>
        <choiceText>Commercial Site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial Site</stringValue>
        </value>
    </choices>
    <choices>
        <name>Electrical</name>
        <choiceText>Electrical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electrical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing</name>
        <choiceText>Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing_Structure</name>
        <choiceText>Existing Structure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Structure</stringValue>
        </value>
    </choices>
    <choices>
        <name>FEMA_Case_Number</name>
        <choiceText>FEMA Case Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FEMA Case Number</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fill</name>
        <choiceText>Fill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fill</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fire</name>
        <choiceText>Fire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fire</stringValue>
        </value>
    </choices>
    <choices>
        <name>General</name>
        <choiceText>General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>Industrial</name>
        <choiceText>Industrial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Industrial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Letter_of_Credit</name>
        <choiceText>Letter of Credit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter of Credit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Louvers</name>
        <choiceText>Louvers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Louvers</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mechanical</name>
        <choiceText>Mechanical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mechanical</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>NAVD_1988</name>
        <choiceText>NAVD 1988</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NAVD 1988</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Structure</name>
        <choiceText>New Structure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Structure</stringValue>
        </value>
    </choices>
    <choices>
        <name>NGVD_1929</name>
        <choiceText>NGVD 1929</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NGVD 1929</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Performance_Bond</name>
        <choiceText>Performance Bond</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Performance Bond</stringValue>
        </value>
    </choices>
    <choices>
        <name>Plumbing</name>
        <choiceText>Plumbing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plumbing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Residential</name>
        <choiceText>Residential</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Residential</stringValue>
        </value>
    </choices>
    <choices>
        <name>Residential_Subdivision</name>
        <choiceText>Residential Subdivision</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Residential Subdivision</stringValue>
        </value>
    </choices>
    <choices>
        <name>Screens</name>
        <choiceText>Screens</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Screens</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Family_Residence</name>
        <choiceText>Single Family Residence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Family Residence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solid_Foundation_Perimeter_Walls</name>
        <choiceText>Solid Foundation Perimeter Walls</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solid Foundation Perimeter Walls</stringValue>
        </value>
    </choices>
    <choices>
        <name>Valves</name>
        <choiceText>Valves</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Valves</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>Building_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Building Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contractor_Information</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contractor Information</stringValue>
        </value>
    </constants>
    <constants>
        <description>Driveway Permit Constant</description>
        <name>Driveway_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Driveway Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Permit_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MUSW__Permit2__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Quick_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Quick Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Stage_Confirmation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirmation</stringValue>
        </value>
    </constants>
    <constants>
        <name>Stage_Project_Details</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Details</stringValue>
        </value>
    </constants>
    <constants>
        <name>Trade_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Trade Permit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Copy_1_of_Electrical_Sub</name>
        <label>Copy 1 of Electrical Sub</label>
        <locationX>1502</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Plumbing_Sub</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Sub_Elec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ElectricalSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_select_the_secondary_trade_s_that_the_contractor_shares4</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Electrical</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Elec_Not_Primary</targetReference>
            </connector>
            <label>Copy 1 of Sub Elec</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_General_Sub</name>
        <label>Copy 1 of General Sub</label>
        <locationX>622</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Plumbing_Sub</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Sub_General</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GeneralSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_select_the_secondary_trade_s_that_the_contractor_shares3</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>General</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_General_not_Primary</targetReference>
            </connector>
            <label>Copy 1 of Sub General</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Mechanical_Sub</name>
        <label>Copy 1 of Mechanical Sub</label>
        <locationX>622</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_General_Sub</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Sub_Mech</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MechanicalSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_select_the_secondary_trade_s_that_the_contractor_shares3</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Mechanical</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Mech_Not_Primary</targetReference>
            </connector>
            <label>Copy 1 of Sub Mech</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Plumbing_Sub</name>
        <label>Copy 1 of Plumbing Sub</label>
        <locationX>1062</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>Residential_or_Commercial1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Sub_Plumb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlumbingSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_select_the_secondary_trade_s_that_the_contractor_shares2</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Plumbing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Plumbing_not_Primary</targetReference>
            </connector>
            <label>Copy 1 of Sub Plumb</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Electrical_Sub</name>
        <label>Copy 2 of Electrical Sub</label>
        <locationX>1062</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_General_Sub</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Sub_Elec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ElectricalSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_select_the_secondary_trade_s_that_the_contractor_shares2</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Electrical</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Elec_Not_Primary</targetReference>
            </connector>
            <label>Copy 2 of Sub Elec</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_General_Sub</name>
        <label>Copy 2 of General Sub</label>
        <locationX>1062</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Plumbing_Sub</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Sub_General</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GeneralSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_select_the_secondary_trade_s_that_the_contractor_shares2</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>General</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_General_not_Primary</targetReference>
            </connector>
            <label>Copy 2 of Sub General</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Mechanical_Sub</name>
        <label>Copy 2 of Mechanical Sub</label>
        <locationX>1502</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Electrical_Sub</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Sub_Mech</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MechanicalSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_select_the_secondary_trade_s_that_the_contractor_shares4</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Mechanical</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Mech_Not_Primary</targetReference>
            </connector>
            <label>Copy 2 of Sub Mech</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Plumbing_Sub</name>
        <label>Copy 2 of Plumbing Sub</label>
        <locationX>1502</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>Residential_or_Commercial1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Sub_Plumb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlumbingSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_select_the_secondary_trade_s_that_the_contractor_shares4</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Plumbing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Plumbing_not_Primary</targetReference>
            </connector>
            <label>Copy 2 of Sub Plumb</label>
        </rules>
    </decisions>
    <decisions>
        <name>Electrical_Sub</name>
        <label>Electrical Sub</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>General_Sub</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sub_Elec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ElectricalSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_select_the_secondary_trade_s_that_the_contractor_shares1</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Electrical</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Elec_Not_Primary</targetReference>
            </connector>
            <label>Sub Elec</label>
        </rules>
    </decisions>
    <decisions>
        <name>Electrical_was_selected</name>
        <label>Electrical was selected</label>
        <locationX>1491</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>General_was_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Electrical</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Electrical</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Electrical</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Electrical_True</targetReference>
            </connector>
            <label>Selected Electrical</label>
        </rules>
    </decisions>
    <decisions>
        <name>General_Sub</name>
        <label>General Sub</label>
        <locationX>182</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>Residential_or_Commercial1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sub_General</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GeneralSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_select_the_secondary_trade_s_that_the_contractor_shares1</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>General</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_not_Primary</targetReference>
            </connector>
            <label>Sub General</label>
        </rules>
    </decisions>
    <decisions>
        <name>General_was_selected</name>
        <label>General was selected</label>
        <locationX>1491</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Same_Contractor_for_two_trades_expected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_General</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_True</targetReference>
            </connector>
            <label>Selected General</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mechanical_Sub</name>
        <label>Mechanical Sub</label>
        <locationX>182</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>Electrical_Sub</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sub_Mech</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MechanicalSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_select_the_secondary_trade_s_that_the_contractor_shares1</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Mechanical</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mech_Not_Primary</targetReference>
            </connector>
            <label>Sub Mech</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mechanical_was_selected</name>
        <label>Mechanical was selected</label>
        <locationX>1491</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Electrical_was_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Mechanical</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Mechanical</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Mechanical</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mechanical_True</targetReference>
            </connector>
            <label>Selected Mechanical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plumbing_Sub</name>
        <label>Plumbing Sub</label>
        <locationX>622</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>Residential_or_Commercial1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sub_Plumb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlumbingSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Please_select_the_secondary_trade_s_that_the_contractor_shares3</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Plumbing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plumbing_not_Primary</targetReference>
            </connector>
            <label>Sub Plumb</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plumbing_was_selected</name>
        <label>Plumbing was selected</label>
        <locationX>1491</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Mechanical_was_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Plumbing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Plumbing</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Plumbing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plumbing_True</targetReference>
            </connector>
            <label>Selected Plumbing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Residential_or_Commercial1</name>
        <label>Residential or Commercial1</label>
        <locationX>1491</locationX>
        <locationY>3374</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Residential1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Use_Class_Field.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Residential</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Trade_Permit_Values</targetReference>
            </connector>
            <label>Residential</label>
        </rules>
        <rules>
            <name>Commercial1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Use_Class_Field.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Commercial</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Trade_Permit_Values</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Contractor_for_two_trades_expected</name>
        <label>Same Contractor for multiple trades expected?</label>
        <locationX>1491</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Residential_or_Commercial1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_any_trades_going_to_have_the_same_contractor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Primary_Trade_was_selected</targetReference>
            </connector>
            <label>Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_trades_selected</name>
        <label>Were trades selected?</label>
        <locationX>1826</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>trade_not_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>trades_were_selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Electrical</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Mechanical</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Plumbing</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Fire</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Electrical</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Mechanical</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Plumbing</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Fire</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>trades_were_selected_variable</targetReference>
            </connector>
            <label>trades were selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Primary_Trade_was_selected</name>
        <label>Which Primary Trade was selected</label>
        <locationX>996</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Residential_or_Commercial1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plumbing_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_primary_contractor_s_trade_based_off_the_highest_Project_Total</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Plumbing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mechanical_Sub</targetReference>
            </connector>
            <label>Plumbing Primary</label>
        </rules>
        <rules>
            <name>Electrical_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_primary_contractor_s_trade_based_off_the_highest_Project_Total</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Electrical</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Mechanical_Sub</targetReference>
            </connector>
            <label>Electrical Primary</label>
        </rules>
        <rules>
            <name>Mechanical_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_primary_contractor_s_trade_based_off_the_highest_Project_Total</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mechanical</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Electrical_Sub</targetReference>
            </connector>
            <label>Mechanical Primary</label>
        </rules>
        <rules>
            <name>General_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_the_primary_contractor_s_trade_based_off_the_highest_Project_Total</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>General</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Mechanical_Sub</targetReference>
            </connector>
            <label>General Primary</label>
        </rules>
    </decisions>
    <description>BC - Added Record Type Id assignment</description>
    <dynamicChoiceSets>
        <name>ApplicationOwnerYesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_the_Applicant_the_Owner__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Are_you_the_property_owner</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_the_Applicant_the_Owner__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Construction_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Construction_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contractor_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Contractor_Type__c</picklistField>
        <picklistObject>MUSW__Permit_Contractor__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Do_you_have_a_completed_owners_consent_form</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_have_an_Owner_s_Consent_Form__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>do_you_have_a_licensed_contractor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_have_a_licensed_contractor__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>existing_water_sewer_source_yesno</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Existing_Water_Sewer_Services__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>floodplain_onsite</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Floodplain_Onsite__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>locations_of_work</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Location_of_Work__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>natl_gas_system</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Natural_Gas_System__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Occupy_property_after_1_year</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Occupying_for_at_least_1_year__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Power_provider</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Power_Provider__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Residential_Or_Commercial</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Residential_Commercial__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>scope_of_work_confirmation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_scope_of_work_include_the_following__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SitePlanYesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Has_a_Site_Plan_been_approved__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>size_of_water_meter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Size_of_water_meter__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>stream_wetland_onsite</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stream_wetland_onsite__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>use_class</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Class__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Use_Group_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Group__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>water_source_provider</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Water_source_provider__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Which_Trade_Types</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trade_Types__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Which_Trades_residential</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trade_Types_RS__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>will_you_need_power_disconnect_reconnect</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Will_you_need_power_disconnect_reconnect__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Default_Event_Start_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),  MONTH({!$Flow.CurrentDate}),  DAY({!$Flow.CurrentDate}) + 10)</expression>
    </formulas>
    <formulas>
        <name>SetElecPrimary</name>
        <dataType>String</dataType>
        <expression>IF({!PrimaryElec}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetGeneralPrimary</name>
        <dataType>String</dataType>
        <expression>IF({!PrimaryGeneral}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetMechPrimary</name>
        <dataType>String</dataType>
        <expression>IF({!PrimaryMech}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetPlumbingPrimary</name>
        <dataType>String</dataType>
        <expression>IF({!PrimaryPlumb}, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>TextTotalJobCost</name>
        <dataType>String</dataType>
        <expression>TEXT(if(ISBLANK({!Project_Total_Cost_for_Electrical}), 0, {!Project_Total_Cost_for_Electrical}) 
+  if(ISBLANK({!Project_Total_Currency_for_General}), 0, {!Project_Total_Currency_for_General}) 
+ if(ISBLANK({!Project_Total_Cost_for_Mechanical}), 0, {!Project_Total_Cost_for_Mechanical}) 
+ if(ISBLANK({!Project_Total_Cost_for_Plumbing}), 0, {!Project_Total_Cost_for_Plumbing}) )</expression>
    </formulas>
    <formulas>
        <name>TotalCalculatedJobCost</name>
        <dataType>Currency</dataType>
        <expression>if(ISBLANK({!Project_Total_Cost_for_Electrical}), 0, {!Project_Total_Cost_for_Electrical}) 
+  if(ISBLANK({!Project_Total_Currency_for_General}), 0, {!Project_Total_Currency_for_General}) 
+ if(ISBLANK({!Project_Total_Cost_for_Mechanical}), 0, {!Project_Total_Cost_for_Mechanical}) 
+ if(ISBLANK({!Project_Total_Cost_for_Plumbing}), 0, {!Project_Total_Cost_for_Plumbing})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Validate_Driveway_Width</name>
        <dataType>Boolean</dataType>
        <expression>{!Other} = &quot;Other&quot;</expression>
    </formulas>
    <interviewLabel>(Permit Flow) Trade Permit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Permit Flow) Trade Permit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Trade_Permit_Project_Details</name>
        <label>Trade Permit Project Details</label>
        <locationX>1826</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Were_trades_selected</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Quick_Permit_Project_Header_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;New {!Record_Type_Name} Application&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Flow_Stage_Quick_Permit_Details</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Stage_Project_Details</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Quick_Permit_Project_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;Project Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Additional_Applicant_Information</name>
            <fieldText>Additional Applicant Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Applicant_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>incomplete_application_text</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please ensure that you either are the owner of the property or have a licensed contractor for your trade application, you will not be allowed to continue the application.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TradesNotSelected</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Are_you_the_property_owner_rb</name>
                    <choiceReferences>Are_you_the_property_owner</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you the property owner?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Will_you_occupy_the_property_for_at_least_1_year_after_obtaining_the_Certificate</name>
                    <choiceReferences>Occupy_property_after_1_year</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Will you occupy the property for at least 1 year after obtaining the Certificate of Completion/Occupancy?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_the_property_owner_rb</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Do_you_have_a_completed_Owner_s_Consent_Form</name>
                    <choiceReferences>Do_you_have_a_completed_owners_consent_form</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you have a completed Owner&apos;s Consent Form?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Will_you_occupy_the_property_for_at_least_1_year_after_obtaining_the_Certificate</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Are_you_the_property_owner_rb</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>owner_consent_helper_text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Consent is required from the property owner(s) if an agent will act on their behalf. A separate form is required from each owner. Consent is valid for 1 year from date of notary, unless otherwise specified. Owner&apos;s Consent form can be found here: &lt;/span&gt;&lt;a href=&quot;https://www.townofclaytonnc.org/239/Permits-Applications&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(4, 54, 237);&quot;&gt;https://www.townofclaytonnc.org/239/Permits-Applications&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_have_a_completed_Owner_s_Consent_Form</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Do_you_have_a_licensed_contractor_rb</name>
                    <choiceReferences>do_you_have_a_licensed_contractor</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you have a licensed contractor?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Will_you_occupy_the_property_for_at_least_1_year_after_obtaining_the_Certificate</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Are_you_the_property_owner_rb</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>property_occupancy_helper_text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 24, 0); background-color: rgb(255, 255, 255);&quot;&gt;State Law N.C.G.S 87-1 provides exemption for building construction projects where the &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 24, 0); background-color: rgb(255, 255, 255);&quot;&gt;PROPERTY OWNER&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 24, 0); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;intends to solely occupy the building being altered or built on &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 24, 0); background-color: rgb(255, 255, 255);&quot;&gt;his/her own property&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 24, 0); background-color: rgb(255, 255, 255);&quot;&gt;. If the building is not occupied solely by the property owner for&lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 24, 0); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&lt;u&gt;at least 12 months following completion of the project&lt;/u&gt;,&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 24, 0); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;it is presumed that the property owner did not intend to solely occupy the building. If the property owner meets these criteria, he can, in essence, act as his own general contractor and perform the duty of superintending the construction project himself and thus, is exempt from the requirement of hiring a licensed general contractor. However, the law does not allow the property owner to obtain a building permit under this exemption and then delegate his duty to superintend the construction project to an unlicensed person.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Will_you_occupy_the_property_for_at_least_1_year_after_obtaining_the_Certificate</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Do_you_have_a_licensed_contractor_rb</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Project_Information</name>
            <fieldText>Project Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Use_Class_Field</name>
                    <extensionName>clariti:quickChoice</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Radio</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>MUSW__Permit2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>MUSW__Use_Class__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>Record_Type_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Residential or Commercial?</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Space</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Which_Trades_commercial_cb</name>
                    <choiceReferences>Plumbing</choiceReferences>
                    <choiceReferences>Mechanical</choiceReferences>
                    <choiceReferences>Electrical</choiceReferences>
                    <choiceReferences>General</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Which Trade(s)?</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Use_Class_Field.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Commercial</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Which_Trade_s_residential_cb</name>
                    <choiceReferences>Plumbing</choiceReferences>
                    <choiceReferences>Mechanical</choiceReferences>
                    <choiceReferences>Electrical</choiceReferences>
                    <choiceReferences>General</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Which Trade(s)?</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Use_Class_Field.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Residential</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Does_your_scope_of_work_include_Fire_Suppression_Relocation_extension_modificati</name>
                    <choiceReferences>scope_of_work_confirmation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does your scope of work include Fire Suppression, Relocation, extension, modification of an existing system, or Structural modification?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Use_Class_Field.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Residential</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Project_Total_Cost_for_Plumbing</name>
                    <dataType>Currency</dataType>
                    <fieldText>Project Total Cost for Plumbing</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Plumbing</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Plumbing</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Project_Total_Cost_for_Mechanical</name>
                    <dataType>Currency</dataType>
                    <fieldText>Project Total Cost for Mechanical</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Mechanical</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Mechanical</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Project_Total_Cost_for_Electrical</name>
                    <dataType>Currency</dataType>
                    <fieldText>Project Total Cost for Electrical</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Electrical</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Electrical</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Project_Total_Currency_for_General</name>
                    <dataType>Currency</dataType>
                    <fieldText>Project Total Cost for General</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>General</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>General</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Project_Total_Cost_for_Fire</name>
                    <dataType>Currency</dataType>
                    <fieldText>Project Total Cost for Fire</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Fire</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Fire</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Total_Job_Cost_Display</name>
                    <fieldText>&lt;p&gt;{!Total_Job_Cost}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Are_any_trades_going_to_have_the_same_contractor</name>
                    <choiceReferences>ApplicationOwnerYesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are any trades going to have the same contractor?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Please_select_the_primary_contractor_s_trade_based_off_the_highest_Project_Total</name>
                    <choiceReferences>Plumbing</choiceReferences>
                    <choiceReferences>Mechanical</choiceReferences>
                    <choiceReferences>Electrical</choiceReferences>
                    <choiceReferences>General</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Please select the primary contractor&apos;s trade</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;If Commercial is selected, Primary Contractor&apos;s main trade should be based on whichever trade cost above is higher as it will affect fee amounts.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_any_trades_going_to_have_the_same_contractor</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Please_select_the_secondary_trade_s_that_the_contractor_shares1</name>
                    <choiceReferences>Mechanical</choiceReferences>
                    <choiceReferences>Electrical</choiceReferences>
                    <choiceReferences>General</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Please select the secondary trade(s) that the contractor shares</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Please_select_the_primary_contractor_s_trade_based_off_the_highest_Project_Total</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Plumbing</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Please_select_the_secondary_trade_s_that_the_contractor_shares2</name>
                    <choiceReferences>Plumbing</choiceReferences>
                    <choiceReferences>Electrical</choiceReferences>
                    <choiceReferences>General</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Please select the secondary trade(s) that the contractor shares</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Please_select_the_primary_contractor_s_trade_based_off_the_highest_Project_Total</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Mechanical</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Please_select_the_secondary_trade_s_that_the_contractor_shares3</name>
                    <choiceReferences>Plumbing</choiceReferences>
                    <choiceReferences>Mechanical</choiceReferences>
                    <choiceReferences>General</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Please select the secondary trade(s) that the contractor shares</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Please_select_the_primary_contractor_s_trade_based_off_the_highest_Project_Total</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Electrical</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Please_select_the_secondary_trade_s_that_the_contractor_shares4</name>
                    <choiceReferences>Plumbing</choiceReferences>
                    <choiceReferences>Mechanical</choiceReferences>
                    <choiceReferences>Electrical</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Please select the secondary trade(s) that the contractor shares</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Please_select_the_primary_contractor_s_trade_based_off_the_highest_Project_Total</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>General</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Locations_of_Work_rb</name>
                    <choiceReferences>locations_of_work</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Locations of Work:</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Location_s_of_Work</name>
                    <dataType>String</dataType>
                    <fieldText>Other Location(s) of Work</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Locations_of_Work_rb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Floodplain_Onsite_rb</name>
                    <choiceReferences>floodplain_onsite</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Floodplain Onsite?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Stream_wetland_on_site</name>
                    <choiceReferences>stream_wetland_onsite</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Stream/wetland on site?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Power_Provider_rb</name>
                    <choiceReferences>Power_provider</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Power Provider:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Electrical</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Electrical</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Will_you_need_Power_Disconnect_and_Reconnect</name>
                    <choiceReferences>will_you_need_power_disconnect_reconnect</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Will you need Power Disconnect and Reconnect?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Electrical</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Electrical</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Disconnect_Reconnect_Note</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 25, 25);&quot;&gt;NOTE: To permit holder, it is your responsibility to contact your utility provider to coordinate utility disconnect&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Will_you_need_Power_Disconnect_and_Reconnect</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>New_or_Existing_Water_Source</name>
                    <choiceReferences>existing_water_sewer_source_yesno</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Existing Water/Sewer Source?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Plumbing</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Electrical</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Water_Source_Provider_rb</name>
                    <choiceReferences>water_source_provider</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Water Source Provider:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Plumbing</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Plumbing</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Water_Provider</name>
                    <dataType>String</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Water_Source_Provider_rb</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Size_of_Water_Meter_rb</name>
                    <choiceReferences>size_of_water_meter</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Size of Water Meter:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Plumbing</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Plumbing</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Natural_Gas_System</name>
                    <choiceReferences>natl_gas_system</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Natural Gas System?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Mechanical</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Mechanical</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>New_or_Existing_Utility_Source</name>
                    <choiceReferences>existing_water_sewer_source_yesno</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Existing Gas Utility Source?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Natural_Gas_System</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Will_any_underground_electrical_work_be_performed</name>
                    <choiceReferences>ApplicationOwnerYesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Will any underground electrical work be performed?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Which_Trade_s_residential_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Electrical</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Which_Trades_commercial_cb</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Electrical</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Description_of_Proposed_Work</name>
                    <fieldText>Description of Proposed Work</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please do not leave the fields empty, application intake is not yet completed.&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(ISNULL({!Description_of_Proposed_Work}))</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>no_existing_gas_helper_text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;If gas system is not existing, please contact local gas utility provider for installation procedure.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>New_or_Existing_Utility_Source</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Design_Professional_Information</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>MUSW__Application_Contact__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>clariti:customDatatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>MUSW__Application_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showActionMenu</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showActionMenu</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Design Professional Information</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>standard:default</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>preselectAllRows</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_preselectAllRows</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Design_Professional_List</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>MUSW__First_Name__c,MUSW__Last_Name__c,MUSW__Email__c,MUSW__Phone__c,Role__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>MUSW__First_Name__c:true,MUSW__Last_Name__c:true,MUSW__Email__c:true,MUSW__Phone__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideHeaderActions</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideHeaderActions</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Use_Class_Field.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Commercial</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Design_Professional_Helper_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Note: For guidelines as to when a Design Professional is required for a commercial trade, please refer to: &lt;/strong&gt;&lt;a href=&quot;https://codes.iccsafe.org/content/NCAPC2018/chapter-2-administrative-policies#NCAPC2018_Ch02_Sec204.3.5&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://codes.iccsafe.org/content/NCAPC2018/chapter-2-administrative-policies#NCAPC2018_Ch02_Sec204.3.5&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Use_Class_Field.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Commercial</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_the_property_owner_rb</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Will_you_occupy_the_property_for_at_least_1_year_after_obtaining_the_Certificate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Do_you_have_a_completed_Owner_s_Consent_Form</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Do_you_have_a_licensed_contractor_rb</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>clariti__Building_Permitting_Applications</sourceTemplate>
    <start>
        <locationX>1700</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Design_Professional_Role</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Total_Job_Cost</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Total Job Cost &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!TotalCalculatedJobCost}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AcreageFromParcel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>AssociatedParcels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Parcel__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Error_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Contact_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Parcel__c</objectType>
    </variables>
    <variables>
        <name>Design_Professional_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Design_Professional_Role</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>ElectricalJobCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ElectricalSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Fee_Template_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Fee_List__c</objectType>
    </variables>
    <variables>
        <name>FireJobCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FireSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GeneralSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GeneralTradeCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MechanicalJobCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MechanicalSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>PlumbingJobCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PlumbingSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryElec</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryGeneral</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryMech</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryPlumb</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Residential_Or_Commercial_Dependent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TAGNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TCCStages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TradesNotSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Which_Trades_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Work_Item_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Work_Item__c</objectType>
    </variables>
</Flow>
