force-app/main/default/flows/Permit_Create_Fees.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_permit_fees</name>
        <label>Create permit fees</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <actionName>MUSW__CreateFeesAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Fees_That_Were_Just_Added</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__relatedRecord</typeName>
            <typeValue>MUSW__Permit2__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>relatedRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MUSW__CreateFeesAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Fee_To_Collection</name>
        <label>Add Fee To Collection</label>
        <locationX>270</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Fee_Collection_To_Update_As_Tech_Fee_added</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fee_To_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FourPercentLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_In_Values</name>
        <label>Add In Values</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>TotalfeeAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FourPercentLoop.MUSW__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fee_To_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FourPercentLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Fee_To_Be_Checked_YES</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tech_Fee</name>
        <label>Assign Tech Fee</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Tech_Fee.MUSW__Permit2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_Fee.MUSW__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Card Surcharge (4.00%)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_Fee.MUSW__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fourPercent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_Fee.MUSW__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_Fee.MUSW__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Card Convenience Fee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fee_Collection_To_All_Be_Checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fee_To_Be_Checked_YES</name>
        <label>Set Fee To Be Checked YES</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Fee_To_Update.TechFeeAdded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Fee_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Greater_than_0</name>
        <label>Greater than 0</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_there_a_fee_to_add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalfeeAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tech_Fee</targetReference>
            </connector>
            <label>Is there a fee to add?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_permit_been_changed_or_created</name>
        <label>Has permit been changed or created?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permit_has_been_changed_of_created</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_permit_fees</targetReference>
            </connector>
            <label>Permit has been changed of created</label>
        </rules>
    </decisions>
    <description>JRS - adjusted cc fee logic to not apply to technology fees</description>
    <environments>Default</environments>
    <formulas>
        <name>FeeDescriptionFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Credit Card Surcharge (3.75%) for: &quot; &amp; {!$Record.RecordType.Name}</expression>
    </formulas>
    <formulas>
        <name>fourPercent</name>
        <dataType>Number</dataType>
        <expression>{!TotalfeeAmount} * 0.04</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>The_Last_15_Seconds</name>
        <dataType>Number</dataType>
        <expression>UNIXTIMESTAMP(NOW())-1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>(Permit) - Create Fees {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Permit) - Create Fees</label>
    <loops>
        <name>FourPercentLoop</name>
        <label>FourPercentLoop</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>Fees_Returned</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_In_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Greater_than_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tech_Fee</name>
        <label>Create Tech Fee</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <inputReference>Tech_Fee</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Fees_That_Were_Just_Added</name>
        <label>Get Fees That Were Just Added</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FourPercentLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TechFeeAdded__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fee_Template__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Technology Fee</stringValue>
            </value>
        </filters>
        <object>MUSW__Fee__c</object>
        <outputReference>Fees_Returned</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>MUSW__Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fee_Collection_To_All_Be_Checked</name>
        <label>Update Fee Collection To All Be Checked</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Create_Tech_Fee</targetReference>
        </connector>
        <inputReference>Fee_Collection_To_Update_As_Tech_Fee_added</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_permit_been_changed_or_created</targetReference>
        </connector>
        <object>MUSW__Permit2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>20</triggerOrder>
    <variables>
        <name>Fee_Collection_To_Update_As_Tech_Fee_added</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Fee__c</objectType>
    </variables>
    <variables>
        <name>Fee_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Fee__c</objectType>
    </variables>
    <variables>
        <name>Fees_Returned</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Fee__c</objectType>
    </variables>
    <variables>
        <name>Tech_Fee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Fee__c</objectType>
    </variables>
    <variables>
        <name>TotalfeeAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
