force-app/main/default/flows_1/Application_License_Applications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Business_License_Applications_Stages</name>
        <label>Business License Applications - Stages</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Application Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Applicant Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Application Location</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Registered Businesses</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Business Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Related Contacts</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Confirmation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Application_Business_License_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Occupational_License_Applications_Stages</name>
        <label>Occupational License Applications - Stages</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Application Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Applicant Details</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Experiences</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>References</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Credentials</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Exams</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Confirmation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Application_Occupational_License_Application</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluate_License_Application_Type</name>
        <label>Evaluate License Application Type</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application.MUSW__Object_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business_License</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_License_Applications_Stages</targetReference>
            </connector>
            <label>Business License</label>
        </rules>
        <rules>
            <name>Occupational_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application.MUSW__Object_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Occupational_License</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Occupational_License_Applications_Stages</targetReference>
            </connector>
            <label>Occupational License</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Application - License Applications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application - License Applications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Business_License_Confirmation</name>
        <label>Business License Confirmation</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Application_Attestation</targetReference>
        </connector>
        <fields>
            <name>Business_License_Confirmation_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 28px;&quot;&gt;{!Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_License_Confirmation_Stages</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Business_License_Confirmation_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;Confirmation&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;If any of the information below is incorrect, use &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Previous&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt; to navigate to the appropriate section and update the incorrect information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Application_Details</name>
            <fieldText>Application Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_License_Confirmation_Record_Detail</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>MUSW__Application2__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>clariti:recordDetailFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>filteredSectionNames</name>
                        <value>
                            <stringValue>Application Type, License Eligibility, Applicant Details</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordVariable</name>
                        <value>
                            <elementReference>Application</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>MUSW__Application2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Registered_Account_Details_Person</name>
            <fieldText>Registered Account Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registered_Account_Details_Person_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_License_Confirmation_Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>Selected_Person_Account.FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>Selected_Person_Account.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Business_License_Confirmation_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Selected_Person_Account.PersonEmail</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Business_License_Confirmation_DBA_Display</name>
                    <fieldText>&lt;p&gt;Doing Business As (DBA)&lt;/p&gt;&lt;p&gt;{!Selected_Person_Account.MUSW__DBA_Name__pc}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Selected_Person_Account.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Registered_Account_Details_Business</name>
            <fieldText>Registered Account Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registered_Account_Details_Business_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_License_Confirmation_Record_Detail_Other_Account</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>clariti:recordDetailFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordVariable</name>
                        <value>
                            <elementReference>Selected_Other_Account</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filteredSectionNames</name>
                        <value>
                            <stringValue>Business Name, Business Details, Business Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Selected_Other_Account.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Registered_Account_Details_Related_Details</name>
            <fieldText>Related Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Registered_Account_Details_Related_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_License_Confirmation_Related_Contacts_Datable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>MUSW__Application_Contact__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Related Contacts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Application_Contacts</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;MUSW__First_Name__c&quot;,&quot;guid&quot;:&quot;column-046b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MUSW__Last_Name__c&quot;,&quot;guid&quot;:&quot;column-aef2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MUSW__Relationship__c&quot;,&quot;guid&quot;:&quot;column-24f0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;Relationship&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Business_License_Confirmation_Footer</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;To stop your application and continue at a later date, click &lt;/em&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;&lt;em&gt;Pause&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Occupational_License_Confirmation</name>
        <label>Occupational License Confirmation</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Application_Attestation</targetReference>
        </connector>
        <fields>
            <name>Occupational_License_Confirmation_Confirmation_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 28px;&quot;&gt;{!Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Occupational_License_Confirmation_Confirmation_Stages</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Confirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Occupational_License_Confirmation_Confirmation_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;Confirmation&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;If any of the information below is incorrect, use &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Previous&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt; to navigate to the appropriate section and update the incorrect information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Occupational_License_Application_Details</name>
            <fieldText>Application Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Occupational_License_Application_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Occupational_License_Confirmation_Confirmation_Record_Detail</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>MUSW__Application2__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>clariti:recordDetailFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>filteredSectionNames</name>
                        <value>
                            <stringValue>Application Type, License Eligibility, License Class, Applicant Details</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordVariable</name>
                        <value>
                            <elementReference>Application</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>MUSW__Application2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Related_Details</name>
            <fieldText>Related Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Related_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Related_Experiences_Datatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>MUSW__Experience__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Related Experiences</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Experiences</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;MUSW__Business_Name__c&quot;,&quot;guid&quot;:&quot;column-194c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Business Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MUSW__Start_Date__c&quot;,&quot;guid&quot;:&quot;column-8919&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;MUSW__End_Date__c&quot;,&quot;guid&quot;:&quot;column-1620&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;MUSW__Type__c&quot;,&quot;guid&quot;:&quot;column-c106&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Related_References_Datatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>MUSW__Reference__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Related References</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>References</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;MUSW__First_Name__c&quot;,&quot;guid&quot;:&quot;column-5d5f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MUSW__Last_Name__c&quot;,&quot;guid&quot;:&quot;column-00c9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MUSW__Email__c&quot;,&quot;guid&quot;:&quot;column-7f20&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;MUSW__Type__c&quot;,&quot;guid&quot;:&quot;column-4b83&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Related_Credentials_Datatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>MUSW__Credential__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Related Credentials</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Credentials</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2bf4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MUSW__Issuing_Body__c&quot;,&quot;guid&quot;:&quot;column-c30a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Issuing Body&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MUSW__Type__c&quot;,&quot;guid&quot;:&quot;column-aded&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-cca5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Related_Exams_Datatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>MUSW__Exam__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Related Exams</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Exams</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;MUSW__Name__c&quot;,&quot;guid&quot;:&quot;column-1d75&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MUSW__Date__c&quot;,&quot;guid&quot;:&quot;column-e7a5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;MUSW__Score__c&quot;,&quot;guid&quot;:&quot;column-b1f5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Score&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Business_License_Confirmation_Footer</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;To stop your application and continue at a later date, click &lt;/em&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;&lt;em&gt;Pause&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_License_Application_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Application_Attestation</name>
        <label>Application - Attestation</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Application_Creation</targetReference>
        </connector>
        <flowName>Applications_Attestation</flowName>
        <inputAssignments>
            <name>Header</name>
            <value>
                <elementReference>Header</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object_API_Name</name>
            <value>
                <stringValue>MUSW__Application2__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Attestation_Consent</assignToReference>
            <name>Attestation_Consent</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Application_Business_License_Application</name>
        <label>Application - Business License Application</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Business_License_Application_Related_Contacts</targetReference>
        </connector>
        <flowName>Application_Business_License_Application</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Application</name>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Contact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Header</name>
            <value>
                <elementReference>Header</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stages</name>
            <value>
                <elementReference>Stages</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Application</assignToReference>
            <name>Application</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Selected_Other_Account</assignToReference>
            <name>Selected_Other_Account</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Selected_Person_Account</assignToReference>
            <name>Selected_Person_Account</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Application_Creation</name>
        <label>Application - Creation</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <flowName>Application_Creation</flowName>
        <inputAssignments>
            <name>Application</name>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Attestation_Consent</name>
            <value>
                <elementReference>Attestation_Consent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Credentials</name>
            <value>
                <elementReference>Credentials</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Exams</name>
            <value>
                <elementReference>Exams</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Experiences</name>
            <value>
                <elementReference>Experiences</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Header</name>
            <value>
                <elementReference>Header</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>References</name>
            <value>
                <elementReference>References</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Related_Contacts</name>
            <value>
                <elementReference>Application_Contacts</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Application</assignToReference>
            <name>Application</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Application_Occupational_License_Application</name>
        <label>Application - Occupational License Application</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Occupational_License_Confirmation</targetReference>
        </connector>
        <flowName>Application_Occupational_License_Application</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Application</name>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Contact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Header</name>
            <value>
                <elementReference>Header</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stages</name>
            <value>
                <elementReference>Stages</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Application</assignToReference>
            <name>Application</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Credentials</assignToReference>
            <name>Credentials</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Exams</assignToReference>
            <name>Exams</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Experiences</assignToReference>
            <name>Experiences</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>References</assignToReference>
            <name>References</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Business_License_Application_Related_Contacts</name>
        <label>Business License Application - Related Contacts</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Business_License_Confirmation</targetReference>
        </connector>
        <flowName>Application_Related_Contacts</flowName>
        <inputAssignments>
            <name>Application</name>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Header</name>
            <value>
                <elementReference>Header</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stages</name>
            <value>
                <elementReference>Stages</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Application</assignToReference>
            <name>Application</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Application_Contacts</assignToReference>
            <name>Application_Contacts</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Application_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Application_Locations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Credentials</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Credential__c</objectType>
    </variables>
    <variables>
        <name>Exams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Exam__c</objectType>
    </variables>
    <variables>
        <name>Experiences</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Experience__c</objectType>
    </variables>
    <variables>
        <name>Header</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>References</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Reference__c</objectType>
    </variables>
    <variables>
        <name>Selected_Other_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Selected_Person_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
