force-app/main/default/flows_1/Application_Update_Address_or_Parcel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Getting_address_or_parcel</name>
        <label>Getting address or parcel</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_address_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parcel_record</targetReference>
            </connector>
            <label>Is address empty?</label>
        </rules>
        <rules>
            <name>Is_parcel_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Parcel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Address_record</targetReference>
            </connector>
            <label>Is parcel empty?</label>
        </rules>
    </decisions>
    <description>This flow evaluates whether the address or parcel of an Application has information or not. If address then fill in the Parcel field, If Parcel then fill in the geolocation information fields but not the address.</description>
    <environments>Default</environments>
    <interviewLabel>Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application - Update Address or Parcel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Address_record</name>
        <label>Get Address record</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Address__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Address__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Geolocation__Latitude__s</queriedFields>
        <queriedFields>MUSW__Geolocation__Longitude__s</queriedFields>
        <queriedFields>MUSW__Parcel__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parcel_record</name>
        <label>Get Parcel record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Geolocation_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Parcel__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Parcel__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Geolocation__Longitude__s</queriedFields>
        <queriedFields>MUSW__Geolocation__Latitude__s</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>MUSW__Geolocation__Latitude__s</field>
            <value>
                <elementReference>Get_Address_record.MUSW__Geolocation__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Geolocation__Longitude__s</field>
            <value>
                <elementReference>Get_Address_record.MUSW__Geolocation__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Parcel__c</field>
            <value>
                <elementReference>Get_Address_record.MUSW__Parcel__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Geolocation_Information</name>
        <label>Update Geolocation Information</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>MUSW__Geolocation__Latitude__s</field>
            <value>
                <elementReference>Get_Parcel_record.MUSW__Geolocation__Latitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Geolocation__Longitude__s</field>
            <value>
                <elementReference>Get_Parcel_record.MUSW__Geolocation__Longitude__s</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_address_or_parcel</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MUSW__Address__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Parcel__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
