force-app/main/default/flows_1/Application_Intake_02.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Records_From_Template_Object_Mapping</name>
        <label>Get Records From Template Object Mapping</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <actionName>MUSW__GetRecordsFromTmplObjectMappingAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Value_to_Header</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__targetRecord</typeName>
            <typeValue>MUSW__Application2__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sourceRecord</typeName>
            <typeValue>MUSW__Application_Template__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldApiName</name>
            <value>
                <stringValue>MUSW__Creation_Mapping__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceRecord</name>
            <value>
                <elementReference>Selected_Application_Template</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MUSW__GetRecordsFromTmplObjectMappingAction</nameSegment>
        <outputParameters>
            <assignToReference>Application</assignToReference>
            <name>targetRecord</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_User_as_Default_Applicant</name>
        <label>Assign User as Default Applicant</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Application.MUSW__Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_What_Application_Record_Type_to_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Header</name>
        <label>Assign Value to Header</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Header</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Selected_Application_Template.Name} - Application</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_User_as_Default_Applicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pre_Stage_Assignment</name>
        <label>Pre-Stage Assignment</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Select Application Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Confirm Application Type</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Application_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Object_Type_Land_Managament</name>
        <choiceText>Land Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MUSW__Application2__c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Object_Type_License</name>
        <choiceText>License</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MUSW__License2__c</stringValue>
        </value>
    </choices>
    <choices>
        <name>Object_Type_Permit</name>
        <choiceText>Permit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MUSW__Permit2__c</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Sort_Application_Templates</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Application Templates</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Application_Templates</collectionReference>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>true</doesPutEmptyStringAndNullFirst>
            <sortField>Use_Class__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>true</doesPutEmptyStringAndNullFirst>
            <sortField>MUSW__Application_Type__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Evaluate_What_Application_Record_Type_to_Assign</name>
        <label>Evaluate What Application Record Type to Assign</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permit_Application</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Application.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permit_Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Application_Type_Permit</targetReference>
            </connector>
            <label>Permit Application</label>
        </rules>
        <rules>
            <name>License_Application</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Application.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>License_Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Application_Type_License</targetReference>
            </connector>
            <label>License Application</label>
        </rules>
        <rules>
            <name>Land_Use_Planning_Application</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Application.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planning_Development_Application_I_II</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Application.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planning_Development_Application_III_IV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Application.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planning_Development_Application_V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Application.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Variance_Application_I_II</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Application.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zoning_Application_I_II</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Application_Type_Land_Use</targetReference>
            </connector>
            <label>Land Use Planning Application</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Permit_Work_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Permit_Work_Type__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Application - Intake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application - Intake</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pre_Stage_Assignment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>IsPersonAccount</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Application_Template_Record_Types</name>
        <label>Get Application Template Record Types</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Application_Template_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MUSW__Application_Template__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>Record_Types_Application_Template</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Application_Templates</name>
        <label>Get Application Templates</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Application_Templates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MUSW__Application_Template__c</object>
        <outputReference>Application_Templates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Description__c</queriedFields>
        <queriedFields>MUSW__Object_Record_Type__c</queriedFields>
        <queriedFields>MUSW__Object_Type__c</queriedFields>
        <queriedFields>MUSW__Target_Object_Creation_Template__c</queriedFields>
        <queriedFields>Target_Object_Record_Type__c</queriedFields>
        <queriedFields>MUSW__Application_Type__c</queriedFields>
        <queriedFields>MUSW__License_Class__c</queriedFields>
        <queriedFields>MUSW__License_Eligibility__c</queriedFields>
        <queriedFields>MUSW__Creation_Mapping__c</queriedFields>
        <queriedFields>Application_Purpose__c</queriedFields>
        <queriedFields>Use_Class__c</queriedFields>
        <queriedFields>MUSW__Permit_Work_Type__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirm_Application_Type_Land_Use</name>
        <label>Confirm Application Type - Land Use</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Application_Land_Use_Applications</targetReference>
        </connector>
        <fields>
            <name>Confirm_Application_Type_Land_Use_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;{!Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Application_Type_Land_Use_Stages</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Confirm Application Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirm_Application_Type_Land_Use_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Application_Type_Land_Use_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirm_Application_Type_Land_Use_Display</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;Confirm Application Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Confirm the selected application type is correct before proceeding forward. If not, click &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Previous&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt; to go back and select a different application type.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Application Name: {!Selected_Application_Template.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Application Description: {!Selected_Application_Template.MUSW__Description__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;If this application is related to an existing project, search for the Project Number.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Confirm_Application_Type_Land_Use_Project_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>MUSW__Project2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Associated Project</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>MUSW__Application2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Application.00Nfo0000017iyD__NotFound</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Object_Record_Type__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Planning_Development_Application_V</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Application.Application_Purpose__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Appeal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_Application_Type_Land_Use_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Application_Type_Land_Use_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirm_Application_Type_Land_Use_Display_2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;Confirm Application Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Confirm the selected application type is correct before proceeding forward. If not, click &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Previous&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt; to go back and select a different application type. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;All &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;New Development and &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;New Major Subdivision Applications &lt;/span&gt;&lt;u style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;must&lt;/u&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt; have a completed Pre-Application Meeting. If you have completed that activity, search for the Application Number.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Application Name: {!Selected_Application_Template.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Application Description: {!Selected_Application_Template.MUSW__Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Confirm_Application_Type_Land_Use_Application_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Application__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Application</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>MUSW__Application2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Application.00Nfo0000017iyE__NotFound</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Object_Record_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Planning_Development_Application_V</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_Application_Type_Land_Use_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Application_Type_Land_Use_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirm_Application_Type_Land_Use_Display_3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Confirm Application Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Confirm the selected application type is correct before proceeding forward. If not, click &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Previous&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; to go back and select a different application type. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Application Name: {!Selected_Application_Template.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Application Description: {!Selected_Application_Template.MUSW__Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Application.Application_Purpose__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Appeal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_Application_Type_Land_Use_Footer</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(0, 0, 0);&quot;&gt;To stop your application and continue at a later date, click &lt;/em&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;em&gt;Pause&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(0, 0, 0);&quot;&gt;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>&lt;p&gt;This is a custom message. {!$Flow.CurrentStage}&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Application_Type_License</name>
        <label>Confirm Application Type - License</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Application_License_Applications</targetReference>
        </connector>
        <fields>
            <name>Confirm_Application_Type_License_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;{!Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Application_Type_License_Stages</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Confirm Application Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirm_Application_Type_License_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Application_Type_License_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirm_Application_Type_License_Display</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Confirm Application Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Confirm the selected application type is correct before proceeding forward. If not, click &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Previous&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; to go back and select a different application type.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Application Name: {!Selected_Application_Template.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Application Description: {!Selected_Application_Template.MUSW__Description__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;If this application is related to an existing project, search for the Project Number.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Confirm_Application_Type_License_Project_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>MUSW__Project2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Associated Project</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>MUSW__Application2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Application.00Nfo0000017iyD__NotFound</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Object_Record_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Business_License</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_Application_Type_License_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Application_Type_License_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirm_Application_Type_License_Display_2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;Confirm Application Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Confirm the selected application type is correct before proceeding forward. If not, click &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Previous&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt; to go back and select a different application type.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Application Name: {!Selected_Application_Template.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Application Description: {!Selected_Application_Template.MUSW__Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Object_Record_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Occupational_License</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_Application_Type_License_Footer</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(0, 0, 0);&quot;&gt;To stop your application and continue at a later date, click &lt;/em&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;em&gt;Pause&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(0, 0, 0);&quot;&gt;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>&lt;p&gt;This is a custom message. {!$Flow.CurrentStage}&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Application_Type_Permit</name>
        <label>Confirm Application Type - Permit</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Application_Permit_Applications</targetReference>
        </connector>
        <fields>
            <name>Confirm_Application_Type_Permit_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;{!Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Application_Type_Permit_Stages</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Confirm Application Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirm_Application_Type_Permit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Application_Type_Permit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirm_Application_Type_Permit_Display</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Confirm Application Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Confirm the selected application type is correct before proceeding forward. If not, click &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Previous&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; to go back and select a different application type. if the application type is correct, enter the required information below before proceeding.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Application Name: {!Selected_Application_Template.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Application Description: {!Application_Template_Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;﻿If this application is related to an existing project, search for the Project Number.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Confirm_Application_Type_Permit_Project_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>MUSW__Project2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Associated Project</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>MUSW__Application2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Application.00Nfo0000017iyD__NotFound</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confirm_Application_Type_Permit_Footer</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(0, 0, 0);&quot;&gt;To stop your application and continue at a later date, click &lt;/em&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;em&gt;Pause&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(0, 0, 0);&quot;&gt;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>&lt;p&gt;This is a custom message. {!$Flow.CurrentStage}&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Something went wrong&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Click previous to go back and try again. If the issue persists, pause your work and contact us at cityofclariti@email.com. Include any error messages you see below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Application_Template_Record_Type</name>
        <label>Select Application Template Record Type</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Application_Templates</targetReference>
        </connector>
        <fields>
            <name>Select_Application_Template_Record_Type_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To get started, select what category of application you like to apply for. To learn more about what you can apply for online, see {PAGE}. After selecting, you&apos;ll be able to further refine what type of application you want to submit.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Application_Template_Record_Type_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>RecordType</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Application Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Record_Types_Application_Template</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4f02&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Select_Record_Type</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <pausedText>&lt;p&gt;This is a custom message. {!$Flow.CurrentStage}&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Application_Type</name>
        <label>Select Application Type</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Records_From_Template_Object_Mapping</targetReference>
        </connector>
        <fields>
            <name>Select_Application_Type_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;New Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Application_Type_Stages</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Select Application Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Application_Type_Dispay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Select Application Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To get started, select what type of application you would like to apply for by using the options below. To learn more about what you can apply for online, see {PAGE}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Application_Type_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Application_Template__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Application Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Application_Templates</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3ad9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Application Template Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MUSW__Description__c&quot;,&quot;guid&quot;:&quot;column-c6f8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Application_Template</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Select_Application_Type_Footer</name>
            <fieldText>&lt;p&gt;&lt;em&gt;To stop your application and continue at a later date, click &lt;/em&gt;&lt;strong&gt;&lt;em&gt;Pause&lt;/em&gt;&lt;/strong&gt;&lt;em&gt;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>&lt;p&gt;This is a custom message. {!$Flow.CurrentStage}&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_Template_Record_Types</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Application_Intake_Success</name>
        <label>Application - Intake Success</label>
        <locationX>446</locationX>
        <locationY>1730</locationY>
        <flowName>Application_Intake_Success</flowName>
        <inputAssignments>
            <name>Application_Id</name>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Header</name>
            <value>
                <elementReference>Header</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Application_Land_Use_Applications</name>
        <label>Application - Land Use Applications</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Application_Intake_Success</targetReference>
        </connector>
        <flowName>Application_Land_Use_Applications</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Application</name>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Contact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Header</name>
            <value>
                <elementReference>Header</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Application</assignToReference>
            <name>Application</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Application_License_Applications</name>
        <label>Application - License Applications</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Application_Intake_Success</targetReference>
        </connector>
        <flowName>Application_License_Applications</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Application</name>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Contact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Header</name>
            <value>
                <elementReference>Header</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Application</assignToReference>
            <name>Application</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Application_Permit_Applications</name>
        <label>Application - Permit Applications</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Application_Intake_Success</targetReference>
        </connector>
        <flowName>Application_Permit_Applications</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Application</name>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Contact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Header</name>
            <value>
                <elementReference>Header</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Application</assignToReference>
            <name>Application</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Application_Template_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Selected_Application_Template.MUSW__Description__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Application_Templates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Template__c</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Application_Templates_for_Selected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Template__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Submission_Templates_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Submission_List__c</objectType>
    </variables>
    <variables>
        <name>Header</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mapId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Types_Application_Template</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Select_Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Selected_Application_Template</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Template__c</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmissionTemplates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Submission_List__c</objectType>
    </variables>
</Flow>
