force-app/main/default/flows_1/Application_Checking_completed_submissions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Size</name>
        <label>Assign Size</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>CollectionSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Submissions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Confirming</name>
        <label>Confirming Status Completed</label>
        <locationX>226</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>StatusCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_All_submissions</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filtering_Submissions_Collection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtering Submissions Collection</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignNextValueToReference>currentItem_Filtering_Submissions_Collection_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Submissions</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filtering_Submissions_Collection_0.Id</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>$Record.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_All_submissions</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>All_Submissions_Completed</name>
        <label>All Submissions Completed</label>
        <locationX>138</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Completed0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StatusCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application</targetReference>
            </connector>
            <label>Status Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Application_Total_Balance</name>
        <label>Checking Application Total Balance</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO_pending_Fees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application.MUSW__Total_Balance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_Collection_Size</targetReference>
            </connector>
            <label>NO pending Fees</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Collection_Size</name>
        <label>Checking Collection Size</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Single_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application</targetReference>
            </connector>
            <label>Single Record</label>
        </rules>
        <rules>
            <name>Multiple_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filtering_Submissions_Collection</targetReference>
            </connector>
            <label>Multiple Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Status_equal_Completed</name>
        <label>Checking Status equal Completed</label>
        <locationX>358</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_All_submissions.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_All_submissions.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirming</targetReference>
            </connector>
            <label>Status Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Application - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application - Checking completed submissions</label>
    <loops>
        <name>Loop_through_All_submissions</name>
        <label>Loop through All submissions</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <collectionReference>Filtering_Submissions_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checking_Status_equal_Completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_Submissions_Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Submissions</name>
        <label>Get All Submissions</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Application2__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Application_Total_Balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Application2__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Application2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Application2__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Completion_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Submissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Submission_DateTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MUSW__Submission__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filtering_Submissions_Collection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Getting_Completed_Submissions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>FilteredCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>StatusCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
