force-app/main/default/flows_1/Application_Related_Locations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Application_Address_to_Application_Location</name>
        <label>Assign Application Address to Application Location</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Application_Locations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Merge_Application_Addresses_into_Application_Locations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Merge_Application_Addresses_into_Application_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_Parcels_to_Application_Location</name>
        <label>Assign Application Parcels to Application Location</label>
        <locationX>270</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Application_Locations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Merge_Application_Parcels_into_Application_Locations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Merge_Application_Parcels_into_Application_Locations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluate_if_Existing_Locations_Found</name>
        <label>Evaluate if Existing Locations Found</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Related_Locations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Locations_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Application_Locations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Locations</targetReference>
            </connector>
            <label>Existing Locations Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Application - Related Locations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application - Related Locations</label>
    <loops>
        <name>Merge_Application_Addresses_into_Application_Locations</name>
        <label>Merge Application Addresses into Application Locations</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <collectionReference>Application_Locations_Addresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Application_Address_to_Application_Location</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Merge_Application_Parcels_into_Application_Locations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Merge_Application_Parcels_into_Application_Locations</name>
        <label>Merge Application Parcels into Application Locations</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <collectionReference>Application_Locations_Parcels</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Application_Parcels_to_Application_Location</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Existing_Application_Locations</name>
        <label>Get Existing Application Locations</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_if_Existing_Locations_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__License__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application.MUSW__License__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__License__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MUSW__Application_Location__c</object>
        <outputReference>Existing_Application_Locations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Address__c</queriedFields>
        <queriedFields>MUSW__Parcel__c</queriedFields>
        <queriedFields>MUSW__Type__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Screen_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;There was an issue with your application. Click &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Previous&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt; to go back and try submitting again. If the issue persists, &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Pause&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt; your application and send us an email at clariti@cityofclariti.com. Include any error messages you see on the screen in your email.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Error Messages:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Locations</name>
        <label>Existing Locations</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Related_Locations</targetReference>
        </connector>
        <fields>
            <name>Existing_Locations_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 28px; background-color: rgb(255, 255, 255);&quot;&gt;{!Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Existing_Locations_Stages</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Related Locations</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Existing_Locations_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Existing Related Locations&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Below are the locations already associated with your application. Select any location which should &lt;/span&gt;&lt;u style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;no longer be associated&lt;/u&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt; with this application. You will be able to add additional locations on the next screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Existing_Locations_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Application_Location__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:customDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>MUSW__Application_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>MUSW__Address__c, MUSW__Parcel__c, MUSW__Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowAddRow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowAddRow</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showActionMenu</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showActionMenu</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectAllRows</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_preselectAllRows</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Existing_Application_Locations</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Existing_Locations</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Existing_Locations_Footer</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;To stop your application and continue at a later date, click &lt;/em&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;&lt;em&gt;Pause&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Related_Locations</name>
        <label>Related Locations</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Merge_Application_Addresses_into_Application_Locations</targetReference>
        </connector>
        <fields>
            <name>Related_Locations_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 28px; background-color: rgb(255, 255, 255);&quot;&gt;{!Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Related_Locations_Stages</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Related Locations</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Related_Locations_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Related Locations&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Search for any locations related to your application by either Address or Parcel and identify its relationship to your application.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Related_Locations_Multi_Selection_Address</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Application_Location__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:multiSelectionLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectAPIName</name>
                <value>
                    <stringValue>MUSW__Application_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldAPIName</name>
                <value>
                    <stringValue>MUSW__Address__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordCollection</name>
                <value>
                    <elementReference>Application_Locations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related Addresses</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showActionMenu</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>MUSW__Address__c, MUSW__Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>MUSW__Type__c:True</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>runInSystemContextWithoutSharing</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Application_Locations_Addresses</assignToReference>
                <name>recordCollection</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Related_Locations_Multi_Selection_Parcels</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Application_Location__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:multiSelectionLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectAPIName</name>
                <value>
                    <stringValue>MUSW__Application_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldAPIName</name>
                <value>
                    <stringValue>MUSW__Parcel__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordCollection</name>
                <value>
                    <elementReference>Application_Locations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showActionMenu</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>MUSW__Parcel__c, MUSW__Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>MUSW__Type__c:True</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related Parcels</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>runInSystemContextWithoutSharing</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Application_Locations_Parcels</assignToReference>
                <name>recordCollection</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Related_Locations_Footer</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;To stop your application and continue at a later date, click &lt;/em&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;&lt;em&gt;Pause&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Application_Locations</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Application_Locations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Application_Locations_Addresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Application_Locations_Parcels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Existing_Application_Locations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Header</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Existing_Locations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
