force-app/main/default/flows_1/Application_Occupational_License_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_User_as_Default_Licensee</name>
        <label>Assign User as Default Licensee</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>Application.Individual_as_Licensee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Applicant_Details</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>License_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MUSW__License2__c</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Application - Occupational License Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application - Occupational License Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Applicant_Details</name>
        <label>Applicant Details</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Application_Related_Experiences</targetReference>
        </connector>
        <fields>
            <name>Applicant_Details_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Header}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Applicant_Details_Stages</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Applicant Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Applicant_Details_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;Applicant Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Choose the primary person responsible for this application and the individual who will be licensed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Applicant_Details_Record_Detail</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>MUSW__Application2__c</typeValue>
            </dataTypeMappings>
            <extensionName>clariti:recordDetailFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filteredSectionNames</name>
                <value>
                    <stringValue>Applicant Details, Occupational License Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordVariable</name>
                <value>
                    <elementReference>Application</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>MUSW__Application2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowEdit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Application</assignToReference>
                <name>recordVariable</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Applicant_Details_Footer</name>
            <fieldText>&lt;p&gt;&lt;em&gt;To stop your application and continue at a later date, click &lt;/em&gt;&lt;strong&gt;&lt;em&gt;Pause&lt;/em&gt;&lt;/strong&gt;&lt;em&gt;.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>clariti__Building_Permitting_Applications</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_User_as_Default_Licensee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Application_Related_Credentials</name>
        <label>Application - Related Credentials</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Application_Related_Exams</targetReference>
        </connector>
        <flowName>Application_Related_Credentials</flowName>
        <inputAssignments>
            <name>Application</name>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Header</name>
            <value>
                <elementReference>Header</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stages</name>
            <value>
                <elementReference>Stages</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Credentials</assignToReference>
            <name>Credentials_Selected</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Application_Related_Exams</name>
        <label>Application - Related Exams</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <flowName>Application_Related_Exams</flowName>
        <inputAssignments>
            <name>Application</name>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Header</name>
            <value>
                <elementReference>Header</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stages</name>
            <value>
                <elementReference>Stages</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Exams</assignToReference>
            <name>Exams_Selected</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Application_Related_Experiences</name>
        <label>Application - Related Experiences</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Application_Related_Reference</targetReference>
        </connector>
        <flowName>Application_Related_Experiences</flowName>
        <inputAssignments>
            <name>Application</name>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Header</name>
            <value>
                <elementReference>Header</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stages</name>
            <value>
                <elementReference>Stages</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Experiences</assignToReference>
            <name>Experiences_Selected</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Application_Related_Reference</name>
        <label>Application - Related Reference</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Application_Related_Credentials</targetReference>
        </connector>
        <flowName>Application_Related_Reference</flowName>
        <inputAssignments>
            <name>Application</name>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Header</name>
            <value>
                <elementReference>Header</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stages</name>
            <value>
                <elementReference>Stages</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>References</assignToReference>
            <name>References_Selected</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Credentials</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Credential__c</objectType>
    </variables>
    <variables>
        <name>Exams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Exam__c</objectType>
    </variables>
    <variables>
        <name>Experiences</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Experience__c</objectType>
    </variables>
    <variables>
        <name>Header</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>References</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Reference__c</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
