force-app/main/default/flows_1/Inspection_Update_Account_Value.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Evaluate_Related_To_Value</name>
        <label>Evaluate Related To Value</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_to_is_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inspection_Account_with_Permit_Account</targetReference>
            </connector>
            <label>Related to is Permit</label>
        </rules>
        <rules>
            <name>Related_to_is_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__License2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inspection_Account_with_License_Account</targetReference>
            </connector>
            <label>Related to is License</label>
        </rules>
    </decisions>
    <description>This autolaunched flow will update Inspections on creation to add a value to the Account field to enable Portal Users to have access to the record.</description>
    <environments>Default</environments>
    <interviewLabel>Inspection - Update Account Value {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inspection - Update Account Value</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Inspection_Account_with_License_Account</name>
        <label>Update Inspection Account with License Account</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.MUSW__License2__r.MUSW__Primary_Licensee__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inspection_Account_with_Permit_Account</name>
        <label>Update Inspection Account with Permit Account</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.MUSW__Permit__r.MUSW__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Related_To_Value</targetReference>
        </connector>
        <object>MUSW__Inspection__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
