force-app/main/default/flows_1/License_Business_Occupational_License_Journey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>Business_License_Record_Type_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Business_License</stringValue>
        </value>
    </constants>
    <constants>
        <name>Occupational_License_Record_Type_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Occupational_License</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Evaluate</name>
        <label>Evaluate Business OR Occupational License</label>
        <locationX>732</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Business_License_Record_Type_API</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Occupational_License_Record_Type_API</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_License_Phase_and_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_License_New_or_Renewal</name>
        <label>Evaluate License New or Renewal</label>
        <locationX>358</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Expiration_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Issue_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_License_to_Issuance_In_Progress_Issued_Date_and_Expiration_Date</targetReference>
            </connector>
            <label>First Time</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Expiration_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_License_to_Issuance_In_Progress_and_Update_Expiration_Date</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_License_Phase_and_Status</name>
        <label>Evaluate License Phase and Status</label>
        <locationX>358</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Issuance_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issuance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_License_New_or_Renewal</targetReference>
            </connector>
            <label>Issuance | Pending</label>
        </rules>
        <rules>
            <name>Issuance_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issuance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_License_to_Active_In_Progress</targetReference>
            </connector>
            <label>Issuance | Completed</label>
        </rules>
        <rules>
            <name>Active_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_License_to_Renewal_Pending</targetReference>
            </connector>
            <label>Active | Completed</label>
        </rules>
        <rules>
            <name>Renewal_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>License_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_License_to_Issuance_Pending</targetReference>
            </connector>
            <label>Renewal | Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Expiration_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!Issued_Date}) + 1,  MONTH({!Issued_Date}),  DAY({!Issued_Date}))</expression>
    </formulas>
    <formulas>
        <description>Calculates the current &quot;Total Balance&quot; for the License record being created/updated.</description>
        <name>License_Total_Balance</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!$Record.MUSW__Total_Fees__c},0) - BLANKVALUE({!$Record.MUSW__Total_Payments__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Next_Year_Expiration_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Record.MUSW__Expiration_Date__c})+1, 12, 31)</expression>
    </formulas>
    <interviewLabel>License - Business &amp; Occupational License Journey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>License - Business &amp; Occupational License Journey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_License_to_Active_In_Progress</name>
        <label>Set License to Active | In Progress</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_License_to_Issuance_In_Progress_and_Update_Expiration_Date</name>
        <label>Set License to Issuance | In Progress and Update Expiration Date</label>
        <locationX>358</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>MUSW__Expiration_Date__c</field>
            <value>
                <elementReference>Next_Year_Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Renewal_Date__c</field>
            <value>
                <elementReference>Issued_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_License_to_Issuance_In_Progress_Issued_Date_and_Expiration_Date</name>
        <label>Set License to Issuance | In Progress, Issued Date and Expiration Date</label>
        <locationX>94</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>MUSW__Expiration_Date__c</field>
            <value>
                <elementReference>Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Issue_Date__c</field>
            <value>
                <elementReference>Issued_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_License_to_Issuance_Pending</name>
        <label>Set License to Issuance | Pending</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Evaluate_License_New_or_Renewal</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Issuance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_License_to_Renewal_Pending</name>
        <label>Set License to Renewal | Pending</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>MUSW__License2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>20</triggerOrder>
    <variables>
        <name>Issued_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
