force-app/main/default/flows_1/Submit_Complaint.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_To_Complaint</name>
        <label>Redirect to Complaint</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>clariti:flowNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Complaint_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>clariti:flowNavigation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <dynamicChoiceSets>
        <name>Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Type2__c</picklistField>
        <picklistObject>MUSW__Complaint2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Violation_Picklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>What_is_the_Violation__c</picklistField>
        <picklistObject>MUSW__Complaint2__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Submit Complaint {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Submit Complaint</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Complaint</name>
        <label>Create Complaint</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>Complaint_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Complaint_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Appliances_in_Yard_Description__c</field>
            <value>
                <elementReference>Appliances_in_Yard_Violation_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Garbage_Junk_or_Litter_Description__c</field>
            <value>
                <elementReference>Garbage_Junk_or_Litter_Violation_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Junk_Vehicles_Description__c</field>
            <value>
                <elementReference>Junk_Vehicles_Violation_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Address__c</field>
            <value>
                <elementReference>Complaint_Location.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Type2__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tall_Grass_Description__c</field>
            <value>
                <elementReference>Tall_Grass_Violation_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_the_Violation__c</field>
            <value>
                <elementReference>What_is_the_Violation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Yard_Waste_and_or_Limbs_Description__c</field>
            <value>
                <elementReference>Yard_Waste_and_or_Limbs_Violation_Description</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Complaint2__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Complaint_Name</name>
        <label>Get Complaint Name</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Complaint_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Complaint_Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Complaint2__c</object>
        <outputAssignments>
            <assignToReference>Complaint_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Complaint_Details_Screen</name>
        <label>Complaint Details Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Complaint</targetReference>
        </connector>
        <fields>
            <name>Complaint_Details_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Report an Issue&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Provide us with details about your complaint by entering the required information below. Once you have entered all of the necessary information, click &lt;b&gt;Next&lt;/b&gt; to submit your complaint.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Complaint_Location</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Location of Complaint</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>MUSW__Complaint2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>MUSW__Address__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>What_is_the_Violation</name>
            <choiceReferences>Violation_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the Violation?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tall_Grass_Violation_Description</name>
            <fieldText>Tall Grass Violation Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_is_the_Violation</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Tall Grass</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Yard_Waste_and_or_Limbs_Violation_Description</name>
            <fieldText>Yard Waste and/or Limbs Violation Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_is_the_Violation</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Yard Waste and/or Limbs</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Garbage_Junk_or_Litter_Violation_Description</name>
            <fieldText>Garbage Junk or Litter Violation Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_is_the_Violation</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Garbage Junk or Litter</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Junk_Vehicles_Violation_Description</name>
            <fieldText>Junk Vehicles Violation Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_is_the_Violation</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Junk Vehicles</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appliances_in_Yard_Violation_Description</name>
            <fieldText>Appliances in Yard Violation Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_is_the_Violation</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Appliances in Yard</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complaint_Screen</name>
        <label>Complaint Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_To_Complaint</targetReference>
        </connector>
        <fields>
            <name>Complaint_Success_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Report an Issue&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Success&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Your complaint has been submitted. Your reference number is  &lt;b&gt;{!Complaint_Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Navigation_Bar</name>
            <extensionName>clariti:flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiselect</name>
                <value>
                    <stringValue>no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Finish&quot;,&quot;value&quot;:&quot;Finish&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error_Message_Screen</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Profile.Name}&lt;/p&gt;&lt;p&gt;{!$Profile.Id}&lt;/p&gt;&lt;p&gt;{!$Profile.UserType}&lt;/p&gt;&lt;p&gt;{!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;{!$User.UserType}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>clariti__Submit_Complaint</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Complaint_Details_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Complaint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Complaint2__c</objectType>
    </variables>
    <variables>
        <name>Complaint_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Complaint_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
