force-app/main/default/flows_1/Task_Update_Milestone_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>This assignment element sets the All Tasks Complete variable to False.</description>
        <name>Set_All_Tasks_Complete_False_0</name>
        <label>Set All Tasks Complete False</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AllTasksComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Completed_Tasks_with_Related_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment element sets the All Task Pending variable to False.</description>
        <name>Set_All_Tasks_Pending_False</name>
        <label>Set All Tasks Pending False</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AllReviewsPending</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Pending_Tasks_with_Related_Milestone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluate_Are_All_Tasks_Complete</name>
        <label>Evaluate Are All Tasks Complete</label>
        <locationX>1106</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Update_Milestone_Completed_Status_to_In_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>A Task is not Complete</defaultConnectorLabel>
        <rules>
            <name>All_Tasks_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllTasksComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Milestone_Status_and_Completed_Action_to_Completed_and_Approved</targetReference>
            </connector>
            <label>All Tasks Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Is_Any_Task_Pending</name>
        <label>Evaluate Is Any Task Pending</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Update_Milestone_Status_to_In_Progress_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>A Task is not in Pending</defaultConnectorLabel>
        <rules>
            <name>All_Tasks_in_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllReviewsPending</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Milestone_Status_Pending</targetReference>
            </connector>
            <label>All Tasks in Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Is_Task_Status_Completed</name>
        <label>Evaluate Is Task Status Completed</label>
        <locationX>1282</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Set_All_Tasks_Complete_False_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Completed_Tasks_with_Related_Milestone.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_On_Completed_Tasks_with_Related_Milestone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Is_Tasks_Status_Pending</name>
        <label>Evaluate Is Tasks Status Pending</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Pending_Tasks_with_Related_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Pending_Tasks_with_Related_Milestone.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_All_Tasks_Pending_False</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision element evaluates Review status outcome in order. For the first outcome whose conditions are met, the flow takes the associated path. If no outcome’s conditions are met, the flow takes the path for the default outcome.</description>
        <name>Evaluate_Task_Status</name>
        <label>Evaluate Task Status</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pending_Tasks_with_Related_Milestone</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Milestone_Status_In_Progress</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Completed_Tasks_with_Related_Milestone</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Task - Update Milestone Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Update Milestone Status</label>
    <loops>
        <name>Loop_On_Completed_Tasks_with_Related_Milestone</name>
        <label>Loop On Tasks with Related Milestone</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Completed_Tasks_with_Related_Milestone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Evaluate_Is_Task_Status_Completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Evaluate_Are_All_Tasks_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Pending_Tasks_with_Related_Milestone</name>
        <label>Loop on Tasks with Related Milestone</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Pending_Tasks_with_Related_Milestone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Evaluate_Is_Tasks_Status_Pending</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Evaluate_Is_Any_Task_Pending</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Completed_Tasks_with_Related_Milestone</name>
        <label>Get Tasks with Related Milestone</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Completed_Tasks_with_Related_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Milestone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pending_Tasks_with_Related_Milestone</name>
        <label>Get Tasks with Related Milestone</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Pending_Tasks_with_Related_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Milestone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Milestone_Completed_Status_to_In_Progress</name>
        <label>Update Milestone Status to In Progress</label>
        <locationX>1238</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Milestone__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Milestone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone_Status_and_Completed_Action_to_Completed_and_Approved</name>
        <label>Update Milestone Status and Completed Action to Completed and Approved</label>
        <locationX>974</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Milestone__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Completed_Action__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Milestone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone_Status_In_Progress</name>
        <label>Update Milestone Status In Progress</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Milestone__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Milestone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone_Status_Pending</name>
        <label>Update Milestone Status Pending</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Milestone__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Milestone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone_Status_to_In_Progress_2</name>
        <label>Update Milestone Status to In Progress</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Milestone__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Milestone__c</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Task_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Milestone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllReviewsPending</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AllTasksComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AnyReviewCompletedActionEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AnyReviewCorrectionsRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
