force-app/main/default/flows_1/Task_Update_with_Milestone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Evaluate_Related_Applications_Phase</name>
        <label>Evaluate Related Applications Phase</label>
        <locationX>710</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Substantive_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Substantive Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_for_Substantive_Review</targetReference>
            </connector>
            <label>Substantive Review</label>
        </rules>
        <rules>
            <name>Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_for_Review</targetReference>
            </connector>
            <label>Review</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_for_Closed</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Hearing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hearings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_for_Hearing</targetReference>
            </connector>
            <label>Hearing</label>
        </rules>
        <rules>
            <name>Appeal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeals</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_for_Appeal</targetReference>
            </connector>
            <label>Appeal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Task - Update with Milestone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Update with Milestone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Milestone_for_Appeal</name>
        <label>Get Milestone for Appeal</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_with_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Administrative Tasks Milestone for Appeal</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Milestone__c</object>
        <outputReference>Milestone</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone_for_Closed</name>
        <label>Get Milestone for Closed</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_with_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Administrative Tasks Milestone for Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Milestone__c</object>
        <outputReference>Milestone</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone_for_Hearing</name>
        <label>Get Milestone for Hearing</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_with_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Administrative Tasks Milestone for Hearing</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Milestone__c</object>
        <outputReference>Milestone</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone_for_Review</name>
        <label>Get Milestone for Review</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_with_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Administrative Tasks Milestone for Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Milestone__c</object>
        <outputReference>Milestone</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone_for_Substantive_Review</name>
        <label>Get Milestone for Substantive Review</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_with_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Administrative Tasks Milestone for Substantive Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Milestone__c</object>
        <outputReference>Milestone</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Application</name>
        <label>Get Related Application</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Related_Applications_Phase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <outputReference>Application</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Phase__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_with_Milestone</name>
        <label>Update Task with Milestone</label>
        <locationX>710</locationX>
        <locationY>684</locationY>
        <inputAssignments>
            <field>Milestone__c</field>
            <value>
                <elementReference>Milestone.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1_Min_After</name>
            <connector>
                <targetReference>Get_Related_Application</targetReference>
            </connector>
            <label>1 Min After</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Milestone__c</objectType>
    </variables>
</Flow>
