force-app/main/default/flows - Copy/Application_Tree_Clearing_Certificate_Intake.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Pre_Application_Date</name>
        <label>Assign Pre-Application Date</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Application.Meeting_Date_Held_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pre_Application_Looked_Up.Meeting_Date_Held_On__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Looked_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Application_Date_Value</name>
        <label>Assign Pre-Application Date Value</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Application.Meeting_Date_Held_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Pre_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Looked_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Application_Looked_Up</name>
        <label>Assign Pre-Application Looked Up</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Application.Pre_Application_Number_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pre_Application_Conference_Number.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pre_Application_Looked_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Lookup_Value</name>
        <label>Assign Project Lookup Value</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Application.MUSW__Project2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Name.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Tree_Clearing_Certificate_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Text</name>
        <label>Assign Project Text</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Application.Project_Name_UDOTA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Project_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Tree_Clearing_Certificate_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_Id</name>
        <label>Assign Record Type Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Record_Type_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application.RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tree_Clearing_Certificate_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tree_Clearing_Certificate_Values</name>
        <label>Assign Tree Clearing Certificate Values</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Application.MUSW__Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tree Clearing Certificate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Zoning_District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZoningDistrict.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Overlay_Zoning_District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZoningOverlay.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Area_of_Disturbance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Area_of_Disturbance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Application_under_ordinance_and_policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Specify_Ordinance_or_Policy_application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_specify_the_ordinance_s_and_or_policy_ies_including_version_s_under_which</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Ordinance_Policy_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ordinance_Policy_Effective_Date</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Found</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;--RECORD NOT FOUND--&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Record Not Found</stringValue>
        </value>
    </choices>
    <choices>
        <name>Project_Not_Listed</name>
        <choiceText>--Project Not Listed--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Not Listed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>Application_API_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MUSW__Application2__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Stage_Project_Information</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Information</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Pre_Application_Found</name>
        <label>Pre-Application Found?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Pre_Application_Looked_Up</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>PreApp_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pre_Application_Conference_Number.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Not_Found</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pre_Application_Date_Value</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Looked_Up</name>
        <label>Project Looked Up?</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Assign_Project_Lookup_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Name.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Project_Not_Listed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Text</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>CG - Adding Pre-Application Conference functionality - 25348</description>
    <dynamicChoiceSets>
        <name>Pre_App_Num</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Application Conference</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Project</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>MUSW__Project2__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>(Application) Tree Clearing Certificate Intake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Application) Tree Clearing Certificate Intake</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Pre_Application_Looked_Up</name>
        <label>Get Pre-Application Looked Up</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Pre_Application_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pre_Application_Conference_Number.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Application2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Tree_Clearing_Certificate_Screen</name>
        <label>Tree Clearing Certificate Screen</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pre_Application_Found</targetReference>
        </connector>
        <fields>
            <name>Permit_Project_Header_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;New {!Record_Type_Name} Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Flow_Stage_Permit_Details</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Stage_Project_Information</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Permit_Project_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Project Information&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you submitting the application under the ordinances and policies in effect at the time the application is accepted for review by the Town of Clayton?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_specify_the_ordinance_s_and_or_policy_ies_including_version_s_under_which</name>
            <dataType>String</dataType>
            <fieldText>Please specify the ordinance(s) and/or policy(ies), including version(s), under which the application is being submitted?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ordinance_Policy_Effective_Date</name>
            <dataType>Date</dataType>
            <fieldText>Ordinance/Policy Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Project_Name</name>
            <choiceReferences>Project_Not_Listed</choiceReferences>
            <choiceReferences>Project</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Project Name</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search for project...</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Enter_Project_Name</name>
            <dataType>String</dataType>
            <fieldText>Enter Project Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Project_Name.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Project_Not_Listed</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Has_a_pre_application_conference_occurred</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has a pre-application conference occurred?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pre_Application_Conference_Number</name>
            <choiceReferences>Not_Found</choiceReferences>
            <choiceReferences>Pre_App_Num</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Pre-Application Conference Number</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_pre_application_conference_occurred</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_of_Pre_Application</name>
            <dataType>Date</dataType>
            <fieldText>Date of Pre-Application</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pre_Application_Conference_Number.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Not_Found</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ZoningDistrict</name>
            <extensionName>clariti:quickChoice</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>MUSW__Application2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Zoning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>2000.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Zoning_District__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>Record_Type_Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ZoningOverlay</name>
            <extensionName>clariti:quickChoice</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>MUSW__Application2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Overlay District</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>2000.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Overlay_Zoning_District__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>Record_Type_Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Acreage</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Application.MUSW__Address__r.MUSW__Parcel__r.Calculated_Acreage__c</elementReference>
            </defaultValue>
            <fieldText>Acreage</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Area_of_Disturbance</name>
            <dataType>Number</dataType>
            <fieldText>Area of Disturbance</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Application_Contacts_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Application_Location_to_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>ApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>AssociatedParcels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Parcel__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation__c</objectType>
    </variables>
    <variables>
        <name>Contact_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Fee_Template_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Fee_List__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Tree_Clearing_Certificate</stringValue>
        </value>
    </variables>
    <variables>
        <name>Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Tree Clearing Certificate</stringValue>
        </value>
    </variables>
    <variables>
        <name>Single_App_Location</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Single_AppContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
