force-app/main/default/flows - Copy/Application_Create_Follow_up_Fees.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Application_Fees</name>
        <label>Create Application Fees</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <actionName>MUSW__CreateFeesAction</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__relatedRecord</typeName>
            <typeValue>MUSW__Application2__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>relatedRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MUSW__CreateFeesAction</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_techfee</name>
        <label>Add to techfee</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>techfee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Fees.MUSW__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Fees</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Have_Tech_fees_been_created</name>
        <label>Have Tech fees been created</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tech_fees_not_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Total_Balance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assess_Tech_Fee__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_fees</targetReference>
            </connector>
            <label>Tech fees not created</label>
        </rules>
        <rules>
            <name>Fees_have_been_paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Total_Balance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assess_Tech_Fee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Tech_Fee_to_Null</targetReference>
            </connector>
            <label>Fees have been paid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>(Application) - Create Follow-up Fees {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Application) - Create Follow-up Fees</label>
    <loops>
        <name>Loop_through_Fees</name>
        <label>Loop through Fees</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>fee</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_techfee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Application</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_fees</name>
        <label>Get fees</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Fees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Fee__c</object>
        <outputReference>fee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Create_Application_Fees</targetReference>
        </connector>
        <inputAssignments>
            <field>Assess_Tech_Fee__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Fee_Calculation__c</field>
            <value>
                <elementReference>techfee</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Tech_Fee_to_Null</name>
        <label>Update Application Tech Fee to Null</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Assess_Tech_Fee__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Fee_Calculation__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Have_Tech_fees_been_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Total_Balance__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>fee</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Fee__c</objectType>
    </variables>
    <variables>
        <name>techfee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
