force-app/main/default/flows - Copy/Application_Flow_Site_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Contacts_to_Collections</name>
        <label>Add Contacts to Collections</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Contact_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Owner_Contact_Information</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Related_Applications_to_Collection</name>
        <label>Add Related Applications to Collection</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Related_Applications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Related_Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_Applications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Related_TIA_Second</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_Applications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Related_Conditional_Third</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_Applications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Related_Special_Fourth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Applicant_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_Values_to_Application</name>
        <label>Assign Field Values to Application</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Application</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Has_a_Pre_Application_Meeting_taken_plac__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_a_Pre_Application_Meeting_Been_Held</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Is_this_a_Modification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_a_Modification_to_an_Approved_Site_Plan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Type_of_Modification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_a_Major_or_Minor_Modification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Site_Plan_Application_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Plan_Application_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Is_the_Applicant_the_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_applicant_the_owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Existing_Use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Proposed_Use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Square_Footage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Square_Footage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Number_of_Phases__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Phases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Number_of_Sections__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Sections</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Total_Acreage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcreageFromParcel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Change_or_Extend_Public_Infrastructure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_the_Project_Change_or_Extend_Public_Infrastructure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Part_of_a_Conditional_Zoning_District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_Project_Part_of_a_Conditional_Zoning_District</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Development_with_Special_Use_Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_Project_Part_of_a_Development_with_a_Special_Use_Permit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Project_within_a_Planned_Development__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_project_within_a_Planned_Development</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Which_Planned_Development__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Planned_Development</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Project_Within_Overlay_District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_Project_within_an_Overlay_District</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Which_Overlay_District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Overlay_District</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Explanation_of_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provide_detailed_information_concerning_all_requests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Related_Applications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_Values</name>
        <label>Assign Owner Values</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Mailing_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Mailing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Mailing_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Mailing_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Mailing_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Mailing_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Mailing_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Mailing_Zip_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Mailing_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contacts_to_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Related_Applications</name>
        <label>Assign Related Applications</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Related_Application.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pre_Application_Number.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_TIA_Second.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Traffic_Impact_Analysis_Application_Number.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_Conditional_Third.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conditional_Zoning_Application_Number.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_Special_Fourth.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Special_Use_Permit_Number.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Related_Applications_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Acreage</name>
        <label>Sum Acreage</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>AcreageFromParcel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Acreage.Calculated_Acreage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Acreage</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Applicant_Owner</name>
        <label>Is Applicant Owner</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Owner</defaultConnectorLabel>
        <rules>
            <name>Not_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application.Is_the_Applicant_the_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_Values</targetReference>
            </connector>
            <label>Not Owner</label>
        </rules>
    </decisions>
    <description>JRS - updated associated from &quot;Pre-Application Meeting Submittal&quot; to &quot;Pre-Application Conference&quot;</description>
    <dynamicChoiceSets>
        <name>Conditional_Zoning</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Zoning Compliance Permit</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Modifications_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Modification__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Overlay_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Project_Within_Overlay_District__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Phases_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Number_of_Phases__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pre_Application</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Application Conference</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sections_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Number_of_Sections__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Special_Use</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Special Use Permit</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>State</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TIA_Application</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Traffic Impact Analysis Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Record_Type_Name_Header</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Record_Type_Name} , &quot;Application&quot;), 
TRIM(SUBSTITUTE({!Record_Type_Name}, &apos;Application&apos;, &quot;&quot;)),
{!Record_Type_Name})</expression>
    </formulas>
    <interviewLabel>(Application Flow) Site Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Application Flow) Site Plan</label>
    <loops>
        <name>Loop_Through_Acreage</name>
        <label>Loop Through Acreage</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <collectionReference>AssociatedParcels</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Acreage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Related_Pre_Application_Submission</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Related_Pre_Application_Submission</name>
        <label>Get Related Pre-Application Submission</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_TIA_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Application Conference</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <outputReference>Pre_Application_Submissions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Application_Contact__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Type2__c</queriedFields>
        <queriedFields>MUSW__Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_TIA_Submission</name>
        <label>Get Related TIA Submission</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Site_Plan_Screen_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Traffic Impact Analysis Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <outputReference>Pre_Application_Submissions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Application_Contact__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Type2__c</queriedFields>
        <queriedFields>MUSW__Account__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Site_Plan_Screen_Flow</name>
        <label>Site Plan Screen Flow</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Field_Values_to_Application</targetReference>
        </connector>
        <fields>
            <name>Record_Name_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 28px;&quot;&gt;New {!Record_Type_Name_Header} Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Project Details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Project_Details_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Project Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Placeholder</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Placeholder link for UDO/application requirements/additional information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Application_Requirements</name>
            <fieldText>Application Requirements</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Requirements_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Has_a_Pre_Application_Meeting_Been_Held</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has a Pre-Application Meeting Been Held?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Pre_Application_Number</name>
                    <choiceReferences>Pre_Application</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Pre-Application Number</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PreApplication_Mandatory_Display</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;A pre-application Meeting is mandatory.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Does_this_project_generate_100_or_more_peak_hour_trips_or_1000_or_more_trips_per</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does this project generate 100 or more peak hour trips or 1000 or more trips per day?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display_Text_TIA_No_SP</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;A traffic assessment is required. Please make sure this is ready to upload on the next page of the application.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_this_project_generate_100_or_more_peak_hour_trips_or_1000_or_more_trips_per</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Traffic_Impact_Analysis_Application_Number</name>
                    <choiceReferences>TIA_Application</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Traffic Impact Analysis Application Number</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_this_project_generate_100_or_more_peak_hour_trips_or_1000_or_more_trips_per</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Modification_Information</name>
            <fieldText>Modification Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Modification_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_this_a_Modification_to_an_Approved_Site_Plan</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is this a Modification to an Approved Site Plan?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_this_a_Major_or_Minor_Modification</name>
                    <choiceReferences>Modifications_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is this a Major or Minor Modification?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_this_a_Modification_to_an_Approved_Site_Plan</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Site_Plan_Application_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Site Plan Application Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_this_a_Modification_to_an_Approved_Site_Plan</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Owner_Information</name>
            <fieldText>Owner Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Owner_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_the_applicant_the_owner</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you the owner of all parcels/addresses included on the application?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Owner_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Owner First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_applicant_the_owner</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Owner_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Owner Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_applicant_the_owner</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Owner_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Owner Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^\(?(\d{3})\)?-?\s?(\d{3})-?\s?(\d{4})</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_applicant_the_owner</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Owner_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Owner Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_applicant_the_owner</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Owner_Mailing_Street</name>
                    <dataType>String</dataType>
                    <fieldText>Owner Mailing Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_applicant_the_owner</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Owner_Mailing_City</name>
                    <dataType>String</dataType>
                    <fieldText>Owner Mailing City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(192, 0, 0);&quot;&gt;Field cannot exceed 40 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Owner_Mailing_City}) &lt;=40</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_applicant_the_owner</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Owner_Mailing_State</name>
                    <choiceReferences>State</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Owner Mailing State</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_applicant_the_owner</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Owner_Mailing_Zip_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Owner Mailing Zip Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_applicant_the_owner</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Site_Information</name>
            <fieldText>Site Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Site_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_of_Project</name>
                    <dataType>String</dataType>
                    <fieldText>Name of Project</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Existing_Use</name>
                    <dataType>String</dataType>
                    <fieldText>Existing Use</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Proposed_Use</name>
                    <dataType>String</dataType>
                    <fieldText>Proposed Use</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Square_Footage</name>
                    <dataType>Number</dataType>
                    <fieldText>Square Footage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_Phases</name>
                    <choiceReferences>Phases_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Number of Phases</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Number_of_Sections</name>
                    <choiceReferences>Sections_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Number of Sections</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Site_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Text_Total_Acreage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Total Acreage&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!AcreageFromParcel}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_Parcels</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>MUSW__Parcel__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>AssociatedParcels</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;MUSW__Parcel_Number2__c&quot;,&quot;guid&quot;:&quot;column-fdaa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Parcel Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Calculated_Acreage__c&quot;,&quot;guid&quot;:&quot;column-ed0f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Calculated Acreage&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;TAG__c&quot;,&quot;guid&quot;:&quot;column-ad1f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;TAG&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MUSW__Primary_Zoning__c&quot;,&quot;guid&quot;:&quot;column-fc0f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Existing Zoning District&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Primary Zoning&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Site_Plan_Screen_Flow_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Site_Plan_Screen_Flow_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Does_the_Project_Change_or_Extend_Public_Infrastructure</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does the Project Change or Extend Public Infrastructure?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_the_Project_Part_of_a_Conditional_Zoning_District</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the Project Part of a Conditional Zoning District?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Conditional_Zoning_Application_Number</name>
                    <choiceReferences>Conditional_Zoning</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Conditional Zoning Application Number</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_Project_Part_of_a_Conditional_Zoning_District</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_the_Project_Part_of_a_Development_with_a_Special_Use_Permit</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the Project Part of a Development with a Special Use Permit?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Special_Use_Permit_Number</name>
                    <choiceReferences>Special_Use</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Special Use Permit Number</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_Project_Part_of_a_Development_with_a_Special_Use_Permit</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_the_project_within_a_Planned_Development</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the project within a Planned Development?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Which_Planned_Development</name>
                    <dataType>String</dataType>
                    <fieldText>Which Planned Development?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_project_within_a_Planned_Development</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_the_Project_within_an_Overlay_District</name>
                    <choiceReferences>Overlay_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the Project within an Overlay District?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Which_Overlay_District</name>
                    <dataType>String</dataType>
                    <fieldText>Which Overlay District?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_Project_within_an_Overlay_District</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Explanation_of_the_Project</name>
            <fieldText>Explanation of the Project</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Explanation_of_the_Project_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Provide_detailed_information_concerning_all_requests</name>
                    <fieldText>Provide detailed information concerning all requests.</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Acreage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AcreageFromParcel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>ApplicationLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>ApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>AssociatedParcels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Parcel__c</objectType>
    </variables>
    <variables>
        <name>Contact_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Owner_Contact_Information</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Pre_Application_Submissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Related_Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Related_Applications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Related_Conditional_Third</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Related_Special_Fourth</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Related_TIA_Second</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
</Flow>
