force-app/main/default/flows - Copy/Application_Utility_As_Builts_Application_Journey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>This decision element evaluates if this is a Pre-Application. For the first outcome whose conditions are met, the flow takes the associated path. If no outcome’s conditions are met, the flow takes the path for the default outcome.</description>
        <name>Evaluate_Is_Utility_As_Builts</name>
        <label>Evaluate Is Utility As Builts</label>
        <locationX>2558</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Utility_As_Builts_Application_Record_Type_API</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Permit_Phase_and_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision element evaluates each phase and status outcome in order. For the first outcome whose conditions are met, the flow takes the associated path. If no outcome’s conditions are met, the flow takes the path for the default outcome.</description>
        <name>Evaluate_Permit_Phase_and_Status</name>
        <label>Evaluate Permit Phase and Status</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intake_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Intake_To_Sufficiency_Check</targetReference>
            </connector>
            <label>Intake Completed</label>
        </rules>
        <rules>
            <name>Sufficiency_Check_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sufficiency Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Total_Balance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_to_Review_Pending</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Sufficiency Check Completed</label>
        </rules>
        <rules>
            <name>Review_Fees_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fees Due</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MUSW__Total_Balance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.MUSW__Total_Balance__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_to_Review_Pending2</targetReference>
            </connector>
            <label>Review Fees Paid</label>
        </rules>
        <rules>
            <name>Review_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_To_Utility_Punch_List_Pending</targetReference>
            </connector>
            <label>Review Completed</label>
        </rules>
        <rules>
            <name>Utility_Punch_List_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Utility Punch List</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_To_Fees_Due</targetReference>
            </connector>
            <label>Utility Punch List Completed</label>
        </rules>
        <rules>
            <name>Inspection_Fees_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fees Due</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MUSW__Total_Balance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.MUSW__Total_Balance__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_To_Inspection_Pending</targetReference>
            </connector>
            <label>Inspection Fees Paid</label>
        </rules>
        <rules>
            <name>Inspection_Pending</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Application__r.Inspection_Scheduled__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_to_Inspection_Scheduled</targetReference>
            </connector>
            <label>Inspection Pending</label>
        </rules>
        <rules>
            <name>Inspection_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_to_Council_Approval_Pending</targetReference>
            </connector>
            <label>Inspection Completed</label>
        </rules>
        <rules>
            <name>Council_Approval_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Council Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Town_Council_Meeting_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_to_Council_In_Progress</targetReference>
            </connector>
            <label>Council Approval Pending</label>
        </rules>
        <rules>
            <name>Council_Approval_Completed_Approved</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Council Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Town_Council_Meeting_Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_to_Warranty</targetReference>
            </connector>
            <label>Council Approval Completed Approved</label>
        </rules>
        <rules>
            <name>Council_Approval_Completed_Denied</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Council Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Town_Council_Meeting_Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_to_Closed</targetReference>
            </connector>
            <label>Council Approval Completed Denied</label>
        </rules>
        <rules>
            <name>Warranty_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Application_to_Closed</targetReference>
            </connector>
            <label>Warranty Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>This is the expiration date of the permit in MONTHS from the issued date of the building permit.</description>
        <name>Expiration_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!Issued_Date}) + 2,  MONTH({!Issued_Date}),  DAY({!Issued_Date}))</expression>
    </formulas>
    <formulas>
        <description>Calculates the current &quot;Total Balance&quot; for the permit record being created/updated.</description>
        <name>Permit_Total_Balance</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!$Record.MUSW__Total_Fees__c},0) - BLANKVALUE({!$Record.MUSW__Total_Payments__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>(Application) - Utility As-Builts Application Journey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Application) - Utility As-Builts Application Journey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Set_Application_to_Closed</name>
        <label>Copy 1 of Set Application to Closed</label>
        <locationX>2954</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>MUSW__Completion_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Application_to_Closed</name>
        <label>Set Application to Closed</label>
        <locationX>2690</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>MUSW__Completion_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Application_to_Council_Approval_Pending</name>
        <label>Set Application to Council Approval Pending</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Council Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Application_to_Council_In_Progress</name>
        <label>Set Application to Council In Progress</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Council Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Application_To_Fees_Due</name>
        <label>Set Application To Fees Due</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Fees Due</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Application_To_Inspection_Pending</name>
        <label>Set Application To Inspection Pending</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Inspection_Requested_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Application_to_Inspection_Scheduled</name>
        <label>Set Application to Inspection Scheduled</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Inspection Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Application_to_Review_Pending</name>
        <label>Set Application to Review Pending</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Application_to_Review_Pending2</name>
        <label>Set Application to Review Pending</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Application_To_Utility_Punch_List_Pending</name>
        <label>Set Application To Utility Punch List Pending</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Utility Punch List</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Application_to_Warranty</name>
        <label>Set Application to Warranty</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Warranty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Intake_To_Sufficiency_Check</name>
        <label>Set Intake To Sufficiency Check</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Milestone_Start_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Sufficiency Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inspection_Requested_Date</name>
        <label>Update Inspection Requested Date</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inspection</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Inspection_Requested__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Application__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone_Start_Date</name>
        <label>Update Milestone Start Date</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sufficiency Check</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.MUSW__Milestones__r</inputReference>
    </recordUpdates>
    <sourceTemplate>clariti__Permit_Journey_Building_Permit</sourceTemplate>
    <start>
        <locationX>2432</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Is_Utility_As_Builts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>10</triggerOrder>
    <variables>
        <description>This is the issued date of the Building Permit when the permit is being issued (phase Issuance and status Pending). This date is set to the current date.</description>
        <name>Issued_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>Pending_Submission_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>Permit_Collection_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Single_Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Utility_As_Builts_Application_Record_Type_API</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>As_Builts</stringValue>
        </value>
    </variables>
</Flow>
