force-app/main/default/flows - Copy/Application_Milestone_Update_Pre_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Update_The_Submission_Retrieved</name>
        <label>Update The Submission Retrieved</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Submission_Retreived.MUSW__Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Milestone.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_submission_to_Be_Related_To_Milestone_And_Review</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_this_related_to_a_Pre_Application</name>
        <label>Is this related to a Pre-Application</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Pre_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Application Meeting Submittal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Submission_Record</targetReference>
            </connector>
            <label>Yes Pre-App</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>(Application) Milestone Update Pre-Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Application) Milestone Update Pre-Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Milestone</name>
        <label>Get Milestone</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_The_Submission_Retrieved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Application2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sufficiency Check</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submission_Record</name>
        <label>Get Submission Record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Application2__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Application Files</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Milestone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MUSW__Submission__c</object>
        <outputReference>Submission_Retreived</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Application2__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_submission_to_Be_Related_To_Milestone_And_Review</name>
        <label>Update submission to Be Related To Milestone And Review</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>Submission_Retreived</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_related_to_a_Pre_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sufficiency Check</stringValue>
            </value>
        </filters>
        <object>MUSW__Review__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <triggerOrder>1700</triggerOrder>
    <variables>
        <name>Submission_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>Submission_Retreived</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>Submission_To_Add_Singular</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
</Flow>
