force-app/main/default/flows - Copy/Application_Flow_Final_Plat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Contacts_to_Collections</name>
        <label>Add Contacts to Collections</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Contact_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Owner_Contact_Information</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Related_Applications_to_Collection</name>
        <label>Add Related Applications to Collection</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Related_Applications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Related_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Applicant_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_Values_to_Application</name>
        <label>Assign Field Values to Application</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>Application</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preliminary_Plat_Approval_Date_and_Project_if_applicable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Number_of_lots_existing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Existing_Lots</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Proposed_number_of_lots__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_Number_of_Lots</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Min_Lot_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Min_Lot_Size_in_Acres</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Electric_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Electric_Provider</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Recreation_Open_Space_Requirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recreation_Open_Space_Requirement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Land_Dedication_Acreage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Land_Dedication_Acreage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Phases__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phases_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Sections__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sections_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Is_the_Applicant_the_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_the_owner_of_all_parcels_addresses_included_on_the_application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Total_Acreage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcreageFromParcel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Related_Applications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_Values</name>
        <label>Assign Owner Values</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Mailing_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Mailing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Mailing_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Mailing_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Mailing_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Mailing_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Mailing_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Mailing_Zip_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Mailing_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Owner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner_Contact_Information.MUSW__Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contacts_to_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Related_Applications</name>
        <label>Assign Related Applications</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>Related_Application.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Construction_Drawing_Application_Number.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Related_Applications_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Acreage</name>
        <label>Sum Acreage</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>AcreageFromParcel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Acreage.Calculated_Acreage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Acreage</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Fee_In_Lieu</name>
        <choiceText>Fee In Lieu</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fee In Lieu</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land_Dedication</name>
        <choiceText>Land Dedication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land Dedication</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Applicant_Owner</name>
        <label>Is Applicant Owner</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Owner</defaultConnectorLabel>
        <rules>
            <name>Not_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application.Is_the_Applicant_the_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_Values</targetReference>
            </connector>
            <label>Not Owner</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Construction_Drawings</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Construction Drawing Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Electric_Provider_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Electric_Provider__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Phases_Choice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Phases__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sections_Choice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sections__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>State</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Record_Type_Name_Header</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Record_Type_Name} , &quot;Application&quot;), 
TRIM(SUBSTITUTE({!Record_Type_Name}, &apos;Application&apos;, &quot;&quot;)),
{!Record_Type_Name})</expression>
    </formulas>
    <interviewLabel>(Application Flow) Final Plat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Application Flow) Final Plat</label>
    <loops>
        <name>Loop_Through_Acreage</name>
        <label>Loop Through Acreage</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <collectionReference>AssociatedParcels</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Acreage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Final_Plat_Screen_Flow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Final_Plat_Screen_Flow</name>
        <label>Final Plat Screen Flow</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Field_Values_to_Application</targetReference>
        </connector>
        <fields>
            <name>Record_Name_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 28px;&quot;&gt;New {!Record_Type_Name_Header} Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Flow_Stages_Screen</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Project_Details_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Project Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Placeholder</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Placeholder link for UDO/application requirements/additional information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Related_Application_s</name>
            <fieldText>Related Application(s)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Related_Application_s_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Has_a_Construction_Drawing_Been_Submitted</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has a Construction Drawing Been Submitted?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CD_Mandatory_Display</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;A construction drawing is mandatory before submitting a final plat&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_a_Construction_Drawing_Been_Submitted</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Construction_Drawing_Application_Number</name>
                    <choiceReferences>Construction_Drawings</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Construction Drawing Application Number</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_a_Construction_Drawing_Been_Submitted</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Owner_Information</name>
            <fieldText>Owner Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Owner_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_you_the_owner_of_all_parcels_addresses_included_on_the_application</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you the owner of all parcels/addresses included on the application?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Owner_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Owner First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_the_owner_of_all_parcels_addresses_included_on_the_application</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Owner_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Owner Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_the_owner_of_all_parcels_addresses_included_on_the_application</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Owner_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>pattern</name>
                        <value>
                            <stringValue>^\(?(\d{3})\)?-?\s?(\d{3})-?\s?(\d{4})</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_the_owner_of_all_parcels_addresses_included_on_the_application</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Owner_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_the_owner_of_all_parcels_addresses_included_on_the_application</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Owner_Mailing_Street</name>
                    <dataType>String</dataType>
                    <fieldText>Owner Mailing Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_the_owner_of_all_parcels_addresses_included_on_the_application</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Owner_Mailing_City</name>
                    <dataType>String</dataType>
                    <fieldText>Owner Mailing City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Field cannot exceed 40 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Owner_Mailing_City}) &lt;=40</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_the_owner_of_all_parcels_addresses_included_on_the_application</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Owner_Mailing_State</name>
                    <choiceReferences>State</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Owner Mailing State</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_the_owner_of_all_parcels_addresses_included_on_the_application</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Owner_Mailing_Zip_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Owner Mailing Zip Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_the_owner_of_all_parcels_addresses_included_on_the_application</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Construction_Drawing_Been_Submitted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Site_Information</name>
            <fieldText>Site Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Site_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_of_Project</name>
                    <dataType>String</dataType>
                    <fieldText>Name of Project</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Preliminary_Plat_Approval_Date_and_Project_if_applicable</name>
                    <dataType>String</dataType>
                    <fieldText>Preliminary Plat Approval Date and Project # (if applicable)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Number_of_Existing_Lots</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Existing Lots</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Proposed_Number_of_Lots</name>
                    <dataType>Number</dataType>
                    <fieldText>Proposed Number of Lots</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Min_Lot_Size_in_Acres</name>
                    <dataType>Number</dataType>
                    <fieldText>Min. Lot Size (in Acres)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Electric_Provider</name>
                    <choiceReferences>Electric_Provider_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Electric Provider</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Site_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Parcels</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>MUSW__Parcel__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>AssociatedParcels</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;MUSW__Parcel_Number2__c&quot;,&quot;guid&quot;:&quot;column-e4c5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Parcel Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Calculated_Acreage__c&quot;,&quot;guid&quot;:&quot;column-942e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Calculated Acreage&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;TAG__c&quot;,&quot;guid&quot;:&quot;column-5c68&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;TAG&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MUSW__Primary_Zoning__c&quot;,&quot;guid&quot;:&quot;column-7812&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Primary Zoning&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Display_Text_Total_Acreage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Total Acreage&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!AcreageFromParcel}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Recreation_Open_Space_Requirement</name>
                    <choiceReferences>Fee_In_Lieu</choiceReferences>
                    <choiceReferences>Land_Dedication</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Recreation/Open Space Requirement</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Land_Dedication_Acreage</name>
                    <dataType>Number</dataType>
                    <fieldText>Land Dedication Acreage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Recreation_Open_Space_Requirement</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Land_Dedication</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Construction_Drawing_Been_Submitted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Phase_and_Section_Information</name>
            <fieldText>Phase and Section Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Phase_and_Section_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phases_Picklist</name>
                    <choiceReferences>Phases_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Phase(s)</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Phase_and_Section_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sections_Picklist</name>
                    <choiceReferences>Sections_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Section(s)</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Phase_and_Section_Information_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Phase_and_Section_Information_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Construction_Drawing_Been_Submitted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Final_Plat_Screen_Flow_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Final_Plat_Screen_Flow_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Please_verify_the_attached_plat_contains_the_information_outlined_on_the_attache</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Please verify the attached plat contains the information outlined on the attached checklist: PLACEHOLDER FOR LINK THE TOWN WILL PROVIDE</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Check the box to verify that the attached plat contains the information in the checklist&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Please_verify_the_attached_plat_contains_the_information_outlined_on_the_attache} = True</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Construction_Drawing_Been_Submitted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Acreage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AcreageFromParcel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>ApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>AssociatedParcels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Parcel__c</objectType>
    </variables>
    <variables>
        <name>Construction_Drawing_Submissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Contact_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Owner_Contact_Information</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Related_Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Related_Applications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
