force-app/main/default/flows - Copy/Application_CheckAppealPeriodEqualsToToday.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Check_If_Decision_Date_Today</name>
        <label>Check If Decision Date = Today</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Decision_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Decision_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>Check If Decision Date = Today</label>
        </rules>
    </decisions>
    <description>HS - Added Alternative Parking Application Record Type</description>
    <environments>Default</environments>
    <formulas>
        <name>TodayFormula</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>(Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Application) - Check Appeal Period Equals To Today</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update</name>
        <label>Update Status To Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>MUSW__Completion_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Decision_Date_Today</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MUSW__Object_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Administrative_Adjustment</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Object_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Determination_Letter</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Object_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alternative_Parking</stringValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-07-31</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
