force-app/main/default/flows - Copy/Application_Flow_Permanent_Sign_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Field_Values_To_Application</name>
        <label>Assign Field Values To Application</label>
        <locationX>176</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>Application</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Perm_Sign_Permit_Submittal_Values</name>
        <label>Assign Perm Sign Permit Submittal Values</label>
        <locationX>176</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>Application.Is_the_Applicant_the_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_The_Applicant_The_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Building_Permit_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Building_Permit_Required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Business_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Is_the_business_in_a_multi_tenant_buildi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_business_in_a_multi_tenant_building_or_shopping_center_or_on_a_multi_buil</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Overlay_District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overlay_District_if_applicable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Total_allowable_sign_face_area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_Total_allowable_sign_face_area</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Existing_and_Allowed_Sign_Face_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingandAllowedSignFaceArea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.New_Site_allowed_sign_face_area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NUMBERNewSiteallowedsignfacearea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Is_the_sign_already_installed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_sign_already_installed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Number_of_Signs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Signs_Count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Application_under_ordinance_and_policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Specify_Ordinance_or_Policy_application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_specify_the_ordinance_s_and_or_policy_ies_including_version_s_under_which</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Ordinance_Policy_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ordinance_Policy_Effective_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Field_Values_To_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Structure_Values</name>
        <label>Assign Structure Values</label>
        <locationX>264</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Single_Structure_Variable_Record.Type_of_Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sign</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Structure_Variable_Record.Structure_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Type_of_Sign1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Structure_Variable_Record.New_Site_allowed_sign_face_area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.New_Site_allowed_sign_face_area1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_of_Signs_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Structure_Variable_Record.Existing_and_Allowed_Sign_Face_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Existing_and_Allowed_Sign_Face_Area1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Structure_Variable_Record.Total_allowable_sign_face_area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Total_allowable_sign_face_area1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Structure_Variable_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Type_of_Sign1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Structure_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Structure_Collection</name>
        <label>Assign to Structure Collection</label>
        <locationX>264</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>Structures_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Structure_Variable_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Signs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NC_pin_and_Tag_Assignments</name>
        <label>NC pin and Tag Assignments</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NCPIN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Parcels.MUSW__Parcel_Number2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TAG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Parcels.TAG__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Parcels</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Awning</name>
        <choiceText>Awning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Awning</stringValue>
        </value>
    </choices>
    <choices>
        <name>Commercial</name>
        <choiceText>Commercial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Electronic_Message_Board</name>
        <choiceText>Electronic Message Board</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electronic Message Board</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing_Structure</name>
        <choiceText>Existing Structure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Structure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Externally</name>
        <choiceText>Externally</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Externally</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ground</name>
        <choiceText>Ground</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ground</stringValue>
        </value>
    </choices>
    <choices>
        <name>Industrial</name>
        <choiceText>Industrial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Industrial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Institutional</name>
        <choiceText>Institutional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Institutional</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internally</name>
        <choiceText>Internally</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internally</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multi_Family</name>
        <choiceText>Multi Family</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multi Family</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Structure</name>
        <choiceText>New Structure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Structure</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Determined</name>
        <choiceText>Not Determined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Determined</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Project_Not_Shown</name>
        <choiceText>--PROJECT NOT SHOWN--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Not Shown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Replacement</name>
        <choiceText>Replacement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Replacement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Residential</name>
        <choiceText>Residential</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Residential</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Family</name>
        <choiceText>Single Family</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Family</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_family_Attached</name>
        <choiceText>Single Family Attached</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single family Attached</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_family_Detached</name>
        <choiceText>Single Family Detached</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single family Detached</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wall</name>
        <choiceText>Wall</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wall</stringValue>
        </value>
    </choices>
    <choices>
        <name>X10_00_AM</name>
        <choiceText>10:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X10_00_PM</name>
        <choiceText>10:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X11_00_AM</name>
        <choiceText>11:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X11_00_PM</name>
        <choiceText>11:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12_00_AM</name>
        <choiceText>12:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12_00_PM</name>
        <choiceText>12:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_00_AM</name>
        <choiceText>1:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_00_PM</name>
        <choiceText>1:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_00_AM</name>
        <choiceText>2:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_00_PM</name>
        <choiceText>2:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_00_AM</name>
        <choiceText>3:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_00_PM</name>
        <choiceText>3:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_00_AM</name>
        <choiceText>4:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_00_PM</name>
        <choiceText>4:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_00_AM</name>
        <choiceText>5:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_00_PM</name>
        <choiceText>5:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6_00_AM</name>
        <choiceText>6:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6_00_PM</name>
        <choiceText>6:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X7_00_AM</name>
        <choiceText>7:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X7_00_PM</name>
        <choiceText>7:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X8_00_AM</name>
        <choiceText>8:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X8_00_PM</name>
        <choiceText>8:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X9_00_AM</name>
        <choiceText>9:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X9_00_PM</name>
        <choiceText>9:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>Application_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MUSW__Application2__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Building_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Building Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contractor_Information</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contractor Information</stringValue>
        </value>
    </constants>
    <constants>
        <description>Driveway Permit Constant</description>
        <name>Driveway_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Driveway Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Quick_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Quick Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Stage_Confirmation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirmation</stringValue>
        </value>
    </constants>
    <constants>
        <name>Stage_Project_Information</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Information</stringValue>
        </value>
    </constants>
    <constants>
        <name>Trade_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Trade Permit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Insure_Parcel_Exists</name>
        <label>Insure Parcel Exists</label>
        <locationX>396</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Parcels</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Parcels.TAG__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NC_pin_and_Tag_Assignments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>JRS - adding new questions</description>
    <dynamicChoiceSets>
        <name>Construction_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Construction_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contractor_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Contractor_Type__c</picklistField>
        <picklistObject>MUSW__Permit_Contractor__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OverlayDistrict</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Overlay_District__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OwnerYesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_the_Applicant_the_Owner__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PermSignTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Perm_Type_of_Sign__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Finding associated Projects</description>
        <name>Project_Name</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>MUSW__Project2__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Use_Group_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Group__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ExistingandAllowedSignFaceArea</name>
        <dataType>Number</dataType>
        <expression>if(ISBLANK({!Number_Total_allowable_sign_face_area}),0,{!Number_Total_allowable_sign_face_area})
- if(ISBLANK({!Total_Existing_Proposed_sign_face_area_if_applicable}),0,{!Total_Existing_Proposed_sign_face_area_if_applicable})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Number_Total_allowable_sign_face_area</name>
        <dataType>Number</dataType>
        <expression>IF(
NOT(ISBLANK({!Length_of_building_or_longest_street_frontage_ft})),
{!Length_of_building_or_longest_street_frontage_ft}*1.25,
IF({!Total_Wall_Area_Number_Formula}&gt;0, 
{!Total_Wall_Area_Number_Formula}*0.25, 
0))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Number_Total_Allowed_Sign_sqft_25_Calculation</name>
        <dataType>Number</dataType>
        <expression>IF({!Total_Wall_Area_Number_Formula}&gt;0, {!Total_Wall_Area_Number_Formula}*0.25, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NUMBERNewSiteallowedsignfacearea</name>
        <dataType>Number</dataType>
        <expression>if(ISBLANK({!Number_Total_allowable_sign_face_area}),0,{!Number_Total_allowable_sign_face_area})
- if(ISBLANK({!Proposed_sign_face_area}),0,{!Proposed_sign_face_area})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TEXT_Total_Allowable_Sign_Face</name>
        <dataType>String</dataType>
        <expression>TEXT({!Number_Total_allowable_sign_face_area}) &amp; &quot; square feet&quot;</expression>
    </formulas>
    <formulas>
        <name>TextExistingandAllowedSignFaceArea</name>
        <dataType>String</dataType>
        <expression>TEXT(if(ISBLANK({!Number_Total_allowable_sign_face_area}),0,{!Number_Total_allowable_sign_face_area})
- if(ISBLANK({!Total_Existing_Proposed_sign_face_area_if_applicable}),0,{!Total_Existing_Proposed_sign_face_area_if_applicable})) &amp; &quot; square feet&quot;</expression>
    </formulas>
    <formulas>
        <name>TEXTNewSiteallowedsignfacearea</name>
        <dataType>String</dataType>
        <expression>TEXT(if(ISBLANK({!Number_Total_allowable_sign_face_area}),0,{!Number_Total_allowable_sign_face_area})
- if(ISBLANK({!Proposed_sign_face_area}),0,{!Proposed_sign_face_area})) &amp; &quot; square feet&quot;</expression>
    </formulas>
    <formulas>
        <name>Total_Allowed_Wall_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!Number_Total_Allowed_Sign_sqft_25_Calculation})</expression>
    </formulas>
    <formulas>
        <name>Total_Proposed_Sign_Area</name>
        <dataType>Number</dataType>
        <expression>{!Sign_Height_ft}*{!Sign_Length_ft}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Total_Proposed_Sign_Area_Default</name>
        <dataType>Number</dataType>
        <expression>IF({!Total_Proposed_Sign_Area}&gt;0, {!Total_Proposed_Sign_Area}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Total_Proposed_Sign_Area_Text</name>
        <dataType>String</dataType>
        <expression>TEXT({!Total_Proposed_Sign_Area})</expression>
    </formulas>
    <formulas>
        <name>Total_Wall_Area_Number_Formula</name>
        <dataType>Number</dataType>
        <expression>{!Building_Length_store_Frontage_ft}*{!Building_Height_ft}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Total_Wall_Area_Text_Formula</name>
        <dataType>String</dataType>
        <expression>TEXT({!Building_Length_store_Frontage_ft}*{!Building_Height_ft}) &amp; &quot; square feet.&quot;</expression>
    </formulas>
    <interviewLabel>(Application Flow) Permanent Sign Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Application Flow) Permanent Sign Permit Intake</label>
    <loops>
        <name>Loop_Through_Parcels</name>
        <label>Loop Through Parcels</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>AssociatedParcels</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Insure_Parcel_Exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Street_Renaming_Closure_Submittal_Project_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Signs</name>
        <label>Loop Through Signs</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <collectionReference>Sign_Information_Repeated.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Structure_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Perm_Sign_Permit_Submittal_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Street_Renaming_Closure_Submittal_Project_Details</name>
        <label>Perm Sign Permit Submittal Project Details</label>
        <locationX>176</locationX>
        <locationY>626</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Signs</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Quick_Permit_Project_Header_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;New {!Record_Type_Name} Application&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Flow_Stage_Quick_Permit_Details</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Stage_Project_Information</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Quick_Permit_Project_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Project Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Street_Renaming_Closure_Submittal_Project_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Street_Renaming_Closure_Submittal_Project_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you submitting the application under the ordinances and policies in effect at the time the application is accepted for review by the Town of Clayton?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Please_specify_the_ordinance_s_and_or_policy_ies_including_version_s_under_which</name>
                    <dataType>String</dataType>
                    <fieldText>Please specify the ordinance(s) and/or policy(ies), including version(s), under which the application is being submitted?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Ordinance_Policy_Effective_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Ordinance/Policy Effective Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_this_for_an_existing_project</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is this for an existing project?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>What_is_the_current_project_name</name>
                    <choiceReferences>Project_Not_Shown</choiceReferences>
                    <choiceReferences>Project_Name</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>What is the current project name?</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_this_for_an_existing_project</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Proposed_Project_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Proposed Project Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_this_for_an_existing_project</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>What_is_the_current_project_name.selectedChoiceValues</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Project_Not_Shown</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Zoning_District</name>
                    <extensionName>clariti:quickChoice</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>MUSW__Application2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Zoning_District__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>Application.RecordTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Zoning District</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Overlay_Zoning_District</name>
                    <extensionName>clariti:quickChoice</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>MUSW__Application2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Overlay_Zoning_District__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Overlay Zoning Districts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>style_width</name>
                        <value>
                            <numberValue>2000.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Town_Limits_or_ETJ</name>
                    <dataType>String</dataType>
                    <fieldText>Town Limits or ETJ</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type_of_Sign</name>
                    <extensionName>clariti:quickChoice</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>MUSW__Application2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Perm_Type_of_Sign__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>Application.RecordTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Type of Sign</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Awning_questions</name>
            <fieldText>Awning questions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Awning_questions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_there_any_existing_awning_signs</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are there any existing awning signs?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sign_Face_Area_awning</name>
                    <dataType>Number</dataType>
                    <fieldText>Sign Face Area</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Numeric (square feet)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Linear_Footage_of_Building_Facade</name>
                    <dataType>Number</dataType>
                    <fieldText>Linear Footage of Building Facade</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Numeric (linear feet)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_there_any_existing_awning_signs</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Total_Sign_Face_Area_of_All_Awning_Signs</name>
                    <dataType>Number</dataType>
                    <fieldText>Total Sign Face Area of All Awning Signs</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Numeric (linear feet)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_there_any_existing_awning_signs</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Does_the_awning_project_into_the_street_right_of_way</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does the awning project into the street right-of-way?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_the_awning_sign_illuminated</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the awning sign illuminated?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_the_ground_sign_illuminated_internally_or_externally</name>
                    <choiceReferences>Internally</choiceReferences>
                    <choiceReferences>Externally</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the ground sign illuminated internally or externally?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_awning_sign_illuminated</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Electronic_Message_Board_questions</name>
            <fieldText>Electronic Message Board questions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Electronic_Message_Board_questions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_there_any_existing_electronic_message_boards</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are there any existing electronic message boards?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Are_you_replacing_or_adding_a_new_electronic_message_board</name>
                    <choiceReferences>New</choiceReferences>
                    <choiceReferences>Replacement</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you replacing or adding a new electronic message board?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_there_any_existing_electronic_message_boards</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_this_a_corner_lot</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is this a corner lot?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_replacing_or_adding_a_new_electronic_message_board</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Invalid_Electronic_Message_Board</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 22, 22);&quot;&gt;This application cannot be submitted since two electronic boards are not permitted on the lot. &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_this_a_corner_lot</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Acreage</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Application.MUSW__Address__r.MUSW__Parcel__r.Calculated_Acreage__c</elementReference>
                    </defaultValue>
                    <fieldText>Acreage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Invalid_Acreage_amount</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 44, 44);&quot;&gt;This application cannot be submitted since two electronic message boards are not permitted on a lot that is less than 2 acres.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Acreage</leftValueReference>
                            <operator>LessThan</operator>
                            <rightValue>
                                <numberValue>2.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Distance_from_residentially_zoned_land</name>
                    <dataType>Number</dataType>
                    <fieldText>Distance from residentially-zoned land?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Numeric (linear feet)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Distance_from_other_electronic_message</name>
                    <dataType>Number</dataType>
                    <fieldText>Distance from other electronic message?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Numeric (linear feet)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_replacing_or_adding_a_new_electronic_message_board</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>New</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Sign_Face_Area</name>
                    <dataType>Number</dataType>
                    <fieldText>Sign Face Area</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Number (square feet)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Percentage_of_Total_Sign_Face_Area</name>
                    <dataType>Number</dataType>
                    <fieldText>Percentage of Total Sign Face Area</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Numeric (square feet)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Is_the_electronic_message_board_proposed_to_be_installed_on_a_wall_or_the_ground</name>
                    <choiceReferences>Wall</choiceReferences>
                    <choiceReferences>Ground</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the electronic message board proposed to be installed on a wall or the ground?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sign_Height</name>
                    <dataType>Number</dataType>
                    <fieldText>Sign Height</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Numeric (feet)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Static_Hold_Time_Between_Message_Changes</name>
                    <dataType>Number</dataType>
                    <fieldText>Static Hold Time Between Message Changes</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Numeric (minutes)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Proposed_lumens_per_square_foot_during_daylight_hours</name>
                    <dataType>Number</dataType>
                    <fieldText>Proposed lumens per square foot during daylight hours?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Numeric&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Proposed_lumens_per_square_foot_during_dawn_dusk_and_nighttime_hours</name>
                    <dataType>Number</dataType>
                    <fieldText>Proposed lumens per square foot during dawn, dusk, and nighttime hours?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Numeric&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Sign.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Electronic_Message_Board</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ground_Sign_questions</name>
            <fieldText>Ground Sign questions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ground_Sign_questions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_there_any_existing_ground_signs_on_the_lot</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are there any existing ground signs on the lot?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Are_you_replacing_or_adding_a_new_ground_sign</name>
                    <choiceReferences>New</choiceReferences>
                    <choiceReferences>Replacement</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you replacing or adding a new ground sign?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>is_this_a_corner_lot_ground</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is this a corner lot?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_replacing_or_adding_a_new_ground_sign</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>New</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Corner_Lot_Ground_warning</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(244, 39, 39);&quot;&gt;This application cannot be submitted since only one ground sign is permitted on the lot.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>is_this_a_corner_lot_ground</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Acreage_ground</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Application.MUSW__Parcel__r.Calculated_Acreage__c</elementReference>
                    </defaultValue>
                    <fieldText>Acreage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>is_this_a_corner_lot_ground</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Invalid_Acreage_Amount_Ground</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 44, 44);&quot;&gt;This application cannot be submitted since two ground signs are not permitted on a lot that is less than 2 acres.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Acreage_ground</leftValueReference>
                            <operator>LessThan</operator>
                            <rightValue>
                                <numberValue>2.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Sign_Face_Area_Ground</name>
                    <dataType>Number</dataType>
                    <fieldText>Sign Face Area</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Numeric (square feet)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Sign_Height_Ground</name>
                    <dataType>Number</dataType>
                    <fieldText>Sign Height</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Numeric (feet)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Distance_from_adjacent_lot_line</name>
                    <dataType>Number</dataType>
                    <fieldText>Distance from adjacent lot line</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Numeric (linear feet)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Distance_from_other_proposed_or_existing_ground_sign</name>
                    <dataType>Number</dataType>
                    <fieldText>Distance from other proposed or existing ground sign?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Numeric (linear feet)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>is_this_a_corner_lot_ground</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Number_of_adjacent_lots_with_ground_signs</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of adjacent lots with ground signs?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Sign.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Ground</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ground_Signs_Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Distance_from_ground_sign_s_on_adjacent_lot_s</name>
                <dataType>Number</dataType>
                <fieldText>Distance from ground sign(s) on adjacent lot(s).</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Sign.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Ground</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ground_Questions_section2</name>
            <fieldText>Ground Questions section 2</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ground_Questions_section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Distance_from_public_street_right_of_way</name>
                    <dataType>Number</dataType>
                    <fieldText>Distance from public street right-of-way.</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Numeric (feet)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>is_the_ground_sign_illuminated</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the ground sign illuminated?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_the_ground_sign_illuminated_internally_or_externally_ground</name>
                    <choiceReferences>Internally</choiceReferences>
                    <choiceReferences>Externally</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the ground sign illuminated internally or externally?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>is_the_ground_sign_illuminated</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Sign.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Ground</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Projection_questions</name>
            <fieldText>Projection questions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Projection_questions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_projection_signs_proposed</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of projection signs proposed?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Sign.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Projecting</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Projection_Sign_Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Sign_Face_Area_Projection</name>
                <dataType>Number</dataType>
                <fieldText>Sign Face Area</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;Numeric (square feet)&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
            </fields>
            <fields>
                <name>Sign_Height_Projection</name>
                <dataType>Number</dataType>
                <fieldText>Sign Height</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;Numeric (feet)&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
            </fields>
            <fields>
                <name>Distance_from_adjacent_lot_line_Projection</name>
                <dataType>Number</dataType>
                <fieldText>Distance from adjacent lot line</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;Numeric (linear feet)&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
            </fields>
            <fields>
                <name>Does_the_awning_project_into_the_street_right_of_way_projection</name>
                <choiceReferences>Yes_Choice</choiceReferences>
                <choiceReferences>No</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Does the awning project into the street right-of-way?</fieldText>
                <fieldType>RadioButtons</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Sign.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Projecting</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Projection_Signs_Questions_2</name>
            <fieldText>Projection Signs Questions 2</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Projection_Signs_Questions_2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_the_projection_sign_illuminated</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the projection sign illuminated?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_the_projection_sign_illuminated_internally_or_externally</name>
                    <choiceReferences>Internally</choiceReferences>
                    <choiceReferences>Externally</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the projection sign illuminated internally or externally?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_projection_sign_illuminated</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Sign.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Projecting</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subdivision_questions</name>
            <fieldText>Subdivision questions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Subdivision_questions_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Sign.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Subdivision</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>obsolete_fields_to_be_deleted</name>
            <fieldText>obsolete fields (to be deleted)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>obsolete_fields_to_be_deleted_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_The_Applicant_The_Owner</name>
                    <choiceReferences>OwnerYesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is The Applicant The Owner?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_the_sign_already_installed</name>
                    <choiceReferences>OwnerYesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the sign already installed?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Building_Permit_Required</name>
                    <choiceReferences>OwnerYesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Building Permit Required</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Street_Renaming_Closure_Submittal_Project_Details_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Street_Renaming_Closure_Submittal_Project_Details_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Business Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>NC_PIN</name>
                    <fieldText>&lt;p&gt;NC PIN:&lt;/p&gt;&lt;p&gt;{!NCPIN}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SiteAddressParcelTAG</name>
                    <fieldText>&lt;p&gt;Site Address Parcel TAG (Parcel ID):&lt;/p&gt;&lt;p&gt;{!TAG}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Street_Renaming_Closure_Submittal_Project_Details_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Street_Renaming_Closure_Submittal_Project_Details_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_the_business_in_a_multi_tenant_building_or_shopping_center_or_on_a_multi_buil</name>
                    <choiceReferences>OwnerYesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the business in a multi-tenant building or shopping center, or on a multi-building parcel?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Overlay_District_if_applicable</name>
                    <choiceReferences>OverlayDistrict</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Overlay District (if applicable)</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sign_Information_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please ensure your sign placement(s) follow the following guidelines:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Sign Number Limits&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(170, 1, 4); font-size: 16px;&quot;&gt;&lt;u&gt;Awning Signs:&lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;&lt;u&gt; 1 per every linear 10ft.&amp;nbsp;&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM HEIGHT&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Under the roof or top of a parapet wall&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM SIGN FACE AREA PER INDIVIDUAL AWNING SIGN &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;25 percent of the awning area upon which it is located, including the drip flap, if provided&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM SIGN FACE AREA OF ALL AWNING SIGNS PER LOT&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;5 percent of each faade facing a street&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(170, 1, 4);&quot;&gt;&lt;u&gt;Banner signs:&lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;&lt;u&gt; 1 per use, or non-residential tenant.&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM MOUNTING HEIGHT&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Below the roof or parapet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM SIGN FACE AREA PER INDIVIDUAL BANNER &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;20 square feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM BANNER LENGTH&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;10 linear feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM BANNER WIDTH &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;4 linear feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MINIMUM SETBACK&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;10 feet from the edge of pavement or minimum necessary to avoid placement within a street right-of-way&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM DURATION&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;One occurrence for a maximum duration of 30 consecutive days per use or tenant per calendar year&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;helvetica neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(61, 69, 76);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(170, 1, 4);&quot;&gt;&lt;u&gt;Electronic Message Boards:&lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;&lt;u&gt; 1 per lot or development&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MINIMUM SEPARATION OF EMB FROM RESIDENTIALLY-ZONED LAND&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;150 linear feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MINIMUM SEPARATION FROM ANOTHER EMB &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;35 linear feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM HEIGHT&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;In accordance with wall or ground sign standards, as appropriate&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM EMB FACE AREA &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;In accordance with wall or ground sign standards, as appropriate&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM PERCENTAGE OF TOTAL SIGN FACE AREA DEVOTED TO AN EMB&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Lesser of: 32 square feet or 50% of the total allowable sign face area for the type of sign proposed (i.e., wall, ground)&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MINIMUM STATIC HOLD TIME BETWEEN MESSAGE CHANGES &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;1 minute&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM BRIGHTNESS&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;465 lumens per square foot during daytime hours&lt;/li&gt;&lt;li&gt;70 lumens per square foot during dawn, dusk, and nighttime hours&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;helvetica neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(61, 69, 76);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(170, 1, 4);&quot;&gt;&lt;u&gt;Flag:&lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;&lt;u&gt; 3 per lot&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM FLAGPOLE HEIGHT&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;40 feet above grade or 40 feet above the highest point of a building if building-mounted&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM NUMBER OF FLAGS PER FLAG POLE &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;2&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM SIZE PER FLAG&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;60 square feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MINIMUM SETBACK FROM ANY LOT LINE FOR A FLAGPOLE OR OTHER MOUNTING DEVICE&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The height of the flagpole or mounting device if building-mounted&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;helvetica neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(61, 69, 76);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(170, 1, 4); font-size: 16px;&quot;&gt;&lt;u&gt;Ground Signs:&lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;&lt;u&gt; 1 per lot&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM HEIGHT&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;6 feet for lots in residential districts; 15 feet for lots in all other districts [3] [4]&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM SIGN FACE AREA&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Lots in CON, PUB, and residential districts 32 sf per sign Lots in OFI, NCM 32 sf per sign Lots in DTNC, CZD, MXD CZM 48 sf per sign Lots in CRM, CZC, LID, HID, CZI 150 sf per sign&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MINIMUM SETBACK FROM ANY LOT LINE&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;5 feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MIN. SEPARATION BETWEEN GROUND SIGNS ON SAME LOT &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;At least 250 feet apart at the closest point&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MIN. SEPARATION BETWEEN GROUND SIGNS ON ADJACENT LOTS&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;50 feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;helvetica neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(61, 69, 76);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(170, 1, 4);&quot;&gt;&lt;u&gt;Incidental&amp;nbsp;Signs&lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(119, 0, 2);&quot;&gt;:&lt;/strong&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt; 1 per principal + 1 per&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM NUMBER OF INCIDENTAL SIGNS PER LOT &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Lots with an existing single family detached dwelling or manufactured home 1 per principal + 1 per secondary building Lots with a single family attached, duplex, triplex, or quadplex dwelling unit 1 per dwelling unit Multi family dwelling 1 per building + 5 Lots in a mixed-use or non-residential district&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM HEIGHT&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;6 feet for lots in residential districts; 12 feet for lots in mixed-use and non-residential districts&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM SIGN FACE AREA &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;1 square feet per sign&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;TOTAL INCIDENTAL SIGN FACE AREA PER MIXED-USE OR NONRESIDENTIAL LOT OR DEVELOPMENT&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;36 square feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MINIMUM SETBACK FROM ANY LOT LINE &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;5 feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;helvetica neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(61, 69, 76);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(170, 1, 4);&quot;&gt;&lt;u&gt;Projecting&amp;nbsp;Signs&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM NUMBER OF PROJECTING SIGNS PER LOT &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;One per building faade&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM HEIGHT&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;A projecting sign shall not project above the height of the wall it is mounted to&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM SIGN FACE AREA &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;40 square feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MINIMUM SETBACK FROM ANY LOT LINE&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;A projecting sign shall not encroach into a required yard by more than 6 feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;helvetica neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(61, 69, 76);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(170, 1, 4);&quot;&gt;&lt;u&gt;Sidewalk&amp;nbsp;Sign&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM NUMBER OF SIDEWALK SIGNS PER LOT &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;1 per street frontage, regardless of the number of tenants&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MINIMUM CLEARANCE AROUND SIDEWALK SIGN&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;5 feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM HEIGHT&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;4 feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM SIGN FACE AREA&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;8.5 square feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM NUMBER OF SIDEWALK SIGN SIDES &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;2&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM DISTANCE FROM PRIMARY ENTRANCE OF USE BEING ADVERTISED&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;25 linear feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;helvetica neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(61, 69, 76);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(170, 1, 4);&quot;&gt;&lt;u&gt;Subdivision Signs&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM NUMBER OF SUBDIVISION SIGNS PER DEVELOPMENT &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;1 per development entrance&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM HEIGHT&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;6 feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM SIGN FACE AREA &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;32 square feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MINIMUM SETBACK FROM ANY LOT LINE&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;None&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MINIMUM SETBACK FROM RIGHT-OF-WAY &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;5 feet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;helvetica neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(61, 69, 76);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(170, 1, 4); font-size: 16px;&quot;&gt;&lt;u&gt;Suspending Signs&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM NUMBER OF PROJECTION SIGNS PER DEVELOPMENT &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;1 per lot or 1 per tenant in a multi-tenant building&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM MOUNTING HEIGHT&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Below the roof or parapet&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM SIGN FACE AREA&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;3 square feet; 6 square feet in the DTNC district&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MINIMUM SETBACK FROM ANY LOT LINE&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Two feet of horizontal distance from the back of the curb&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;helvetica neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(61, 69, 76);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(170, 1, 4); font-size: 16px;&quot;&gt;&lt;u&gt;Wall Signs:&lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;DISTRICT TYPE OF TENANCY TYPE OF FAADE [1] MAX. # OF SIGNS TOTAL SIGN AREA/FAADE [2] CON, PUB, RESIDENTIAL, CZR All Primary [3] 1 16 square feet OFI, NCM&lt;/li&gt;&lt;li&gt;Single-tenant Primary [3] 1 32 square feet&lt;/li&gt;&lt;li&gt;Multi-tenant Primary [3] 1/tenant&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;ALL OTHERS &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Single-tenant [4] Primary 2 Lesser of: 1.5 sf/linear foot of building faade or 200 sf&lt;/li&gt;&lt;li&gt;Single-tenant [4] Secondary 1 Lesser of: 1 sf/linear foot of building faade or 100 sf&lt;/li&gt;&lt;li&gt;Multi-tenant Primary 1/tenant Lesser of: 1.5 sf/linear foot of building faade or 200 sf&lt;/li&gt;&lt;li&gt;Multi-tenant Secondary 1/tenant [5] Lesser of: 1 sf/linear foot of building faade or 100 sf&lt;/li&gt;&lt;li&gt;Large format retail Primary 4 Lesser of: 1.5 sf/linear foot of building faade or 200 sf&lt;/li&gt;&lt;li&gt;Large format retail Secondary 2 Lesser of: 1 sf/linear foot of building faade or 100 sf&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM MOUNTING HEIGHT&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;No wall sign shall extend above, below, or beyond the building wall to which it is attached&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM DISTANCE FROM A BUILDING CORNER OR MULTI-TENANT BOUNDARY &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Wall signs shall be no less than 18 inches from the outside corner of a building wall or from the boundary of a tenants wall frontage on a multi-tenant building&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MINIMUM SETBACK FROM ANY LOT LINE&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Same as the building&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;helvetica neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(61, 69, 76);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(170, 1, 4); font-size: 16px;&quot;&gt;&lt;u&gt;Window Signs:&amp;nbsp;&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM NUMBER OF WINDOW SIGNS PER DEVELOPMENT &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;No limit, subject to the maximum sign face area standards&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM MOUNTING HEIGHT&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Window signs are not permitted above the second story or higher than 25 feet above ground level&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(119, 0, 2);&quot;&gt;MAXIMUM SIGN FACE AREA&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;DTNC District 25% of the outer extent of any single window or door&lt;/li&gt;&lt;li&gt;All Other Districts 33% of the outer extent of any single window or door&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sign_Area_Calculator_Help_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(119, 0, 2);&quot;&gt;For more information regarding sign number limits and requirements &lt;/strong&gt;&lt;a href=&quot;https://www.townofclaytonnc.org/728/Permits-Applications-Inspections&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(119, 0, 2);&quot;&gt;&lt;strong&gt;&lt;u&gt;click here&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(119, 0, 2);&quot;&gt; and then select the Sign Permit Application.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Street_Renaming_Closure_Submittal_Project_Details_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Street_Renaming_Closure_Submittal_Project_Details_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Building_Length_store_Frontage_ft</name>
                    <dataType>Number</dataType>
                    <fieldText>Building Length / store Frontage (ft)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Sign_Height_ft</name>
                    <dataType>Number</dataType>
                    <fieldText>Sign Height (ft)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Street_Renaming_Closure_Submittal_Project_Details_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Building_Height_ft</name>
                    <dataType>Number</dataType>
                    <fieldText>Building Height (ft)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Sign_Length_ft</name>
                    <dataType>Number</dataType>
                    <fieldText>Sign Length (ft)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Street_Renaming_Closure_Submittal_Project_Details_Section12_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Street_Renaming_Closure_Submittal_Project_Details_Section12_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Type_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>HIDE THIS SECTION for now</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Street_Renaming_Closure_Submittal_Project_Details_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Street_Renaming_Closure_Submittal_Project_Details_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Length_of_building_or_longest_street_frontage_ft</name>
                    <dataType>Number</dataType>
                    <fieldText>Length of building or longest street frontage (ft)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Total_Existing_Proposed_sign_face_area_if_applicable</name>
                    <dataType>Number</dataType>
                    <fieldText>Total Existing / Proposed sign face area (if applicable)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Proposed_sign_face_area</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Total_Proposed_Sign_Area</elementReference>
                    </defaultValue>
                    <fieldText>Proposed sign face area</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Street_Renaming_Closure_Submittal_Project_Details_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Record_Type_Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>HIDE THIS SECTION for now</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sign_Information_Repeated</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Sign_Info_Repeater</name>
                <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(119, 0, 2);&quot;&gt;Sign Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <fields>
                <name>Type_of_Sign1</name>
                <choiceReferences>PermSignTypes</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Type of Sign</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Total_allowable_sign_face_area1</name>
                <dataType>Number</dataType>
                <fieldText>Total allowable sign face area (sq ft)</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
            </fields>
            <fields>
                <name>Existing_and_Allowed_Sign_Face_Area1</name>
                <dataType>Number</dataType>
                <fieldText>Existing and Current Available Sign Face Area (sq ft)</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>0</scale>
            </fields>
            <fields>
                <name>New_Site_allowed_sign_face_area1</name>
                <dataType>Number</dataType>
                <fieldText>New Site allowed sign face area (sq ft)</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>clariti__Building_Permitting_Applications</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Parcels</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>ApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>AssociatedParcels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Parcel__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Error_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Contact_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Fee_Template_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Fee_List__c</objectType>
    </variables>
    <variables>
        <name>NCPIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Number_of_Signs_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Proposed_Street_Names</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Proposed_Street_Name__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Single_Structure_Variable_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Structure__c</objectType>
    </variables>
    <variables>
        <name>SingleApplicationLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Structures_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Structure__c</objectType>
    </variables>
    <variables>
        <name>TAG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Work_Item_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Work_Item__c</objectType>
    </variables>
</Flow>
