force-app/main/default/flows - Copy/Application_Appeal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Appeal_Fields</name>
        <label>Assign Appeal Fields</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Application.MUSW__Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Appeal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.What_are_you_appealing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_order_requirement_interpretation_or_decision_are_you_appealing_to_the_Board</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.What_are_the_grounds_of_this_appeal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_are_the_grounds_of_this_appeal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Standing_to_Submit_Appeal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppealReason.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Has_a_Pre_Application_Meeting_taken_plac__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_a_pre_application_conference_occurred</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Are_you_appealing_a_notice_of_violation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_appealing_a_Notice_of_Violation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Are_you_appealing_a_Determination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_appealing_a_Determination</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Determination_Num_Not_Found</name>
        <label>Assign Determination Num Not Found</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Application.Enter_Determination_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Determination_Number2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Appeal_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Determination_Number</name>
        <label>Assign Determination Number</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Application.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Determination_Number.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Appeal_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Application_Date</name>
        <label>Assign Pre-Application Date</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Application.Meeting_Date_Held_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pre_Application_Looked_Up.Meeting_Date_Held_On__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Violation_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Application_Date_Values</name>
        <label>Assign Pre-Application Date Values</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Application.Meeting_Date_Held_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Pre_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Violation_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Application_Looked_up</name>
        <label>Assign Pre-Application Looked up</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Application.Pre_Application_Number_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pre_Application_Conference_Number.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pre_Application_Looked_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Violation_Number</name>
        <label>Assign Violation Number</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Application.Complaint_or_Violation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notice_of_Violation_Number.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determination_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Violation_Number_Not_Found</name>
        <label>Assign Violation Number Not Found</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Application.Enter_Violation_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Notice_of_Violation_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determination_Found</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>An_ownership_interest_a_leasehold_interest_or_an_interest_created_by_easement_re</name>
        <choiceText>An ownership interest, a leasehold interest, or an interest created by easement, restriction, or covenant in the property that is the subject of the decision or Determination being appealed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>An ownership interest, a leasehold interest, or an interest created by easement, restriction, or covenant in the property that is the subject of the decision or Determination being appealed</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClearDebris</name>
        <choiceText>Has the site of the temporary use been cleared of all debris? &lt;strong&gt;&lt;em&gt;Note: All debris must be cleared within five (5) of the end of the temporary use&lt;/em&gt;&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CrowdControl</name>
        <choiceText>Have adequate provisions for crowd control been provided? &lt;strong&gt;&lt;em&gt;Note: Applicant may be required to provide plans for crowd control.&lt;/em&gt;&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Determination_Letter</name>
        <choiceText>Determination Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Determination Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Determination_Not_Found</name>
        <choiceText>--NOT FOUND--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Found</stringValue>
        </value>
    </choices>
    <choices>
        <name>LightingOrElectrical</name>
        <choiceText>Is site lighting or electrical service needed to support the temporary use? &lt;strong&gt;&lt;em&gt;Note: No lighting or electrical service shall be provided without an electrical permit.&lt;/em&gt;&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Found</name>
        <choiceText>--RECORD NOT FOUND--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Record Not Found</stringValue>
        </value>
    </choices>
    <choices>
        <name>Notice_of_Violation</name>
        <choiceText>Notice Of Violation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Notice of Violation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parking</name>
        <choiceText>Has adequate parking been provided? &lt;strong&gt;&lt;em&gt;Note: Required parking for other uses must remain available&lt;/em&gt;&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Permission</name>
        <choiceText>Has written permission from the property owner has been obtained? &lt;strong&gt;&lt;em&gt;(Complete the Owner’s Consent Form)&lt;/em&gt;&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RemainUnblocked</name>
        <choiceText>Is the temporary use located so that all fire lanes, pedestrian access and vehicular access points remain unblocked?&amp;nbsp;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>TempStructure</name>
        <choiceText>Is the temporary use located in a temporary structure? &lt;strong&gt;&lt;em&gt;Note: No structure shall be erected without a building permit.&lt;/em&gt;&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>TrafficControl</name>
        <choiceText>Have adequate traffic controls measures been provided? &lt;strong&gt;&lt;em&gt;Note: Applicant may be required to provide a maintenance of traffic plan.&lt;/em&gt;&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>TrashSanitary</name>
        <choiceText>Have adequate provisions for trash disposal and sanitary facilities been provided? &lt;strong&gt;&lt;em&gt;Note: Applicant may be required to provide additional information on the site plan.&lt;/em&gt;&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Violation_Not_Found</name>
        <choiceText>--VIOLATION NOT FOUND--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Violation Not Found</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Determination_Found</name>
        <label>Determination Found?</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Assign_Determination_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Det_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Determination_Number.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Determination_Not_Found</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Determination_Num_Not_Found</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Application_Found</name>
        <label>Pre-Application Found?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Pre_Application_Looked_up</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>PreApp_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pre_Application_Conference_Number.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Not_Found</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pre_Application_Date_Values</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Violation_Found</name>
        <label>Violation Found?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_Violation_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Vio_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Notice_of_Violation_Number.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Violation_Not_Found</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Violation_Number_Not_Found</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>CG - Edting pre-app record choise set</description>
    <dynamicChoiceSets>
        <name>Building_Permit</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 AND 2) OR (1 AND 3)</filterLogic>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential Building Permit</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial Building Permit</stringValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Determination_Num</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Determination Letter</stringValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pre_App_Num</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Application Conference</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeOfUse</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Use__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UseClass</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Class__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Violation_Num</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>MUSW__Complaint2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_this_within_an_HOA__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ZoningComplianceTypes</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Zoning_Compliance_Permit_Type__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Appeal_is_Determination</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Are_you_appealing_a_Determination}=&quot;Yes&quot;, True, False)</expression>
    </formulas>
    <formulas>
        <name>Appeal_is_NoV</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Are_you_appealing_a_Notice_of_Violation}=&quot;Yes&quot;, True, False)</expression>
    </formulas>
    <interviewLabel>(Application) Appeal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Application) Appeal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Pre_Application_Looked_Up</name>
        <label>Get Pre-Application Looked Up</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Pre_Application_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pre_Application_Conference_Number.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Application2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Appeal_Screen_Flow</name>
        <label>Appeal Screen Flow</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pre_Application_Found</targetReference>
        </connector>
        <fields>
            <name>Zoning_Compliance_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;New {!Record_Type_Name} Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowStages</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Project Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Has_a_pre_application_conference_occurred</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Has a pre-application conference occurred?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pre_Application_Conference_Number</name>
            <choiceReferences>Not_Found</choiceReferences>
            <choiceReferences>Pre_App_Num</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Pre-Application Conference Number</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_pre_application_conference_occurred</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_of_Pre_Application</name>
            <dataType>Date</dataType>
            <fieldText>Date of Pre-Application</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pre_Application_Conference_Number.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Not_Found</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Are_you_appealing_a_Notice_of_Violation</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Are you appealing a Notice of Violation?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>Appeal_is_Determination</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notice_of_Violation_Number</name>
            <choiceReferences>Violation_Not_Found</choiceReferences>
            <choiceReferences>Violation_Num</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Notice of Violation Number</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_appealing_a_Notice_of_Violation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Notice_of_Violation_Number</name>
            <dataType>String</dataType>
            <fieldText>Enter Notice of Violation Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Notice_of_Violation_Number.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Violation_Not_Found</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Are_you_appealing_a_Determination</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Are you appealing a Determination?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>Appeal_is_NoV</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Determination_Number</name>
            <choiceReferences>Determination_Not_Found</choiceReferences>
            <choiceReferences>Determination_Num</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Determination Number</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_appealing_a_Determination</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Determination_Number2</name>
            <dataType>String</dataType>
            <fieldText>Enter Determination Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Determination_Number.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Determination_Not_Found</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_order_requirement_interpretation_or_decision_are_you_appealing_to_the_Board</name>
            <fieldText>What order, requirement, interpretation, or decision are you appealing to the Board of Adjustment?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_appealing_a_Notice_of_Violation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Are_you_appealing_a_Determination</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_are_the_grounds_of_this_appeal</name>
            <fieldText>What are the grounds of this appeal?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AppealReason</name>
            <extensionName>clariti:quickChoice</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>MUSW__Application2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>Record_Type_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>What standing do you have to submit an appeal?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>1500.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Standing_to_Submit_Appeal__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Appeal_Screen_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>PermitId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Temporary Use Permit</stringValue>
        </value>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
