force-app/main/default/flows - Copy/Application_Flow_Subdivision.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Application_Locations</name>
        <label>Assign Application Locations</label>
        <locationX>1062</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>SingleApplicationLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_Associate_Locations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleApplicationLocation.MUSW__Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_Values_To_Application</name>
        <label>Assign Field Values To Application</label>
        <locationX>908</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Application</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Is_the_Applicant_the_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_the_owner_of_all_parcels_included_on_the_subdivision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Has_a_Pre_Application_Meeting_taken_plac__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_a_Pre_Application_Meeting_Been_Held</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Total_Acreage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcreageFromParcel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Number_of_lots_existing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Existing_Lots</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Proposed_number_of_lots__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_Number_of_Lots</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Min_Lot_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Min_Lot_Size_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Electric_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Electric_Provider</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subdivision_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_singular_Contact</name>
        <label>Assign singular Contact</label>
        <locationX>1062</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>Single_Application_Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_and_Relate_Application_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Application_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Conservation_Subdivision_Assignment</name>
        <label>Conservation Subdivision Assignment</label>
        <locationX>1106</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>Application.Public_wastewater_public_potable_water__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_all_units_served_by_a_public_wastewater_treatment_system_and_a_public_potabl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Has_annexation_petition_been_submitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_an_annexation_petition_been_submitted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.What_is_the_proposed_residential_density__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_Proposed_Residential_Density</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Describe_Proposed_Project_in_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Explanation_of_the_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Type_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Conservation Subdivision Application</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Conservation_Subdivision_Application</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attestation_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Field_Values_To_Application</name>
        <label>Copy 1 of Assign Field Values To Application</label>
        <locationX>1172</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Application</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Is_the_Applicant_the_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Are_you_the_owner_of_all_parcels_included_on_the_subdivision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Has_a_Pre_Application_Meeting_taken_plac__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Has_a_Pre_Application_Meeting_Been_Held</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Name_of_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Total_Acreage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcreageFromParcel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Number_of_lots_existing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Number_of_Existing_Lots</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Proposed_number_of_lots__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Proposed_Number_of_Lots</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Min_Lot_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Min_Lot_Size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Electric_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Electric_Provider</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subdivision_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exempt_Subdivision_Assignment</name>
        <label>Exempt Subdivision Assignment</label>
        <locationX>842</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>Application.Are_you_extending_public_infrastructure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_extending_public_infrastructure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Does_this_project_extend_services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_this_include_a_right_of_way_dedication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Subdivision_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subdivision_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Type_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exempt Subdivision Application</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Exempt_Subdivision_Application</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attestation_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Limited_Subdivision_Assignment</name>
        <label>Limited Subdivision Assignment</label>
        <locationX>1370</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>Application.Preliminary_Plat_Associated_Projects__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preliminary_Plat_or_Associated_Approved_Projects</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Plat_Book_and_Page_Number_of_Associated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provide_the_plat_book_and_page_number_of_all_associated_parcels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Type_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Limited Subdivision Application</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Limited_Subdivision_Application</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attestation_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Major_Subdivision_Assignment</name>
        <label>Major Subdivision Assignment</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>Application.Connect_to_public_water_and_sewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_proposing_to_connect_to_public_water_and_sewer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.kWh_allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>kWh_allocation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Water_Sewer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Water_Sewer_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Name_of_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Provider</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Recreation_Open_Space_Requirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recreation_Open_Space_Requirement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Land_Dedication_Acreage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Land_Dedication_Acreage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Interfering_with_a_stream_on_property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_interfering_with_a_stream_on_the_property</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.interfering_with_a_wetland_on_property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_interfering_with_a_wetland_on_the_property</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Application_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Is_a_TIA_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_this_project_generate_more_than_100_peak_hour_trips</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Name_of_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Provider</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Conservation_Subdivision_been_approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_a_Conservation_Subdivision_been_approved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Will_you_complete_a_neighborhood_meeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_you_be_completing_a_neighborhood_meeting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Type_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Major Subdivision Application</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Major_Subdivision_Application</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Phases__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phase_s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Sections__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Section_s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attestation_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Minor_Subdivision_Assignment</name>
        <label>Minor Subdivision Assignment</label>
        <locationX>578</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>Application.Are_you_extending_public_infrastructure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_extending_public_infrastructure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Family_subdivision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_application_for_a_family_subdivision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Recreation_Open_Space_Requirement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Recreation_Open_Space_Requirement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Land_Dedication_Acreage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Land_Dedication_Acreage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Interfering_with_a_stream_on_property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Are_you_interfering_with_a_stream_on_the_property</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.interfering_with_a_wetland_on_property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Are_you_interfering_with_a_wetland_on_the_property</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Name_of_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Provider</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Providing_onsite_wastewater_systems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Are_you_providing_onsite_wastewater_systems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Type_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Minor Subdivision Application</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Type_Developer_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Minor_Subdivision_Application</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attestation_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Related_Application_Contact</name>
        <label>Related Application Contact</label>
        <locationX>1062</locationX>
        <locationY>3146</locationY>
        <assignmentItems>
            <assignToReference>Single_Application_Contact.MUSW__Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact_List_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Application_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_and_Relate_Application_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Acreage</name>
        <label>Sum Acreage</label>
        <locationX>600</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>AcreageFromParcel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_for_Acreage.Calculated_Acreage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_for_Acreage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Collection</name>
        <label>Update Collection</label>
        <locationX>1062</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>UpdatedApplicationLocations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleApplicationLocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_and_Associate_Locations</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Combination_Recombination</name>
        <choiceText>Combination/Recombination</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Combination/Recombination</stringValue>
        </value>
    </choices>
    <choices>
        <name>Conventional</name>
        <choiceText>Conventional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conventional</stringValue>
        </value>
    </choices>
    <choices>
        <name>Court_Ordered</name>
        <choiceText>Court Ordered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Court Ordered</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fee_In_Lieu</name>
        <choiceText>Fee In Lieu</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fee In Lieu</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land_Dedication</name>
        <choiceText>Land Dedication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land Dedication</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land_for_Streets_or_Public_Transportation</name>
        <choiceText>Land for Streets or Public Transportation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land for Streets or Public Transportation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Master_Plan</name>
        <choiceText>Master Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Master Plan</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private_Utilities</name>
        <choiceText>Private Utilities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private Utilities</stringValue>
        </value>
    </choices>
    <choices>
        <name>Public_Acquisition</name>
        <choiceText>Public Acquisition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public Acquisition</stringValue>
        </value>
    </choices>
    <choices>
        <name>Public_Water_Septic</name>
        <choiceText>Public Water/Septic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public Water/Septic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Two_Acres_into_Three_Lots</name>
        <choiceText>Two Acres into Three Lots</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Two Acres into Three Lots</stringValue>
        </value>
    </choices>
    <choices>
        <name>Well_Septic</name>
        <choiceText>Well/Septic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Well/Septic</stringValue>
        </value>
    </choices>
    <choices>
        <name>X10_Acre_Estate_Lot_Subdivision</name>
        <choiceText>10+ Acre Estate Lot Subdivision</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10+ Acre Estate Lot Subdivision</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>Stage_Project_Details</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Details</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Acreage_Requirements</name>
        <label>Acreage Requirements</label>
        <locationX>512</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Pre_Application_Submission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Acreage_Requirement_Not_Met</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conservation Subdivision Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AcreageFromParcel</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Limited Subdivision Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acreage_Reg_Not_Met_Header</targetReference>
            </connector>
            <label>Acreage Requirement Not Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Application_Completed</name>
        <label>Pre-Application Completed</label>
        <locationX>776</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Assign_Field_Values_To_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pre_Application_Meeting_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>Pre-Application Meeting No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_Decision</name>
        <label>Screen Decision</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Minor_or_Limited_or_Exempt_Screen_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Major_Conservation_Subdivision_Screen</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major Subdivision Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conservation Subdivision Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Major_Subdivision_Screen_Flow</targetReference>
            </connector>
            <label>Major / Conservation Subdivision Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subdivision_Type_Decision</name>
        <label>Subdivision Type Decision</label>
        <locationX>974</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Attestation_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Major</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Major Subdivision Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Major_Subdivision_Assignment</targetReference>
            </connector>
            <label>Major</label>
        </rules>
        <rules>
            <name>Minor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minor Subdivision Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minor_Subdivision_Assignment</targetReference>
            </connector>
            <label>Minor</label>
        </rules>
        <rules>
            <name>Exempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exempt Subdivision Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exempt_Subdivision_Assignment</targetReference>
            </connector>
            <label>Exempt</label>
        </rules>
        <rules>
            <name>Conservation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conservation Subdivision Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Conservation_Subdivision_Assignment</targetReference>
            </connector>
            <label>Conservation</label>
        </rules>
        <rules>
            <name>Limited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Limited Subdivision Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limited_Subdivision_Assignment</targetReference>
            </connector>
            <label>Limited</label>
        </rules>
    </decisions>
    <description>OC - Formatting updates</description>
    <dynamicChoiceSets>
        <name>Application_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Application_Type__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Conservation_Subdivision_Application</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conservation Subdivision Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Electric_Provider_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Electric_Provider__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Major_Subdivision</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Major Subdivision Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Phases_Choice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Phases__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pre_Application</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Application Meeting Submittal</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sections_Choice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sections__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Subdivision_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Subdivision_Type__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TIA_Application</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Traffic Impact Analysis Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Water_Sewer_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Water_Sewer_Type__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Minimum_Lot_Size</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(AND({!Record_Type_Name} = &quot;Exempt Subdivision Application&quot;,
{!Min_Lot_Size}&lt;10,
{!Subdivision_Type}=&quot;10+ Acre Estate Lot&quot;)),False, 

IF(AND({!Min_Lot_Size}&gt;{!AcreageFromParcel}),False,

IF(AND({!Copy_1_of_Min_Lot_Size}&gt;{!AcreageFromParcel}),False,

True)))</expression>
    </formulas>
    <formulas>
        <name>Formula_Text_Min_Lot_Size</name>
        <dataType>String</dataType>
        <expression>IF(AND(AND({!Record_Type_Name} = &quot;Exempt Subdivision Application&quot;,
{!Min_Lot_Size}&lt;10,
{!Subdivision_Type}=&quot;10+ Acre Estate Lot&quot;)),&quot;All lots created shall be at least 10 acres in area or larger for exempt subdivision applications with the type of &apos;10+ Acre Estate Lot&apos;&quot;, 

IF(AND({!Min_Lot_Size}&gt;{!AcreageFromParcel}),&quot;The minimum lot size cannot be greater than the acreage&quot;,

IF(AND({!Copy_1_of_Min_Lot_Size}&gt;{!AcreageFromParcel}),&quot;The minimum lot size cannot be greater than the acreage&quot;,

&quot;The input is not valid for this application type. Please refer to the UDO for requirements.&quot;)))</expression>
    </formulas>
    <formulas>
        <name>Formula_Total_Number_of_Lots_Subdivisions</name>
        <dataType>Number</dataType>
        <expression>{!Number_of_Existing_Lots}+{!Proposed_Number_of_Lots}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Lot_Validation_Subdivision_Formula</name>
        <dataType>String</dataType>
        <expression>IF(
AND({!Record_Type_Name} = &quot;Major Subdivision Application&quot;,{!Proposed_Number_of_Lots}&lt;2),&quot;Major subdivision applications must have 2 or more lots&quot;,

IF(AND({!Record_Type_Name} = &quot;Minor Subdivision Application&quot;,{!Copy_1_of_Proposed_Number_of_Lots}&gt;5),&quot;Minor subdivision applications can have up to 5 lots&quot;,

IF(AND({!Record_Type_Name} = &quot;Limited Subdivision Application&quot;,{!Copy_1_of_Proposed_Number_of_Lots}&gt;3),&quot;Limited subdivisions applications can have a maximum of 3 lots&quot;,

IF(AND({!Record_Type_Name} = &quot;Exempt Subdivision Application&quot;,{!Copy_1_of_Proposed_Number_of_Lots}&gt;3,{!Subdivision_Type}=&quot;Two Acres into Three Lots&quot;),&quot;Exempt subdivision applications with the type of &apos;Two Acres into Three Lots&apos; can have a maximum of 3 lots&quot;,

IF(AND({!Record_Type_Name} = &quot;Exempt Subdivision Application&quot;,{!Copy_1_of_Proposed_Number_of_Lots}&gt;{!Copy_1_of_Number_of_Existing_Lots},{!Subdivision_Type}=&quot;Combination/Recombination&quot;),&quot;Exempt subdivision applications with the type of &apos;Combination/Recombination&apos; cannot have the proposed number of lots exceed number of existing lots&quot;,

&quot;The input is not valid for this application type. Please refer to the UDO for requirements.&quot;)))))</expression>
    </formulas>
    <formulas>
        <name>Min_Lot_Size_Value</name>
        <dataType>String</dataType>
        <expression>TEXT({!Min_Lot_Size})</expression>
    </formulas>
    <formulas>
        <name>Record_Type_Name_Header</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Record_Type_Name} , &quot;Application&quot;), 
TRIM(SUBSTITUTE({!Record_Type_Name}, &apos;Application&apos;, &quot;&quot;)),
{!Record_Type_Name})</expression>
    </formulas>
    <formulas>
        <name>Test</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND({!Record_Type_Name} = &quot;Major Subdivision Application&quot;,{!Proposed_Number_of_Lots}&lt;2),False,

IF(AND({!Record_Type_Name} = &quot;Minor Subdivision Application&quot;,{!Copy_1_of_Proposed_Number_of_Lots}&gt;5),False,

IF(AND({!Record_Type_Name} = &quot;Limited Subdivision Application&quot;,{!Copy_1_of_Proposed_Number_of_Lots}&gt;3),False,

IF(AND(AND({!Record_Type_Name} = &quot;Exempt Subdivision Application&quot;,
{!Copy_1_of_Proposed_Number_of_Lots}&gt;3,
{!Subdivision_Type}=&quot;Two Acres into Three Lots&quot;)),False,

IF(AND(AND({!Record_Type_Name} = &quot;Exempt Subdivision Application&quot;,
{!Copy_1_of_Proposed_Number_of_Lots}&gt;{!Copy_1_of_Number_of_Existing_Lots},
{!Subdivision_Type}=&quot;Combination/Recombination&quot;)),False,

True)))))</expression>
    </formulas>
    <interviewLabel>(Application Flow) Subdivision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Application Flow) Subdivision</label>
    <loops>
        <name>Loop_and_Associate_Locations</name>
        <label>Loop and Associate Locations</label>
        <locationX>974</locationX>
        <locationY>2522</locationY>
        <collectionReference>ApplicationLocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Application_Locations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_and_Relate_Application_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_and_Relate_Application_Contacts</name>
        <label>Loop Through and Relate Application Contacts</label>
        <locationX>974</locationX>
        <locationY>2930</locationY>
        <collectionReference>Contact_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_singular_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Application_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_for_Acreage</name>
        <label>Loop Through for Acreage</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <collectionReference>AssociatedParcels</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Acreage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Acreage_Requirements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>974</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>Update_Related_App_Pre_App</targetReference>
        </connector>
        <inputReference>Application</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Application_Locations</name>
        <label>Create Application Locations</label>
        <locationX>974</locationX>
        <locationY>3446</locationY>
        <connector>
            <targetReference>Application_Success</targetReference>
        </connector>
        <inputReference>UpdatedApplicationLocations</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Related_Conservation_Subdivision_Application</name>
        <label>Get Related Major Subdivision Application</label>
        <locationX>974</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Major Subdivision Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <outputReference>Major_Subdivision_Submissions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Application_Contact__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Type2__c</queriedFields>
        <queriedFields>MUSW__Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Conservation_Subdivision_Application</name>
        <label>Get Related Conservation Subdivision Application</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Related_Conservation_Subdivision_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conservation Subdivision Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <outputReference>TIA_Submissions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Application_Contact__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Type2__c</queriedFields>
        <queriedFields>MUSW__Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Pre_Application_Submission</name>
        <label>Get Related Pre-Application Submission</label>
        <locationX>974</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_TIA_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Application Meeting Submittal</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <outputReference>Pre_Application_Submissions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Application_Contact__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Type2__c</queriedFields>
        <queriedFields>MUSW__Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_TIA_Submission</name>
        <label>Get Related TIA Submission</label>
        <locationX>974</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Conservation_Subdivision_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Traffic Impact Analysis Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <outputReference>TIA_Submissions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Application_Contact__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Type2__c</queriedFields>
        <queriedFields>MUSW__Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Fees</name>
        <label>Get Template Fees</label>
        <locationX>974</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Application_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application.MUSW__Type2__c</elementReference>
            </value>
        </filters>
        <object>MUSW__Master_Fee_List__c</object>
        <outputReference>Fee_Template_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Standard_Price__c</queriedFields>
        <queriedFields>MUSW__Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Contacts</name>
        <label>Update Application Contacts</label>
        <locationX>974</locationX>
        <locationY>3338</locationY>
        <connector>
            <targetReference>Create_Application_Locations</targetReference>
        </connector>
        <inputReference>Contact_List_To_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_App_Conservation_Subdivision</name>
        <label>Update Related App (Conservation Subdivision)</label>
        <locationX>974</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Loop_and_Associate_Locations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Conservation_Subdivision_Application_Number.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_App_Pre_App</name>
        <label>Update Related App (Pre App)</label>
        <locationX>974</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Update_Related_App_TIA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pre_Application_Choice_Lookup.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_App_TIA</name>
        <label>Update Related App (TIA)</label>
        <locationX>974</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Update_Related_App_Conservation_Subdivision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Traffic_Impact_Analysis_Application_Number_Choice.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <screens>
        <name>Acreage_Reg_Not_Met_Header</name>
        <label>Acreage_Reg_Not_Met_Header</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Acreage_Req_Not_Met_CSD</name>
            <fieldText>&lt;p&gt;&lt;em&gt;&lt;/em&gt;The total acreage for &lt;u&gt;Conservation Subdivisions&lt;/u&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;must be at least&lt;/span&gt; 5 acres.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Conservation Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Acreage_Req_Not_Met_LSD</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;The total acreage for &lt;/span&gt;&lt;u style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Limited Subdivisions&lt;/u&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; must be at least 5 acres.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Limited Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Major_Subdivision_Screen_Flow</name>
        <label>Major or Conservation Screen Flow</label>
        <locationX>776</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pre_Application_Completed</targetReference>
        </connector>
        <fields>
            <name>Subdivision_Application_Project_Header_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 28px;&quot;&gt;New {!Record_Type_Name_Header} Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_Detail_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Stage_Project_Details</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Project_Details_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Project Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Placeholder</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 0, 30);&quot;&gt;Placeholder link for UDO/application requirements/additional information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Static_Text_Wastewater_Allocation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;A Wastewater Allocation Request Form will be required at the time of Major Subdivision application submittal and will be subject to a fee.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Conservation Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Major_Subdivision_Screen_Flow_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Major_Subdivision_Screen_Flow_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_you_the_owner_of_all_parcels_included_on_the_subdivision</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you the owner of all parcels included on the subdivision?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Will_you_be_completing_a_neighborhood_meeting</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Will you be completing a neighborhood meeting?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Major Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display_Neighborhood_Text</name>
                    <fieldText>&lt;p&gt;A neighborhood meeting is not required for this application however, it is strongly recommended.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Major Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Does_the_required_conservation_area_occupy_at_least_50_or_more_of_the_total_acre</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does the required conservation area occupy at least 50% or more of the total acreage of the conservationsubdivision site?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Conservation Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Static_Text_Conservation_50</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 0, 30); font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 10pt;&quot;&gt;&lt;/strong&gt;&lt;span style=&quot;color: rgb(234, 0, 30); font-size: 10pt;&quot;&gt;Conservation areas occupying less than 50 percent of a Conservation Subdivision site is not allowed.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_required_conservation_area_occupy_at_least_50_or_more_of_the_total_acre</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Are_all_units_served_by_a_public_wastewater_treatment_system_and_a_public_potabl</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are all units served by a public wastewater treatment system and a public potable water system?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Conservation Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Does_the_required_conservation_area_occupy_at_least_50_or_more_of_the_total_acre</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display_text_CSD_Public_System_Req</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;All units must be served by a public wastewater treatment system and a public potable water system for Conservation Subdivisions.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_all_units_served_by_a_public_wastewater_treatment_system_and_a_public_potabl</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Has_an_annexation_petition_been_submitted</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has an annexation petition been submitted?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;Properties located in the Extraterritorial Jurisdiction (ETJ) are required to be annexed&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_all_units_served_by_a_public_wastewater_treatment_system_and_a_public_potabl</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pre_Application_Meeting_Requirement</name>
            <fieldText>Pre-Application Meeting Requirement</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pre_Application_Meeting_Requirement_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Has_a_Pre_Application_Meeting_Been_Held</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has a Pre-Application Meeting Been Held?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Display_Text_Pre_Application_Mandatory_Major</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(234, 0, 30);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/em&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;A Pre-Application Meeting is mandatory for all Major Subdivision Applications.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Major Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display_Text_Pre_Application_Mandatory_Conservation</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt;A Pre-Application Meeting is mandatory for all Conservation Subdivision Applications.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Conservation Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Pre_Application_Choice_Lookup</name>
                    <choiceReferences>Pre_Application</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Pre-Application Number</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3) OR(2 AND 4 AND 5)</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Major Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Conservation Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Are_all_units_served_by_a_public_wastewater_treatment_system_and_a_public_potabl</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Are_all_units_served_by_a_public_wastewater_treatment_system_and_a_public_potabl</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Has_an_annexation_petition_been_submitted</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Traffic_Impact_Analysis_Requirement</name>
            <fieldText>Traffic Impact Analysis Requirement</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Traffic_Impact_Analysis_Requirement_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Does_this_project_generate_more_than_100_peak_hour_trips</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does this project generate 100 or more peak hour trips or 1000 or more trips per day?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Display_Text_TIA_No_SD</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;A traffic assessment is required. Please make sure this is ready to upload on the next page of the application.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_this_project_generate_more_than_100_peak_hour_trips</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Traffic_Impact_Analysis_Application_Number_Choice</name>
                    <choiceReferences>TIA_Application</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Traffic Impact Analysis Application Number</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_this_project_generate_more_than_100_peak_hour_trips</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Major Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Conservation_Subdivision</name>
            <fieldText>Conservation Subdivision</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Conservation_Subdivision_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Has_a_Conservation_Subdivision_been_approved</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has a Conservation Subdivision been approved?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Major Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Conservation_Subdivision_Application_Number</name>
                    <choiceReferences>Conservation_Subdivision_Application</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Conservation Subdivision Application Number</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_a_Conservation_Subdivision_been_approved</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Major Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Site_Information</name>
            <fieldText>Site Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Site_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Application_Type</name>
                    <choiceReferences>Application_Type_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Application Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Major Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Name_of_Project</name>
                    <dataType>String</dataType>
                    <fieldText>Name of Project</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Number_of_Existing_Lots</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Existing Lots</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Proposed_Number_of_Lots</name>
                    <dataType>Number</dataType>
                    <fieldText>Proposed Number of Lots</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Lot_Validation_Subdivision_Formula}&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Test}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Min_Lot_Size</name>
                    <dataType>Number</dataType>
                    <fieldText>Min. Lot Size (in Acres)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;All lots created shall be at least 10 acres in area or larger for exempt subdivision applications with the type of &apos;10+ Acre Estate Lot&apos;&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(AND(AND({!Record_Type_Name} = &quot;Exempt Subdivision Application&quot;,
{!Min_Lot_Size}&lt;10,
{!Subdivision_Type}=&quot;10+ Acre Estate Lot&quot;)),False, True)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Electric_Provider</name>
                    <choiceReferences>Electric_Provider_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Electric Provider</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Site_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Parcels</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>MUSW__Parcel__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;MUSW__Parcel_Number2__c&quot;,&quot;guid&quot;:&quot;column-13bf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Parcel Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Calculated_Acreage__c&quot;,&quot;guid&quot;:&quot;column-4b9c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Calculated Acreage&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;TAG__c&quot;,&quot;guid&quot;:&quot;column-e0f5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;TAG&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MUSW__Primary_Zoning__c&quot;,&quot;guid&quot;:&quot;column-8aab&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Primary Zoning&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>AssociatedParcels</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Display_Text_Total_Acreage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Total Acreage&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!AcreageFromParcel}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Recreation_Open_Space_Requirement</name>
                    <choiceReferences>Fee_In_Lieu</choiceReferences>
                    <choiceReferences>Land_Dedication</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Recreation/Open Space Requirement</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Major Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Minor Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Land_Dedication_Acreage</name>
                    <dataType>Number</dataType>
                    <fieldText>Land Dedication Acreage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Recreation_Open_Space_Requirement</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Land_Dedication</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (3 AND 2)</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Major Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Conservation Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Phase_and_Section_Information</name>
            <fieldText>Phase and Section Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Phase_and_Section_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phase_s</name>
                    <choiceReferences>Phases_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Phase(s)</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Phase_and_Section_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Section_s</name>
                    <choiceReferences>Sections_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Section(s)</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Phase_and_Section_Information_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Phase_and_Section_Information_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Major Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Application_Information</name>
            <fieldText>Project Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Application_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_you_proposing_to_connect_to_public_water_and_sewer</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you proposing to connect to public water and sewer?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Major Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>kWh_allocation</name>
                    <dataType>Number</dataType>
                    <fieldText>kWh allocation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_proposing_to_connect_to_public_water_and_sewer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Water_Sewer_Type</name>
                    <choiceReferences>Water_Sewer_Type_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Water/Sewer Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_proposing_to_connect_to_public_water_and_sewer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Name_of_Provider</name>
                    <dataType>String</dataType>
                    <fieldText>Name of Provider</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_proposing_to_connect_to_public_water_and_sewer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Are_you_providing_onsite_wastewater_systems</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you providing onsite wastewater systems?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Major Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Minor Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Are_you_interfering_with_a_stream_on_the_property</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you interfering with a stream on the property?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Major Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Minor Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Are_you_interfering_with_a_wetland_on_the_property</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you interfering with a wetland on the property?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Major Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Minor Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>What_is_the_Proposed_Residential_Density</name>
                    <dataType>Number</dataType>
                    <fieldText>What is the Proposed Residential Density</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>3</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Conservation Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Explanation_of_the_Project</name>
                    <fieldText>Explanation of the Project</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Conservation Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display_text_verification_of_requirements</name>
                    <fieldText>&lt;p&gt;Please verify the attached plat contains the information outlined on the attached checklist: &lt;strong style=&quot;color: rgb(234, 0, 30);&quot;&gt;PLACEHOLDER FOR LINK THE TOWN WILL PROVIDE&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Major Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Conservation Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (3 AND 2)</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Major Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Conservation Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Minor_or_Limited_or_Exempt_Screen_Flow</name>
        <label>Minor or Limited or Exempt Screen Flow</label>
        <locationX>1172</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Field_Values_To_Application</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Subdivision_Application_Project_Header_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 28px;&quot;&gt;New {!Record_Type_Name_Header} Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Project_Detail_Stage</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Stage_Project_Details</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Project_Details_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Project Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_Placeholder_Copy</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 0, 30);&quot;&gt;Placeholder link for UDO/application requirements/additional information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Static_Text_Wastewater_Allocation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;A Wastewater Allocation Request Form will be required at the time of Major Subdivision application submittal and will be subject to a fee.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Conservation Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subdivision_Type</name>
            <choiceReferences>Subdivision_Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subdivision Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Exempt Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Cannot_Apply_10</name>
            <fieldText>&lt;p&gt;The acreage for the selected parcel(s) is &lt;strong&gt;{!AcreageFromParcel}&lt;/strong&gt;. The acreage for &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;helvetica neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(61, 69, 76);&quot;&gt;10+ Acre Estate Lot&quot;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;helvetica neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(61, 69, 76);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;helvetica neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(234, 0, 30);&quot;&gt;cannot&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;helvetica neue&amp;quot;, helvetica, arial, sans-serif; color: rgb(61, 69, 76);&quot;&gt; be below 10 acres. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Exempt Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AcreageFromParcel</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>10.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Subdivision_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>10+ Acre Estate Lot</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Minor_or_Limited_or_Exempt_Screen_Flow_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Minor_or_Limited_or_Exempt_Screen_Flow_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Are_you_the_owner_of_all_parcels_included_on_the_subdivision</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you the owner of all parcels included on the subdivision?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_this_application_for_a_family_subdivision</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is this application for a family subdivision?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Minor Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display_text_family_subdivision</name>
                    <fieldText>&lt;p&gt;In cases where the Minor Subdivision is also a Family Subdivision, the following criteria shall also apply in addition to the criteria in sub-section (1) above:&lt;/p&gt;&lt;p&gt;a. The owner and grantee certify, in writing, that the grantee of each lot is the husband, wife, mother, father, brother, sister, child (biological, adopted, or step), grandmother, grandfather, grandchild (biological, adopted, or step), aunt, uncle, niece, or nephew of the owner;&lt;/p&gt;&lt;p&gt;b. The owner and grantee certify, in writing, that no consideration shall be paid for any of the lots; and&lt;/p&gt;&lt;p&gt;c. The owner and grantee certify that the purpose of the Minor Subdivision is not to circumvent the provisions of this Ordinance, and that none of the lots shall be conveyed to third parties for a period of not less than three years, and that the plat shall indicate this three-year limitation.&lt;/p&gt;&lt;p&gt;d. Family subdivisions shall not be subject to the limit on successive minor subdivisions in Section 2.3.18F, Limit on Successive Minor Subdivisions.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_this_application_for_a_family_subdivision</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Does_this_include_a_right_of_way_dedication</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does this include a right-of-way dedication?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Exempt Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Are_you_extending_public_infrastructure</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you extending or changing public infrastructure (streets, sewer, water, etc.)?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Minor Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Exempt Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Limited Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_Static_Text_Extending_Public</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;An application for a Major Subdivision must be submitted if there are extensions to public infrastructure.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_extending_public_infrastructure</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Exempt Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Has_land_been_subdivided_using_the_expedited_subdivision_process_withi</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has land been subdividedusing the expedited subdivision process within thepreceding ten years?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Limited Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_Display_Text_Limited_Expedited</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;No land included in an expedited subdivision application shall have been the subject of an expedited subdivision application approval within the preceding ten years.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_land_been_subdivided_using_the_expedited_subdivision_process_withi</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3 AND 4) OR (2 AND 5)</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Exempt Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Exempt Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AcreageFromParcel</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>10.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Subdivision_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>10+ Acre Estate Lot</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Subdivision_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>10+ Acre Estate Lot</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Pre_Application_Meeting_Requirement</name>
            <fieldText>Pre-Application Meeting Requirement</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Pre_Application_Meeting_Requirement_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Has_a_Pre_Application_Meeting_Been_Held</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has a Pre-Application Meeting Been Held?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Display_text_pre_app_optional</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;A pre-application meeting is optional and may be scheduled before submitting this application&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Copy_1_of_Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_Pre_Application_Choice_Lookup</name>
                    <choiceReferences>Pre_Application</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Pre-Application Number</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Copy_1_of_Has_a_Pre_Application_Meeting_Been_Held</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (1 AND 3 AND 4) OR (5 AND 6 AND 7) OR (5 AND 8)</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_extending_public_infrastructure</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Minor Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Limited Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Has_land_been_subdivided_using_the_expedited_subdivision_process_withi</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Exempt Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Subdivision_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>10+ Acre Estate Lot</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AcreageFromParcel</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>10.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Subdivision_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>10+ Acre Estate Lot</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Related_Applications</name>
            <fieldText>Related Applications</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Related_Applications_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_this_application_part_of_a_previously_approved_Major_Subdivision_Planned_Deve</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is this application part of a previously approved Major Subdivision, Planned Development, or a Conditional Zoning?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Search_and_select_related_applications</name>
                    <choiceReferences>Major_Subdivision</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Search and select related applications</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_this_application_part_of_a_previously_approved_Major_Subdivision_Planned_Deve</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Minor Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Site_Information</name>
            <fieldText>Site Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Site_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Name_of_Project</name>
                    <dataType>String</dataType>
                    <fieldText>Name of Project</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Number_of_Existing_Lots</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Existing Lots</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Copy_1_of_Proposed_Number_of_Lots</name>
                    <dataType>Number</dataType>
                    <fieldText>Proposed Number of Lots</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Lot_Validation_Subdivision_Formula}&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Test}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Copy_1_of_Min_Lot_Size</name>
                    <dataType>Number</dataType>
                    <fieldText>Min. Lot Size (in Acres)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Formula_Text_Min_Lot_Size}&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Formula_Minimum_Lot_Size}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Copy_1_of_Electric_Provider</name>
                    <choiceReferences>Electric_Provider_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Electric Provider</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Site_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Display_Parcels</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>MUSW__Parcel__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;MUSW__Parcel_Number2__c&quot;,&quot;guid&quot;:&quot;column-13bf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Parcel Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Calculated_Acreage__c&quot;,&quot;guid&quot;:&quot;column-4b9c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Calculated Acreage&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;TAG__c&quot;,&quot;guid&quot;:&quot;column-e0f5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;TAG&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;MUSW__Primary_Zoning__c&quot;,&quot;guid&quot;:&quot;column-8aab&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Primary Zoning&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>AssociatedParcels</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Copy_1_of_Display_Text_Total_Acreage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Total Acreage&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!AcreageFromParcel}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_Recreation_Open_Space_Requirement</name>
                    <choiceReferences>Fee_In_Lieu</choiceReferences>
                    <choiceReferences>Land_Dedication</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Recreation/Open Space Requirement</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Minor Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_Land_Dedication_Acreage</name>
                    <dataType>Number</dataType>
                    <fieldText>Land Dedication Acreage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Recreation_Open_Space_Requirement</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Land_Dedication</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 4 AND 5) OR (2 AND 4) OR (3 AND 6 AND 7) OR (3 AND 8)</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Limited Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Minor Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Exempt Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Are_you_extending_public_infrastructure</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Has_land_been_subdivided_using_the_expedited_subdivision_process_withi</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Subdivision_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>10+ Acre Estate Lot</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AcreageFromParcel</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>10.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Subdivision_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>10+ Acre Estate Lot</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Application_Information</name>
            <fieldText>Project Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Application_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Are_you_providing_onsite_wastewater_systems</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you providing onsite wastewater systems?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Minor Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_Are_you_interfering_with_a_stream_on_the_property</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you interfering with a stream on the property?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Minor Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_Are_you_interfering_with_a_wetland_on_the_property</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you interfering with a wetland on the property?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Minor Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Preliminary_Plat_or_Associated_Approved_Projects</name>
                    <dataType>String</dataType>
                    <fieldText>Preliminary Plat or Associated Approved Projects</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Limited Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Provide_the_plat_book_and_page_number_of_all_associated_parcels</name>
                    <fieldText>Provide the plat book and page number of all associated parcels</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Limited Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_Brief_Description_of_Request</name>
                    <fieldText>Brief Description of Request</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Exempt Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Limited Subdivision Application</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copy_1_of_Display_text_verification_of_requirements</name>
                    <fieldText>&lt;p&gt;Please verify the attached plat contains the information outlined on the attached checklist: &lt;strong style=&quot;color: rgb(234, 0, 30);&quot;&gt;PLACEHOLDER FOR LINK THE TOWN WILL PROVIDE&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 AND 4 AND 5) OR (2 AND 4) OR (3 AND 6 AND 7) OR (3 AND 8)</conditionLogic>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Limited Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Minor Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Application.MUSW__Type2__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Exempt Subdivision Application</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Are_you_extending_public_infrastructure</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Has_land_been_subdivided_using_the_expedited_subdivision_process_withi</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Subdivision_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>10+ Acre Estate Lot</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AcreageFromParcel</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>10.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Subdivision_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>10+ Acre Estate Lot</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_for_Acreage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Application_Success</name>
        <label>Application Success</label>
        <locationX>974</locationX>
        <locationY>3554</locationY>
        <flowName>Application_Success_V1</flowName>
        <inputAssignments>
            <name>Application_Id</name>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Attestation_Subflow</name>
        <label>Attestation Subflow</label>
        <locationX>974</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>Get_Template_Fees</targetReference>
        </connector>
        <flowName>Attestation_for_Applications</flowName>
        <inputAssignments>
            <name>Application</name>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Header_Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object_API_Name</name>
            <value>
                <stringValue>MUSW__Application2__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Developer_Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Application</assignToReference>
            <name>Application</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Attestation_Consent</assignToReference>
            <name>Attestation_Consent</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AcreageFromParcel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>ApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>AssociatedParcels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Parcel__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>Contact_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Contact_List_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Fee_Template_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Fee_List__c</objectType>
    </variables>
    <variables>
        <name>Major_Subdivision_Submissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Pre_Application_Submissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Single_Application_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>SingleApplicationLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TIA_Submissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>UpdatedApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
</Flow>
