force-app/main/default/flows - Copy/Application_Attestations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Attestation_Consent_Assignment</name>
        <label>Attestation Consent Assignment</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Attestation_Consent.MUSW__Attestation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Attestation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attestation_Consent.MUSW__Attestation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attestation_Consent.MUSW__Attestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attestation_Consent.MUSW__Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acknowledgement_Checkbox</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Evaluate_Attestation_Exists</name>
        <label>Evaluate Attestation Exists</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Attestation_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attestation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Attestation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>BC - Update text to use Record_Name (Record_Type_Name from main intake flow)</description>
    <environments>Default</environments>
    <interviewLabel>Application Attestations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Attestations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Attestation</name>
        <label>Get Attestation</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Attestation_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Effective_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Effective_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Language_Locale__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Object_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Object_API_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Object_Record_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </filters>
        <object>MUSW__Attestation__c</object>
        <outputReference>Attestation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Message__c</queriedFields>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Attestation_Error</name>
        <label>Attestation Error</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Attestation_Not_Found_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;No attestation found. Please try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Attestation</name>
        <label>Display Attestation</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Attestation_Consent_Assignment</targetReference>
        </connector>
        <fields>
            <name>New_Application_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;New {!Record_Name} Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Attestation_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Acknowledgement&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Attestation.MUSW__Message__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Acknowledgement_Checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>I, {!$User.FirstName} {!$User.LastName}, hereby do attest that I completed the {!Record_Name} Application. My email is: {!$User.Email}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please agree to the terms by checking the box above.&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!Acknowledgement_Checkbox}=TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>clariti__Attestation_for_Applications</sourceTemplate>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Attestation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Attestation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>Object_API_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
