force-app/main/default/flows - Copy/Close_Pre_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_to_application</name>
        <label>Add to application</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Single_Comment.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_SAVED_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_New_SAVED_List</name>
        <label>Add to New SAVED List</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Comments_To_Save</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Comment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_all_comments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_application_output_to_object</name>
        <label>Assign application output to object</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Application</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_collection</name>
        <label>Assign collection</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Comment_Collection_Main</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Items_From_Flow.Results.Comment_Collection_Assigned</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_all_comments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Template_Name</name>
        <label>Assign Email Template Name</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Email_Template_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre-App Meeting Summary</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_our_Single_Comment</name>
        <label>Assign our Single_Comment</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Single_Comment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_all_comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_our_application_object</name>
        <label>Update our application object</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>Application.Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expiration_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.MUSW__Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.MUSW__Project2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Email_Template_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_our_application_object_subproject</name>
        <label>Update our application object (subproject)</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>Application.Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expiration_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.MUSW__Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.MUSW__Project2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_subproject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Email_Template_Name</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Project</name>
        <label>Create Project?</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Update_Our_Application_No_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_create_a_project</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Application.MUSW__Project2__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Project</targetReference>
            </connector>
            <label>Yes - Create Project, No subproject</label>
        </rules>
        <rules>
            <name>Yes_Create_Subproject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_create_a_project</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Application.MUSW__Project2__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_subproject</targetReference>
            </connector>
            <label>Yes - Create Subproject</label>
        </rules>
    </decisions>
    <description>ZPM - added back in pink update.</description>
    <environments>Default</environments>
    <formulas>
        <name>Expiration_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 180</expression>
    </formulas>
    <interviewLabel>Close Pre-Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Pre-Application</label>
    <loops>
        <name>Find_all_comments</name>
        <label>Find all comments!</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <collectionReference>Comment_Collection_Main</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_our_Single_Comment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Comments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Project</name>
        <label>Create a Project!</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Update_our_application_object</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Parcel__c</field>
            <value>
                <elementReference>Get_Application.MUSW__Parcel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>What_should_the_project_be_named</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Project2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_subproject</name>
        <label>Create a subproject!</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Update_our_application_object_subproject</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Parcel__c</field>
            <value>
                <elementReference>Get_Application.MUSW__Parcel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Project2__c</field>
            <value>
                <elementReference>Get_Application.MUSW__Project2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>What_should_the_project_be_named</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Project2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Comments</name>
        <label>Create Comments</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
        <inputReference>Comments_To_Save</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_application_output_to_object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Application2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone</name>
        <label>Get Milestone</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_Pre_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Review Committee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <inputReference>Application</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Our_Application_No_Project</name>
        <label>Update Our Application</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Assign_Email_Template_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Decision_Date__c</field>
            <value>
                <elementReference>Get_Application.Scheduled_Meeting_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <screens>
        <name>Close_Pre_Application</name>
        <label>Close Pre-Application</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actions>
            <name>Add_Items_From_Flow</name>
            <actionName>Add_Items_From_Flow</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>Comment_Collection</name>
                <value>
                    <elementReference>Add_Items_From_Flow.Results.Comment_Collection_Assigned</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Comment_Description</name>
                <value>
                    <elementReference>Next_Steps_For_Customer</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Object_Type</name>
                <value>
                    <stringValue>MUSW__Comment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Removed_Comments</name>
                <value>
                    <elementReference>Next_Steps_Table.selectedRows</elementReference>
                </value>
            </inputParameters>
            <label>Add Items From Flow</label>
            <nameSegment>Add_Items_From_Flow</nameSegment>
        </actions>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_collection</targetReference>
        </connector>
        <fields>
            <name>Click_For_Additional_Info</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;Click &lt;span style=&quot;color: rgb(68, 68, 68); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;🛈&lt;/span&gt; above for additional information&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Close_Pre_Application_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Close_Pre_Application_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pre_Application_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Address: {!Get_Application.MUSW__Address__r.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Do_you_want_to_create_a_project</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you want to create a project?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>What_should_the_project_be_named</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Application.Project_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Project Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_want_to_create_a_project</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Summary_Of_Notes</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Here are notes supplied by all TRC members:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Comments&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Milestone.Comments__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Next_Steps_For_Customer</name>
                    <defaultValue>
                        <stringValue>{!Add_Items_From_Flow.Results.Default_Value_in_Subflow}</stringValue>
                    </defaultValue>
                    <fieldText>Next Steps For Customer?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Add_To_List</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>+ Add Comment / - Remove Selected Comments</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>Add_Items_From_Flow.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>Add_Items_From_Flow.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Next_Steps_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>MUSW__Comment__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Next Steps</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Add_Items_From_Flow.Results.Comment_Collection_Assigned</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;MUSW__BG_Page__c&quot;,&quot;guid&quot;:&quot;column-392e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Comment Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Page&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;MUSW__BG_Description__c&quot;,&quot;guid&quot;:&quot;column-f353&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Comments to Applicant&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Is_a_Traffic_Impact_Analysis_Required</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is a Traffic Impact Analysis Required?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <helpText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Help&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;1.&lt;/strong&gt; Specify if you would like to create a project.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;2.&lt;/strong&gt; Review comments made by all TRC members.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;3.&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Fill out &lt;/span&gt;&lt;u style=&quot;color: rgb(0, 0, 0);&quot;&gt;Next Steps&lt;/u&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; table with a list of next steps/comments for the applicant.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;To Add a Comment:&lt;/strong&gt;&amp;nbsp;Fill out &lt;u&gt;Next Steps For Customer?&lt;/u&gt; field and click the&amp;nbsp;&lt;strong&gt;&lt;em&gt;+Add Comment/-Remove Selected Comments&lt;/em&gt;&lt;/strong&gt;&amp;nbsp;button to add a comment to the table.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;To Remove a Comment:&lt;/strong&gt;&amp;nbsp;Select the row(s) to remove and click the &lt;strong&gt;&lt;em&gt;+Add Comment/-Remove Selected Comments&lt;/em&gt;&lt;/strong&gt; button. The selected row(s) will be removed from the table.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;4. &lt;/strong&gt;Click &lt;strong&gt;&lt;em&gt;Next&lt;/em&gt;&lt;/strong&gt; to add comments to the Pre-Application and close the record. The meeting summary email will be sent to the application contacts on the record.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>Add_To_List</eventSource>
            <handlers>
                <screenActionName>Add_Items_From_Flow</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>314</locationX>
        <locationY>1922</locationY>
        <flowName>Email_Autolaunched_Flow</flowName>
        <inputAssignments>
            <name>Application</name>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Email_Template</name>
            <value>
                <elementReference>Email_Template_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Related_Record_Id</name>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Comment_Collection_Main</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Comment__c</objectType>
    </variables>
    <variables>
        <name>Comments_To_Save</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Comment__c</objectType>
    </variables>
    <variables>
        <name>Default_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email_Template_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Single_Comment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Comment__c</objectType>
    </variables>
</Flow>
