force-app/main/default/flows - Copy/Driveway_Permit_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Contact_to_Collection</name>
        <label>Add Contact to Collection</label>
        <locationX>270</locationX>
        <locationY>4178</locationY>
        <assignmentItems>
            <assignToReference>AppContactsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact_List_Linking</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_List_Linking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_not_shown</name>
        <label>Assign Application not shown</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Permit.Related_Application_Not_Looked_Up__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_application_number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_and_Assign_New_Driveway</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_to_Permit</name>
        <label>Assign Contact to Permit</label>
        <locationX>270</locationX>
        <locationY>4070</locationY>
        <assignmentItems>
            <assignToReference>Contact_List_Linking.MUSW__Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Driveway_Permit_Values</name>
        <label>Assign Driveway Permit Values</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>Permit.Type_of_street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Work_be_within_the_right_of_way__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_this_work_be_within_the_right_of_way</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Use_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Use_Class.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Associated_with_an_development_approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_project_associated_with_an_approved_sub_division_site_plan_conditional_z</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Driveway Permit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Use_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Building_Type.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Is_there_an_existing_sidewalk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_there_an_existing_sidewalk</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.There_any_existing_driveway_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_there_any_existing_driveway_s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.How_many__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Proposed_drainage_improvements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_there_proposed_drainage_improvements</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Modifing_a_existing_drainage_pipe_system__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_proposing_to_modify_or_add_to_an_existing_drainage_pipe_system</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Diameter_of_new_pipe_or_modifications__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_proposed_diameter_of_the_new_pipe_or_modifications</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Proposing_to_modify_add_curb_and_gutter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_proposing_to_modify_or_add_curb_and_gutter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Length_of_new_modified_curb_and_gutter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_length_of_proposed_new_or_modified_curb_and_gutter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Application_under_ordinance_and_policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Specify_Ordinance_or_Policy_application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_specify_the_ordinance_s_and_or_policy_ies_including_version_s_under_which</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Ordinance_Policy_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ordinance_Policy_Effective_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Template_Fees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Driveway</name>
        <label>Assign Existing Driveway</label>
        <locationX>270</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>Driveway_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Driveway</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Driveway</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Driveway_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Driveway_Values</name>
        <label>Assign Existing Driveway Values</label>
        <locationX>270</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Driveway.Driveway_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Existing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Driveway.Curb_Radius__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Driveway_Loop.Curb_Radius</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Driveway.Width__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Driveway_Loop.Width</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Driveway.Length__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Driveway_Loop.Length</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Existing_Driveway</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_Values_To_Permit</name>
        <label>Assign Field Values To Permit</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>Permit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Attestation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_to_Collection</name>
        <label>Add Location to Collection</label>
        <locationX>270</locationX>
        <locationY>3770</locationY>
        <assignmentItems>
            <assignToReference>AppLocationsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_and_Associate_Locations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_and_Associate_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Locations_to_Permit</name>
        <label>Assign Locations to Permit</label>
        <locationX>270</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>Loop_and_Associate_Locations.MUSW__Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Location_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Driveway</name>
        <label>Assign New Driveway</label>
        <locationX>358</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>Driveway_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Driveway</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Driveway</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_and_Assign_New_Driveway</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Driveway_Values</name>
        <label>Assign New Driveway Values</label>
        <locationX>358</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Driveway.Proposed_driveway_materials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_and_Assign_New_Driveway.What_is_the_proposed_driveway_materials_for_construction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Driveway.Driveway_be_from_the_property_line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_and_Assign_New_Driveway.How_many_feet_will_the_driveway_be_from_the_property_line</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Driveway.Proposed_curb_radius_to_existing_roadway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_and_Assign_New_Driveway.What_is_the_proposed_curb_radius_in_connection_to_the_existing_roadway_surface</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Driveway.Proposed_width_of_the_driveway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_and_Assign_New_Driveway.What_is_the_proposed_width_of_the_driveway</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Driveway.Proposed_length_of_the_driveway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_and_Assign_New_Driveway.What_is_the_proposed_length_of_the_driveway</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Driveway.Driveway_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Driveway_Materials</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permit_to_Attestation_Consent</name>
        <label>Assign Permit to Attestation Consent</label>
        <locationX>182</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>Attestation_Consent.MUSW__Permit2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Attestation_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permit_to_Driveway</name>
        <label>Assign Permit to Driveway</label>
        <locationX>182</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>Permit.Driveway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Driveway.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Permit_to_Attestation_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Related_application</name>
        <label>Assign Related application</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Permit.Parent_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approved_application_number.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_and_Assign_New_Driveway</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Singular_Driveway_to_Singular</name>
        <label>Assign Singular Driveway to Singular</label>
        <locationX>270</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>Single_Driveway</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_and_associate_permit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Permit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Creation_Collection</name>
        <label>Assign to Creation Collection</label>
        <locationX>270</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>Driveway_Collection_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Driveway</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_and_associate_permit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Permit</name>
        <label>Assign to Permit</label>
        <locationX>270</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>Single_Driveway.Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Creation_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is for &quot;Type of use&quot;</description>
        <name>Assign_Use_Class</name>
        <label>Assign Use Class</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Record_Type_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Quick_Permit_Project_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Selected</name>
        <label>No Selected</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>StreetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkInRightofWay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_this_work_be_within_the_right_of_way</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Quick_Permit_Project_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Other_Selected</name>
        <label>Other Selected</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Driveway.Proposed_driveway_materials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Driveway.Specify_proposed_driveway_materials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_and_Assign_New_Driveway.What_is_the_proposed_driveway_materials_for_construction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Driveway</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Application_not_show</name>
        <choiceText>Application not show</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application not show</stringValue>
        </value>
    </choices>
    <choices>
        <name>Application_not_shown</name>
        <choiceText>Application not shown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Application not shown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asphalt</name>
        <choiceText>Asphalt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asphalt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Concrete</name>
        <choiceText>Concrete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Concrete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing_Structure</name>
        <choiceText>Existing Structure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Structure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Modification</name>
        <choiceText>Modification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modification</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Driveway</name>
        <choiceText>New Driveway</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Driveway</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Structure</name>
        <choiceText>New Structure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Structure</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Specify proposed driveway materials.</promptText>
        </userInput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Residential</name>
        <choiceText>Residential</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Residential</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>Building_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Building Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contractor_Information</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contractor Information</stringValue>
        </value>
    </constants>
    <constants>
        <description>Driveway Permit Constant</description>
        <name>Driveway_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Driveway Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Permit_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MUSW__Permit2__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Quick_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Quick Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Stage_Confirmation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirmation</stringValue>
        </value>
    </constants>
    <constants>
        <name>Stage_Project_Details</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Details</stringValue>
        </value>
    </constants>
    <constants>
        <name>Trade_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Trade Permit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Amend_an_approved_Question</name>
        <label>Amend an approved Question</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Related_application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application_not_shown_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approved_application_number.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Application_not_shown</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Application_not_shown</targetReference>
            </connector>
            <label>Application not shown selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Addtl_Contacts_Exist</name>
        <label>Check if Addtl Contacts Exist</label>
        <locationX>182</locationX>
        <locationY>4478</locationY>
        <defaultConnector>
            <targetReference>Application_Success_V1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Addtl_Contacts_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppContactsList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Records</targetReference>
            </connector>
            <label>Addtl Contacts Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_4</name>
        <label>Private Street/Right of Way</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Let_them_proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_street</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Private Street</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Will_this_work_be_within_the_right_of_way</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amend_an_approved_Question</targetReference>
            </connector>
            <label>Let them proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Driveway_Materials</name>
        <label>Driveway Materials</label>
        <locationX>358</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Other_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Driveway.Proposed_driveway_materials__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asphalt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Driveway.Proposed_driveway_materials__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concrete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Driveway</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Attestation</name>
        <label>Run Attestation</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Create_Permit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permit.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driveway Permit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Attestations</targetReference>
            </connector>
            <label>Is Driveway</label>
        </rules>
    </decisions>
    <description>JRS - overhaul of questions being asked for this form</description>
    <dynamicChoiceSets>
        <name>Construction_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Construction_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConstructionMaterial</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Proposed_driveway_materials__c</picklistField>
        <picklistObject>Driveway__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contractor_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Contractor_Type__c</picklistField>
        <picklistObject>MUSW__Permit_Contractor__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Related_Application</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 OR 3 OR 4 OR 5) AND (2 AND 6)</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site Plan</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subdivision Combo Submittal</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conditional Rezoning Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Zoning Compliance Permit</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Phase__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Application</stringValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeofStreet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_street__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Use_Group_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Group__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Validate_Driveway_Width</name>
        <dataType>Boolean</dataType>
        <expression>OR( {!Driveway_Permit_Driveway_Width}  &lt; 15, {!Driveway_Permit_Driveway_Width} &gt; 24)</expression>
    </formulas>
    <interviewLabel>Driveway Permit Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Permit Flow) Driveway Permit</label>
    <loops>
        <name>Contact_List_Linking</name>
        <label>Contact List Linking</label>
        <locationX>182</locationX>
        <locationY>3962</locationY>
        <collectionReference>Contact_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_to_Permit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Location_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Existing_Driveway_Loop</name>
        <label>Existing Driveway Loop</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <collectionReference>Existing_Driveway.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Existing_Driveway_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Driveway_Permit_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_and_Associate_Locations</name>
        <label>Loop and Associate Locations</label>
        <locationX>182</locationX>
        <locationY>3554</locationY>
        <collectionReference>ApplicationLocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Locations_to_Permit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contact_List_Linking</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_and_associate_permit</name>
        <label>Loop and associate permit</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <collectionReference>Driveway_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Singular_Driveway_to_Singular</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Driveway</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_and_Assign_New_Driveway</name>
        <label>Loop Through and Assign New Driveway</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <collectionReference>NewDrivewayTable.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Driveway_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Existing_Driveway_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attestation_Consent</name>
        <label>Create Attestation Consent</label>
        <locationX>182</locationX>
        <locationY>3446</locationY>
        <connector>
            <targetReference>Loop_and_Associate_Locations</targetReference>
        </connector>
        <inputReference>Attestation_Consent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Driveway</name>
        <label>Create Driveway</label>
        <locationX>182</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>Assign_Permit_to_Driveway</targetReference>
        </connector>
        <inputReference>Driveway_Collection_To_Create</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Permit</name>
        <label>Create Permit</label>
        <locationX>182</locationX>
        <locationY>2498</locationY>
        <connector>
            <targetReference>Loop_and_associate_permit</targetReference>
        </connector>
        <inputReference>Permit</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Template_Fees</name>
        <label>Get Template Fees</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Field_Values_To_Permit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Permit.MUSW__Type2__c</elementReference>
            </value>
        </filters>
        <object>MUSW__Master_Fee_List__c</object>
        <outputReference>Fee_Template_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Standard_Price__c</queriedFields>
        <queriedFields>MUSW__Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Records</name>
        <label>Update Contact Records</label>
        <locationX>50</locationX>
        <locationY>4586</locationY>
        <connector>
            <targetReference>Application_Success_V1</targetReference>
        </connector>
        <inputReference>AppContactsList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Location_Record</name>
        <label>Update Location Record</label>
        <locationX>182</locationX>
        <locationY>4370</locationY>
        <connector>
            <targetReference>Check_if_Addtl_Contacts_Exist</targetReference>
        </connector>
        <inputReference>AppLocationsCollection</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Copy_1_of_Quick_Permit_Project_Details</name>
        <label>Driveway Permit Project Details</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_4</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Quick_Permit_Project_Header_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;New {!Record_Type_Name} Application&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Flow_Stage_Quick_Permit_Details</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Stage_Project_Details</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Quick_Permit_Project_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Project Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you submitting the application under the ordinances and policies in effect at the time the application is accepted for review by the Town of Clayton?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_specify_the_ordinance_s_and_or_policy_ies_including_version_s_under_which</name>
            <dataType>String</dataType>
            <fieldText>Please specify the ordinance(s) and/or policy(ies), including version(s), under which the application is being submitted?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ordinance_Policy_Effective_Date</name>
            <dataType>Date</dataType>
            <fieldText>Ordinance/Policy Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Street_Type</name>
            <fieldText>Street Type</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Street_Type_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Private_Street</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Driveway permit is NOT required, please complete a Zoning Compliance Permit instead.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_street</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Private Street</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Type_of_street</name>
                    <choiceReferences>TypeofStreet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StreetType</elementReference>
                    </defaultValue>
                    <fieldText>Type of street</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>RightofWay</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please complete a Zoning Compliance Permit instead&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Will_this_work_be_within_the_right_of_way</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Will_this_work_be_within_the_right_of_way</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>WorkInRightofWay</elementReference>
                    </defaultValue>
                    <fieldText>Will this work be within the right-of-way?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_street</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>NCDOT Street</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Type_of_street</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Town Street</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Use_Class</name>
                    <extensionName>clariti:quickChoice</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>MUSW__Permit2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>MUSW__Use_Class__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>Record_Type_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Type of use</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>TypeOfUse</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Will_this_work_be_within_the_right_of_way</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_this_project_associated_with_an_approved_sub_division_site_plan_conditional_z</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DevelopmentApproval</elementReference>
                    </defaultValue>
                    <fieldText>Is this project associated with an approved sub-division, site-plan, conditional zoning, zoning compliance permit, erosion control permit, or similar development approval?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Will_this_work_be_within_the_right_of_way</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Approved_application_number</name>
                    <choiceReferences>Related_Application</choiceReferences>
                    <choiceReferences>Application_not_shown</choiceReferences>
                    <defaultValue>
                        <elementReference>ApprovedAppNumber</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Approved application number</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_this_project_associated_with_an_approved_sub_division_site_plan_conditional_z</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Enter_application_number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>EnterAppNumber</elementReference>
                    </defaultValue>
                    <fieldText>Enter application number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Approved_application_number.selectedChoiceValues</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Application_not_shown</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Driveway_Information</name>
            <fieldText>Driveway Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Driveway_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Building_Type</name>
                    <extensionName>clariti:quickChoice</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>MUSW__Permit2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>MUSW__Use_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>Record_Type_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Building type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>BuildingType</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Use_Class.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Residential</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_there_an_existing_sidewalk</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ExistingSidewalk</elementReference>
                    </defaultValue>
                    <fieldText>Is there an existing sidewalk?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Are_there_any_existing_driveway_s</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ExistingDriveway</elementReference>
                    </defaultValue>
                    <fieldText>Are there any existing driveway(s)?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>How_many</name>
                    <dataType>Number</dataType>
                    <fieldText>How many?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_there_any_existing_driveway_s</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Will_this_work_be_within_the_right_of_way</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Existing_Driveway</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>ExistingDrivewayInfo</name>
                <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Existing Driveway Information &lt;/strong&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <fields>
                <name>Curb_Radius</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>CurbRadius2</elementReference>
                </defaultValue>
                <fieldText>Curb Radius</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
            </fields>
            <fields>
                <name>Width</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>Width2</elementReference>
                </defaultValue>
                <fieldText>Width</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
            </fields>
            <fields>
                <name>Length</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>Length2</elementReference>
                </defaultValue>
                <fieldText>Length</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
            </fields>
            <fields>
                <name>ExistingDrivewayDisplay</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;IF you have more than 1 existing driveway   click the &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;&lt;u&gt;+ Add&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 0, 0);&quot;&gt; button below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_there_any_existing_driveway_s</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewDrivewayTable</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>NewDrivewayInfo</name>
                <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;New Driveway Information &lt;/strong&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <fields>
                <name>What_is_the_proposed_driveway_materials_for_construction</name>
                <choiceReferences>Asphalt</choiceReferences>
                <choiceReferences>Concrete</choiceReferences>
                <choiceReferences>Other</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>DrivewayMaterial</elementReference>
                </defaultValue>
                <fieldText>What is the proposed driveway materials for construction?</fieldText>
                <fieldType>DropdownBox</fieldType>
                <helpText>&lt;p&gt;If you are using pavement, please select Concrete. (Gravel not allowed)&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>How_many_feet_will_the_driveway_be_from_the_property_line</name>
                <dataType>Number</dataType>
                <fieldText>How many feet will the driveway be from the property line?</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;Minimum of 3 feet away from property line&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
                <validationRule>
                    <errorMessage>&lt;p&gt;Must be at least 3&lt;/p&gt;</errorMessage>
                    <formulaExpression>{!NewDrivewayTable.AllItems[$EachItem].How_many_feet_will_the_driveway_be_from_the_property_line} &gt;= 3</formulaExpression>
                </validationRule>
            </fields>
            <fields>
                <name>What_is_the_proposed_curb_radius_in_connection_to_the_existing_roadway_surface</name>
                <dataType>Number</dataType>
                <fieldText>What is the proposed curb radius in connection to the existing roadway surface?</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;For Res: Min 3.5&apos; Radius &lt;/p&gt;&lt;p&gt;For Non-Res: Min 20&apos; Radius&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
            </fields>
            <fields>
                <name>What_is_the_proposed_width_of_the_driveway</name>
                <dataType>Number</dataType>
                <fieldText>What is the proposed width of the driveway?</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;Res: 10-24&lt;/p&gt;&lt;p&gt;Non-Res: &amp;gt;24 if 2-way&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;                &lt;/span&gt;&amp;gt;20 if 1-way&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
            </fields>
            <fields>
                <name>What_is_the_proposed_length_of_the_driveway</name>
                <dataType>Number</dataType>
                <fieldText>What is the proposed length of the driveway?</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
            </fields>
            <fields>
                <name>NewDrivewayDisplay</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;To add additional new driveway  information click the &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;+ Add&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; button below.&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Will_this_work_be_within_the_right_of_way</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Drain_Improvement</name>
            <fieldText>Drain Improvement</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Drain_Improvement_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_there_proposed_drainage_improvements</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DrainageImprovements</elementReference>
                    </defaultValue>
                    <fieldText>Are there proposed drainage improvements?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Are_you_proposing_to_modify_or_add_to_an_existing_drainage_pipe_system</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ExistingDrainage</elementReference>
                    </defaultValue>
                    <fieldText>Are you proposing to modify or add to an existing drainage pipe/system?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_there_proposed_drainage_improvements</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>What_is_the_proposed_diameter_of_the_new_pipe_or_modifications</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Diameter</elementReference>
                    </defaultValue>
                    <fieldText>What is the proposed diameter of the new pipe or modifications?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Number of inches&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_proposing_to_modify_or_add_to_an_existing_drainage_pipe_system</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Are_you_proposing_to_modify_or_add_curb_and_gutter</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CurbGutter</elementReference>
                    </defaultValue>
                    <fieldText>Are you proposing to modify or add curb and gutter?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_there_proposed_drainage_improvements</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>What_is_the_length_of_proposed_new_or_modified_curb_and_gutter</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>LengthOfCurb</elementReference>
                    </defaultValue>
                    <fieldText>What is the length of proposed new or modified curb and gutter?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Number of feet&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_proposing_to_modify_or_add_curb_and_gutter</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Will_this_work_be_within_the_right_of_way</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Driveway_Details</name>
            <fieldText>Driveway Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Driveway_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Driveway_Permit_Driveway_Width</name>
                    <dataType>Number</dataType>
                    <fieldText>Driveway Width</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Please enter the value in Feet&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Driveway width must be a minimum of 10 feet and no more than 24 feet.&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND( {!Driveway_Permit_Driveway_Width} &gt;=    10, {!Driveway_Permit_Driveway_Width} &lt;= 24)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Enter_application_number</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>HIDEMEPLEASE</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>clariti__Building_Permitting_Applications</sourceTemplate>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Use_Class</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Application_Attestations</name>
        <label>Application Attestations</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Create_Permit</targetReference>
        </connector>
        <flowName>Application_Attestations</flowName>
        <inputAssignments>
            <name>Object_API_Name</name>
            <value>
                <stringValue>MUSW__Permit2__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Developer_Name</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Attestation_Consent</assignToReference>
            <name>Attestation_Consent</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Application_Success_V1</name>
        <label>Application Success V1</label>
        <locationX>182</locationX>
        <locationY>4778</locationY>
        <flowName>Application_Success_V1</flowName>
        <inputAssignments>
            <name>Permit_Id</name>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AppContactsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>ApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>AppLocationsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>ApprovedAppNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssociatedParcels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Parcel__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Error_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BuildingType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>CurbGutter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurbRadius</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurbRadius2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DevelopmentApproval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Diameter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DrainageImprovements</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Driveway</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Driveway__c</objectType>
    </variables>
    <variables>
        <name>Driveway_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Driveway__c</objectType>
    </variables>
    <variables>
        <name>Driveway_Collection_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Driveway__c</objectType>
    </variables>
    <variables>
        <name>DrivewayMaterial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnterAppNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingDrainage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingDriveway</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingSidewalk</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fee_Template_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Fee_List__c</objectType>
    </variables>
    <variables>
        <name>HowMany</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Length2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LengthOfCurb</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>No_Selected_for_Question</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Single_Driveway</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Driveway__c</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StreetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeOfUse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Width2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Work_Item_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Work_Item__c</objectType>
    </variables>
    <variables>
        <name>WorkInRightofWay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
