force-app/main/default/flows - Copy/Email_Autolaunched_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>358</locationX>
        <locationY>1466</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Recipient_Address_Collection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Related_Record_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Recipient_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Application_Contact_Email_to_Collection</name>
        <label>Assign Application Contact Email to Collection</label>
        <locationX>138</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Recipient_Address_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Application_Contacts.MUSW__Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Application_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permit_Application_Contact_Email_to_Collection</name>
        <label>Assign Permit Application Contact Email to Collection</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Recipient_Address_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Permit_Application_Contactsq.MUSW__Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Permit_Application_Contactsq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Send_Email_Action_Variables</name>
        <label>Assign Send Email Action Variables</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Recipient_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application.MUSW__Applicant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Send_Email_Action_Variables_Permit</name>
        <label>Assign Send Email Action Variables</label>
        <locationX>402</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Recipient_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.MUSW__Applicant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Document_to_List</name>
        <label>Assign Single Document to List</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Consolidated_Document_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Document_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Document_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consolidated_Document_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Related_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Permit_Document_to_List</name>
        <label>Assign Single Document to List</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Consolidated_Document_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Document_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Related_Permit_Documents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Object_Type</name>
        <label>Object Type</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Documents</targetReference>
            </connector>
            <label>Application</label>
        </rules>
        <rules>
            <name>Permit_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Permit_Documents</targetReference>
            </connector>
            <label>Permit</label>
        </rules>
    </decisions>
    <description>BC - update to allow for permit emails</description>
    <environments>Default</environments>
    <formulas>
        <name>Document_Submitted_Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Loop_through_Related_Documents.ContentDocument.CreatedDate})</expression>
    </formulas>
    <interviewLabel>Email Autolaunched Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Autolaunched Flow</label>
    <loops>
        <name>Loop_through_Application_Contacts</name>
        <label>Loop through Application Contacts</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <collectionReference>Get_Application_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Application_Contact_Email_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Send_Email_Action_Variables</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Permit_Application_Contactsq</name>
        <label>Loop Through Permit Application Contactsq</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <collectionReference>Get_Permit_Application_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Permit_Application_Contact_Email_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Send_Email_Action_Variables_Permit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Related_Documents</name>
        <label>Loop through Related Documents</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Related_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Document_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Application</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Related_Permit_Documents</name>
        <label>Loop through Related Permit Documents</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Related_Permit_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Permit_Document_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Permit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application_Contacts</name>
        <label>Get Application Contacts</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Application_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Application_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>358</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Template</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permit_Application_Contacts</name>
        <label>Get Permit Application Contacts</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Permit_Application_Contactsq</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Application_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Documents</name>
        <label>Get Related Documents</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Related_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Permit_Documents</name>
        <label>Get Related Permit Documents</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Related_Permit_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Permit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Get_Application_Contacts</targetReference>
        </connector>
        <inputReference>Application</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Permit</name>
        <label>Update Permit</label>
        <locationX>402</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Get_Permit_Application_Contacts</targetReference>
        </connector>
        <inputReference>Permit</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Object_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Single_Document_Permit_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;{!Loop_through_Related_Permit_Documents.ContentDocument.Title} - &lt;em&gt;Submitted: {!Document_Submitted_Date}&lt;/em&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Single_Document_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;{!Loop_through_Related_Documents.ContentDocument.Title} - &lt;em&gt;Submitted: {!Document_Submitted_Date}&lt;/em&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Consolidated_Document_List</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Pre-App Meeting Summary</stringValue>
        </value>
    </variables>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Recipient_Address_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recipient_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Related_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
