force-app/main/default/flows - Copy/Holidays_Initial_Review_Due_Dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Count_Holidays</name>
        <label>Count Holidays</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_Holidays</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_a_Holiday_to_Celebrate</name>
        <label>Is there a Holiday to Celebrate?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Holiday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Holidays</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Through_Holidays</targetReference>
            </connector>
            <label>Yes!</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_Re_Review</name>
        <label>Is this a Re-Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Milestone.MUSW__Cycle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Milestone.Review_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Holidays</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Updates initial Review - Due Dates to account for any Holidays (non-business days)</description>
    <environments>Default</environments>
    <formulas>
        <name>Current_Date</name>
        <dataType>Date</dataType>
        <expression>Today ()</expression>
    </formulas>
    <formulas>
        <name>New_Review_Date_Holidays</name>
        <dataType>Date</dataType>
        <expression>CASE(
MOD({!$Record.MUSW__Due_Date__c} - DATE(1900, 1, 7), 7),
0, ({!$Record.MUSW__Due_Date__c}) + {!Counter}+ FLOOR(({!Counter}-1)/5)*2,
1, ({!$Record.MUSW__Due_Date__c}) + {!Counter}+ FLOOR(({!Counter})/5)*2,
2, ({!$Record.MUSW__Due_Date__c}) + {!Counter}+ FLOOR(({!Counter}+1)/5)*2,
3, ({!$Record.MUSW__Due_Date__c}) + {!Counter}+ FLOOR(({!Counter}+2)/5)*2,
4, ({!$Record.MUSW__Due_Date__c}) + {!Counter}+ FLOOR(({!Counter}+3)/5)*2,
5, ({!$Record.MUSW__Due_Date__c}) + {!Counter}+ CEILING(({!Counter})/5)*2,
6, ({!$Record.MUSW__Due_Date__c}) - IF({!Counter}&gt;0,1,0) + {!Counter}+ CEILING(({!Counter})/5)*2,
null)</expression>
    </formulas>
    <interviewLabel>(Holidays) Initial Review Due Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Holidays) Initial Review Due Dates</label>
    <loops>
        <name>Through_Holidays</name>
        <label>Through Holidays</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Holidays</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Holidays</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Review_Due_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Holidays</name>
        <label>Get Holidays</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Holiday_to_Celebrate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Current_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Due_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Holiday</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone</name>
        <label>Get Milestone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_a_Re_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Milestone__r.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Milestone__c</object>
        <outputReference>Milestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Due_Date__c</queriedFields>
        <queriedFields>Review_Phase__c</queriedFields>
        <queriedFields>MUSW__Cycle__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Review_Due_Date</name>
        <label>Update Review Due Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>MUSW__Due_Date__c</field>
            <value>
                <elementReference>New_Review_Date_Holidays</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Milestone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MUSW__Review__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Milestone__c</objectType>
    </variables>
</Flow>
