force-app/main/default/flows - Copy/Inspection_Recreate_Failed_Inspection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>396</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>inspectioncollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newinspection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_previous_inspections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sequence_Number</name>
        <label>Assign Sequence Number</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_previous_inspections.Inspection_Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_2.Inspection_Sequence__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_single_inspection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Create_single_inspection</name>
        <label>Copy 1 of Create single inspection</label>
        <locationX>264</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>newinspection.MUSW__Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TenDaysFromToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_single_inspection</name>
        <label>Create single inspection</label>
        <locationX>396</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>newinspection.MUSW__Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_previous_inspections.MUSW__Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newinspection.MUSW__Parcel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_previous_inspections.MUSW__Parcel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newinspection.MUSW__Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_previous_inspections.MUSW__Permit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newinspection.MUSW__Previous_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_previous_inspections.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newinspection.MUSW__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_previous_inspections.MUSW__Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newinspection.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_previous_inspections.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newinspection.MUSW__Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newinspection.Inspection_Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_previous_inspections.Inspection_Sequence__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newinspection.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_previous_inspections.Application__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newinspection.Applicant_s_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_previous_inspections.Applicant_s_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Final_Inspection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_2</name>
        <label>Decision 2</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_single_inspection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_previous_inspections.MUSW__Close_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial Pass</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_2</targetReference>
            </connector>
            <label>Outcome 1 of Decision 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Final_Inspection</name>
        <label>Is Final Inspection</label>
        <locationX>396</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Add_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Final_Inspection</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>newinspection.MUSW__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newinspection.MUSW__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Land Disturbance Inspection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_single_inspection</targetReference>
            </connector>
            <label>Yes Final Inspection</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TenDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()+10</expression>
    </formulas>
    <interviewLabel>(Inspection) - Recreate Failed Inspection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Inspection) - Recreate Failed Inspection</label>
    <loops>
        <name>Loop_through_previous_inspections</name>
        <label>Loop through previous inspections</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>previousinspections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Inspections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Inspections</name>
        <label>Create Inspections</label>
        <locationX>176</locationX>
        <locationY>1547</locationY>
        <inputReference>inspectioncollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Failed_Inspection</name>
        <label>Get All Failed Inspection</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_previous_inspections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Predecessor_Milestone__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Close_Action__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Milestone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MUSW__Inspection__c</object>
        <outputReference>previousinspections</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Address__c</queriedFields>
        <queriedFields>MUSW__Parcel__c</queriedFields>
        <queriedFields>MUSW__Permit__c</queriedFields>
        <queriedFields>MUSW__Type__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Application__c</queriedFields>
        <queriedFields>Inspection_Sequence__c</queriedFields>
        <queriedFields>Applicant_s_Email__c</queriedFields>
        <queriedFields>MUSW__Close_Action__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_2</name>
        <label>Get Records 2</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Sequence_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_previous_inspections.MUSW__Permit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_previous_inspections.Application__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inspection_Sequence__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Loop_through_previous_inspections.Inspection_Sequence__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Inspection__c</object>
        <sortField>Inspection_Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Failed_Inspection</targetReference>
        </connector>
        <object>MUSW__Milestone__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1060</triggerOrder>
    <variables>
        <name>inspectioncollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Inspection__c</objectType>
    </variables>
    <variables>
        <name>newinspection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Inspection__c</objectType>
    </variables>
    <variables>
        <name>previousinspections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Inspection__c</objectType>
    </variables>
</Flow>
