force-app/main/default/flows - Copy/Milestone_Application_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Alternative_Parking_Review_Passed</name>
        <label>Review Passed - Alternative Parking</label>
        <locationX>2954</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Email_Template</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4. Review Passed (Application) [Alternative Parking]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Development_Name_Change_Review_Failed</name>
        <label>Review Failed - Development Name Change</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Email_Template</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4. Technical Review - Corrections Needed(Application)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Development_Name_Change_Review_Passed</name>
        <label>Review Passed - Development Name Change</label>
        <locationX>2426</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Email_Template</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4. Technical Review - Accepted(Application)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fee_In_Lieu_Review_Passed</name>
        <label>Review Passed - Fee In Lieu</label>
        <locationX>3218</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Email_Template</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4. Review Passed (Application) [Fee In Lieu]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>General_Review_Failed</name>
        <label>Review Failed</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Email_Template</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4. Review Failed (Application)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>General_Review_Passed</name>
        <label>Review Passed</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Email_Template</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4. Review Passed (Application)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Review_Passed_Annexation</name>
        <label>Review Passed - Annexation</label>
        <locationX>2690</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Email_Template</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4. Review Passed (Application) [Annexation]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Submittal_Complete_Passed</name>
        <label>Submittal Complete Passed</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Email_Template</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1. Submittal Completed (Application)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sufficiency_Check_Failed</name>
        <label>Sufficiency Check Failed</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Email_Template</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2. Sufficiency Failure (Application)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sufficiency_Check_Failed_Review</name>
        <label>Sufficiency Check Failed - Review</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Email_Template</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3. Sufficiency Failure (Application - Review Phase)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sufficiency_Check_Passed</name>
        <label>Sufficiency Check Passed</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Email_Template</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2. Sufficiency Pass (Application)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X10_Day_Notice_Sufficiency_Check</name>
        <label>Sufficiency Check Passed 10 Day Notice</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Email_Template</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2. Sufficiency Pass (Application) [10 Days]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X20_Day_Notice_Sufficiency_Check</name>
        <label>Sufficiency Check Passed 20 Day Notice</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Email_Template</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2. Sufficiency Pass (Application) [20 Days]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Flow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Milestone_Results_Pre_App</name>
        <label>Milestone Results Pre-App</label>
        <locationX>1766</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submittal_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sufficiency Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Completed_Action__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sufficiency Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Cycle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submittal_Complete_Passed</targetReference>
            </connector>
            <label>Submittal Completed</label>
        </rules>
        <rules>
            <name>Sufficiency_Check_Failed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sufficiency Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Completed_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corrections Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sufficiency Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sufficiency_Check_Failed</targetReference>
            </connector>
            <label>Sufficiency Check Failed</label>
        </rules>
        <rules>
            <name>Sufficiency_Check_Failed_Review_Phase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sufficiency Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Completed_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corrections Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Phase__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sufficiency_Check_Failed_Review</targetReference>
            </connector>
            <label>Sufficiency Check Failed - Review Phase</label>
        </rules>
        <rules>
            <name>Sufficiency_Check_Passed_5_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sufficiency Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Completed_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development Name Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sufficiency_Check_Passed</targetReference>
            </connector>
            <label>Sufficiency Check Passed - 5 Day notice</label>
        </rules>
        <rules>
            <name>Sufficiency_Check_Passed_20_Day_notice</name>
            <conditionLogic>1 AND 2 AND 3 AND ((4 OR 5 OR 6) AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sufficiency Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Completed_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annexation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternative Parking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Determination Letter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X20_Day_Notice_Sufficiency_Check</targetReference>
            </connector>
            <label>Sufficiency Check Passed - 20 Day notice</label>
        </rules>
        <rules>
            <name>Sufficiency_Check_Passed_10_Day_notice</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sufficiency Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Completed_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Development Name Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Phase__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sufficiency Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fee In Lieu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X10_Day_Notice_Sufficiency_Check</targetReference>
            </connector>
            <label>Sufficiency Check Passed - 10 Day notice</label>
        </rules>
        <rules>
            <name>Review_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Completed_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corrections Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Development Name Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_Review_Failed</targetReference>
            </connector>
            <label>Review Failed</label>
        </rules>
        <rules>
            <name>Review_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Completed_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Development Name Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annexation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Alternative Parking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fee In Lieu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_Review_Passed</targetReference>
            </connector>
            <label>Review Passed</label>
        </rules>
        <rules>
            <name>Review_Failed_Development_Name_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Completed_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corrections Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development Name Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Development_Name_Change_Review_Failed</targetReference>
            </connector>
            <label>Review Failed - Development Name Change</label>
        </rules>
        <rules>
            <name>Review_Passed_Development_Name_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Completed_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Development Name Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Development_Name_Change_Review_Passed</targetReference>
            </connector>
            <label>Review Passed - Development Name Change</label>
        </rules>
        <rules>
            <name>Review_Passed_Annexaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Completed_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annexation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Passed_Annexation</targetReference>
            </connector>
            <label>Review Passed - Annexaction</label>
        </rules>
        <rules>
            <name>Review_Passed_Alternative_Parking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Completed_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternative Parking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alternative_Parking_Review_Passed</targetReference>
            </connector>
            <label>Review Passed - Alternative Parking</label>
        </rules>
        <rules>
            <name>Review_Passed_Fee_In_Lieu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Completed_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fee In Lieu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fee_In_Lieu_Review_Passed</targetReference>
            </connector>
            <label>Review Passed - Fee In Lieu</label>
        </rules>
    </decisions>
    <description>JRS - adjusted logic for sufficiency checks</description>
    <environments>Default</environments>
    <interviewLabel>(Milestone) Application Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Milestone) Application Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>1766</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Email_And_Applicant_Fields_From_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Application2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Application2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Email_And_Applicant_Fields_From_Application</name>
        <label>Update Email And Applicant Fields From Application</label>
        <locationX>1766</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Milestone_Results_Pre_App</targetReference>
        </connector>
        <inputAssignments>
            <field>Applicant_Email__c</field>
            <value>
                <elementReference>$Record.MUSW__Application2__r.MUSW__Applicant__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (3 AND 4 AND 5)</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sufficiency Check</stringValue>
            </value>
        </filters>
        <object>MUSW__Milestone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Email_Flow</name>
        <label>Send Email Flow</label>
        <locationX>1766</locationX>
        <locationY>839</locationY>
        <flowName>Email_Autolaunched_Flow</flowName>
        <inputAssignments>
            <name>Application</name>
            <value>
                <elementReference>Get_Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Email_Template</name>
            <value>
                <elementReference>Email_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Related_Record_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmailText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Email_Template_Text}&lt;/p&gt;&lt;p&gt;TEST&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PreApp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em&gt;NOTE: Please do not reply to this email as this is a system generated email.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dear&amp;nbsp;{{{MUSW__Milestone__c.Applicant_Full_Name__c}}},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for submitting your Pre-Application Conference (PAC) application to the Town of Clayton. We have received your application and after review of your submitted materials, the application it has been deemed &lt;strong&gt;&lt;u&gt;Complete&lt;/u&gt;&lt;/strong&gt;, all required information and documents have been provided.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 12pt; font-family: &amp;quot;Baskerville Old Face&amp;quot;, serif;&quot;&gt;Please note that these meetings are held remotely via Microsoft Teams.&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Application Details:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;-&amp;nbsp;&amp;nbsp;&amp;nbsp;Application Type: [[Application Type]]&lt;/p&gt;&lt;p&gt;-&amp;nbsp;&amp;nbsp;&amp;nbsp;Application Number: {{{MUSW__Milestone__c.Related_To_Entity__c}}}&lt;/p&gt;&lt;p&gt;-&amp;nbsp;&amp;nbsp;&amp;nbsp;Submission Date: {{{MUSW__Milestone__c.MUSW__Start_Date__c}}}&lt;/p&gt;&lt;p&gt;-&amp;nbsp;&amp;nbsp;&amp;nbsp;Project Name: {{{MUSW__Milestone__c.Project_Name__c}}}&lt;/p&gt;&lt;p&gt;-&amp;nbsp;&amp;nbsp;&amp;nbsp;Documents Submitted:&amp;nbsp;&lt;/p&gt;&lt;p&gt;o&amp;nbsp;&amp;nbsp;&amp;nbsp;[[Document Type]] – [[Document Name]]&lt;/p&gt;&lt;p&gt;o&amp;nbsp;&amp;nbsp;&amp;nbsp;[[Document Type]] – [[Document Name]]&lt;/p&gt;&lt;p&gt;o&amp;nbsp;&amp;nbsp;&amp;nbsp;[[Document Type]] – [[Document Name]]&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Now that your request is complete, it can proceed with the published review timeline cycle. (Link to Time Line). We recommend that you review the Town&apos;s Unified Development Ordinance and current policies and procedures available on our website here.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Next Steps:&lt;/p&gt;&lt;p&gt;1.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;strong&gt;Scheduled Meeting:&lt;/strong&gt; The date of your PAC meeting will be held on {{{MUSW__Milestone__c.Meeting_Date_And_Time__c}}}. Staff will be sending you a Teams link that you allow you to join the meeting.&amp;nbsp;&lt;/p&gt;&lt;p&gt;2.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;strong&gt;Comments:&lt;/strong&gt; Please be prepared to discuss your project and to have details regarding your request. Staff comments will be provided at the meeting based on the information and materials provided.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please note, the Pre-Application Conference is an informal and non-binding meeting and is not a formal submittal. Comments provided by Town Staff are informational and are guidance to help you understand the Town’s requirements and processes for your project.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Should you have any questions or require assistance, please do not hesitate to contact our office (information below).Thank you for your cooperation and for choosing the Town of Clayton.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Development Services Team&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Town of Clayton | Development Services&amp;nbsp;&lt;/p&gt;&lt;p&gt;111 East Second Street&lt;/p&gt;&lt;p&gt;Clayton, NC 27520&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Main: (919) 553-5002&lt;/p&gt;&lt;p&gt;Email:&amp;nbsp;planning-engineeringsubmittals@townofclaytonnc.org&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>1200</triggerOrder>
    <variables>
        <name>ApplicantFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantMailingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Consolidated_Document_List</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>DocumentListForTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Template_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Milestone__c</objectType>
    </variables>
    <variables>
        <name>PreviousReviews</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Review__c</objectType>
    </variables>
    <variables>
        <name>Related_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
