force-app/main/default/flows - Copy/Permit_Sign_Permit_Temporary_Intake.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_NCDOT_Right_of_way_to_Permit</name>
        <label>Assign NCDOT Right of way to Permit</label>
        <locationX>270</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>Permit.Sign_in_NCDOT_s_right_of_way__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Use_Collection_to_find_if_a_Sign_is_NCDOT_Right_of_way</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Application_Date</name>
        <label>Assign Pre-Application Date</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Application.Meeting_Date_Held_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pre_Application_Looked_Up.Meeting_Date_Held_On__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Sign_Permit_Submittal_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Application_Meeting_Date</name>
        <label>Assign Pre-Application Meeting Date</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Application.Meeting_Date_Held_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Pre_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Sign_Permit_Submittal_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Application_Num</name>
        <label>Assign Pre-Application Num</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Application.Pre_Application_Number_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pre_Application_Conference_Number.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pre_Application_Looked_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sign_Permit_Submittal_Values</name>
        <label>Assign Sign Permit Submittal Values</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Permit.Number_of_Signs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Signs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Signs_per_Wall__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Signs_per_Wall</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Number_of_Signs_per_Pole__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Signs_per_Pole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Temporary_Type_of_Sign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Sign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Signs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sign_Values</name>
        <label>Assign Sign Values</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Sign_Height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Sign_Height</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Sign_Length__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Sign_Length</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Sign_Width__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Sign_Width</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Duration_of_Display__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Duration_of_Display</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Sign_Face_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Sign_Face_Area</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Sign_Material__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Sign_Material</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Clearace_from_Ground_to_Bottom_of_Sign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Clearance_from_Ground_to_Bottom_of_Sign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Right_of_way_Encroachment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Does_the_Sign_Encroach_into_the_Town_Street_Right_of_way</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Right_of_way_Encroachment_NCDOT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Does_the_Sign_Encroach_into_the_NCDOT_Street_Right_of_way</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Distance_on_left_side_of_sign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Distance_to_Next_Walkway_Decal_to_the_Left</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Distance_on_right_side_of_sign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Distance_to_Next_Walkway_Decal_to_the_Right</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Type_of_Sign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Sign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Sign_Mounting_Height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Sign_Mounting_Height</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Sign_Setback_from_Edge_of_Pavement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Sign_Setback_from_Edge_of_Pavement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Sign_Face_Area_of_all_Sock_Signs_on_lot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Total_Sign_Face_Area_of_all_Proposed_and_Existing_Sock_Signs_on_the_Lot</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Sign_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Sign_Area</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Number_of_Stories_in_Building__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Number_of_Stories_in_Building</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Height_of_Buiding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Height_of_Buiding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Sign_on_property_for_lease_or_sale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Is_this_sign_to_be_located_on_a_property_that_is_for_lease_or_for_sale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Proposed_method_of_attachment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Proposed_method_of_attachment_to_the_existing_sign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Distance_from_the_edge_of_sidewalk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Distance_from_the_edge_of_sidewalk_closest_to_the_building</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Sign_Record.Other_walkway_decals_installed_proposed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Signs.Are_other_walkway_decals_installed_or_proposed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Signs_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Signs_Collection</name>
        <label>Assign to Signs Collection</label>
        <locationX>270</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Signs_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Sign_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Signs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Commercial</name>
        <choiceText>Commercial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing_Structure</name>
        <choiceText>Existing Structure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Structure</stringValue>
        </value>
    </choices>
    <choices>
        <name>FPOD</name>
        <choiceText>FPOD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FPOD</stringValue>
        </value>
    </choices>
    <choices>
        <name>GTOD</name>
        <choiceText>GTOD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GTOD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Industrial</name>
        <choiceText>Industrial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Industrial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Institutional</name>
        <choiceText>Institutional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Institutional</stringValue>
        </value>
    </choices>
    <choices>
        <name>LHOD</name>
        <choiceText>LHOD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LHOD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multi_Family</name>
        <choiceText>Multi Family</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multi Family</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Structure</name>
        <choiceText>New Structure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Structure</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Residential</name>
        <choiceText>Non-Residential</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Residential</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Determined</name>
        <choiceText>Not Determined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Determined</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pre_App_Not_Found</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;--PRE-APPLICATION NOT FOUND--&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre_App_Not_Found</stringValue>
        </value>
    </choices>
    <choices>
        <name>Project_Not_Shown</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;--PROJECT NOT SHOWN--&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Not Shown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Residential</name>
        <choiceText>Residential</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Residential</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Family</name>
        <choiceText>Single Family</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Family</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_family_Attached</name>
        <choiceText>Single Family Attached</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single family Attached</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_family_Detached</name>
        <choiceText>Single Family Detached</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single family Detached</stringValue>
        </value>
    </choices>
    <choices>
        <name>WPOD</name>
        <choiceText>WPOD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WPOD</stringValue>
        </value>
    </choices>
    <choices>
        <name>X10_00_AM</name>
        <choiceText>10:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X10_00_PM</name>
        <choiceText>10:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X11_00_AM</name>
        <choiceText>11:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X11_00_PM</name>
        <choiceText>11:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12_00_AM</name>
        <choiceText>12:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12_00_PM</name>
        <choiceText>12:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_00_AM</name>
        <choiceText>1:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_00_PM</name>
        <choiceText>1:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_00_AM</name>
        <choiceText>2:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_00_PM</name>
        <choiceText>2:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_00_AM</name>
        <choiceText>3:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_00_PM</name>
        <choiceText>3:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_00_AM</name>
        <choiceText>4:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_00_PM</name>
        <choiceText>4:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_00_AM</name>
        <choiceText>5:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_00_PM</name>
        <choiceText>5:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6_00_AM</name>
        <choiceText>6:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6_00_PM</name>
        <choiceText>6:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X7_00_AM</name>
        <choiceText>7:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X7_00_PM</name>
        <choiceText>7:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X8_00_AM</name>
        <choiceText>8:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X8_00_PM</name>
        <choiceText>8:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X9_00_AM</name>
        <choiceText>9:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X9_00_PM</name>
        <choiceText>9:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>Application_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MUSW__Application2__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Building_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Building Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contractor_Information</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contractor Information</stringValue>
        </value>
    </constants>
    <constants>
        <description>Driveway Permit Constant</description>
        <name>Driveway_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Driveway Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Quick_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Quick Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Stage_Confirmation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirmation</stringValue>
        </value>
    </constants>
    <constants>
        <name>Stage_Project_Information</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Information</stringValue>
        </value>
    </constants>
    <constants>
        <name>Trade_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Trade Permit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_a_Sign_Encroach_into_the_NCDOT_Right_of_way</name>
        <label>Does a Sign Encroach into the NCDOT Right-of-way?</label>
        <locationX>402</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Use_Collection_to_find_if_a_Sign_is_NCDOT_Right_of_way</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_NCDOT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Use_Collection_to_find_if_a_Sign_is_NCDOT_Right_of_way.Right_of_way_Encroachment_NCDOT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NCDOT_Right_of_way_to_Permit</targetReference>
            </connector>
            <label>Yes_NCDOT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Application_Found</name>
        <label>Pre-Application Found?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Pre_Application_Num</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pre_Application_Conference_Number.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pre_App_Not_Found</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pre_Application_Meeting_Date</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>CG - Adding Pre-Application Conference functionality - 25348</description>
    <dynamicChoiceSets>
        <name>Construction_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Construction_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contractor_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Contractor_Type__c</picklistField>
        <picklistObject>MUSW__Permit_Contractor__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OwnerYesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_the_Applicant_the_Owner__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pre_App_Num</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Application Conference</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Project_Name</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>MUSW__Project2__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SignZoningDistrict</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sign_Zoning_District__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Temp_Sign_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Temporary_Type_of_Sign__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Use_Group_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Group__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Sign_in_NCDOT_Right_of_Way</name>
        <dataType>String</dataType>
        <expression>IF({!Loop_Through_Signs.Does_the_Sign_Encroach_into_the_NCDOT_Street_Right_of_way} = &quot;Yes&quot;, &quot;Yes&quot;, &quot;No&quot;)</expression>
    </formulas>
    <interviewLabel>(Permit) Sign Permit - Temporary Intake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Permit) Sign Permit - Temporary Intake</label>
    <loops>
        <name>Loop_Through_Signs</name>
        <label>Loop Through Signs</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <collectionReference>Sign_Information_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Sign_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Use_Collection_to_find_if_a_Sign_is_NCDOT_Right_of_way</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Looking to see for if Encroachment Permit is needed for Submissions</description>
        <name>Use_Collection_to_find_if_a_Sign_is_NCDOT_Right_of_way</name>
        <label>Use Collection to find if a Sign is NCDOT Right of way</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <collectionReference>Signs_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_a_Sign_Encroach_into_the_NCDOT_Right_of_way</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Pre_Application_Looked_Up</name>
        <label>Get Pre-Application Looked Up</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Pre_Application_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pre_Application_Conference_Number.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Application2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Street_Renaming_Closure_Submittal_Project_Details</name>
        <label>Temp Sign Permit Submittal Project Details</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pre_Application_Found</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Quick_Permit_Project_Header_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;New {!Record_Type_Name} Application&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Flow_Stage_Quick_Permit_Details</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Stage_Project_Information</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Quick_Permit_Project_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Project Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_a_pre_application_conference_occurred</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has a pre-application conference occurred?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pre_Application_Conference_Number</name>
            <choiceReferences>Pre_App_Not_Found</choiceReferences>
            <choiceReferences>Pre_App_Num</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Pre-Application Conference Number</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_pre_application_conference_occurred</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_of_Pre_Application</name>
            <dataType>Date</dataType>
            <fieldText>Date of Pre-Application</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pre_Application_Conference_Number.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Pre_App_Not_Found</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Type_of_Sign</name>
            <choiceReferences>Temp_Sign_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Sign</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Signs</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Number of Signs</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Sign</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Signs_per_Wall</name>
            <dataType>Number</dataType>
            <fieldText>Signs per Wall</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Sign</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Banners - Building</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Number_of_Signs_per_Pole</name>
            <dataType>Number</dataType>
            <fieldText>Number of Signs per Pole</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Sign</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Banners - Light Poles</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sign_Information_Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Sign_Instructions</name>
                <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please add details for each sign&lt;/strong&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>IsNull</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Duration_of_Display</name>
                <dataType>Number</dataType>
                <fieldText>Duration of Display</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Lucida Grande&amp;quot;, verdana, arial, helvetica, sans-serif; color: rgb(51, 51, 51);&quot;&gt;Consecutive number of days&lt;/span&gt;&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <visibilityRule>
                    <conditionLogic>or</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banners - Building</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Short-Term Signs</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Sock</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Walkway Decal</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banner - Ground or Fence-Mounted</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banner - Light Poles</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Is_this_sign_to_be_located_on_a_property_that_is_for_lease_or_for_sale</name>
                <choiceReferences>Yes</choiceReferences>
                <choiceReferences>No</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Is this sign to be located on a property that is for lease or for sale?</fieldText>
                <fieldType>RadioButtons</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Short-Term Signs</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Sign_Face_Area</name>
                <dataType>Number</dataType>
                <fieldText>Sign Face Area</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;numeric (square feet)&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
                <visibilityRule>
                    <conditionLogic>or</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banners - Building</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Sidewalk</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Short-Term Signs</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Sock</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banner - Ground or Fence-Mounted</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Sign_Area</name>
                <dataType>Number</dataType>
                <fieldText>Sign Area</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;numeric (square feet)&lt;/span&gt;&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Walkway Decal</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Total_Sign_Face_Area_of_all_Proposed_and_Existing_Sock_Signs_on_the_Lot</name>
                <dataType>Number</dataType>
                <fieldText>Total Sign Face Area of all Proposed and Existing Sock Signs on the Lot</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Lucida Grande&amp;quot;, verdana, arial, helvetica, sans-serif; color: rgb(51, 51, 51);&quot;&gt;Total area in sqaure feet&lt;/span&gt;&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
                <visibilityRule>
                    <conditionLogic>or</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Sock</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Distance_from_the_edge_of_sidewalk_closest_to_the_building</name>
                <dataType>String</dataType>
                <fieldText>Distance from the edge of sidewalk (closest to the building)</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Lucida Grande&amp;quot;, verdana, arial, helvetica, sans-serif; color: rgb(51, 51, 51);&quot;&gt;numeric (inches)&lt;/span&gt;&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Walkway Decal</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Proposed_method_of_attachment_to_the_existing_sign</name>
                <dataType>String</dataType>
                <fieldText>Proposed method of attachment to the existing sign?</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Sock</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Sign_Height</name>
                <dataType>Number</dataType>
                <fieldText>Sign Height</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;numeric (feet)&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
                <visibilityRule>
                    <conditionLogic>or</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Sidewalk</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Short-Term Signs</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Sock</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Sign_Mounting_Height</name>
                <dataType>Number</dataType>
                <fieldText>Sign Mounting Height</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;numeric (feet)&lt;/span&gt;&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>Banners</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Number_of_Stories_in_Building</name>
                <dataType>Number</dataType>
                <fieldText>Number of Stories in Building</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banners - Building</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Height_of_Buiding</name>
                <dataType>String</dataType>
                <fieldText>Height of Buiding</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Lucida Grande&amp;quot;, verdana, arial, helvetica, sans-serif; color: rgb(51, 51, 51);&quot;&gt;Measured from the bottom of the roof line or parapet&lt;/span&gt;&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banners - Building</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Sign_Length</name>
                <dataType>Number</dataType>
                <fieldText>Sign Length</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;numeric (feet)&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
                <visibilityRule>
                    <conditionLogic>or</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banners - Building</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banners - Light Poles</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Sign_Width</name>
                <dataType>Number</dataType>
                <fieldText>Sign Width</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;numeric (feet)&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
                <visibilityRule>
                    <conditionLogic>or</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banners - Building</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banners - Light Poles</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Sign_Setback_from_Edge_of_Pavement</name>
                <dataType>Number</dataType>
                <fieldText>Sign Setback from Edge of Pavement</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;numeric (square feet)&lt;/span&gt;&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
                <visibilityRule>
                    <conditionLogic>or</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banners - Building</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Short-Term Signs</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banner - Ground or Fence-Mounted</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Number_of_Sign_Faces</name>
                <dataType>Number</dataType>
                <fieldText>Number of Sign Faces</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <visibilityRule>
                    <conditionLogic>or</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Sidewalk</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banners - Light Poles</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banner - Ground or Fence-Mounted</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Sign_Material</name>
                <dataType>String</dataType>
                <fieldText>Sign Material</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>or</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banners - Light Poles</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Walkway Decal</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banners - Building</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banner - Ground or Fence-Mounted</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Clearance_from_Ground_to_Bottom_of_Sign</name>
                <dataType>Number</dataType>
                <fieldText>Clearance from Ground to Bottom of Sign</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;numeric (feet)&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banners - Light Poles</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Does_the_Sign_Encroach_into_the_Town_Street_Right_of_way</name>
                <choiceReferences>Yes</choiceReferences>
                <choiceReferences>No</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Does the Sign Encroach into the Town Street Right-of-way?</fieldText>
                <fieldType>RadioButtons</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>or</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banners - Light Poles</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Sidewalk</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Walkway Decal</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Does_the_Sign_Encroach_into_the_NCDOT_Street_Right_of_way</name>
                <choiceReferences>Yes</choiceReferences>
                <choiceReferences>No</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Does the Sign Encroach into the NCDOT Street Right-of-way?</fieldText>
                <fieldType>RadioButtons</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>or</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Banners - Light Poles</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Sidewalk</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Walkway Decal</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Are_other_walkway_decals_installed_or_proposed</name>
                <choiceReferences>Yes</choiceReferences>
                <choiceReferences>No</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Are other walkway decals installed or proposed?</fieldText>
                <fieldType>RadioButtons</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Walkway Decal</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Distance_to_Next_Walkway_Decal_to_the_Left</name>
                <dataType>Number</dataType>
                <fieldText>Distance to Next Walkway Decal to the Left</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;numeric (feet)&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Walkway Decal</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Sign_Information_Repeater.AllItems[$EachItem].Are_other_walkway_decals_installed_or_proposed</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Yes</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Distance_to_Next_Walkway_Decal_to_the_Right</name>
                <dataType>Number</dataType>
                <fieldText>Distance to Next Walkway Decal to the Right</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;numeric (feet)&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Type_of_Sign</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Walkway Decal</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Sign_Information_Repeater.AllItems[$EachItem].Are_other_walkway_decals_installed_or_proposed</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Yes</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Sign</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>clariti__Building_Permitting_Applications</sourceTemplate>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Street_Renaming_Closure_Submittal_Project_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>ApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>AssociatedParcels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Parcel__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Error_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Contact_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Fee_Template_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Fee_List__c</objectType>
    </variables>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Proposed_Street_Names</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Proposed_Street_Name__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Signs_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Sign__c</objectType>
    </variables>
    <variables>
        <name>Single_Sign_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Sign__c</objectType>
    </variables>
    <variables>
        <name>SingleApplicationLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TESTING</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Work_Item_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Work_Item__c</objectType>
    </variables>
</Flow>
