force-app/main/default/flows - Copy/Permit_Change_of_Contractor_Journey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <constants>
        <description>This is the API name of the building permit record type.</description>
        <name>Building_Permit_Record_Type_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Building_Permit</stringValue>
        </value>
    </constants>
    <constants>
        <description>This is the API name of the Commercial Building permit record type.</description>
        <name>Commercial_Building_Permit_Record_Type_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial_Building_Permit</stringValue>
        </value>
    </constants>
    <decisions>
        <description>This decision element evaluates if this is a Change of Contractor Request. For the first outcome whose conditions are met, the flow takes the associated path. If no outcome’s conditions are met, the flow takes the path for the default outcome.</description>
        <name>Evaluate_Is_Change_of_Contractor_Request</name>
        <label>Evaluate Is Change of Contractor Request</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change_of_Contractor_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Permit_Phase_and_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision element evaluates each phase and status outcome in order. For the first outcome whose conditions are met, the flow takes the associated path. If no outcome’s conditions are met, the flow takes the path for the default outcome.</description>
        <name>Evaluate_Permit_Phase_and_Status</name>
        <label>Evaluate Permit Phase and Status</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MUSW__Total_Balance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Permit_Total_Balance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Permit_to_Sufficiency_Check_Pending</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Application Completed</label>
        </rules>
        <rules>
            <name>Sufficiency_Check_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sufficiency Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Permit_to_Closed_Completed_and_Completion_Date</targetReference>
            </connector>
            <label>Sufficiency Check Complete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>This is the expiration date of the permit in MONTHS from the issued date of the building permit.</description>
        <name>Expiration_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!Issued_Date}) + 2,  MONTH({!Issued_Date}),  DAY({!Issued_Date}))</expression>
    </formulas>
    <formulas>
        <description>Calculates the current &quot;Total Balance&quot; for the permit record being created/updated.</description>
        <name>Permit_Total_Balance</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!$Record.MUSW__Total_Fees__c},0) - BLANKVALUE({!$Record.MUSW__Total_Payments__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>(Permit) Change of Contractor Journey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Permit) Change of Contractor Journey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>This assignment element sets the permit phase to Closed and status to Closed. Additionally, Completion Date is set based on the Flow Global Variable.</description>
        <name>Set_Permit_to_Closed_Completed_and_Completion_Date</name>
        <label>Set Permit to Closed Completed and Completion Date</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>MUSW__DateCompleted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Permit_to_Sufficiency_Check_Pending</name>
        <label>Set Permit to Sufficiency Check Pending</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Sufficiency Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <sourceTemplate>clariti__Permit_Journey_Building_Permit</sourceTemplate>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Is_Change_of_Contractor_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>4</triggerOrder>
    <variables>
        <description>This is the issued date of the Building Permit when the permit is being issued (phase Issuance and status Pending). This date is set to the current date.</description>
        <name>Issued_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
