force-app/main/default/flows - Copy/Permit_Milestone_Emails_Planning_Department.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Is_there_an_Email</name>
        <label>Is there an Email?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Applicant_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Object_Type_Determination</name>
        <label>Parent Object Type Determination</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_there_an_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permit</targetReference>
            </connector>
            <label>Permit</label>
        </rules>
        <rules>
            <name>Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Application</targetReference>
            </connector>
            <label>Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Building_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Building</stringValue>
                </rightValue>
            </conditions>
            <label>Building Permit</label>
        </rules>
        <rules>
            <name>Change_of_Contractor_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change of Contractor Request</stringValue>
                </rightValue>
            </conditions>
            <label>Change of Contractor Request</label>
        </rules>
        <rules>
            <name>Commercial_Building_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial Building Permit</stringValue>
                </rightValue>
            </conditions>
            <label>Commercial Building Permit</label>
        </rules>
        <rules>
            <name>Demolition_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demolition Permit</stringValue>
                </rightValue>
            </conditions>
            <label>Demolition Permit</label>
        </rules>
        <rules>
            <name>Driveway_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driveway Permit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Driveway_Permit_Emails</targetReference>
            </connector>
            <label>Driveway Permit</label>
        </rules>
        <rules>
            <name>Fire_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fire Permit</stringValue>
                </rightValue>
            </conditions>
            <label>Fire Permit</label>
        </rules>
        <rules>
            <name>Floodplain_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Floodplain Permit</stringValue>
                </rightValue>
            </conditions>
            <label>Floodplain Permit</label>
        </rules>
        <rules>
            <name>Land_Disturbance_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Land Disturbance Permit</stringValue>
                </rightValue>
            </conditions>
            <label>Land Disturbance Permit</label>
        </rules>
        <rules>
            <name>Residential_Building_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Residential Building Permit</stringValue>
                </rightValue>
            </conditions>
            <label>Residential Building Permit</label>
        </rules>
        <rules>
            <name>Sign_Permit_Permanent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sign Permit - Permanent</stringValue>
                </rightValue>
            </conditions>
            <label>Sign Permit - Permanent</label>
        </rules>
        <rules>
            <name>Sign_Permit_Temporary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sign Permit - Temporary</stringValue>
                </rightValue>
            </conditions>
            <label>Sign Permit - Temporary</label>
        </rules>
        <rules>
            <name>Temporary_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Temporary Permit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Temporary_Permit_NEW_Emails</targetReference>
            </connector>
            <label>Temporary Permit</label>
        </rules>
        <rules>
            <name>Stormwater_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stormwater Permit</stringValue>
                </rightValue>
            </conditions>
            <label>Stormwater Permit</label>
        </rules>
        <rules>
            <name>Tent_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tent Permit</stringValue>
                </rightValue>
            </conditions>
            <label>Tent Permit</label>
        </rules>
        <rules>
            <name>Trade_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade Permit</stringValue>
                </rightValue>
            </conditions>
            <label>Trade Permit</label>
        </rules>
        <rules>
            <name>Zoning_Compliance_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zoning Compliance Permit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zoning_Compliance_Permit_Emails</targetReference>
            </connector>
            <label>Zoning Compliance Permit</label>
        </rules>
    </decisions>
    <description>Removed old subflows</description>
    <environments>Default</environments>
    <interviewLabel>(Permit) Milestone Emails - Planning Department {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Permit) Milestone Emails - Planning Department</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Email_And_Applicant_Fields_From_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Application2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Application2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permit</name>
        <label>Permit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Email_And_Applicant_Fields_From_Permit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Email_And_Applicant_Fields_From_Application</name>
        <label>Update Email And Applicant Fields From Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_there_an_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Applicant_Email__c</field>
            <value>
                <elementReference>$Record.MUSW__Application2__r.MUSW__Applicant__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_And_Applicant_Fields_From_Permit</name>
        <label>Update Email And Applicant Fields From Permit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_there_an_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Applicant_Email__c</field>
            <value>
                <elementReference>$Record.MUSW__Permit2__r.MUSW__Applicant__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parent_Object_Type_Determination</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (3 AND 4 AND 5) OR (3 AND 4 AND 6) OR (3 AND 4 AND 7)</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planning</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Issuance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sufficiency Check</stringValue>
            </value>
        </filters>
        <object>MUSW__Milestone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Driveway_Permit_Emails</name>
        <label>Driveway Permit Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Milestone_Emails_Driveway_Permit</flowName>
        <inputAssignments>
            <name>Milestone</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Permit</name>
            <value>
                <elementReference>Get_Permit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Related_Record_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>USE THIS I COULD NOT DELETE OLD FLOW</description>
        <name>Temporary_Permit_NEW_Emails</name>
        <label>Temporary Permit NEW Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Milestone_Emails_Temporary_Permit_NEW</flowName>
        <inputAssignments>
            <name>Milestone</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Permit</name>
            <value>
                <elementReference>Get_Permit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Related_Record_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Zoning_Compliance_Permit_Emails</name>
        <label>Zoning Compliance Permit Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Milestone_Emails_Zoning_Compliance_Permit</flowName>
        <inputAssignments>
            <name>Milestone</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Permit</name>
            <value>
                <elementReference>Get_Permit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Related_Record_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
