force-app/main/default/flows - Copy/Permit_Flow_Commercial_Permit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>add_multifamily_floors_to_collection</name>
        <label>add multifamily floors to collection</label>
        <locationX>1160</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AreaCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Display_Area_Collection_MultiFamily_Apartment.tableData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Empty_Fields_in_table</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MultiFamilyLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_new_construction_floors_to_collection</name>
        <label>add new construction floors to collection</label>
        <locationX>588</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AreaCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Display_Area_Collection_New_Construction.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Empty_Fields_in_table</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_through_floors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Commercial_Permit_Values</name>
        <label>Assign Commercial Permit Values</label>
        <locationX>176</locationX>
        <locationY>1892</locationY>
        <assignmentItems>
            <assignToReference>Permit.Is_the_Applicant_the_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_Applicant_the_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Work_Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Type_Commercial.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Construction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Construction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Use_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Occupancy1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Use_Group_Secondary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_Of_Occupancy2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Valuation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalCalculatedJobCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Description_of_Proposed_Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_of_Proposed_Work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Is_the_Applicant_a_licensed_Contractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_are_licensed_general_contractor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Trade_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Trades_To_Select</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Floodplain_Onsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Floodplain_Onsite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Stream_wetland_onsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stream_Wetland_Onsite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Foundation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foundation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Natural_Gas_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Natural_Gas_System</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Existing_Water_Sewer_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_the_lot_have_had_existing_water_and_sewer_service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Electrical_Service_Modfication_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_this_addition_require_electrical_service_modification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Underground_Electrical_Work_Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_any_underground_electrical_work_be_performed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Installing_Power_Meter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_adding_a_new_power_meter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Solar_Installation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_Solar_Panels_being_installed_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Power_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Power_Supplier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Water_source_provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Water_Supplier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Duke_Energy_Premise_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duke_Energy_Premise</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.water_supplier_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Water_Supplier_Other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Sewer_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sewer_Provider_Source.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Other_Sewer_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sewer_Source_Other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Do_you_need_temporary_power__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_need_temporary_power</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Conditional_Power__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conditional_Power</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Conditional_Gas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conditional_Gas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Existing_Structure_Height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Structure_Height</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.New_Structure_Height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Structure_Heightt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Existing_Building_Sq_Ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Building_Square_Footage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.New_Addition_Renovation_Sq_Ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Addition_Upfit_assignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Total_Square_Footage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AreaSquareFootageTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Employee_acting_on_behalf_of_owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_an_employee_acting_on_behalf_of_the_owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Fire_Protection_or_Detection_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Fire_Protection_Detection_Required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.New_Number_of_Stories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Stories_Assignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Existing_Number_of_Stories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Number_of_Stories</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_Electrical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Projected_Total_Cost_for_Electrical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_Fire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Projected_Total_Cost_for_Fire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_Mechanical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Projected_Total_Cost_for_Mechanical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_Plumbing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Projected_Total_Cost_for_Plumbing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Number_of_Bedrooms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalNumberOfBedrooms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Number_of_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalNumberOfUnits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Owner_of_the_business_own_the_building__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_the_owner_of_the_business_own_the_building</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Foundation_24_or_less_above_grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_foundation_24_or_less_above_finished_grade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Use_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commercial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Project_Total_Cost_for_General__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Projected_Total_Cost_for_General</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Necessary_Contractors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Necessary_Contractors</name>
        <label>Assign Necessary Contractors</label>
        <locationX>176</locationX>
        <locationY>2000</locationY>
        <assignmentItems>
            <assignToReference>Trade_Electrical_Selected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidentialBuildingElectricalNeeded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trade_Mechanical_Selected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidentialBuildingMechanicalNeeded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trade_Plumbing_Selected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidentialBuildingPlumbingNeeded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trade_Fire_Selected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FireNeeded</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permit_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning Record Type Id to Variable so it can be used in the Quick Choice &quot;Filter by Record Type Id&quot; field.</description>
        <name>Assign_Record_Type_Id</name>
        <label>Assign Record Type Id</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Record_Type_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commercial_Permit_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>60</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AreaSingleRecord.Floor_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_Of_Stories_Area</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AreaCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AreaSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Number_of_Screen_Stories_greater_than_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_rollback</name>
        <label>Copy 1 of rollback</label>
        <locationX>1424</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Empty_Fields_in_table</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MultiFamilyLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Stories</name>
        <label>Increment Stories</label>
        <locationX>60</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Number_Of_Stories_Area</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Permit_Assignment</name>
        <label>Permit Assignment</label>
        <locationX>176</locationX>
        <locationY>2108</locationY>
        <assignmentItems>
            <assignToReference>Permit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>rollback</name>
        <label>rollback</label>
        <locationX>852</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Empty_Fields_in_table</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_through_floors</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Bathroom_s</name>
        <choiceText>Bathroom(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bathroom(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bedroom_s</name>
        <choiceText>Bedroom(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bedroom(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Crawlspace</name>
        <choiceText>Crawlspace</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Crawlspace</stringValue>
        </value>
    </choices>
    <choices>
        <name>Double_Wide</name>
        <choiceText>Double-Wide</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Double-Wide</stringValue>
        </value>
    </choices>
    <choices>
        <name>Duplex</name>
        <choiceText>Duplex</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplex</stringValue>
        </value>
    </choices>
    <choices>
        <name>Electrical</name>
        <choiceText>Electrical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electrical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fire</name>
        <choiceText>Fire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fire</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fire_Detection</name>
        <choiceText>Fire Detection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fire Detection</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fire_Protection</name>
        <choiceText>Fire Protection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fire Protection</stringValue>
        </value>
    </choices>
    <choices>
        <name>Heated_Sq_Ft_Test</name>
        <choiceText>Garage - Choice Label Test</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>true</isRequired>
            <promptText>Heated Square Footage</promptText>
        </userInput>
        <value>
            <stringValue>Garage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manufactured</name>
        <choiceText>Manufactured</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manufactured</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mechanical</name>
        <choiceText>Mechanical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mechanical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Modular</name>
        <choiceText>Modular</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modular</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None_Option</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Required</name>
        <choiceText>Not Required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Required</stringValue>
        </value>
    </choices>
    <choices>
        <name>Plumbing</name>
        <choiceText>Plumbing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plumbing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quad_Wide</name>
        <choiceText>Quad-Wide</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quad-Wide</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quadplex</name>
        <choiceText>Quadplex</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quadplex</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Family_Dwelling</name>
        <choiceText>Single Family Dwelling</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Family Dwelling</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Wide</name>
        <choiceText>Single-Wide</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single-Wide</stringValue>
        </value>
    </choices>
    <choices>
        <name>Slab</name>
        <choiceText>Slab</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slab</stringValue>
        </value>
    </choices>
    <choices>
        <name>Townhome</name>
        <choiceText>Townhome</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Townhome</stringValue>
        </value>
    </choices>
    <choices>
        <name>Townhouse</name>
        <choiceText>Townhouse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Townhouse</stringValue>
        </value>
    </choices>
    <choices>
        <name>Travel_Trailer_Camper</name>
        <choiceText>Travel Trailer/Camper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Travel Trailer/Camper</stringValue>
        </value>
    </choices>
    <choices>
        <name>Triple_Wide</name>
        <choiceText>Triple-Wide</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Triple-Wide</stringValue>
        </value>
    </choices>
    <choices>
        <name>Triplex</name>
        <choiceText>Triplex</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Triplex</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>Stage_Project_Details</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Details</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Copy_1_of_is_rollback_true</name>
        <label>Copy 1 of is rollback true</label>
        <locationX>1160</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Assign_Commercial_Permit_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_rollback_to_sq_ft_screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Empty_Fields_in_table</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Review_Square_Footage_Screen</targetReference>
            </connector>
            <label>Copy 1 of rollback to sq ft screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_new_construction_data_validation</name>
        <label>Copy 1 of new construction data validation</label>
        <locationX>1336</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_rollback</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_valid_data1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MultiFamilyLoop.Square_Footage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MultiFamilyLoop.Number_of_1_Bedroom_Units__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MultiFamilyLoop.Number_of_2_Bedroom_Units__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MultiFamilyLoop.Number_of_3_Bedroom_Units__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MultiFamilyLoop</targetReference>
            </connector>
            <label>Copy 1 of valid data1</label>
        </rules>
    </decisions>
    <decisions>
        <description>skips the square footage screen for addition or renovation/upfit</description>
        <name>Determine_if_Addition_or_Renovation_Upfit</name>
        <label>Determine if Addition or Renovation/Upfit</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Is_Number_of_Screen_Stories_greater_than_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Addition_or_Renovation_Upfit_selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renovation/Upfit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Commercial_Permit_Values</targetReference>
            </connector>
            <label>Addition or Renovation/Upfit selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Number_of_Screen_Stories_greater_than_variable</name>
        <label>Is Number of Screen Stories greater than variable</label>
        <locationX>467</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Review_Square_Footage_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stories_Input_are_Greater_than_Variable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Stories</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Number_Of_Stories_Area</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Stories</targetReference>
            </connector>
            <label>Stories Input are Greater than Variable</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_rollback_true</name>
        <label>is rollback true</label>
        <locationX>588</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Assign_Commercial_Permit_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rollback_to_sq_ft_screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Empty_Fields_in_table</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Review_Square_Footage_Screen</targetReference>
            </connector>
            <label>rollback to sq ft screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>new_construction_data_validation</name>
        <label>new construction data validation</label>
        <locationX>764</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>rollback</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>valid_data1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Loop_through_floors.Square_Footage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Loop_through_floors</targetReference>
            </connector>
            <label>valid data1</label>
        </rules>
    </decisions>
    <decisions>
        <description>determines which datatable from the review sq ft screen gets looped through</description>
        <name>New_Construction_or_Multi_Family</name>
        <label>New Construction or Multi Family?</label>
        <locationX>874</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>add_multifamily_floors_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Construction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Construction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_new_construction_floors_to_collection</targetReference>
            </connector>
            <label>New Construction</label>
        </rules>
    </decisions>
    <description>BC - Adding validation for fire protection/detection required</description>
    <dynamicChoiceSets>
        <name>AccessoryTypes</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Accessory_Types__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Are_Solar_Panels_Being_Installed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solar_Installation__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Are_You_Adding_A_New_Power_Meter_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Installing_Power_Meter__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Are_You_Increasing_The_Footprint_Structure</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Increasing_footprint_of_Structure__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Area_Sq_Feet_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Area__c</picklistField>
        <picklistObject>Area__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Conditional_Gas_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Conditional_Gas__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Conditional_Power_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Conditional_Power__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Conditional_Power_Provider_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Conditional_Power_Provider__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Construction_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Construction_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConstructionTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Construction_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Do_You_Currently_Occupy_The_Property_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_Applicant_Occupy_the_Property__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Do_You_Need_Temporary_Power_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_need_temporary_power__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Does_Lot_Have_Water_Sewer_Service</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Existing_Water_Sewer_Services__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Electrical_Service_Modification_Required</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Electrical_Service_Modfication_Required__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FloodplainYesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Floodplain_Onsite__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Foundation_24_or_less_above_grade</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Foundation_24_or_less_above_grade__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Foundation_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Foundation_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Is_Additional_Area_Being_Heated</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_the_additonal_square_footage_heated__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Is_Applicant_Licensed_Contractor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_the_Applicant_a_licensed_Contractor__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Manufactured_Home_Type_PL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Manufactured_Home_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NaturalGasYesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Natural_Gas_System__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OccupancyTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Group__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Occupy_After_1_Year</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Occupying_for_at_least_1_year__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PowerSupplier_PL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Power_Provider__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>residentialTrades</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trade_Types_RS__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SewerSources</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sewer_Source__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SlabCrawlPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Will_it_be_a_slab_or_crawl_space__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StreamWetlandYesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stream_wetland_onsite__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Subdivision_Under_Construction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>In_subdivision_under_construction__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Temporary_Power_Provider</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Temporary_Power_Provider__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Trade_Choices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trade_Types__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Use_Group_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Group__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UseType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WaterSupplier_PL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Water_source_provider__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Will_You_Be_Doing_The_Work_Yourself_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Will_you_be_doing_the_work_yourself__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Work_Type2__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_the_Applicant_the_Owner__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AddContractorsToPermitField</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Permit.MUSW__Work_Type2__c} , &quot;New Construction&quot;),
&quot;Electrical;Plumbing;Mechanical&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>will populate the same back-office field depending which of the two (addition or renovation/upfit) square footages are popoulated</description>
        <name>Addition_Upfit_assignment</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!New_Addition_Square_Footage}), {!Renovation_Square_Footage}, {!New_Addition_Square_Footage})</expression>
    </formulas>
    <formulas>
        <name>FireNeeded</name>
        <dataType>Boolean</dataType>
        <expression>IF((ISPICKVAL({!Permit.MUSW__Work_Type2__c}, &quot;New Construction&quot;)||ISPICKVAL({!Permit.MUSW__Work_Type2__c}, &quot;Multi-Family/Apartment&quot;)||INCLUDES({!Permit.Trade_Types__c}, &quot;Fire&quot;)), True, False)</expression>
    </formulas>
    <formulas>
        <name>Number_of_Stories_Assignment</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!New_Number_of_Stories}), {!Number_of_Stories}, {!New_Number_of_Stories})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>ResidentialBuildingElectricalNeeded</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(
NOT(INCLUDES({!Permit.Work_being_completed_by_Applicant__c}, &quot;Electrical&quot;)),
OR(
ISPICKVAL({!Permit.MUSW__Work_Type2__c}, &quot;New Construction&quot;),
ISPICKVAL({!Permit.MUSW__Work_Type2__c}, &quot;Multi-Family/Apartment&quot;),
INCLUDES({!Permit.Trade_Types__c}, &quot;Electrical&quot;))), 
True, 
False)</expression>
    </formulas>
    <formulas>
        <name>ResidentialBuildingMechanicalNeeded</name>
        <dataType>Boolean</dataType>
        <expression>IF((ISPICKVAL({!Permit.MUSW__Work_Type2__c}, &quot;New Construction&quot;)||ISPICKVAL({!Permit.MUSW__Work_Type2__c}, &quot;Multi-Family/Apartment&quot;)||INCLUDES({!Permit.Trade_Types__c}, &quot;Mechanical&quot;)), True, False)</expression>
    </formulas>
    <formulas>
        <name>ResidentialBuildingPlumbingNeeded</name>
        <dataType>Boolean</dataType>
        <expression>IF((ISPICKVAL({!Permit.MUSW__Work_Type2__c}, &quot;New Construction&quot;)||ISPICKVAL({!Permit.MUSW__Work_Type2__c}, &quot;Multi-Family/Apartment&quot;)||INCLUDES({!Permit.Trade_Types__c}, &quot;Plumbing&quot;)), True, False)</expression>
    </formulas>
    <formulas>
        <description>returns true if &quot;will you be doing the work yourself?&quot; is yes and electrical is included in the corresponding multi-select</description>
        <name>ResidentialElectricalSelf</name>
        <dataType>Boolean</dataType>
        <expression>IF(
INCLUDES({!Permit.Work_being_completed_by_Applicant__c}, &quot;Electrical&quot;), 
True, 
False)</expression>
    </formulas>
    <formulas>
        <name>ResidentialMechanicalSelf</name>
        <dataType>Boolean</dataType>
        <expression>IF(
INCLUDES({!Permit.Work_being_completed_by_Applicant__c}, &quot;Mechanical&quot;), 
True, 
False)</expression>
    </formulas>
    <formulas>
        <name>ResidentialPlumbingSelf</name>
        <dataType>Boolean</dataType>
        <expression>IF(
INCLUDES({!Permit.Work_being_completed_by_Applicant__c}, &quot;Plumbing&quot;), 
True, 
False)</expression>
    </formulas>
    <formulas>
        <name>TextSquareFootage</name>
        <dataType>String</dataType>
        <expression>TEXT(if(ISBLANK({!X1st_Floor}), 0, {!X1st_Floor}) 
+ if(ISBLANK({!X2nd_Floor}), 0, {!X2nd_Floor}) 
+ if(ISBLANK({!X3rd_Floor}), 0, {!X3rd_Floor})
+ if(ISBLANK({!X3rd_Floor}), 0, {!X3rd_Floor})
+ if(ISBLANK({!Deck_Dimensions}), 0, {!Deck_Dimensions}) 
+ if(ISBLANK({!Garage_Attached_Dimensions}), 0, {!Garage_Attached_Dimensions}) 
+ if(ISBLANK({!Carport_Dimensions}), 0, {!Carport_Dimensions}) 
+ if(ISBLANK({!Other_Detached_Structure_Dimensions}), 0, {!Other_Detached_Structure_Dimensions}) 
+ if(ISBLANK({!Porch_Dimensions}), 0, {!Porch_Dimensions})
+ if(ISBLANK({!Primary_Occupancy_Sq_Ft}), 0, {!Primary_Occupancy_Sq_Ft})
+ if(ISBLANK({!Secondary_Occupancy_Sq_Ft_If_applicable}), 0, {!Secondary_Occupancy_Sq_Ft_If_applicable}))</expression>
    </formulas>
    <formulas>
        <name>TextTotalJobCost</name>
        <dataType>String</dataType>
        <expression>TEXT(if(ISBLANK({!Projected_Total_Cost_for_Electrical}), 0, {!Projected_Total_Cost_for_Electrical}) 
+  if(ISBLANK({!Projected_Total_Cost_for_Fire}), 0, {!Projected_Total_Cost_for_Fire}) 
+ if(ISBLANK({!Projected_Total_Cost_for_Mechanical}), 0, {!Projected_Total_Cost_for_Mechanical}) 
+ if(ISBLANK({!Projected_Total_Cost_for_Plumbing}), 0, {!Projected_Total_Cost_for_Plumbing})
+ if(ISBLANK({!Projected_Total_Cost_for_General}), 0, {!Projected_Total_Cost_for_General}) )</expression>
    </formulas>
    <formulas>
        <name>TotalCalculatedJobCost</name>
        <dataType>Currency</dataType>
        <expression>if(ISBLANK({!Projected_Total_Cost_for_Electrical}), 0, {!Projected_Total_Cost_for_Electrical}) 
+  if(ISBLANK({!Projected_Total_Cost_for_Fire}), 0, {!Projected_Total_Cost_for_Fire}) 
+ if(ISBLANK({!Projected_Total_Cost_for_Mechanical}), 0, {!Projected_Total_Cost_for_Mechanical}) 
+ if(ISBLANK({!Projected_Total_Cost_for_Plumbing}), 0, {!Projected_Total_Cost_for_Plumbing})
+ if(ISBLANK({!Projected_Total_Cost_for_General}), 0, {!Projected_Total_Cost_for_General})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalSquareFootage</name>
        <dataType>Number</dataType>
        <expression>if(ISBLANK({!X1st_Floor}), 0, {!X1st_Floor}) 
+ if(ISBLANK({!X2nd_Floor}), 0, {!X2nd_Floor}) 
+ if(ISBLANK({!X3rd_Floor}), 0, {!X3rd_Floor})
+ if(ISBLANK({!X3rd_Floor}), 0, {!X3rd_Floor})
+ if(ISBLANK({!Deck_Dimensions}), 0, {!Deck_Dimensions}) 
+ if(ISBLANK({!Garage_Attached_Dimensions}), 0, {!Garage_Attached_Dimensions}) 
+ if(ISBLANK({!Carport_Dimensions}), 0, {!Carport_Dimensions}) 
+ if(ISBLANK({!Other_Detached_Structure_Dimensions}), 0, {!Other_Detached_Structure_Dimensions}) 
+ if(ISBLANK({!Porch_Dimensions}), 0, {!Porch_Dimensions})
+ if(ISBLANK({!Primary_Occupancy_Sq_Ft}), 0, {!Primary_Occupancy_Sq_Ft})
+ if(ISBLANK({!Secondary_Occupancy_Sq_Ft_If_applicable}), 0, {!Secondary_Occupancy_Sq_Ft_If_applicable})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Validation_Formula</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(
CONTAINS({!Is_Fire_Protection_Detection_Required} , &apos;Not Required&apos;), 
OR(
CONTAINS({!Is_Fire_Protection_Detection_Required} , &apos;Fire Protection&apos;),
CONTAINS({!Is_Fire_Protection_Detection_Required} , &apos;Fire Detection&apos;))),
false,
true)</expression>
    </formulas>
    <interviewLabel>(Permit Flow) Commercial Permit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Permit Flow) Commercial Permit</label>
    <loops>
        <name>Copy_1_of_Loop_through_floors</name>
        <label>Copy 1 of Loop through floors</label>
        <locationX>588</locationX>
        <locationY>890</locationY>
        <collectionReference>AreaCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>new_construction_data_validation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_rollback_true</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>MultiFamilyLoop</name>
        <label>MultiFamilyLoop</label>
        <locationX>1160</locationX>
        <locationY>890</locationY>
        <collectionReference>AreaCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_new_construction_data_validation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_is_rollback_true</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Commercial_Permit_Information</name>
        <label>Commercial Permit Information</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Determine_if_Addition_or_Renovation_Upfit</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Quick_Permit_Project_Header_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;New {!Record_Type_Name} Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Flow_Stage_Quick_Permit_Details</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Stage_Project_Details</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Residential_Permit_Project_Details_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Project Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Commercial_Permit_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commercial_Permit_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Work_Type_Commercial</name>
                    <extensionName>clariti:quickChoice</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>MUSW__Permit2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>MUSW__Work_Type2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>Record_Type_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Work Types</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt;Check Is &lt;/span&gt;&lt;strong style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt;Fire Protection/Detection required?&lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt; field. If &lt;/span&gt;&lt;strong style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt;Fire Protection&lt;/strong&gt;&lt;span style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt; and/or &lt;/span&gt;&lt;strong style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt;Fire Detection&lt;/strong&gt;&lt;span style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt; is &lt;/span&gt;&lt;u style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt;required&lt;/u&gt;&lt;span style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt; uncheck &lt;/span&gt;&lt;strong style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt;Not Required&lt;/strong&gt;&lt;span style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Validation_Formula}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Display_message_multi_family</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Note:&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; In the Town of Clayton permits can only be issued on a per BUILDING basis. Please submit individual permit applications for each Building in your project.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-Family/Apartment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Click_Next</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(189, 1, 1);&quot;&gt;If selected Trade permit please &lt;/span&gt;&lt;u style=&quot;font-size: 16px; color: rgb(189, 1, 1);&quot;&gt;do not&lt;/u&gt;&lt;span style=&quot;font-size: 16px; color: rgb(189, 1, 1);&quot;&gt; fill out any fields below. Instead click the &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(189, 1, 1);&quot;&gt;Next&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(189, 1, 1);&quot;&gt; button to fill out a Trade Permit Application.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(189, 1, 1);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Trade</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Commercial_Permit_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commercial_Permit_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_of_Construction</name>
                    <choiceReferences>ConstructionTypes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Construction</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type_of_Occupancy1</name>
                    <choiceReferences>OccupancyTypes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Primary Type of Occupancy</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type_Of_Occupancy2</name>
                    <choiceReferences>OccupancyTypes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Secondary Type of Occupancy (if applicable)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Trade</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Applicant_Information</name>
            <fieldText>Applicant Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Applicant_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>owner_occupancy_required_helper_text</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;If you qualify yourself as an owner-occupant you MUST own the project and occupy a full year after CO has been issued&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Is_the_Applicant_the_Owner</name>
                    <choiceReferences>YesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the Applicant the Owner?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Are_you_an_employee_acting_on_behalf_of_the_owner</name>
                    <choiceReferences>YesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you an employee acting on behalf of the owner?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_Applicant_the_Owner</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Are_you_are_licensed_general_contractor</name>
                    <choiceReferences>Is_Applicant_Licensed_Contractor</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you a licensed general contractor?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_Applicant_the_Owner</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Does_the_owner_of_the_business_own_the_building</name>
                    <choiceReferences>YesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does the owner of the business own the building?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;If answered Yes, must provide Appendix F affidavit on submittal. &lt;/p&gt;&lt;p&gt;If answered No, you are required to have a licensed General Contractor&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_Applicant_the_Owner</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Trade</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Trade_Information</name>
            <fieldText>Trade Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Trade_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_additional_trades_required</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you modifying or extending a(n) Electrical/Mechanical/Plumbing/Fire trade?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Addition</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Renovation/Upfit</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Additional_Trades_To_Select</name>
                    <choiceReferences>Electrical</choiceReferences>
                    <choiceReferences>Mechanical</choiceReferences>
                    <choiceReferences>Plumbing</choiceReferences>
                    <choiceReferences>Fire</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Trade(s) being modified/extended</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_additional_trades_required</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_Fire_Protection_Detection_Required</name>
                    <choiceReferences>Fire_Protection</choiceReferences>
                    <choiceReferences>Fire_Detection</choiceReferences>
                    <choiceReferences>Not_Required</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is Fire Protection/Detection required?</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Multi-Family/Apartment</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Fire_Protection_Detection_Validation_Text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;If &lt;/span&gt;&lt;strong style=&quot;color: rgb(234, 0, 30);&quot;&gt;Fire Protection&lt;/strong&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt; and/or &lt;/span&gt;&lt;strong style=&quot;color: rgb(234, 0, 30);&quot;&gt;Fire Detection&lt;/strong&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt; is &lt;/span&gt;&lt;u style=&quot;color: rgb(234, 0, 30);&quot;&gt;required&lt;/u&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt; uncheck &lt;/span&gt;&lt;strong style=&quot;color: rgb(234, 0, 30);&quot;&gt;Not Required&lt;/strong&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>(1 AND 2 AND 3) OR (1 AND 3) OR (2 AND 3)</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Fire_Protection_Detection_Required</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Fire Protection</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Is_Fire_Protection_Detection_Required</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Fire Detection</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Is_Fire_Protection_Detection_Required</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Not Required</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Projected_Total_Cost_for_General</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Projected Total Cost for General</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_additional_trades_required</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Multi-Family/Apartment</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Projected_Total_Cost_for_Electrical</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Projected Total Cost for Electrical</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Multi-Family/Apartment</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Additional_Trades_To_Select</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Electrical</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Projected_Total_Cost_for_Mechanical</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Projected Total Cost for Mechanical</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Multi-Family/Apartment</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Additional_Trades_To_Select</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Mechanical</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Projected_Total_Cost_for_Plumbing</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Projected Total Cost for Plumbing</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Multi-Family/Apartment</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Additional_Trades_To_Select</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Plumbing</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Projected_Total_Cost_for_Fire</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Projected Total Cost for Fire</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Multi-Family/Apartment</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Additional_Trades_To_Select</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Fire</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Fire_cost_helper_text</name>
                    <fieldText>&lt;p&gt;(Note: Projected total fire cost should include Fire Sprinkler and Fire Alarm)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Multi-Family/Apartment</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Additional_Trades_To_Select</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Fire</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Total_Job_Cost_Display</name>
                    <fieldText>&lt;p&gt;{!Total_Job_Cost}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Trade</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description_of_Proposed_Work_Section</name>
            <fieldText>Work Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Description_of_Proposed_Work_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_of_Proposed_Work</name>
                    <fieldText>Description of Proposed Work:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Trade</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Foundation_Information</name>
            <fieldText>Foundation Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Foundation_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Foundation</name>
                    <choiceReferences>Foundation_Type</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Foundation</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_foundation_24_or_less_above_finished_grade</name>
                    <choiceReferences>Foundation_24_or_less_above_grade</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is foundation 24&quot; or less above finished grade?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;Please request an open floor framing inspection for this project (to be automated at a later date)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Foundation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Crawlspace</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Renovation/Upfit</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Trade</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Site_Information</name>
            <fieldText>Site Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Site_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Floodplain_Onsite</name>
                    <choiceReferences>FloodplainYesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Floodplain Onsite?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Stream_Wetland_Onsite</name>
                    <choiceReferences>StreamWetlandYesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Stream/Wetland Onsite?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Renovation/Upfit</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Trade</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Utility_Information</name>
            <fieldText>Utility Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Utility_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Natural_Gas_System</name>
                    <choiceReferences>NaturalGasYesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Natural Gas System?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Does_the_lot_have_had_existing_water_and_sewer_service</name>
                    <choiceReferences>Does_Lot_Have_Water_Sewer_Service</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does the lot have/had existing water and sewer service?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Will_this_addition_require_electrical_service_modification</name>
                    <choiceReferences>Electrical_Service_Modification_Required</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Will this addition require electrical service modification?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;Select &apos;Yes&apos; if power will be dropped, reconnected, and/or relocated.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Addition</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Are_you_adding_a_new_power_meter</name>
                    <choiceReferences>Are_You_Adding_A_New_Power_Meter_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you adding a new power meter?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Will_any_underground_electrical_work_be_performed</name>
                    <choiceReferences>NaturalGasYesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Will any underground electrical work be performed?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Are_Solar_Panels_being_installed_Field</name>
                    <choiceReferences>Are_Solar_Panels_Being_Installed</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are Solar Panels being installed?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;Please note that you will require to upload solar system designs &amp;amp; plans if answered Yes&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Trade</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Utility_Provider_Information</name>
            <fieldText>Utility Provider Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Utility_Provider_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Power_Supplier</name>
                    <choiceReferences>PowerSupplier_PL</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Power Supplier</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Duke_Energy_Premise</name>
                    <dataType>String</dataType>
                    <fieldText>Duke Energy Premise #:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Power_Supplier</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Duke Energy</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Water_Supplier</name>
                    <choiceReferences>WaterSupplier_PL</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Water Supplier</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Water_Supplier_Other</name>
                    <dataType>String</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Water_Supplier</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Sewer_Provider_Source</name>
                    <extensionName>clariti:quickChoice</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Radio</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>MUSW__Permit2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Sewer_Source__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>Record_Type_Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Sewer Source</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Sewer_Source_Other</name>
                    <dataType>String</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sewer_Provider_Source.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Trade</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Conditional_Temporary_Services_Information</name>
            <fieldText>Conditional/Temporary Services Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Conditional_Temporary_Services_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_you_need_temporary_power</name>
                    <choiceReferences>Do_You_Need_Temporary_Power_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you need temporary power?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(61, 69, 76); font-size: 16px;&quot;&gt;(T-POLE)&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(61, 69, 76); font-size: 16px;&quot;&gt;&amp;nbsp;Power pole for construction of project. Removed from project site when Conditional Power or Permanent Power is approved and released.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Conditional_Power</name>
                    <choiceReferences>Conditional_Power_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Will/do you need conditional Power?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(61, 69, 76); font-size: 16px;&quot;&gt;(Application required)&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(61, 69, 76); font-size: 16px;&quot;&gt;Grant when project has made safe as required for the energizing of a portion or all the electrical system before CO.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Conditional_Gas</name>
                    <choiceReferences>Conditional_Gas_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Will/do you need conditional Gas?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(61, 69, 76); font-size: 16px;&quot;&gt;(Gas Meter approved to be set)&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(61, 69, 76); font-size: 14pt;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Times New Roman&amp;quot;, serif; color: rgb(61, 69, 76); font-size: 16px;&quot;&gt;Gas system has been tested and approved for placement of gas meter prior to CO.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Trade</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Structure_Heights</name>
            <fieldText>Structure Height/Number of Stories/Number of Units per Bldg</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Structure_Heights_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Existing_Number_of_Stories</name>
                    <dataType>Number</dataType>
                    <fieldText>Existing Number of Stories</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Addition</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>New_Number_of_Stories</name>
                    <dataType>Number</dataType>
                    <fieldText>New Number of Stories</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Half-stories are applicable (please add .5 to the end of the number if a half-story is applicable to your addition/apartment)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Addition</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Number_of_Stories</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Stories</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Half-stories are applicable (please add .5 to the end of the number if a half-story is applicable to your new construction)&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Multi-Family/Apartment</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Structure_Heights_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Existing_Structure_Height</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Existing Structure Height</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Enter height in ft.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Addition</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>New_Structure_Heightt</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>New Structure Height</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter height in ft.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Addition</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Multi-Family/Apartment</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Renovation/Upfit</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Square_Footage</name>
            <fieldText>Square Footage (input all that apply)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Square_Footage_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Primary_Occupancy_Sq_Ft</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Primary Occupancy Sq. Ft.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>XPool_Dimensions</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Pool Sq. Ft.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Carport_Dimensions</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Carport Sq. Ft.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Addition</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Square_Footage_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Secondary_Occupancy_Sq_Ft_If_applicable</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Secondary Occupancy Sq. Ft. (If applicable)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Garage_Attached_Dimensions</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Attached Garage Sq. Ft.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Addition</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Square_Footage_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Porch_Dimensions</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Porch Sq. Ft.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Addition</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Deck_Dimensions</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Deck Sq. Ft.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Detached_Structure_Dimensions</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Other Detached Structure Sq. Ft.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Addition</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Square_Footage_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X1st_Floor</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>1st Floor</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>X2nd_Floor</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>2nd Floor</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>X3rd_Floor</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>3rd Floor</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>HideThisSection</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>detached_structure_helper_text</name>
            <fieldText>&lt;p&gt;(Note: for any detached structure that is planned to be added to the Apartment/Multi-Family complex, please fill out a separate permit for a New Construction)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Multi-Family/Apartment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Commercial_Permit_Information_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commercial_Permit_Information_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Enter_all_that_apply</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;*Enter all square footage/measurements that apply. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;If structure includes multiple levels/floors, include total square footage across all floors.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Addition</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Renovation/Upfit</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Existing_Building_Square_Footage</name>
                    <dataType>String</dataType>
                    <fieldText>Existing Building Square Footage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Addition</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Renovation/Upfit</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>New_Addition_Square_Footage</name>
                    <dataType>String</dataType>
                    <fieldText>Your New Total Square Footage Is</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Addition</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Renovation_Square_Footage</name>
                    <dataType>String</dataType>
                    <fieldText>Area of Renovation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Renovation/Upfit</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Square_Footage_Screen</name>
        <label>Review Square Footage Screen</label>
        <locationX>874</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Construction_or_Multi_Family</targetReference>
        </connector>
        <fields>
            <name>RecordTypeHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;New {!Record_Type_Name} Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Square_Footage</name>
            <fieldText>Review Square Footage</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Square_Footage_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>sqft_helper</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;NOTE: To update all fields for a single column, click the checkbox when editing &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;before&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; typing the value in.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>table_validation_text</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Please ensure you have filled in every field such that your application is sufficient.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Empty_Fields_in_table</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display_Area_Collection_New_Construction</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Area__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>clariti:customDatatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Area__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>AreaCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowNoneToBeChosen</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Floor_Number__c,Square_Footage__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>preselectAllRows</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_preselectAllRows</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>Floor_Number__c:false,Square_Footage__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressBottomBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isUserDefinedObject</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showActionMenu</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display_Area_Collection_MultiFamily_Apartment</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Area__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>clariti:customDatatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Area__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>AreaCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Floor_Number__c,Square_Footage__c,Number_of_1_Bedroom_Units__c,Number_of_2_Bedroom_Units__c,Number_of_3_Bedroom_Units__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>Floor_Number__c:false,Square_Footage__c:true,Number_of_1_Bedroom_Units__c:true,Number_of_2_Bedroom_Units__c:true,Number_of_3_Bedroom_Units__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>preselectAllRows</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_preselectAllRows</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type_Commercial.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Multi-Family/Apartment</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Total_Job_Cost</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Total Job Cost &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!TotalCalculatedJobCost}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AreaCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Area__c</objectType>
    </variables>
    <variables>
        <name>AreaCollectionFloorValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Area__c</objectType>
    </variables>
    <variables>
        <name>AreaSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Area__c</objectType>
    </variables>
    <variables>
        <name>AreaSingleRecordFloorValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Area__c</objectType>
    </variables>
    <variables>
        <name>AreaSquareFootageTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ElectricalTradeJobCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>should be &quot;True&quot; if there are empty fields in the sqft datatables</description>
        <name>Empty_Fields_in_table</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Final_Area_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Area__c</objectType>
    </variables>
    <variables>
        <name>FireTradeJobCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GeneralSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MechanicalTradeJobCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Number_Of_Stories_Area</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>PlumbingTradeJobCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalNumberOfBedrooms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalNumberOfUnits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Trade_Electrical_Selected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Trade_Electrical_Self</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Trade_Fire_Selected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Trade_Mechanical_Selected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Trade_Mechanical_Self</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Trade_Plumbing_Selected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Trade_Plumbing_Self</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Trade_Residential_or_Commercial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
