force-app/main/default/flows - Copy/Permit_Submittal_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Email_Template_Name</name>
        <label>Assign Email Template Name</label>
        <locationX>242</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>Email_Template</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1. Submittal Completed (Permit)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Document_to_List</name>
        <label>Assign Single Document to List</label>
        <locationX>462</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>Consolidated_Document_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Document_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Related_Documents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Milestone_Results_Pre_App</name>
        <label>Milestone Results Pre-App</label>
        <locationX>374</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sufficiency_Check_Submitted2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sufficiency Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Completed_Action__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sufficiency Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Cycle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Template_Name</targetReference>
            </connector>
            <label>Sufficiency Check Submitted</label>
        </rules>
    </decisions>
    <description>JRS - updated the associated email template</description>
    <environments>Default</environments>
    <formulas>
        <name>Document_Submitted_Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Loop_through_Related_Documents.ContentDocument.CreatedDate})</expression>
    </formulas>
    <interviewLabel>Permit Submittal Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Permit Submittal Email</label>
    <loops>
        <name>Loop_through_Related_Documents</name>
        <label>Loop through Related Documents</label>
        <locationX>374</locationX>
        <locationY>600</locationY>
        <collectionReference>Get_Related_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Document_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Milestone_Document_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Permit</name>
        <label>Get Permit</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Email_And_Applicant_Fields_From_Permit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Documents</name>
        <label>Get Related Documents</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Related_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Email_And_Applicant_Fields_From_Permit</name>
        <label>Update Email And Applicant Fields From Permit</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Get_Related_Documents</targetReference>
        </connector>
        <inputAssignments>
            <field>Applicant_Email__c</field>
            <value>
                <elementReference>$Record.MUSW__Permit2__r.Contact_s_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone_Document_Name</name>
        <label>Update Milestone Document Name</label>
        <locationX>374</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Milestone_Results_Pre_App</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sufficiency Check</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <elementReference>Consolidated_Document_List</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sufficiency Check</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MUSW__Milestone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Start_1_Minute_after_Milestone_is_created</name>
            <connector>
                <targetReference>Get_Permit</targetReference>
            </connector>
            <label>Start 1 Minute after Milestone is created</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Send_Email_Subflow</name>
        <label>Send Email Subflow</label>
        <locationX>242</locationX>
        <locationY>1224</locationY>
        <flowName>Email_Autolaunched_Flow</flowName>
        <inputAssignments>
            <name>Email_Template</name>
            <value>
                <elementReference>Email_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Permit</name>
            <value>
                <elementReference>Get_Permit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Related_Record_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>EmailText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Email_Template_Text}&lt;/p&gt;&lt;p&gt;TEST&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PreApp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;em&gt;NOTE: Please do not reply to this email as this is a system generated email.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dear&amp;nbsp;{{{MUSW__Milestone__c.Applicant_Full_Name__c}}},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for submitting your Pre-Application Conference (PAC) application to the Town of Clayton. We have received your application and after review of your submitted materials, the application it has been deemed &lt;strong&gt;&lt;u&gt;Complete&lt;/u&gt;&lt;/strong&gt;, all required information and documents have been provided.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 12pt; font-family: &amp;quot;Baskerville Old Face&amp;quot;, serif;&quot;&gt;Please note that these meetings are held remotely via Microsoft Teams.&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Application Details:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;-&amp;nbsp;&amp;nbsp;&amp;nbsp;Application Type: [[Application Type]]&lt;/p&gt;&lt;p&gt;-&amp;nbsp;&amp;nbsp;&amp;nbsp;Application Number: {{{MUSW__Milestone__c.Related_To_Entity__c}}}&lt;/p&gt;&lt;p&gt;-&amp;nbsp;&amp;nbsp;&amp;nbsp;Submission Date: {{{MUSW__Milestone__c.MUSW__Start_Date__c}}}&lt;/p&gt;&lt;p&gt;-&amp;nbsp;&amp;nbsp;&amp;nbsp;Project Name: {{{MUSW__Milestone__c.Project_Name__c}}}&lt;/p&gt;&lt;p&gt;-&amp;nbsp;&amp;nbsp;&amp;nbsp;Documents Submitted:&amp;nbsp;&lt;/p&gt;&lt;p&gt;o&amp;nbsp;&amp;nbsp;&amp;nbsp;[[Document Type]] – [[Document Name]]&lt;/p&gt;&lt;p&gt;o&amp;nbsp;&amp;nbsp;&amp;nbsp;[[Document Type]] – [[Document Name]]&lt;/p&gt;&lt;p&gt;o&amp;nbsp;&amp;nbsp;&amp;nbsp;[[Document Type]] – [[Document Name]]&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Now that your request is complete, it can proceed with the published review timeline cycle. (Link to Time Line). We recommend that you review the Town&apos;s Unified Development Ordinance and current policies and procedures available on our website here.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Next Steps:&lt;/p&gt;&lt;p&gt;1.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;strong&gt;Scheduled Meeting:&lt;/strong&gt; The date of your PAC meeting will be held on {{{MUSW__Milestone__c.Meeting_Date_And_Time__c}}}. Staff will be sending you a Teams link that you allow you to join the meeting.&amp;nbsp;&lt;/p&gt;&lt;p&gt;2.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;strong&gt;Comments:&lt;/strong&gt; Please be prepared to discuss your project and to have details regarding your request. Staff comments will be provided at the meeting based on the information and materials provided.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please note, the Pre-Application Conference is an informal and non-binding meeting and is not a formal submittal. Comments provided by Town Staff are informational and are guidance to help you understand the Town’s requirements and processes for your project.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Should you have any questions or require assistance, please do not hesitate to contact our office (information below).Thank you for your cooperation and for choosing the Town of Clayton.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Development Services Team&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Town of Clayton | Development Services&amp;nbsp;&lt;/p&gt;&lt;p&gt;111 East Second Street&lt;/p&gt;&lt;p&gt;Clayton, NC 27520&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Main: (919) 553-5002&lt;/p&gt;&lt;p&gt;Email:&amp;nbsp;planning-engineeringsubmittals@townofclaytonnc.org&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Single_Document_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;{!Loop_through_Related_Documents.ContentDocument.Title} - &lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Submitted: {!Document_Submitted_Date}&lt;/em&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <triggerOrder>1200</triggerOrder>
    <variables>
        <name>ApplicantFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantMailingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Consolidated_Document_List</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>DocumentListForTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Template_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Milestone__c</objectType>
    </variables>
    <variables>
        <name>PreviousReviews</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Review__c</objectType>
    </variables>
</Flow>
