force-app/main/default/flows - Copy/Permit_Temporary_Use_Permit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Container_Collection</name>
        <label>Assign Container Collection</label>
        <locationX>424</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>Structures_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Container_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Containers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Container_Single</name>
        <label>Assign Container Single</label>
        <locationX>424</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>Single_Container_Record.Length__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Containers.Length_of_Container</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Container_Record.Width__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Containers.Width_of_Container</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Container_Record.Height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Containers.Height_of_Container</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Container_Record.Will_hazardous_materials_be_stored__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Containers.Will_hazardous_materials_be_stored_in_the_container</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Container_Record.Where_will_container_be_located__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Containers.Where_will_container_be_located</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Container_Record.Container_Number__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Container_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Application_Date</name>
        <label>Assign Pre-Application Date</label>
        <locationX>468</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Application.Meeting_Date_Held_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pre_Application_Looked_Up.Meeting_Date_Held_On__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Application_Meeting_Date</name>
        <label>Assign Pre-Application Meeting Date</label>
        <locationX>204</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Application.Meeting_Date_Held_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Pre_Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Application_Num</name>
        <label>Assign Pre-Application Num</label>
        <locationX>468</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Application.Pre_Application_Number_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pre_Application_Conference_Number.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pre_Application_Looked_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Name_Looked_Up</name>
        <label>Assign Project Name Looked Up</label>
        <locationX>468</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Project2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_current_project_name.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_a_Sign_Proposed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Name_Not_Looked_Up</name>
        <label>Assign Project Name Not Looked Up</label>
        <locationX>204</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Application.Proposed_Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_Project_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_a_Sign_Proposed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sign_Permit_Value</name>
        <label>Assign Sign Permit Value</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>Permit.Sign_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Temporary_Sign_Permit_Number.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Temporary_Use_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Temporary_Use_Fields</name>
        <label>Assign Temporary Use Fields</label>
        <locationX>336</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Temporary Permit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Application_under_ordinance_and_policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Specify_Ordinance_or_Policy_application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_specify_the_ordinance_s_and_or_policy_ies_including_version_s_under_which</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Ordinance_Policy_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ordinance_Policy_Effective_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Existing_Project_Yes_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_for_an_existing_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Zoning_District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZoningDistrict.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Town_Limits_or_ETJ__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TownLimitsETJ.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Total_Acerage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acreage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Please_Describe_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Temporary_Use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Exterior_Lighting_Proposed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Exterior_Lighting_Proposed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Number_of_Containers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Containers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Fence_Height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fence_Height</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Overlay_Zoning_District__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overlay_Zoning</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Is_the_tent_800_square_feet_or_more__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_tent_800_square_feet_or_more</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Tent_Permit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tent_Permit_Number.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Tent_Proposed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_a_Tent_Proposed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Temporary_Sign_Proposed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_a_Temporary_Sign_Proposed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Type_of_Temporary_Permit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TypeOfTemporaryPermit.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Utility_Connections__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_this_project_require_any_of_the_following_utility_connections</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Other_Utility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Utility</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Containers</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ClearDebris</name>
        <choiceText>Has the site of the temporary use been cleared of all debris? &lt;strong&gt;&lt;em&gt;Note: All debris must be cleared within five (5) of the end of the temporary use&lt;/em&gt;&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CrowdControl</name>
        <choiceText>Have adequate provisions for crowd control been provided? &lt;strong&gt;&lt;em&gt;Note: Applicant may be required to provide plans for crowd control.&lt;/em&gt;&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Electric</name>
        <choiceText>Electric</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electric</stringValue>
        </value>
    </choices>
    <choices>
        <name>FPOD</name>
        <choiceText>FPOD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FPOD</stringValue>
        </value>
    </choices>
    <choices>
        <name>GTOD</name>
        <choiceText>GTOD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GTOD</stringValue>
        </value>
    </choices>
    <choices>
        <name>LHOD</name>
        <choiceText>LHOD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LHOD</stringValue>
        </value>
    </choices>
    <choices>
        <name>LightingOrElectrical</name>
        <choiceText>Is site lighting or electrical service needed to support the temporary use? &lt;strong&gt;&lt;em&gt;Note: No lighting or electrical service shall be provided without an electrical permit.&lt;/em&gt;&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Sign_Permit</name>
        <choiceText>--&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Lucida Grande&amp;quot;, verdana, arial, helvetica, sans-serif; color: rgb(51, 51, 51);&quot;&gt;Have not applied yet--&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Have not applied yet</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Found</name>
        <choiceText>--Permit Not Found--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Found</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parking</name>
        <choiceText>Has adequate parking been provided? &lt;strong&gt;&lt;em&gt;Note: Required parking for other uses must remain available&lt;/em&gt;&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Permission</name>
        <choiceText>Has written permission from the property owner has been obtained? &lt;strong&gt;&lt;em&gt;(Complete the Owner’s Consent Form)&lt;/em&gt;&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Pre_App_Not_Found</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;--PRE-APPLICATION NOT FOUND--&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre_App_Not_Found</stringValue>
        </value>
    </choices>
    <choices>
        <name>Project_Not_Shown</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;--PROJECT NOT SHOWN--&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Not Shown</stringValue>
        </value>
    </choices>
    <choices>
        <name>RemainUnblocked</name>
        <choiceText>Is the temporary use located so that all fire lanes, pedestrian access and vehicular access points remain unblocked?&amp;nbsp;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Sewer</name>
        <choiceText>Sewer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sewer</stringValue>
        </value>
    </choices>
    <choices>
        <name>TempStructure</name>
        <choiceText>Is the temporary use located in a temporary structure? &lt;strong&gt;&lt;em&gt;Note: No structure shall be erected without a building permit.&lt;/em&gt;&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>TrafficControl</name>
        <choiceText>Have adequate traffic controls measures been provided? &lt;strong&gt;&lt;em&gt;Note: Applicant may be required to provide a maintenance of traffic plan.&lt;/em&gt;&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>TrashSanitary</name>
        <choiceText>Have adequate provisions for trash disposal and sanitary facilities been provided? &lt;strong&gt;&lt;em&gt;Note: Applicant may be required to provide additional information on the site plan.&lt;/em&gt;&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Water</name>
        <choiceText>Water</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Water</stringValue>
        </value>
    </choices>
    <choices>
        <name>WPOD</name>
        <choiceText>WPOD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WPOD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_the_Sign_Permit_Looked_Up</name>
        <label>Is the Sign Permit Looked Up?</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Assign_Temporary_Use_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Sign_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Temporary_Sign_Permit_Number.selectedChoiceValues</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>No_Sign_Permit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sign_Permit_Value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Sign_Proposed</name>
        <label>Is there a Sign Proposed?</label>
        <locationX>336</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Assign_Temporary_Use_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Sign_Proposed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_a_Temporary_Sign_Proposed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_Sign_Permit_Looked_Up</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Application_Found</name>
        <label>Pre-Application Found?</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Pre_Application_Num</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Pre_App_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pre_Application_Conference_Number.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pre_App_Not_Found</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pre_Application_Meeting_Date</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Found</name>
        <label>Project Found?</label>
        <locationX>336</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_Project_Name_Looked_Up</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Not_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_is_the_current_project_name.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Project_Not_Shown</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_this_for_an_existing_Project</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Name_Not_Looked_Up</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>WG - Addressing custom field feedback - #20905</description>
    <dynamicChoiceSets>
        <name>Building_Permit</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 AND 2) OR (1 AND 3)</filterLogic>
        <filters>
            <field>MUSW__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential Building Permit</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commercial Building Permit</stringValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pre_App_Num</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Application Conference</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>MUSW__Application2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Project_Name</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>MUSW__Project2__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sign_Permit</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sign Permit - Temporary</stringValue>
            </value>
        </filters>
        <limit>100</limit>
        <object>MUSW__Permit2__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tent_Permit</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tent Permit</stringValue>
            </value>
        </filters>
        <limit>100</limit>
        <object>MUSW__Permit2__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeOfUse</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Use__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UseClass</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Class__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_this_within_an_HOA__c</picklistField>
        <picklistObject>MUSW__Application2__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Using this to hide custom fields for later phase 2 implementation</description>
        <name>Hidden</name>
        <dataType>Boolean</dataType>
        <expression>False</expression>
    </formulas>
    <interviewLabel>(Permit) Temporary Use Permit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Permit) Temporary Permit</label>
    <loops>
        <name>Loop_Through_Containers</name>
        <label>Loop Through Containers</label>
        <locationX>336</locationX>
        <locationY>1658</locationY>
        <collectionReference>Containers.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Container_Single</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Pre_Application_Looked_Up</name>
        <label>Get Pre-Application Looked Up</label>
        <locationX>468</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Pre_Application_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pre_Application_Conference_Number.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Application2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Temporary_Permit</name>
        <label>Temporary Permit</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pre_Application_Found</targetReference>
        </connector>
        <fields>
            <name>Zoning_Compliance_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;New {!Record_Type_Name} Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowStages</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Project Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Temporary_Permit_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Temporary_Permit_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you submitting the application under the ordinances and policies in effect at the time the application is accepted for review by the Town of Clayton?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Please_specify_the_ordinance_s_and_or_policy_ies_including_version_s_under_which</name>
                    <dataType>String</dataType>
                    <fieldText>Please specify the ordinance(s) and/or policy(ies), including version(s), under which the application is being submitted?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Ordinance_Policy_Effective_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Ordinance/Policy Effective Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_this_for_an_existing_Project</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is this for an existing Project?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>What_is_the_current_project_name</name>
                    <choiceReferences>Project_Not_Shown</choiceReferences>
                    <choiceReferences>Project_Name</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>What is the current project name?</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_this_for_an_existing_Project</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Proposed_Project_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Proposed Project Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_this_for_an_existing_Project</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>What_is_the_current_project_name.selectedChoiceLabels</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Project_Not_Shown</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Has_a_pre_application_conference_occurred</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has a pre-application conference occurred?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Pre_Application_Conference_Number</name>
                    <choiceReferences>Pre_App_Not_Found</choiceReferences>
                    <choiceReferences>Pre_App_Num</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Pre-Application Conference Number</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_a_pre_application_conference_occurred</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Date_of_Pre_Application</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Pre-Application</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Pre_Application_Conference_Number.selectedChoiceValues</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Pre_App_Not_Found</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ZoningDistrict</name>
                    <extensionName>clariti:quickChoice</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>MUSW__Permit2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Current Zoning</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Zoning_District__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>Permit.RecordTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Overlay_Zoning</name>
                    <choiceReferences>WPOD</choiceReferences>
                    <choiceReferences>FPOD</choiceReferences>
                    <choiceReferences>GTOD</choiceReferences>
                    <choiceReferences>LHOD</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Overlay Zoning</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>TownLimitsETJ</name>
                    <extensionName>clariti:quickChoice</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>MUSW__Permit2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Town_Limits_or_ETJ__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Town Limits or ETJ</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Acreage</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Permit.MUSW__Address__r.MUSW__Parcel__r.Calculated_Acreage__c</elementReference>
                    </defaultValue>
                    <fieldText>Acreage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>TypeOfTemporaryPermit</name>
                    <extensionName>clariti:quickChoice</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Picklist Field</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>MUSW__Permit2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldName</name>
                        <value>
                            <stringValue>Type_of_Temporary_Permit__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>Type of Temporary Permit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordTypeId</name>
                        <value>
                            <elementReference>Permit.RecordTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Other_Temporary_Use</name>
                    <dataType>String</dataType>
                    <fieldText>Other Temporary Use</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Enter_either_the_approved_Site_Plan_number_or_the_Building_Permit_number_for_the</name>
                    <dataType>String</dataType>
                    <fieldText>Enter either the approved Site Plan number or the Building Permit number for the principal structure that is to be placed on the subject site</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Temporary Dwelling</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_a_Temporary_Sign_Proposed</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is a Temporary Sign Proposed?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Temporary Disaster Dwelling</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Temporary Dwelling</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Temporary Fencing</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Temporary Wireless Communications Facility</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Sign_Instructions</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;A sign permit (temporary) is required&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_a_Temporary_Sign_Proposed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Temporary_Sign_Permit_Number</name>
                    <choiceReferences>No_Sign_Permit</choiceReferences>
                    <choiceReferences>Sign_Permit</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Temporary Sign Permit Number</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search for permit...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_a_Temporary_Sign_Proposed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_a_Tent_Proposed</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is a Tent Proposed?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Temporary Disaster Dwelling</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Temporary Dwelling</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Temporary Fencing</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Temporary Office</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Temporary Wireless Communications Facility</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_the_tent_800_square_feet_or_more</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the tent 800 square feet or more?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_a_Tent_Proposed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Tent_Instructions</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;You will be required to upload your Tent Permit as a submission with this application.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_tent_800_square_feet_or_more</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Tent_Permit_Number</name>
                    <choiceReferences>Tent_Permit</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Tent Permit Number</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search for permit...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_tent_800_square_feet_or_more</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Hidden</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_the_tent_enclosed_with_wall_panels</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the tent enclosed with wall panels?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_tent_800_square_feet_or_more</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Hidden</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Construction_Permit_Req</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: &amp;quot;Lucida Grande&amp;quot;, verdana, arial, helvetica, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;A Construction Permit is required to erect the tent.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_tent_enclosed_with_wall_panels</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Construction_Permit_Number</name>
                    <choiceReferences>No_Sign_Permit</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Construction Permit Number</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>PERMIT NOT CONFIGURED YET</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_tent_enclosed_with_wall_panels</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Operation_Permit_Req</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: &amp;quot;Lucida Grande&amp;quot;, verdana, arial, helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;An Operational Permit is required occupy the tent.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_tent_enclosed_with_wall_panels</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Operation_Permit_Number</name>
                    <choiceReferences>No_Sign_Permit</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Operation Permit Number</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>PERMIT NOT CONFIGURED YET</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_tent_enclosed_with_wall_panels</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_Exterior_Lighting_Proposed</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is Exterior Lighting Proposed?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Temporary Disaster Dwelling</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Temporary Dwelling</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Temporary Fencing</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Temporary Office</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Temporary Wireless Communications Facility</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Does_this_project_require_any_of_the_following_utility_connections</name>
                    <choiceReferences>Water</choiceReferences>
                    <choiceReferences>Sewer</choiceReferences>
                    <choiceReferences>Electric</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does this project require any of the following utility connections?</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Temporary Fence</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Portable Storage Containers</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Utility</name>
                    <dataType>String</dataType>
                    <fieldText>Other Utility</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_this_project_require_any_of_the_following_utility_connections</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Number_of_Containers</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Containers</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Portable Storage Containers</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RepeaterMessage</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Please add details for each container&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Number_of_Containers</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Containers</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Length_of_Container</name>
                <dataType>Number</dataType>
                <fieldText>Length of Container</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;Numeric (feet)&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
            </fields>
            <fields>
                <name>Width_of_Container</name>
                <dataType>Number</dataType>
                <fieldText>Width of Container</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Numeric (feet)&lt;/span&gt;&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
            </fields>
            <fields>
                <name>Height_of_Container</name>
                <dataType>Number</dataType>
                <fieldText>Height of Container</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Numeric (feet)&lt;/span&gt;&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
            </fields>
            <fields>
                <name>Will_hazardous_materials_be_stored_in_the_container</name>
                <choiceReferences>Yes</choiceReferences>
                <choiceReferences>No</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Will hazardous materials be stored in the container?</fieldText>
                <fieldType>RadioButtons</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Portable Storage Containers</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Where_will_container_be_located</name>
                <dataType>String</dataType>
                <fieldText>Where will container be located?</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Portable Storage Containers</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Number_of_Containers</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Portable Storage Containers</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fence_Height</name>
            <dataType>Number</dataType>
            <fieldText>Fence Height</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Numeric (feet)&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeOfTemporaryPermit.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Temporary Fencing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Temporary_Permit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>Contact_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Container_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>PermitId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Temporary Permit</stringValue>
        </value>
    </variables>
    <variables>
        <name>Single_Container_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Structure__c</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Structures_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Structure__c</objectType>
    </variables>
</Flow>
