force-app/main/default/flows - Copy/Permit_Land_Disturbance_Permit_Journey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Pending_Status_to_Demo_Permit2_HTEXT</name>
        <label>Assign Pending Status to Demo Permit</label>
        <locationX>2162</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Demolition_Permit.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Demolition_Permit.Additional_Details_Plain_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULL_HTEXT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Set_Related_Permit_Status_to_Pending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pending_Status_to_Demo_Permit_HTEXT</name>
        <label>Assign Pending Status to Demo Permit</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Demolition_Permit.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Demolition_Permit.Additional_Details_Plain_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULL_HTEXT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Related_Permit_Status_to_Pending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Waiting_Status_to_Demo_Permit_HTEXT</name>
        <label>Assign Waiting Status to Demo Permit</label>
        <locationX>2690</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Demolition_Permit.MUSW__Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Final Inspection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Demolition_Permit.MUSW__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Demolition_Permit.Additional_Details_Plain_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Awaiting_LDP_FinalInspection_HTEXT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Related_Permit_Status_to_Pending2</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Awaiting_DEMO_FinalInspection_HTEXT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Awaiting completion of Final Inspection related to Demolition Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Awaiting_DEMO_InitialInspection_HTEXT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Awaiting completion of Initial Inspection related to Demolition Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Awaiting_DEMO_InitialInspection_Waiting_HTEXT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Awaiting related Demolition Permit to reach Initial Inspection Status</stringValue>
        </value>
    </constants>
    <constants>
        <name>Awaiting_LDP_FinalInspection_HTEXT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Awaiting completion of Final Inspection related to Land Disturbance Permit</stringValue>
        </value>
    </constants>
    <constants>
        <description>This is the API name of the building permit record type.</description>
        <name>Building_Permit_Record_Type_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Land_Disturbance_Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>NULL_HTEXT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NULL</stringValue>
        </value>
    </constants>
    <decisions>
        <description>This decision element evaluates each phase and status outcome in order. For the first outcome whose conditions are met, the flow takes the associated path. If no outcome’s conditions are met, the flow takes the path for the default outcome.</description>
        <name>Copy_1_of_Evaluate_Permit_Phase_and_Status</name>
        <label>Copy 1 of Evaluate Permit Phase and Status</label>
        <locationX>4406</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Application_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sufficiency Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Permit_to_Review_Pending</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Application Completed</label>
        </rules>
        <rules>
            <name>Copy_1_of_Sufficiency_Review</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Total_Payments__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Permit_to_Sufficiency_Check</targetReference>
            </connector>
            <label>Sufficiency Review</label>
        </rules>
        <rules>
            <name>Copy_1_of_Conditional_Approval_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conditional Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_NO_ROW_Set_permit_to_Certificate_of_Completion</targetReference>
            </connector>
            <label>Conditional Approval Completed</label>
        </rules>
        <rules>
            <name>Inspection_Fees_Paid2</name>
            <conditionLogic>(1 OR 2) AND (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Inspection(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fees Due</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MUSW__Total_Balance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.MUSW__Total_Balance__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_Permit_to_Inspection_Pending</targetReference>
            </connector>
            <label>Inspection Fees Paid</label>
        </rules>
        <rules>
            <name>Copy_1_of_Initial_Inspections_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Inspection(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Set_Permit_to_Final_Inspection_Pending</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Initial Inspection Completed</label>
        </rules>
        <rules>
            <name>Copy_1_of_Issuance_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issuance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Permit_to_Inspection_Pending</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Issuance Completed</label>
        </rules>
        <rules>
            <name>Copy_1_of_Certificate_of_Completion_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bond Release Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Permit_to_Closed_Completed_and_Completion_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Certificate of Completion Completed</label>
        </rules>
        <rules>
            <name>Copy_1_of_Final_Inspections_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_permit_to_Bond_Release_Request2</targetReference>
            </connector>
            <label>Final Inspection Completed</label>
        </rules>
        <rules>
            <name>Copy_1_of_Routine_Inspection_Finalized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Routine Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_Permit_to_Final_Inspection_Pending</targetReference>
            </connector>
            <label>Routine Inspection Finalized</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision element evaluates if this is a Building Permit. For the first outcome whose conditions are met, the flow takes the associated path. If no outcome’s conditions are met, the flow takes the path for the default outcome.</description>
        <name>Evaluate_Is_Land_Disturbance_Permit</name>
        <label>Evaluate Is Land Disturbance Permit</label>
        <locationX>4406</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Building_Permit_Record_Type_API</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Demolition_Permit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision element evaluates each phase and status outcome in order. For the first outcome whose conditions are met, the flow takes the associated path. If no outcome’s conditions are met, the flow takes the path for the default outcome.</description>
        <name>Evaluate_Permit_Phase_and_Status</name>
        <label>Evaluate Permit Phase and Status</label>
        <locationX>1502</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sufficiency Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NO_ROW_Set_permit_to_Certificate_of_Completion</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Application Completed</label>
        </rules>
        <rules>
            <name>Sufficiency_Review</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Total_Payments__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Permit_to_Sufficiency_Check</targetReference>
            </connector>
            <label>Sufficiency Review</label>
        </rules>
        <rules>
            <name>Inspection_Fees_Paid</name>
            <conditionLogic>(1 OR 2) AND (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Inspection(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fees Due</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MUSW__Total_Balance__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.MUSW__Total_Balance__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Permit_to_Inspection_Pending1</targetReference>
            </connector>
            <label>Inspection Fees Paid</label>
        </rules>
        <rules>
            <name>LDP_Initial_Inspection_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Inspection(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Demolition_Permit.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Inspection(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Demolition_Permit.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pending_Status_to_Demo_Permit_HTEXT</targetReference>
            </connector>
            <label>LDP Initial Inspection Completed</label>
        </rules>
        <rules>
            <name>Inspection_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Inspection(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Demolition_Permit.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Inspection(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Demolition_Permit.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Permit_to_Routine_Inspection_Pending</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Initial Inspections Completed</label>
        </rules>
        <rules>
            <name>Issuance_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issuance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Demo_Permit_at_Initial_Inspection_Phase</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Issuance Completed</label>
        </rules>
        <rules>
            <name>Certificate_of_Completion_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certificate of Completion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Permit_to_Closed_Completed_and_Completion_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Certificate of Completion Completed</label>
        </rules>
        <rules>
            <name>LDP_Final_Inspection_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Demolition_Permit.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Demolition_Permit.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pending_Status_to_Demo_Permit2_HTEXT</targetReference>
            </connector>
            <label>LDP Final Inspection Completed</label>
        </rules>
        <rules>
            <name>Final_Inspections_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Permit_Total_Balance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Demolition_Permit.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Demolition_Permit.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_permit_to_Bond_Release_Request</targetReference>
            </connector>
            <label>Final Inspections Completed</label>
        </rules>
        <rules>
            <name>Routine_Inspection_Finalized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Routine Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Permit_to_Final_Inspection_Pending</targetReference>
            </connector>
            <label>Routine Inspection Finalized</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Demo_Permit_at_Initial_Inspection_Phase</name>
        <label>Is Demo Permit at Initial Inspection Phase</label>
        <locationX>1502</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Set_Permit_to_Inspection_Waiting_HTEXT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_At_Initial_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Demolition_Permit.MUSW__Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Inspection(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Demolition_Permit.MUSW__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Permit_to_Inspection_Pending_HTEXT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_to_Demolition_Permit</name>
        <label>Related to Demolition Permit</label>
        <locationX>2954</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Evaluate_Permit_Phase_and_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_to_Demolition_Permit1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Demolition_Permit.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Permit_Phase_and_Status</targetReference>
            </connector>
            <label>Related to Demolition Permit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>This is the expiration date of the permit in MONTHS from the issued date of the building permit.</description>
        <name>Expiration_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!Issued_Date}) + 2,  MONTH({!Issued_Date}),  DAY({!Issued_Date}))</expression>
    </formulas>
    <formulas>
        <description>Calculates the current &quot;Total Balance&quot; for the permit record being created/updated.</description>
        <name>Permit_Total_Balance</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!$Record.MUSW__Total_Fees__c},0) - BLANKVALUE({!$Record.MUSW__Total_Payments__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalBalanceTextFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Permit_Total_Balance}&gt;0 , &quot;Please pay outstanding balance amount of&quot; + &quot; $&quot; + TEXT({!Permit_Total_Balance}),
&quot; &quot;)</expression>
    </formulas>
    <interviewLabel>(Permit) - Land Disturbance Permit Journey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Permit) - Land Disturbance Permit Journey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Demolition_Permit</name>
        <label>Get Related Demolition Permit</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Action_Required_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Permit__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Permit2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This assignment will set to Cert of Completion</description>
        <name>Copy_1_of_NO_ROW_Set_permit_to_Certificate_of_Completion</name>
        <label>NO ROW Set permit to Certificate of Completion</label>
        <locationX>3746</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Issuance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This assignment element sets the permit phase to Closed and status to Closed. Additionally, Completion Date is set based on the Flow Global Variable.</description>
        <name>Copy_1_of_Set_Permit_to_Closed_Completed_and_Completion_Date</name>
        <label>Set Permit to Closed Completed and Completion Date</label>
        <locationX>4802</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>MUSW__DateCompleted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This assignment will activate the final phase for inspections</description>
        <name>Copy_1_of_Set_Permit_to_Final_Inspection_Pending</name>
        <label>Set Permit to Final Inspection Pending</label>
        <locationX>2690</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Assign_Waiting_Status_to_Demo_Permit_HTEXT</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Final Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This assignment element sets the permit phase to Inspection and status to Pending.</description>
        <name>Copy_1_of_Set_Permit_to_Inspection_Pending</name>
        <label>Set Permit to Inspection Pending</label>
        <locationX>4538</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>MUSW__Issue_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Initial Inspection(s)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Set_Permit_to_Review_Pending</name>
        <label>Set Permit to Review Pending</label>
        <locationX>3218</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Conditional Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Set_Permit_to_Sufficiency_Check</name>
        <label>Set Permit to Sufficiency Check</label>
        <locationX>3482</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Milestone_Start_Date2</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Sufficiency Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Set_Related_Permit_Status_to_Pending</name>
        <label>Set Related Permit Status to Pending</label>
        <locationX>2162</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_LDP_Additional_Details2_HTEXT</targetReference>
        </connector>
        <inputReference>Get_Related_Demolition_Permit</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This assignment will activate the final phase for inspections</description>
        <name>Copy_2_of_Set_Permit_to_Final_Inspection_Pending</name>
        <label>Set Permit to Final Inspection Pending</label>
        <locationX>5330</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Final Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This assignment element sets the permit phase to Inspection and status to Pending.</description>
        <name>Copy_2_of_Set_Permit_to_Inspection_Pending</name>
        <label>Set Permit to Inspection Pending</label>
        <locationX>4010</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This assignment will activate the final phase for inspections</description>
        <name>Copy_3_of_Set_Permit_to_Final_Inspection_Pending</name>
        <label>Set Permit to Final Inspection Pending</label>
        <locationX>4274</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Routine Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This assignment will set to Cert of Completion</description>
        <name>NO_ROW_Set_permit_to_Certificate_of_Completion</name>
        <label>NO ROW Set permit to Certificate of Completion</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Issuance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This assignment will set to Cert of Completion</description>
        <name>Set_permit_to_Bond_Release_Request</name>
        <label>Set permit to Bond Release Request</label>
        <locationX>2426</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Bond Release Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This assignment will set to Cert of Completion</description>
        <name>Set_permit_to_Bond_Release_Request2</name>
        <label>Set permit to Bond Release Request</label>
        <locationX>5066</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Bond Release Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This assignment element sets the permit phase to Closed and status to Closed. Additionally, Completion Date is set based on the Flow Global Variable.</description>
        <name>Set_Permit_to_Closed_Completed_and_Completion_Date</name>
        <label>Set Permit to Closed Completed and Completion Date</label>
        <locationX>1898</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>MUSW__DateCompleted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This assignment element sets the permit phase to Inspection and status to Pending.</description>
        <name>Set_Permit_to_Inspection_Pending1</name>
        <label>Set Permit to Inspection Pending</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This assignment element sets the permit phase to Inspection and status to Pending.</description>
        <name>Set_Permit_to_Inspection_Pending_HTEXT</name>
        <label>Set Permit to Inspection Pending</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Additional_Details_Plain_Text__c</field>
            <value>
                <elementReference>NULL_HTEXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Initial Inspection(s)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This assignment element sets the permit phase to Inspection and status to Pending.</description>
        <name>Set_Permit_to_Inspection_Waiting_HTEXT</name>
        <label>Set Permit to Inspection Waiting</label>
        <locationX>1634</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Additional_Details_Plain_Text__c</field>
            <value>
                <elementReference>Awaiting_DEMO_InitialInspection_Waiting_HTEXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Initial Inspection(s)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Waiting</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This assignment will activate the final phase for inspections</description>
        <name>Set_Permit_to_Routine_Inspection_Pending</name>
        <label>Set Permit to Routine Inspection Pending</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Routine Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Permit_to_Sufficiency_Check</name>
        <label>Set Permit to Sufficiency Check</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Milestone_Start_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Phase__c</field>
            <value>
                <stringValue>Sufficiency Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Related_Permit_Status_to_Pending</name>
        <label>Set Related Permit Status to Pending</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_LDP_Additional_Details_HTEXT</targetReference>
        </connector>
        <inputReference>Get_Related_Demolition_Permit</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Related_Permit_Status_to_Pending2</name>
        <label>Copy 2 of Set Related Permit Status to Pending</label>
        <locationX>2690</locationX>
        <locationY>1079</locationY>
        <inputReference>Get_Related_Demolition_Permit</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Action_Required_Message</name>
        <label>Update Action Required Message</label>
        <locationX>2954</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Related_to_Demolition_Permit</targetReference>
        </connector>
        <inputAssignments>
            <field>Action_Required__c</field>
            <value>
                <elementReference>Action_Required_Message_HTEXT</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LDP_Additional_Details2_HTEXT</name>
        <label>Update LDP Additional Details</label>
        <locationX>2162</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Additional_Details_Plain_Text__c</field>
            <value>
                <elementReference>Awaiting_DEMO_FinalInspection_HTEXT</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LDP_Additional_Details_HTEXT</name>
        <label>Update LDP Additional Details</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Additional_Details_Plain_Text__c</field>
            <value>
                <elementReference>Awaiting_DEMO_InitialInspection_HTEXT</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone_Start_Date</name>
        <label>Update Milestone Start Date</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sufficiency Check</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.MUSW__Milestones__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestone_Start_Date2</name>
        <label>Update Milestone Start Date</label>
        <locationX>3482</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sufficiency Check</stringValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.MUSW__Milestones__r</inputReference>
    </recordUpdates>
    <sourceTemplate>clariti__Permit_Journey_Building_Permit</sourceTemplate>
    <start>
        <locationX>4280</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_Is_Land_Disturbance_Permit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MUSW__Permit2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Action_Required_Message_HTEXT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 23, 173);&quot;&gt;{!$Record.Outstanding_Submissions_Text__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 23, 173);&quot;&gt;{!TotalBalanceTextFormula}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>10</triggerOrder>
    <variables>
        <description>This is the issued date of the Building Permit when the permit is being issued (phase Issuance and status Pending). This date is set to the current date.</description>
        <name>Issued_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
