force-app/main/default/flows - Copy/Review_Recreate_Reviews_from_Previous_Milestone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_to_our_Submissions_to_Update</name>
        <label>Add to our Submissions to Create</label>
        <locationX>270</locationX>
        <locationY>3059</locationY>
        <assignmentItems>
            <assignToReference>Submissions_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Submission_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_our_check_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_to_Review_Collection</name>
        <label>Adding to Review Collection</label>
        <locationX>765</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>NewReviewCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewReview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Previous_Reviews</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_to_Review_Collection2</name>
        <label>Adding to Review Collection</label>
        <locationX>2217</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>NewReviewCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewReview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Previous_Reviews2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_ID</name>
        <label>Assign Application ID</label>
        <locationX>1997</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>parentapplicationid.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MUSW__Application2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentapplicationstatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MUSW__Application2__r.MUSW__Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Get_Previous_Milestone2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_our_check_variable</name>
        <label>Assign our check variable</label>
        <locationX>402</locationX>
        <locationY>3251</locationY>
        <assignmentItems>
            <assignToReference>Previous_Submission_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_for_duplicates.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_for_duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permit_ID</name>
        <label>Assign Permit ID</label>
        <locationX>545</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>parentpermitid.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPermitStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__r.MUSW__Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Previous_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Application</name>
        <label>Assign to Application</label>
        <locationX>1722</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>Single_Submission_Var.MUSW__Application2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentapplicationid.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Submission_Var.Ready_for_Customer_To_Upload__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Submission_Var.Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULL_VALUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_our_Submissions_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Delete</name>
        <label>Assign to Delete</label>
        <locationX>534</locationX>
        <locationY>2951</locationY>
        <assignmentItems>
            <assignToReference>Submissions_To_Delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Submission_Var</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeleteOldSubmissions</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_our_check_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_our_submission_variable</name>
        <label>Assign to our submission variable</label>
        <locationX>402</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>Single_Submission_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_for_duplicates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_submisison_already_accounted_for</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Permit</name>
        <label>Assign to Permit</label>
        <locationX>270</locationX>
        <locationY>2951</locationY>
        <assignmentItems>
            <assignToReference>Single_Submission_Var.MUSW__Permit2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>previous_milestone.MUSW__Permit2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Submission_Var.Ready_for_Customer_To_Upload__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Submission_Var.Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULL_VALUE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_our_Submissions_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_our_Submissions_to_Create</name>
        <label>Copy 1 of Add to our Submissions to Create</label>
        <locationX>1722</locationX>
        <locationY>3251</locationY>
        <assignmentItems>
            <assignToReference>Submissions_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Submission_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_our_check_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_our_check_variable</name>
        <label>Copy 1 of Assign our check variable</label>
        <locationX>1854</locationX>
        <locationY>3443</locationY>
        <assignmentItems>
            <assignToReference>Previous_Submission_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Application_Duplicated.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Application_Duplicated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_Delete</name>
        <label>Copy 1 of Assign to Delete</label>
        <locationX>1986</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>Submissions_To_Delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Submission_Var</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeleteOldSubmissions</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_our_check_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_our_submission_variable</name>
        <label>Copy 1 of Assign to our submission variable</label>
        <locationX>1854</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>Single_Submission_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Application_Duplicated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Is_this_submisison_already_accounted_for</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Single_Review_with_Due_Date</name>
        <label>Create Single Review with Due Date</label>
        <locationX>897</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Permit2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Previous_Reviews.MUSW__Permit2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Previous_Reviews.MUSW__Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Review_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Previous_Reviews.MUSW__Review_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_to_Review_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Single_Review_with_Due_Date_APP</name>
        <label>Create Single Review with Due Date APP</label>
        <locationX>2349</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Application2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Previous_Reviews2.MUSW__Application2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Previous_Reviews2.MUSW__Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Review_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Previous_Reviews2.MUSW__Review_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Submission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubmissionsRelatedToReview.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_to_Review_Collection2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Single_Review_with_ReReview_Date</name>
        <label>Create Single Review with ReReview Date</label>
        <locationX>633</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Permit2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Previous_Reviews.MUSW__Permit2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Previous_Reviews.MUSW__Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Review_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Previous_Reviews.MUSW__Review_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Permit_ReReview_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_to_Review_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Single_Review_with_ReReview_Date_APP</name>
        <label>Create Single Review with ReReview Date APP</label>
        <locationX>2085</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Application2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Previous_Reviews2.MUSW__Application2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Previous_Reviews2.MUSW__Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Review_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Previous_Reviews2.MUSW__Review_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Submission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubmissionsRelatedToReview.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReview.MUSW__Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_ReReview_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_to_Review_Collection2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Anything_to_Delete</name>
        <label>Anything to Delete?</label>
        <locationX>182</locationX>
        <locationY>3443</locationY>
        <defaultConnector>
            <targetReference>Update_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteOldSubmissions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Bad_Submissions</targetReference>
            </connector>
            <label>Yes proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Documents_Requested_from_a_Failed_Review</name>
        <label>Are Documents Requested from a Failed Review?</label>
        <locationX>2233</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Bailout</defaultConnectorLabel>
        <rules>
            <name>No_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Documents Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Application_ID</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Anything_to_Delete</name>
        <label>Copy 1 of Anything to Delete?</label>
        <locationX>1634</locationX>
        <locationY>3635</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteOldSubmissions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Delete_Bad_Submissions</targetReference>
            </connector>
            <label>Copy 1 of Yes proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Has_Review_Failed_3_times</name>
        <label>Copy 1 of Has Review Failed 3 times</label>
        <locationX>1997</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Related_Document_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Failed_over_3_times</name>
            <conditionLogic>((1 OR 3) AND 2) OR ((4 OR 6) AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plan Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Cycle__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drawing Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planning Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Cycle__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_application_status_to_fees_due</targetReference>
            </connector>
            <label>Copy 1 of Failed over 3 times</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_there_an_Existing_condition</name>
        <label>Copy 1 of Is there an Existing condition?</label>
        <locationX>1997</locationX>
        <locationY>2495</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Related_Document_Condition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previously_Related_Application_Submissions</targetReference>
            </connector>
            <label>Copy 1 of Yes Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_this_submisison_already_accounted_for</name>
        <label>Copy 1 of Is this submisison already accounted for?</label>
        <locationX>1854</locationX>
        <locationY>3035</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicate - Delete</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_No_it_is_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Application_Duplicated.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Previous_Submission_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Application</targetReference>
            </connector>
            <label>Copy 1 of No it is not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Related_submissions</name>
        <label>Copy 1 of Related submissions?</label>
        <locationX>1788</locationX>
        <locationY>2711</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_there_are</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previously_Related_Application_Submissions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Application_Duplicated</targetReference>
            </connector>
            <label>Copy 1 of Yes there are!</label>
        </rules>
    </decisions>
    <decisions>
        <name>Documents_Requested</name>
        <label>Documents Requested?</label>
        <locationX>781</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Bailout</defaultConnectorLabel>
        <rules>
            <name>No_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.MUSW__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Documents Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Permit_ID</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Plan_Review_Failed_3_times</name>
        <label>Has Plan Review Failed 3 times</label>
        <locationX>545</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Document_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Failed_over_3_times</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plan Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MUSW__Cycle__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_the_permit_status_to_fees_due</targetReference>
            </connector>
            <label>Failed over 3 times</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Permit_or_Application</name>
        <label>Is Permit or Application</label>
        <locationX>1507</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Are_Documents_Requested_from_a_Failed_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Application</defaultConnectorLabel>
        <rules>
            <name>Is_Permit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Permit2__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Documents_Requested</targetReference>
            </connector>
            <label>Is Permit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ReReview_Number_of_Days_populated</name>
        <label>Is ReReview Number of Days populated?</label>
        <locationX>765</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Create_Single_Review_with_Due_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReReview_Date_Should_be_used</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Previous_Reviews.MUSW__Review_Template__r.Re_Review_Number_of_Days__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Single_Review_with_ReReview_Date</targetReference>
            </connector>
            <label>ReReview Date Should be used</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ReReview_Number_of_Days_populated_APP</name>
        <label>Is ReReview Number of Days populated? APP</label>
        <locationX>2217</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Create_Single_Review_with_Due_Date_APP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReReview_Date_Should_be_used_APP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.Re_Review_Number_of_Days__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Single_Review_with_ReReview_Date_APP</targetReference>
            </connector>
            <label>ReReview Date Should be used APP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_Existing_condition</name>
        <label>Is there an Existing condition?</label>
        <locationX>545</locationX>
        <locationY>2303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Document_Condition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previously_Related_Submisisons</targetReference>
            </connector>
            <label>Yes Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_submisison_already_accounted_for</name>
        <label>Is this submisison already accounted for?</label>
        <locationX>402</locationX>
        <locationY>2843</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicate - Delete</defaultConnectorLabel>
        <rules>
            <name>No_it_is_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_for_duplicates.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Previous_Submission_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Permit</targetReference>
            </connector>
            <label>No it is not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_submissions</name>
        <label>Related submissions?</label>
        <locationX>336</locationX>
        <locationY>2519</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_there_are</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previously_Related_Submisisons</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_for_duplicates</targetReference>
            </connector>
            <label>Yes there are!</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Back_to_Original_Status</name>
        <label>Update Back to Original Status</label>
        <locationX>1799</locationX>
        <locationY>2003</locationY>
        <defaultConnector>
            <targetReference>Update_Re_Review_Back_To_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MUSW__Application2__r.MUSW__Type2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>As-Builts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Status_to_Original</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>WG - Adding Bailout when Documents are Requested (application Status) for new process</description>
    <environments>Default</environments>
    <formulas>
        <name>Application_Due_Date</name>
        <dataType>Date</dataType>
        <expression>CASE(
MOD(TODAY() - DATE(1900, 1, 7), 7),
0, (TODAY()) + {!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.MUSW__Due_in_Days__c}-1)/5)*2,
1, (TODAY()) + {!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.MUSW__Due_in_Days__c})/5)*2,
2, (TODAY()) + {!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+1)/5)*2,
3, (TODAY()) + {!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+2)/5)*2,
4, (TODAY()) + {!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+3)/5)*2,
5, (TODAY()) + {!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+ CEILING(({!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.MUSW__Due_in_Days__c})/5)*2,
6, (TODAY()) - IF({!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.MUSW__Due_in_Days__c}&gt;0,1,0) + {!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+ CEILING(({!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.MUSW__Due_in_Days__c})/5)*2,
null)</expression>
    </formulas>
    <formulas>
        <name>Application_ReReview_Date</name>
        <dataType>Date</dataType>
        <expression>CASE(
MOD(TODAY() - DATE(1900, 1, 7), 7),
0, (TODAY()) + {!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}-1)/5)*2,
1, (TODAY()) + {!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.Re_Review_Number_of_Days__c})/5)*2,
2, (TODAY()) + {!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+1)/5)*2,
3, (TODAY()) + {!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+2)/5)*2,
4, (TODAY()) + {!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+3)/5)*2,
5, (TODAY()) + {!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+ CEILING(({!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.Re_Review_Number_of_Days__c})/5)*2,
6, (TODAY()) - IF({!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}&gt;0,1,0) + {!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+ CEILING(({!Loop_Through_Previous_Reviews2.MUSW__Review_Template__r.Re_Review_Number_of_Days__c})/5)*2,
null)</expression>
    </formulas>
    <formulas>
        <name>Permit_Due_Date</name>
        <dataType>Date</dataType>
        <expression>CASE(
MOD(TODAY() - DATE(1900, 1, 7), 7),
0, (TODAY()) + {!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.MUSW__Due_in_Days__c}-1)/5)*2,
1, (TODAY()) + {!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.MUSW__Due_in_Days__c})/5)*2,
2, (TODAY()) + {!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+1)/5)*2,
3, (TODAY()) + {!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+2)/5)*2,
4, (TODAY()) + {!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+3)/5)*2,
5, (TODAY()) + {!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+ CEILING(({!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.MUSW__Due_in_Days__c})/5)*2,
6, (TODAY()) - IF({!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.MUSW__Due_in_Days__c}&gt;0,1,0) + {!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.MUSW__Due_in_Days__c}+ CEILING(({!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.MUSW__Due_in_Days__c})/5)*2,
null)</expression>
    </formulas>
    <formulas>
        <name>Permit_ReReview_Date</name>
        <dataType>Date</dataType>
        <expression>CASE(
MOD(TODAY() - DATE(1900, 1, 7), 7),
0, (TODAY()) + {!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}-1)/5)*2,
1, (TODAY()) + {!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.Re_Review_Number_of_Days__c})/5)*2,
2, (TODAY()) + {!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+1)/5)*2,
3, (TODAY()) + {!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+2)/5)*2,
4, (TODAY()) + {!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+ FLOOR(({!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+3)/5)*2,
5, (TODAY()) + {!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+ CEILING(({!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.Re_Review_Number_of_Days__c})/5)*2,
6, (TODAY()) - IF({!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}&gt;0,1,0) + {!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.Re_Review_Number_of_Days__c}+ CEILING(({!Loop_Through_Previous_Reviews.MUSW__Review_Template__r.Re_Review_Number_of_Days__c})/5)*2,
null)</expression>
    </formulas>
    <interviewLabel>(Review) - Recreate Reviews from Previous Milestone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Review) - Recreate Reviews from Previous Milestone</label>
    <loops>
        <name>Loop_Application_Duplicated</name>
        <label>Loop Application Duplicated</label>
        <locationX>1634</locationX>
        <locationY>2819</locationY>
        <collectionReference>Get_Previously_Related_Application_Submissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_to_our_submission_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Anything_to_Delete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_for_duplicates</name>
        <label>Loop through for duplicates</label>
        <locationX>182</locationX>
        <locationY>2627</locationY>
        <collectionReference>Get_Previously_Related_Submisisons</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_our_submission_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Anything_to_Delete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Previous_Reviews</name>
        <label>Loop Through Previous Reviews</label>
        <locationX>545</locationX>
        <locationY>971</locationY>
        <collectionReference>PreviousReviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_ReReview_Number_of_Days_populated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Reviews</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Previous_Reviews2</name>
        <label>Loop Through Previous Reviews</label>
        <locationX>1997</locationX>
        <locationY>971</locationY>
        <collectionReference>PreviousReviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_ReReview_Number_of_Days_populated_APP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Reviews_App</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Reviews</name>
        <label>Create Reviews</label>
        <locationX>545</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Newly_Created_Reviews</targetReference>
        </connector>
        <inputReference>NewReviewCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Reviews_App</name>
        <label>Create Reviews</label>
        <locationX>1997</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Newly_Created_Reviews_App</targetReference>
        </connector>
        <inputReference>NewReviewCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Copy_1_of_Delete_Bad_Submissions</name>
        <label>Copy 1 of Delete Bad Submissions</label>
        <locationX>1502</locationX>
        <locationY>3743</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Condition</targetReference>
        </connector>
        <inputReference>Submissions_To_Delete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Bad_Submissions</name>
        <label>Delete Bad Submissions</label>
        <locationX>50</locationX>
        <locationY>3551</locationY>
        <connector>
            <targetReference>Update_Condition</targetReference>
        </connector>
        <inputReference>Submissions_To_Delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_Get_Previous_Milestone2</name>
        <label>Get Previous Milestone</label>
        <locationX>1997</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Reviews_Tied_To_Prev_Milestone2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Predecessor_Milestone__r.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Milestone__c</object>
        <outputReference>previous_milestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Application2__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Related_Document_Condition</name>
        <label>Copy 1 of Get Related Document Condition</label>
        <locationX>1997</locationX>
        <locationY>2387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Is_there_an_Existing_condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Application2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentapplicationid.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Required Documents</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Reviews_Tied_To_Prev_Milestone</name>
        <label>Get all Reviews Tied To Prev Milestone</label>
        <locationX>545</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ID_for_Development_Services_Coordinator_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>previous_milestone.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentpermitid.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Review__c</object>
        <outputReference>PreviousReviews</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Permit2__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Type__c</queriedFields>
        <queriedFields>MUSW__Review_Template__c</queriedFields>
        <queriedFields>MUSW__Due_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Reviews_Tied_To_Prev_Milestone2</name>
        <label>Get all Reviews Tied To Prev Milestone</label>
        <locationX>1997</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ID_for_Development_Services_Coordinator_queue_APP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>previous_milestone.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Review__c</object>
        <outputReference>PreviousReviews</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Application2__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Type__c</queriedFields>
        <queriedFields>MUSW__Review_Template__c</queriedFields>
        <queriedFields>MUSW__Due_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ID_for_Development_Services_Coordinator_queue</name>
        <label>Get ID for Development Services Coordinator queue</label>
        <locationX>545</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Previous_Reviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Development Services Coordinator</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DefaultQueueAPIName.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_ID_for_Development_Services_Coordinator_queue_APP</name>
        <label>Get ID for Development Services Coordinator queue APP</label>
        <locationX>1997</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Previous_Reviews2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Development Services Coordinator</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>DefaultQueueAPIName.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Milestone</name>
        <label>Get Previous Milestone</label>
        <locationX>545</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Reviews_Tied_To_Prev_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Predecessor_Milestone__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentpermitid.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Milestone__c</object>
        <outputReference>previous_milestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Permit2__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Previously_Related_Application_Submissions</name>
        <label>Get Previously Related Application Submissions</label>
        <locationX>1788</locationX>
        <locationY>2603</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Related_submissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Condition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Related_Document_Condition.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previously_Related_Submisisons</name>
        <label>Get Previously Related Submisisons</label>
        <locationX>336</locationX>
        <locationY>2411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_submissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Condition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Document_Condition.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MUSW__Submission__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Document_Condition</name>
        <label>Get Related Document Condition</label>
        <locationX>545</locationX>
        <locationY>2195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_Existing_condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Permit2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MUSW__Permit2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MUSW__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Required Documents</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MUSW__Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Newly_Created_Reviews</name>
        <label>Newly Created Reviews</label>
        <locationX>545</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Plan_Review_Failed_3_times</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Review__c</object>
        <outputReference>New_Reviews</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Milestone__c</queriedFields>
        <queriedFields>MUSW__Type__c</queriedFields>
        <queriedFields>MUSW__Submission__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Permit2__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Newly_Created_Reviews_App</name>
        <label>Newly Created Reviews</label>
        <locationX>1997</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Has_Review_Failed_3_times</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>MUSW__Review__c</object>
        <outputReference>New_Reviews</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MUSW__Milestone__c</queriedFields>
        <queriedFields>MUSW__Type__c</queriedFields>
        <queriedFields>MUSW__Submission__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MUSW__Application2__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Condition</name>
        <label>Copy 1 of Update Condition</label>
        <locationX>1634</locationX>
        <locationY>3935</locationY>
        <connector>
            <targetReference>Update_To_Have_Application_Submissions_Related</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Document_Condition.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Full_Description__c</field>
            <value>
                <stringValue>Reset Submissions</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Condition__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Status_to_Original</name>
        <label>Update Application Status to Original</label>
        <locationX>1667</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Related_Document_Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentapplicationid.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <elementReference>currentapplicationstatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReReview_Fee__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Condition</name>
        <label>Update Condition</label>
        <locationX>182</locationX>
        <locationY>3743</locationY>
        <connector>
            <targetReference>Update_To_Have_Permit_Submissions_Related</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Document_Condition.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Full_Description__c</field>
            <value>
                <stringValue>Reset Submissions</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Condition__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Permit_Status_to_Original_Status</name>
        <label>Update Permit Status to Original Status</label>
        <locationX>413</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Get_Related_Document_Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentpermitid.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <elementReference>CurrentPermitStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReReview_Fee__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Re_Review_Back_To_No</name>
        <label>Update Re-Review Back To No</label>
        <locationX>1931</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Related_Document_Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentapplicationid.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ReReview_Fee__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_application_status_to_fees_due</name>
        <label>Update the application status to fees due</label>
        <locationX>1799</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Update_Back_to_Original_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentapplicationid.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Fees Due</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReReview_Fee__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Application2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_the_permit_status_to_fees_due</name>
        <label>update the permit status to fees due</label>
        <locationX>413</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Update_Permit_Status_to_Original_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentpermitid.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Status__c</field>
            <value>
                <stringValue>Fees Due</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReReview_Fee__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_Have_Application_Submissions_Related</name>
        <label>Update To Have Application Submissions Related</label>
        <locationX>1634</locationX>
        <locationY>4043</locationY>
        <inputReference>Submissions_To_Create</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_Have_Permit_Submissions_Related</name>
        <label>Update To Have Permit Submissions Related</label>
        <locationX>182</locationX>
        <locationY>3851</locationY>
        <inputReference>Submissions_To_Create</inputReference>
    </recordUpdates>
    <start>
        <locationX>1381</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Permit_or_Application</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (1 AND 2 AND 4)</filterLogic>
        <filters>
            <field>MUSW__Predecessor_Milestone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MUSW__Cycle__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Sufficiency</stringValue>
            </value>
        </filters>
        <object>MUSW__Milestone__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1030</triggerOrder>
    <variables>
        <name>currentapplicationstatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentPermitStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefaultQueueAPIName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>DeleteOldSubmissions</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>New_Reviews</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Review__c</objectType>
    </variables>
    <variables>
        <name>NewReview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Review__c</objectType>
    </variables>
    <variables>
        <name>NewReviewCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Review__c</objectType>
    </variables>
    <variables>
        <name>NULL_VALUE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentapplicationid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>parentpermitid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>previous_milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Milestone__c</objectType>
    </variables>
    <variables>
        <name>Previous_Submission_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreviousReviews</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Review__c</objectType>
    </variables>
    <variables>
        <name>Single_Submission_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>Submissions_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <name>Submissions_To_Delete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
    <variables>
        <description>We want to ensure we are re-creating a new submission whenever reviews fail.</description>
        <name>SubmissionsRelatedToReview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Submission__c</objectType>
    </variables>
</Flow>
