force-app/main/default/flows - Copy/Traffic_Impact_Analysis_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Field_Values_To_Application</name>
        <label>Assign Field Values To Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Application</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_TIA_Submittal_Values</name>
        <label>Assign TIA Submittal Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Application.Existing_Project_Yes_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_application_part_of_an_existing_project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Standalone_Project_Yes_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_a_standalone_project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Scoping_Meeting_Completed_Yes_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_a_Scope_Meeting_been_completed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Scoping_Meeting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scoping_Meeting_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.NCDOT_Contacted_Yes_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_NCDOT_been_contacted_about_this_project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Is_a_Traffic_Study_Required_Per_NCDOT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Has_NCDOT_indicated_a_traffic_study_is_required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Firm_Preparing_Traffic_Study__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Firm_Preparing_Traffic_Study</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Development_Land_Use_ITE_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Development_Land_Use_ITE_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Type_of_Residential_Dwelling_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Residential_Dwelling_Units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Number_of_Residential_Dwelling_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Residential_Dwelling_Units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Type_of_Non_Residential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Non_Residential_Units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.SQ_FT_of_Non_Residential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Non_Residential_Unit_Square_Feet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Trip_Generation_Daily_Vehicles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Daily_Vehicles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Trip_Generation_Built_Out_Year2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Built_Out_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Trip_Generation_Peak_Hour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Peak_Hour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Application_under_ordinance_and_policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Specify_Ordinance_or_Policy_application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_specify_the_ordinance_s_and_or_policy_ies_including_version_s_under_which</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Application.Ordinance_Policy_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ordinance_Policy_Effective_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Field_Values_To_Application</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Commercial</name>
        <choiceText>Commercial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing_Structure</name>
        <choiceText>Existing Structure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Structure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Industrial</name>
        <choiceText>Industrial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Industrial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Institutional</name>
        <choiceText>Institutional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Institutional</stringValue>
        </value>
    </choices>
    <choices>
        <name>Multi_Family</name>
        <choiceText>Multi Family</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multi Family</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Structure</name>
        <choiceText>New Structure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Structure</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Determined</name>
        <choiceText>Not Determined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Determined</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Residential</name>
        <choiceText>Residential</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Residential</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Family</name>
        <choiceText>Single Family</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Family</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_family_Attached</name>
        <choiceText>Single Family Attached</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single family Attached</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_family_Detached</name>
        <choiceText>Single Family Detached</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single family Detached</stringValue>
        </value>
    </choices>
    <choices>
        <name>X10_00_AM</name>
        <choiceText>10:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X10_00_PM</name>
        <choiceText>10:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X11_00_AM</name>
        <choiceText>11:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X11_00_PM</name>
        <choiceText>11:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12_00_AM</name>
        <choiceText>12:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12_00_PM</name>
        <choiceText>12:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_00_AM</name>
        <choiceText>1:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_00_PM</name>
        <choiceText>1:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_00_AM</name>
        <choiceText>2:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_00_PM</name>
        <choiceText>2:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_00_AM</name>
        <choiceText>3:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_00_PM</name>
        <choiceText>3:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_00_AM</name>
        <choiceText>4:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_00_PM</name>
        <choiceText>4:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_00_AM</name>
        <choiceText>5:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_00_PM</name>
        <choiceText>5:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6_00_AM</name>
        <choiceText>6:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6_00_PM</name>
        <choiceText>6:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X7_00_AM</name>
        <choiceText>7:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X7_00_PM</name>
        <choiceText>7:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X8_00_AM</name>
        <choiceText>8:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X8_00_PM</name>
        <choiceText>8:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X9_00_AM</name>
        <choiceText>9:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>X9_00_PM</name>
        <choiceText>9:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9:00 PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>Application_API</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MUSW__Application2__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>Building_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Building Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Contractor_Information</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contractor Information</stringValue>
        </value>
    </constants>
    <constants>
        <description>Driveway Permit Constant</description>
        <name>Driveway_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Driveway Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Quick_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Quick Permit</stringValue>
        </value>
    </constants>
    <constants>
        <name>Stage_Confirmation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirmation</stringValue>
        </value>
    </constants>
    <constants>
        <name>Stage_Project_Information</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Information</stringValue>
        </value>
    </constants>
    <constants>
        <name>Trade_Permit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Trade Permit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Scoping_Meeting_Completed_No</name>
        <label>Scoping Meeting Completed No</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_TIA_Submittal_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scoping_Meeting_No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Has_a_Scope_Meeting_been_completed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Scoping_Meeting_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <label>Scoping Meeting No</label>
        </rules>
    </decisions>
    <description>JRS - added Ordinance questions.  Updated Project Details to Project Information</description>
    <dynamicChoiceSets>
        <name>Construction_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Construction_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contractor_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Contractor_Type__c</picklistField>
        <picklistObject>MUSW__Permit_Contractor__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Use_Group_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Group__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Record_Type_Name_Header</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Record_Type_Name} , &quot;Application&quot;), 
TRIM(SUBSTITUTE({!Record_Type_Name}, &apos;Application&apos;, &quot;&quot;)),
{!Record_Type_Name})</expression>
    </formulas>
    <interviewLabel>(Application Flow) Traffic Impact Analysis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(Application Flow) Traffic Impact Analysis Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Traffic_Impact_Analysis_Submittal_Project_Details</name>
        <label>Traffic Impact Analysis Submittal Project Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Scoping_Meeting_Completed_No</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Quick_Permit_Project_Header_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 28px;&quot;&gt;New {!Record_Type_Name_Header} Application&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Flow_Stage_Quick_Permit_Details</name>
            <extensionName>clariti:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>Stages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Stage_Project_Information</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Quick_Permit_Project_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;Project Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you submitting the application under the ordinances and policies in effect at the time the application is accepted for review by the Town of Clayton?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_specify_the_ordinance_s_and_or_policy_ies_including_version_s_under_which</name>
            <dataType>String</dataType>
            <fieldText>Please specify the ordinance(s) and/or policy(ies), including version(s), under which the application is being submitted?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ordinance_Policy_Effective_Date</name>
            <dataType>Date</dataType>
            <fieldText>Ordinance/Policy Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_submitting_the_application_under_the_ordinances_and_policies_in_effect_a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Has_a_Scope_Meeting_been_completed</name>
            <choiceReferences>Yes_Choice</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has a Scope Meeting been completed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Display_Text_No_Meeting</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(61, 69, 76); font-family: &amp;quot;helvetica neue&amp;quot;, helvetica, arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please contact Engineering to schedule a meeting. A meeting is mandatory to move forward in the application process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Scope_Meeting_been_completed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Scoping_Meeting_Date</name>
            <dataType>Date</dataType>
            <fieldText>Scoping Meeting Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Scope_Meeting_been_completed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Complete_Scoping_Meeting</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Please contact Engineering to schedule a meeting. A meeting must have taken place to move forward in the application process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Scoping_Meeting_Date</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Intake_Questions</name>
            <fieldText>Intake Questions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Intake_Questions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_this_application_part_of_an_existing_project</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is this application part of an existing project?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_a_Scope_Meeting_been_completed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_this_a_standalone_project</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is this a standalone project?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_a_Scope_Meeting_been_completed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Has_NCDOT_been_contacted_about_this_project</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has NCDOT been contacted about this project?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_a_Scope_Meeting_been_completed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display_Text_No_NCDOT</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;It is strongly recommended that NCDOT be contacted prior to submission. Delays could be encountered without contacting first.﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_NCDOT_been_contacted_about_this_project</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Has_NCDOT_indicated_a_traffic_study_is_required</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Not_Determined</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Has NCDOT indicated a traffic study is required?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Has_a_Scope_Meeting_been_completed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes_Choice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Scope_Meeting_been_completed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_Choice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Scoping_Meeting_Date</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Project_Information</name>
            <fieldText>Project Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Project Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Firm_Preparing_Traffic_Study</name>
                    <dataType>String</dataType>
                    <fieldText>Firm Preparing Traffic Study</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Development_Land_Use_ITE_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Development Land Use (ITE Code)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Scope_Meeting_been_completed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_Choice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Scoping_Meeting_Date</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Unit_Information</name>
            <fieldText>Unit Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Unit_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_of_Residential_Dwelling_Units</name>
                    <choiceReferences>Single_family_Attached</choiceReferences>
                    <choiceReferences>Single_family_Detached</choiceReferences>
                    <choiceReferences>Multi_Family</choiceReferences>
                    <choiceReferences>None</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Residential Dwelling Units</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Number_of_Residential_Dwelling_Units</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Residential Dwelling Units</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_Residential_Dwelling_Units</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Single_family_Attached</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Type_of_Residential_Dwelling_Units</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Single_family_Detached</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Type_of_Residential_Dwelling_Units</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Multi_Family</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Unit_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_of_Non_Residential_Units</name>
                    <choiceReferences>Commercial</choiceReferences>
                    <choiceReferences>Industrial</choiceReferences>
                    <choiceReferences>Institutional</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <choiceReferences>None</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Non-Residential Units</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Non_Residential_Unit_Square_Feet</name>
                    <dataType>Number</dataType>
                    <fieldText>Non-Residential Unit Square Feet</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_Non_Residential_Units</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Commercial</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Type_of_Non_Residential_Units</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Industrial</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Type_of_Non_Residential_Units</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Institutional</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Type_of_Non_Residential_Units</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Scope_Meeting_been_completed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_Choice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Scoping_Meeting_Date</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Trip_Generation</name>
            <fieldText>Trip Generation</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Trip_Generation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Peak_Hour</name>
                    <choiceReferences>X12_00_AM</choiceReferences>
                    <choiceReferences>X1_00_AM</choiceReferences>
                    <choiceReferences>X2_00_AM</choiceReferences>
                    <choiceReferences>X3_00_AM</choiceReferences>
                    <choiceReferences>X4_00_AM</choiceReferences>
                    <choiceReferences>X5_00_AM</choiceReferences>
                    <choiceReferences>X6_00_AM</choiceReferences>
                    <choiceReferences>X7_00_AM</choiceReferences>
                    <choiceReferences>X8_00_AM</choiceReferences>
                    <choiceReferences>X9_00_AM</choiceReferences>
                    <choiceReferences>X10_00_AM</choiceReferences>
                    <choiceReferences>X11_00_AM</choiceReferences>
                    <choiceReferences>X12_00_PM</choiceReferences>
                    <choiceReferences>X1_00_PM</choiceReferences>
                    <choiceReferences>X2_00_PM</choiceReferences>
                    <choiceReferences>X3_00_PM</choiceReferences>
                    <choiceReferences>X4_00_PM</choiceReferences>
                    <choiceReferences>X5_00_PM</choiceReferences>
                    <choiceReferences>X6_00_PM</choiceReferences>
                    <choiceReferences>X7_00_PM</choiceReferences>
                    <choiceReferences>X8_00_PM</choiceReferences>
                    <choiceReferences>X9_00_PM</choiceReferences>
                    <choiceReferences>X10_00_PM</choiceReferences>
                    <choiceReferences>X11_00_PM</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Peak Hour</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Trip_Generation_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Daily_Vehicles</name>
                    <dataType>Number</dataType>
                    <fieldText>Daily Vehicles</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Trip_Generation_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Built_Out_Year</name>
                    <dataType>String</dataType>
                    <fieldText>Built Out Year</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Must contain 4 digit year&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX( {!Built_Out_Year},&quot;^[0-9]{4}$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_a_Scope_Meeting_been_completed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_Choice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Scoping_Meeting_Date</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>clariti__Building_Permitting_Applications</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Traffic_Impact_Analysis_Submittal_Project_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application2__c</objectType>
    </variables>
    <variables>
        <name>ApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>AssociatedParcels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Parcel__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Consent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Attestation_Consent__c</objectType>
    </variables>
    <variables>
        <name>Attestation_Error_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Contact_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Fee_Template_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Master_Fee_List__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleApplicationLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedApplicationLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Application_Location__c</objectType>
    </variables>
    <variables>
        <name>Work_Item_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__Work_Item__c</objectType>
    </variables>
</Flow>
