force-app/main/default/flows - Copy/Update_Submissions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Single_Document_to_List</name>
        <label>Assign Single Document to List</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Consolidated_Document_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Document_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Related_Documents</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Submissions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Submissions</label>
    <loops>
        <name>Loop_Through_Related_Documents</name>
        <label>Loop Through Related Documents</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Related_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Document_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Application_Milestones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Documents</name>
        <label>Get Related Documents</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Related_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Milestones</name>
        <label>Update Application Milestones</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Document_Name__c</field>
            <value>
                <elementReference>Consolidated_Document_List</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.MUSW__Application2__r.MUSW__Milestones__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MUSW__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <object>MUSW__Submission__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Single_Document_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;{!Loop_Through_Related_Documents.ContentDocument.Title}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>Consolidated_Document_List</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
