force-app/main/default/flows - Copy/zachary_total_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Necessary_Contractors</name>
        <label>Assign Necessary Contractors</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Trade_Electrical_Selected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidentialBuildingElectricalNeeded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trade_Mechanical_Selected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidentialBuildingMechanicalNeeded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Trade_Plumbing_Selected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidentialBuildingPlumbingNeeded</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_New_Record_Type_ID</name>
        <label>Assign New Record Type ID</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Permit.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Trade_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trade Permit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record_Type_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trade Permit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_to_trades_instead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Residential_Permit_Values</name>
        <label>Assign Residential Permit Values</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Permit.Is_the_Applicant_the_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_Applicant_the_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Does_Applicant_Occupy_the_Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_currently_occupy_the_property</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Occupying_for_at_least_1_year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_you_occupy_the_dwelling_upon_completion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Increasing_footprint_of_Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_increasing_the_footprint_of_the_structure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Work_Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Valuation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Is_the_Applicant_a_licensed_Contractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_are_licensed_general_contractor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Accessory_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Why_type_of_Accessory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Accessory_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Use_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Use_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Do_you_need_temporary_power__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Do_you_need_temporary_power</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Conditional_Power__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conditional_Power</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Conditional_Gas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conditional_Gas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Existing_Water_Sewer_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_the_lot_have_had_existing_water_and_sewer_service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.In_subdivision_under_construction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_property_located_in_a_Subdivision_under_construction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Subdivision_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subdivision_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Scope_of_Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scope_of_Work_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Trade_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Trades_To_Select</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Retaining_Wall__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retaining_Wall</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Description_of_Proposed_Work__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_of_Proposed_Work</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Floodplain_Onsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Floodplain_Onsite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Stream_wetland_onsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stream_Wetland_Onsite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Construction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Construction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.MUSW__Use_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Occupancy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Sewer_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sewer_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Year_Built__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Manufactured_Home_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Manufactured_Home_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Manufactured_Home_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Home_Make_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Manufactured_Home_Make_Model</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Home_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Manufactured_Home_Size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.First_Floor_Sq_Ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X1st_Floor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Second_Floor_Sq_Ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2nd_Floor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Third_Floor_Sq_Ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X3rd_Floor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Deck_Sq_Ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deck</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Walkup_Attic_Sq_Ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Walk_Up_Attic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Garage_Attached_Sq_Ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Garage_Attached</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Garage_Detached_Sq_Ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Garage_Detached</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Porch_Sq_Ft__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Porch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Building_Height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Building_Height</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Number_of_Bedrooms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Bedrooms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Number_of_Bathrooms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Bathrooms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Total_Heated_Square_Footage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Heated_Square_Footage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Accessory_Structure_Dimentions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accessory_Structure_Dimensions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Duke_Energy_Premise_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duke_Energy_Premise</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Permit.Natural_Gas_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Natural_Gas_System</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Necessary_Contractors</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Crawlspace</name>
        <choiceText>Crawlspace</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Crawlspace</stringValue>
        </value>
    </choices>
    <choices>
        <name>Double_Wide</name>
        <choiceText>Double-Wide</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Double-Wide</stringValue>
        </value>
    </choices>
    <choices>
        <name>Electrical</name>
        <choiceText>Electrical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electrical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manufactured</name>
        <choiceText>Manufactured</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manufactured</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mechanical</name>
        <choiceText>Mechanical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mechanical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Modular</name>
        <choiceText>Modular</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modular</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Plumbing</name>
        <choiceText>Plumbing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plumbing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quad_Wide</name>
        <choiceText>Quad-Wide</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quad-Wide</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Wide</name>
        <choiceText>Single-Wide</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single-Wide</stringValue>
        </value>
    </choices>
    <choices>
        <name>Slab</name>
        <choiceText>Slab</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slab</stringValue>
        </value>
    </choices>
    <choices>
        <name>Travel_Trailer_Camper</name>
        <choiceText>Travel Trailer/Camper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Travel Trailer/Camper</stringValue>
        </value>
    </choices>
    <choices>
        <name>Triple_Wide</name>
        <choiceText>Triple-Wide</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Triple-Wide</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_this_a_trade</name>
        <label>Is this a trade?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Residential_Permit_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a trade!</defaultConnectorLabel>
        <rules>
            <name>Yes_trade_re_direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Trade_Record_Type</targetReference>
            </connector>
            <label>Yes trade - re-direct</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccessoryTypes</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Accessory_Types__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Construction_Type_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Construction_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConstructionTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Construction_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FloodplainYesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Floodplain_Onsite__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Manufactured_Home_Type_PL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Manufactured_Home_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NaturalGasYesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Natural_Gas_System__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OccupancyTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Group__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PowerSupplier_PL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Power_Provider__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>residentialTrades</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trade_Types_RS__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SewerSources</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sewer_Source__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SlabCrawlPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Will_it_be_a_slab_or_crawl_space__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StreamWetlandYesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stream_wetland_onsite__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Trade_Choices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trade_Types__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Use_Group_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Group__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UseType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Use_Type__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WaterSupplier_PL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Water_source_provider__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MUSW__Work_Type2__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_the_Applicant_the_Owner__c</picklistField>
        <picklistObject>MUSW__Permit2__c</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ResidentialBuildingElectricalNeeded</name>
        <dataType>Boolean</dataType>
        <expression>IF((ISPICKVAL({!Permit.MUSW__Work_Type2__c}, &quot;Addition&quot;)||INCLUDES({!Permit.Trade_Types_RS__c}, &quot;Electrical&quot;)), True, False)</expression>
    </formulas>
    <formulas>
        <name>ResidentialBuildingMechanicalNeeded</name>
        <dataType>Boolean</dataType>
        <expression>IF((ISPICKVAL({!Permit.MUSW__Work_Type2__c}, &quot;Addition&quot;)||INCLUDES({!Permit.Trade_Types_RS__c}, &quot;Mechanical&quot;)), True, False)</expression>
    </formulas>
    <formulas>
        <name>ResidentialBuildingPlumbingNeeded</name>
        <dataType>Boolean</dataType>
        <expression>IF((ISPICKVAL({!Permit.MUSW__Work_Type2__c}, &quot;Addition&quot;)||INCLUDES({!Permit.Trade_Types_RS__c}, &quot;Plumbing&quot;)), True, False)</expression>
    </formulas>
    <formulas>
        <name>TotalSquareFootage</name>
        <dataType>Number</dataType>
        <expression>{!X1st_Floor}+{!X2nd_Floor}+{!X3rd_Floor}+{!Deck}+{!Walk_Up_Attic}+{!Garage_Attached}+{!Garage_Detached}+{!Porch}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>zachary_total-Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>zachary_total-Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Trade_Record_Type</name>
        <label>Get Trade Record Type</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MUSW__Permit2__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trade Permit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Residential_Permit_Information</name>
        <label>Residential Permit Information</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Totals</targetReference>
        </connector>
        <fields>
            <name>Residential_Permit_Project_Details_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Project Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Provide us with additional details about the project by filling in the details below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Type</name>
            <choiceReferences>WorkType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_the_Applicant_the_Owner</name>
            <choiceReferences>YesNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the Applicant the Owner?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Trade</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_currently_occupy_the_property</name>
            <choiceReferences>YesNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you currently occupy the property?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Trade</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Will_you_occupy_the_dwelling_upon_completion</name>
            <choiceReferences>YesNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Will you occupy the dwelling upon completion or one year post completion?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Trade</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Are_you_increasing_the_footprint_of_the_structure</name>
            <choiceReferences>YesNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you increasing the footprint of the structure?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Trade</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>New Construction</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_WorkTypesRenovation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;If Are you increasing the footprint of the structure = Yes then Renovation cannot be selected. Verbiage to be provided.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Renovation/Remodel</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Are_you_increasing_the_footprint_of_the_structure</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText_WorkTypesRelocatedStructure</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Relocated Structures require an Engineer Footing and Foundation Plan to be submitted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Relocated Structure</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description_of_Proposed_Work</name>
            <fieldText>Description of Proposed Work:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Floodplain_Onsite</name>
            <choiceReferences>FloodplainYesNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Floodplain Onsite?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Stream_Wetland_Onsite</name>
            <choiceReferences>StreamWetlandYesNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stream/Wetland Onsite?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Type_of_Construction</name>
            <choiceReferences>ConstructionTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Construction</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Type_of_Occupancy</name>
            <choiceReferences>OccupancyTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Occupancy</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Job_Cost</name>
            <dataType>Currency</dataType>
            <fieldText>Job Cost</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Trade</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Are_you_are_licensed_general_contractor</name>
            <choiceReferences>YesNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you are licensed general contractor?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Job_Cost</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>40000.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>General_Contractor_Is_Required_helper_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;General contractor is required by state law. Verbiage to be provided.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Job_Cost</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>40000.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Are_you_are_licensed_general_contractor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Accessory_Permit_Information</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accessory_Permit_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HALT_Accessory</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;&lt;u&gt;STOP! No Building Permit is required. Please apply for a Zoning Compliance Instead&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_the_footprint_of_the_Accessory_Structure_12_or_less_in_all_directions</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Why_type_of_Accessory</name>
                    <choiceReferences>AccessoryTypes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What type of Accessory?</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <helpText>&lt;p&gt;Check all that apply. &lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other</name>
                    <dataType>String</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Why_type_of_Accessory</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Accessory_Structure_Dimensions</name>
                    <dataType>String</dataType>
                    <fieldText>Accessory Structure Dimensions</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Will_there_be_an_additional_retaining_wall_for_the_Accessory</name>
                    <choiceReferences>YesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Will there be an additional retaining wall for the Accessory?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Retaining_Wall</name>
                    <dataType>Number</dataType>
                    <fieldText>Retaining Wall Height</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Will_there_be_an_additional_retaining_wall_for_the_Accessory</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_the_footprint_of_the_Accessory_Structure_12_or_less_in_all_directions</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>N_A</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the footprint of the Accessory Structure 12&apos; or less in all directions?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Accessory</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Use_Type</name>
                    <choiceReferences>UseType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Use Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Structure_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Structure__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>clariti:customDatatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Structure__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Structure_Collection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Type_of_Structure__c,Square_Footage__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_not_suppressNameFieldLink</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowAddRow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowAddRow</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>preselectAllRows</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_preselectAllRows</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Structure_Collection</assignToReference>
                        <name>outputSelectedRows</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Use_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Single Family Dwelling</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Use_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Duplex</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Manufactured_Home_Type</name>
                    <choiceReferences>Manufactured_Home_Type_PL</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Manufactured Home Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Use_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Manufactured</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Use_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Modular</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Manufactured_Home_Year</name>
                    <dataType>String</dataType>
                    <fieldText>Manufactured Home Year</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Must contain year in 4-digit format&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX( {!Manufactured_Home_Year},&quot;^[0-9]{4}$&quot;)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Use_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Manufactured</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Use_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Modular</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Manufactured_Home_Make_Model</name>
                    <dataType>String</dataType>
                    <fieldText>Manufactured Home Make/Model</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Use_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Manufactured</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Use_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Modular</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Manufactured_Home_Size</name>
                    <dataType>String</dataType>
                    <fieldText>Manufactured Home Size</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Use_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Manufactured</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Use_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Modular</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Do_you_need_temporary_power</name>
                    <choiceReferences>YesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you need temporary power?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Relocated Structure</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Temporary_Power_helper_text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Temporary Power helper text goes here&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Relocated Structure</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Power_Supplier_Temporary</name>
                    <choiceReferences>YesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Temporary Power Supplier</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_need_temporary_power</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Conditional_Power</name>
                    <choiceReferences>YesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Conditional Power?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Relocated Structure</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Conditional_Power_helper_text</name>
                    <fieldText>&lt;p&gt;Conditional Power helper text goes here&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Relocated Structure</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Conditional_Gas</name>
                    <choiceReferences>YesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Conditional Gas?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Conditional_Gas_helper_text</name>
                    <fieldText>&lt;p&gt;Conditional Gas helper text goes here&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Power_Supplier</name>
                    <choiceReferences>PowerSupplier_PL</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Power Supplier</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Duke_Energy_Premise</name>
                    <dataType>String</dataType>
                    <fieldText>Duke Energy Premise #:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Power_Supplier</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Duke Energy</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Does_the_lot_have_had_existing_water_and_sewer_service</name>
                    <choiceReferences>YesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does the lot have/had existing water and sewer service?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Water_Supplier</name>
                    <choiceReferences>WaterSupplier_PL</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Water Supplier</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_lot_have_had_existing_water_and_sewer_service</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Sewer_Source</name>
                    <choiceReferences>SewerSources</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sewer Source</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_lot_have_had_existing_water_and_sewer_service</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Natural_Gas_System</name>
                    <choiceReferences>NaturalGasYesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Natural Gas System?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_this_property_located_in_a_Subdivision_under_construction</name>
                    <choiceReferences>YesNo</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is this property located in a Subdivision under construction?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>City_inspection_helper_text</name>
                    <fieldText>&lt;p&gt;If not in a subdivision under construction, the city needs to conduct an investigation, proper verbiage to follow&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_this_property_located_in_a_Subdivision_under_construction</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Subdivision_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Subdivision Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_this_property_located_in_a_Subdivision_under_construction</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>New Construction</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Relocated Structure</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Addition</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Square_Footages</name>
            <fieldText>Square Footages</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Square_Footages_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X1st_Floor</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>1st Floor</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Deck</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Deck</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Why_type_of_Accessory</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Detached Deck</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Addition</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Garage_Attached</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Garage-Attached</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Construction</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Work_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Addition</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>sq_ft_message</name>
                    <fieldText>&lt;p&gt;Your Square footage: {!TotalSquareFootage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>yourSqFootageURL</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Total Square Footage</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>TotalSquareFootage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>testingtotalsquare</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>TotalSquareFootage</elementReference>
                    </defaultValue>
                    <fieldText>testingtotalsquare</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Square_Footages_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X2nd_Floor</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>2nd Floor</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Walk_Up_Attic</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Walk Up Attic</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Garage_Detached</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Garage-Detached</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Why_type_of_Accessory</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Detached Garage</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Square_Footages_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>X3rd_Floor</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>3rd Floor</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Porch</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Porch</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Why_type_of_Accessory</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Porch</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Building_Height</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Building Height</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_all_that_apply</name>
            <fieldText>&lt;p&gt;*Enter all square footage/measurements that apply&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scope_of_Work</name>
            <fieldText>Scope of Work</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Scope_of_Work_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scope_of_Work_Text</name>
                    <fieldText>Scope of Work</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Addition</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Renovation/Remodel</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Additional_Trades</name>
            <fieldText>Additional Trades</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Trades_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Additional_Trades_To_Select</name>
                    <choiceReferences>residentialTrades</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Additional Trades</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Work_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Renovation/Remodel</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Totals</name>
        <label>Totals</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_this_a_trade</targetReference>
        </connector>
        <fields>
            <name>Totalss</name>
            <fieldText>Total Bed/Bath/Square Footages</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Totalss_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Bedrooms</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Bedrooms</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Number_of_Bathrooms</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Bathrooms</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Totalss_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Heated_Square_Footage</name>
                    <dataType>Number</dataType>
                    <fieldText>Total Heated Square Footage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Total_Square_Footage</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>TotalSquareFootage</elementReference>
                    </defaultValue>
                    <fieldText>Total Square Footage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Residential_Permit_Information</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Go_to_trades_instead</name>
        <label>Go to trades instead!</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <flowName>Permit_Flow_Trade_Permit</flowName>
        <inputAssignments>
            <name>Permit</name>
            <value>
                <elementReference>Permit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Type_Name</name>
            <value>
                <elementReference>Record_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Stages</name>
            <value>
                <elementReference>Stages</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Trade_Design_Professional_List</assignToReference>
            <name>Design_Professional_List</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Trade_Design_Professional_Role</assignToReference>
            <name>Design_Professional_Role</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Trade_Electrical_Selected</assignToReference>
            <name>ElectricalSelected</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Trade_Fire_Selected</assignToReference>
            <name>FireSelected</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Trade_Mechanical_Selected</assignToReference>
            <name>MechanicalSelected</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Permit</assignToReference>
            <name>Permit</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Trade_Plumbing_Selected</assignToReference>
            <name>PlumbingSelected</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Trade_Residential_or_Commercial</assignToReference>
            <name>Residential_Or_Commercial_Dependent</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Permit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Permit2__c</objectType>
    </variables>
    <variables>
        <name>Record_Type_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Structure_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Structure__c</objectType>
    </variables>
    <variables>
        <name>Trade_Design_Professional_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Trade_Design_Professional_Role</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__Application_Contact__c</objectType>
    </variables>
    <variables>
        <name>Trade_Electrical_Selected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Trade_Fire_Selected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Trade_Mechanical_Selected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Trade_Plumbing_Selected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Trade_Residential_or_Commercial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
